{% extends 'front/base.html.twig' %} {% block title %}Estudos Científicos{% endblock %} {% block body %}
<div class="bg-top-scientific-studies container">
  <div class="bg-top sem-prescricao">
    <div class="seta">
        <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
    </div>
    <div class="bg-top-img-1 bg-top-img"></div>
  </div>
</div>  

<div class="container scientific-studies-title">
    <div class="col-12 col-sm-5 col-md-5 col-lg-5">
        <h2>Estudos Científicos</h2>
    </div>
    <div class="col-12 col-sm-7 col-md-7 col-lg-7">
        <p>Área destinada à requisição de Estudos Científicos e informações de produtos mantecorp voltados exclusivamente à classe médica.</p>
    </div>
</div>
<div class="products-page container" id="">
    <div class="col-12 col-sm-7 col-md-7 col-lg-7">
        <div class="busca-produtos animation-element ">
            <div class="products-src-row">
                <div class="products-src-form" id="form-src" method="POST" action="{{ path('estudos_cientificos_busca') }}">
                    <div style="display: flex; align-items: flex-end;">
                        <button type="button" class="search_name" id="btn-src"></button>
                        <input type="text" placeholder="Busca por nome" name="q" id="src-top" class="search search-input search_text" required>
                    </div>
                </div>

                <div class="products-src-alphabet-medical-education">
                    <ul>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra' ,{'letra' :'A'})}}" data-letter="A" class="search {{ letter == "A" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-A'});">A</a>{{ letter == "A" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'B' })}}" data-letter="B" class="search {{ letter == "B" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-B'});">B</a>{{ letter == "B" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'C' })}}" data-letter="C" class="search {{ letter == "C" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-C'});">C</a>{{ letter == "C" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'D' })}}" data-letter="D" class="search {{ letter == "D" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-D'});">D</a>{{ letter == "D" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'E' })}}" data-letter="E" class="search {{ letter == "E" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-E'});">E</a>{{ letter == "E" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'F' })}}" data-letter="F" class="search {{ letter == "F" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-F'});">F</a>{{ letter == "F" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'G' })}}" data-letter="G" class="search {{ letter == "G" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-G'});">G</a>{{ letter == "G" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'H' })}}" data-letter="H" class="search {{ letter == "H" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-H'});">H</a>{{ letter == "H" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'I' })}}" data-letter="I" class="search {{ letter == "I" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-I'});">I</a>{{ letter == "I" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'J' })}}" data-letter="J" class="search {{ letter == "J" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-J'});">J</a>{{ letter == "J" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'K' })}}" data-letter="K" class="search {{ letter == "K" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-K'});">K</a>{{ letter == "K" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'L' })}}" data-letter="L" class="search {{ letter == "L" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-L'});">L</a>{{ letter == "L" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'M' })}}" data-letter="M" class="search {{ letter == "M" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-M'});">M</a>{{ letter == "M" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'N' })}}" data-letter="N" class="search {{ letter == "N" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-N'});">N</a>{{ letter == "N" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'O' })}}" data-letter="O" class="search {{ letter == "O" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-O'});">O</a>{{ letter == "O" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'P' })}}" data-letter="P" class="search {{ letter == "P" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-P'});">P</a>{{ letter == "P" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'Q' })}}" data-letter="Q" class="search {{ letter == "Q" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-Q'});">Q</a>{{ letter == "Q" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'R' })}}" data-letter="R" class="search {{ letter == "R" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-R'});">R</a>{{ letter == "R" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'S' })}}" data-letter="S" class="search {{ letter == "S" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-S'});">S</a>{{ letter == "S" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'T' })}}" data-letter="T" class="search {{ letter == "T" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-T'});">T</a>{{ letter == "T" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'U' })}}" data-letter="u" class="search {{ letter == "U" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-U'});">U</a>{{ letter == "U" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'V' })}}" data-letter="V" class="search {{ letter == "V" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-V'});">V</a>{{ letter == "V" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'W' })}}" data-letter="W" class="search {{ letter == "W" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-W'});">W</a>{{ letter == "W" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'X' })}}" data-letter="X" class="search {{ letter == "X" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-X'});">X</a>{{ letter == "X" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'Y' })}}" data-letter="Y" class="search {{ letter == "Y" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-Y'});">Y</a>{{ letter == "Y" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                        <li>
                            <a href="{{ path('estudos-cientificos-buscar-letra',{'letra': 'Z' })}}" data-letter="Z" class="search {{ letter == "Z" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'busca-estudos-cientificos-letra-Z'});">Z</a>{{ letter == "Z" ? '<span class="close-filter">X</span>' : '' }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="medical-specialties col-12 col-sm-5 col-md-5 col-lg-5">

        <ul class="search-medical-education">
            <li><a><select class="search-field" id="filtro_specialty">
                <option>Filtro por Especialidade</option>
                      {% for specialty in specialties %}
                      <option
                          href="{{path('educacao_medica_filtro_especialidade',{'specialty':
                          specialty.specialty })}}" value="{{specialty.specialty}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': 'filtro:{{specialty.specialty}}'});">{{specialty.specialty}}</option>
                      {% endfor %}
                  </select></a>
            </li>
            <li><a href="{{ path('estudos-cientificos')}}" id="limpar_filtro">Limpar filtro  &nbsp;&nbsp;<i class="fas fa-times"></i></a></i>
            </li>
        </ul>
    </div>
</div>

<div class="container material">
    <div id="studies" class="linha">
        {% if studies %} 
  <div class="row">
        {% for study in studies %}

            {% set evaluation = evaluation(app.user, 'estudos-cientificos', study.id) %}
        <div class="material-contents col-12 col-sm-4 col-md-4 col-lg-4">
            <div class="img-material">
                <a href="#"><img src="{{ asset('_dist/image/template/noticia-small-pic.gif') }}" alt="" title="" style="background-image:url({{ asset(study.imageweb) }}); background-size:cover; background-position:center;" ></a>
                <div class="favorite1">
                    <button data-url="{{ path('add-favorite', {'id': study.id, 'type': 'estudos-cientificos'}) }}" class="like-button-post add-favorite" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': ' {{study.name}}:Favoritar'});">
                        {% if evaluation.id is defined and evaluation.isActive %}
                            <img class="com-favorito " src="{{ asset('_dist/image/template/with-heart.png') }}" alt="" title="">
                        {% else %}
                            <img class="sem-favorito" src="{{ asset('_dist/image/template/empty-heart.png') }}" alt="" title="">
                        {% endif %}
                    </button>
                </div>
                <!-- Div hover material -->
                <div class="hover-material">
                    <h3>{{study.name}}</h3>
                    <p> {{study.resume|raw}} </p>
                    <div class="hover-material-column">
                        <a href="{{study.file}}" download onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': ' {{study.name}}:Baixar'});"><img src="{{ asset('_dist/image/template/circle-down.png') }}">&nbsp;&nbsp;&nbsp;Baixar</a>
                        <a href="{{study.file}}" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': ' {{study.name}}:Visualizar'});"><img src="{{ asset('_dist/image/template/folhetos-bulas.svg') }}" style="width:23px; border: 1px solid #666; padding: 2px;">&nbsp;&nbsp;&nbsp;Visualizar</a>
                        <div class="favorite">
                            <button data-url="{{ path('add-favorite', {'id': study.id, 'type': 'estudos-cientificos'}) }}" class="like-button-post add-favorite"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'estudos-cientificos', 'eventAction': 'click', 'eventLabel': ' {{study.name}}:Favoritar'});">
                                {% if evaluation.id is defined and evaluation.isActive %}
                                    <img class="com-favorito " src="{{ asset('_dist/image/template/with-heart.png') }}" alt="" title="">
                                {% else %}
                                    <img class="sem-favorito" src="{{ asset('_dist/image/template/empty-heart.png') }}" alt="" title="">
                                {% endif %}
                            </button>
                            <h4>&nbsp;&nbsp;&nbsp;Favoritar</h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="material-details">
                <h3>{{study.name}}</h3>
            </div>
            <div class="material-details-item">
                <ul class="">
                    <li class="">
                        Especialidade:
                        <span class="">{{study.specialty.specialty}}</span>
                    </li>
                </ul>
            </div>

            <div class="material-details-item">
                <ul class="">
                    <li class="">
                        Produto:
                        <span class="">{{study.product.name}}</span>
                    </li>
                </ul>
                
                {% set avaliationMedia = avaliationMedia(study) %}
               
                <div class="rating-box item-share-rating">
                    <h3>Avaliar</h3>
                    <div class="share-rating-info" id="{{ study.id }}" data-id="{{ study.id }}" data-m="{{ avaliationMedia }}">
                        <span class="star__container">
                            {% for i in 1..5 %}
                                 {% set heart = i <= avaliationMedia ?  'fas' : 'far' %}
                                 <label class="star__item {{ heart }} fa-heart item-{{ i }}" for="star-bottom-1" data-item="{{ i }}" data-s="{{ study.id }}" data-m="{{ avaliationMedia }}"><span class="visuhide"></span></label>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>


        </div>
        {% endfor %} {% else %}
        <h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado.</h2>

        {% endif %}
    </div>

  </div>
</div>
<div class="element-bottom-left paralax hidden-xs">
  <img src="{{ asset('_dist/image/template/curva-bottom.png') }}" alt="Bolinha" title="Bolinha">
</div>
<div class="element-bottom-right paralax hidden-xs">
  <img src="{{ asset('_dist/image/template/curva-bottom-right.png') }}" alt="Bolinha" title="Bolinha">
</div>

{% endblock %} {% block javascripts %}
<script>
    $(document).ready(function() {

        //avaliação
        $('.star__item').on('click', function() {
            var s = $(this).data('s')
            var a = $(this).data('item')

            $.ajax({
                url: "{{ path('estudos-cientificos')}}",
                type: 'POST',
                dataType: 'json',
                data: {
                    'e': true,
                    's': s,
                    'a': a
                },
                beforeSend: function() {
                   $('#loading').modal('show')
                },
                success: function(response) {
                    if (response.status) {
                        $('#loading').modal('hide')
                        $('#scientific-studies-message p').html(response.message)
                        $('#scientific-studies').modal('show')
                    } 
                }
            });
        })

        //hover
        $(".star__item").hover(function() {
            var count = $(this).data('item')
         
            for (var i = 1; i <= count; i++) {
                $(this).children('.visuhide').parents('.star__container').children('.item-' + i).removeClass('far')
                $(this).children('.visuhide').parents('.star__container').children('.item-' + i).addClass('fas')
            }
            
        }, function() {
            var count = $(this).data('item')
            var media = $(this).data('m')

            for (var i = 1; i <= count; i++) {
                $(this).children('.visuhide').parents('.star__container').children('.item-' + i).addClass('far')
                $(this).children('.visuhide').parents('.star__container').children('.item-' + i).removeClass('fas')
            }
        });

       //mouseout para voltar avaliação 
        $('.share-rating-info').hover(function() {
            
        }, function() {
            var box = $(this).data('id')
            var media = $(this).data('m')
           
            for (var i = 1; i <= media; i++) {
                $('#' + box).find('.item-' + i).addClass('fas')
                $('#' + box).find('.item-' + i).removeClass('far') 
            }
        })
        //end avaliação

        overBox();


        function search(content, type, value) {
            console.log(content, type, value);
            var content = content;
            var value = value;

            $.ajax({
                url: "{{ path('estudos_cientificos_busca')}}",
                type: 'POST',
                dataType: 'json',
                data: {
                    'type': type,
                    's': value,
                },
                beforeSend: function() {
                    content.html('<h2 class="text-center space-h-40" style="margin: auto;">Carregando...</h2>');
                },
                success: function(data) {
                    content.html('');
                    console.log(data)
                    var html = '<div class="row">'
                        if (data.response.length > 0) {
                            for (var i = 0; i < data.response.length; i++) {
                                console.log(data.response[i].name)
                                content.append('<div class="material-contents col-12 col-sm-4 col-md-4 col-lg-4">' +
                                    '<div class="img-material">' +
                                    '<a href="#"><img src="' + data.response[i].imageweb + '" alt="" title="" /></a>' +
                                    '<div class="hover-material">' +
                                    ' <h3>' +
                                    data.response[i].name +
                                    '</h3>' +
                                    data.response[i].resume +
                                    '   <div class="hover-material-column">' +
                                    '        <a href="' + data.response[i].file + '" download><img src=' + "{{ asset('_dist/image/template/circle-down.png') }}" + ' >&nbsp;&nbsp;&nbsp;Baixar</a>' +
                                    '         <a href=""><img src=' + "{{ asset('_dist/image/template/favorito-modal.png') }}" + '>&nbsp;&nbsp;&nbsp;Favoritar</a>' +
                                    '      </div>' +
                                    '   </div>' +
                                    '</div>' +
                                    '<div class="material-details">' +
                                    '   <h3>' + data.response[i].name + '</h3>' +
                                    '</div>' +
                                    '<div class="material-details-item">' +
                                    ' <ul class="">' +
                                    '      <li class="">' +
                                    '           Especialidade:' +
                                    '            <span class="">' + data.response[i].specialty + '</span>' +
                                    '         </li>' +
                                    '      </ul>' +
                                    '   </div>' +
                                    '<div class="material-details-item">' +
                                    '<ul class="">' +
                                    '<li class="">' +
                                    '     Produto:' +
                                    '      <span class=""> ' + data.response[i].product + ' </span>' +
                                    '   </li>' +
                                    '</ul>' +
                                    '<div class="rating-box item-share-rating">' +
                                    '<h3>Avaliar</h3>' +
                                    '<div class="share-rating-info">' +
                                    '  <span class="star__container">' +
                                    '     <label class="star__item fas fa-heart" for="star-bottom-1"><span class="visuhide"></span></label>' +
                                    '    <label class="star__item fas fa-heart" for="star-bottom-2"><span class="visuhide"></span></label>' +
                                    '    <label class="star__item fas fa-heart" for="star-bottom-3"><span class="visuhide"></span></label>' +
                                    '    <label class="star__item fas fa-heart" for="star-bottom-4"><span class="visuhide"></span></label>' +
                                    '     <label class="star__item fas fa-heart" for="star-bottom-5"><span class="visuhide"></span></label>' +
                                    ' </span>' +
                                    '         </div>' +
                                    '      </div>' +
                                    '   </div>' +
                                    '</div> ')

                            }
                        } else {
                            content.html('<h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado para "' + value + '"</h2>')
                        }
                    html += '</div>'

                    overBox();
                },
                error: function(data) {
                    console.log(data);
                }
            });

        }

        //enter search
        $(".search_text").keyup(function(event){
            if(event.keyCode == 13){
                event.preventDefault();
                search($("#studies .row"), "nome", $(this).val());
            }
        });

        //click search
        $(".search_name").on('click', function(event) {
            event.preventDefault();
            search($("#studies .row"), "nome", $(".search_text").val());
        })

        //filter especialidade
        $('#filtro_specialty').on('change', function(e) {
            if ($(this).val() == "Filtro por Especialidade") {
                window.location.reload()
            } else {
                search($("#studies .row"), "specialty", $(this).val());
            }
        });

        $('.close-filter').on('click', function(){
            window.location.href = "{{ path('estudos-cientificos') }}"
        });

        function overBox() {
            $(".img-material").hover(function() {
                $(this).find(".hover-material").show(); //hover in
            }, function() {
                $(this).find(".hover-material").hide(); //hover out
            });
        }

    });
</script>
{% endblock %}