 {% extends 'admin/admin.html.twig' %} {% block title %}Estudos Científicos{% endblock %} {% block body %}
<!-- Content Header (Page header) -->
{% include 'admin/component/content-header.html.twig' with {'title':'Estudos Científicos', 'link': path('admin_estudos_cientificos'), 'page':'Estudos científicos'} %}
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12 card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h3 class="card-title">Listagem</h3>
                    </div>
                    {% if user_acess.isCreate %}
                    <div class="col-2">
                        <a href="{{ path('admin_estudos_cientificos_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <!-- /.card-header -->
        <div class="card-body">
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Resumo</th>
                        <th>Especialidade</th>
                        <th>Produtos</th>
                        <th>Arquivo para Download</th>
                        <th>Imagem</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for study in studies %}
                    <tr>
                        <td>{{ study.id }}</td>
                        <td>{{ study.name }}</td>
                        <td>{{ study.resume|raw }}</td>
                        <td>{{ study.specialty.specialty }}</td>
                        <td>{{ study.product.name }}</td>
                        <td>{{ study.file }}</td>
                        <td>{{ study.imageweb }}</td>
                        {% if user_acess.isUpdate %}
                        <td class="center">
                            <div class="col-12">
                                <a href="{{ path('admin_study_edit', {'id': study.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                            </div>
                        </td>
                        {% endif %} {% if user_acess.isDelete %}
                        <td class="center">
                            <div class="col-12">
                                <a href="{{ path('admin_estudos_cientificos_delete', {'id': study.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Resumo</th>
                        <th>Especialidade</th>
                        <th>Produtos</th>
                        <th>Arquivo para Download</th>
                        <th>Imagem</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->

        <!-- /.card -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %} {% block javascripts %} {% endblock %}