
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login - Mantecorp</title>

        <!--- init lib css from templates -->
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('admin/fontawesome-free/css/all.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('admin/dist/css/adminlte.min.css')}}">
    
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('_dist/admin/image/icon.png')}}" />
        <!--- end template -->

        <style>
            .bg-red { background-color: rgb(255, 26, 0); }
            .container-center { margin: auto; }
            .error { color: rgb(255, 26, 0); font-weight: bold; }
        </style>

    </head>
    <body>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-4" style="margin: 15% auto;">
                    <!-- Horizontal Form -->
                    <div class="card container-center">
                        <div class="card-header bg-red">
                            <h3 class="card-title">Mantecorp</h3>
                        </div>
    
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" action="{{ path('login') }}" method="POST">
                            <div class="card-body">
                                  
                                {% if error %}
                                    <p class="error">{{ error }}</p>
                                {% endif %}
                                {# {{ dump(user)}} #}
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Usuário</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="_username" placeholder="Usuário">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Senha</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="_password" placeholder="Senha">
                                    </div>
                                </div>
                                {# <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                            <label class="form-check-label" for="exampleCheck2">Remember me</label>
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer ">
                                <div class="offset-sm-5 col-sm-5">
                                    <button type="submit" class="btn bg-red">Entrar</button>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col -->
            </div>
            <!--/.row -->    
        </div><!-- /.container-fluid -->
    </section>
</body>
</html>
