
{% extends 'admin/admin.html.twig' %}

{% block title %}Usuários {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Usuários', 'link': path('admin_users'), 'page':'usuários'} %}
    <!-- /.content-header -->
 
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div clas="row">
                  <div class="col-4">
                    <h3 class="card-title">Listagem</h3>
                  </div>
                  <div class="col-2 offset offset-10">
                    <a href="{{ path('admin_user_new') }}" class="btn btn-success btn-block justify-content-center">Novo</a>
                  </div>
              </div>
            </div>
          </div>

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Perfil</th>
                  <th>E-mail</th>
                  <th>Usuário da base antiga?</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.profile.name }}</td>
                  <td>{{ user.email}}</td>
                  <td>{{ user.isUserOld ? 'SIM' : 'NÃO' }}</td>
                  <td>
                    <div class="row">
                      <!-- /.col -->
                      {% if user.profile.slug == 'medico' %}
                        <div class="col-4">
                            <a href="{{ path('admin_user_change_password', {'id': user.id}) }}" class="btn btn-success btn-more-option">Gerar link de recuperação de senha</a>
                        </div>
                      {% else %}
                        <div class="col-4">
                          <a href="{{ path('admin_user_acess', {'user_id': user.id }) }}" type="button" class="btn btn-warning btn-block justify-content-center">Permissões</a>
                        </div>
                      {% endif %}
                     
                        <div class="col-4">
                          <a href="{{ path('admin_user_edit', {'id': user.id }) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                        </div>
                    
                        <div class="col-4">
                          <a href="{{ path('admin_user_delete', {'id': user.id }) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                        </div>
                     
                      <!-- /.col -->
                    </div>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Perfil</th>
                  <th>E-mail</th>
                  <th>Usuário da base antiga?</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

