
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            
        </title>

        <!--- init lib css from templates -->
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('admin/fontawesome-free/css/all.min.css') }}">
        <!-- Ionicons -->
        {# <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="{{ asset('admin/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('admin/icheck-bootstrap/icheck-bootstrap.min.css')}}">

        <link rel="stylesheet" href="{{ asset('admin/datatables-bs4/css/dataTables.bootstrap4.css') }}">
        <!-- DataTables -->
        <link rel="stylesheet" href="{{ asset('admin/datatables-bs4/css/dataTables.bootstrap4.css') }}"> #}

        <!-- JQVMap -->
        <link rel="stylesheet" href="{{ asset('admin/jqvmap/jqvmap.min.css')}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('admin/dist/css/adminlte.min.css')}}">
        <!-- overlayScrollbars -->
        {# <link rel="stylesheet" href="{{ asset('admin/overlayScrollbars/css/OverlayScrollbars.min.css')}}"> #}
        {# <!-- Daterange picker -->
        <link rel="stylesheet" href="{{ asset('admin/daterangepicker/daterangepicker.css')}}">
        <!-- summernote -->
        <link rel="stylesheet" href="{{ asset('admin/summernote/summernote-bs4.css')}}"> #}
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('_dist/admin/image/icon.png')}}" />
        <!--- end template -->

        <style>
            .bg-red { background-color: rgb(255, 26, 0); }
            .container-center { margin: auto; }
        </style>

    </head>
    <body>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-4" style="margin: 15% auto;">
                    <!-- Horizontal Form -->
                    <div class="card container-center">
                        <div class="card-header bg-red">
                            <h3 class="card-title">Mantecorp</h3>
                        </div>
                            {% if error is defined %}
                            {{error}}
                        {% endif %}
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" action="{{ path('home-login') }}" method="POST">
                            <div class="card-body">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Usuário</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" name="username" placeholder="Usuário">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Senha</label>
                                <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" placeholder="Senha">
                                </div>
                            </div>
                            {# <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                        <label class="form-check-label" for="exampleCheck2">Remember me</label>
                                    </div>
                                </div>
                            </div> #}
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer ">
                                <div class="offset-sm-5 col-sm-5">
                                    <button type="submit" class="btn bg-red">Entrar</button>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col -->
            </div>
            <!--/.row -->    
        </div><!-- /.container-fluid -->
    </section>
</body>
</html>
