{% extends 'admin/admin.html.twig' %}

{% block title %} Adicionar Usuário {% endblock %}

 {% block stylesheets %}
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Usuário', 'link': path('admin_users'), 'page':'usuário'} %}
    <!-- /.content-header -->
    
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6 offset-3">
            <!-- general form elements -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Novo</h3>
              </div>

              <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               {{ form_start(form) }}
                <div class="card-body">
                {# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} #}
                    {{ form_widget(form) }}
                    {{ form_row(form.profile) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}

                    <br>
                    {{ form_row(form.avatar) }}
                    
                    {{ form_row(form.crm) }}
                    {{ form_row(form.uf_crm) }}
                    {{ form_row(form.cellphone) }}
                    {{ form_row(form.specialty) }}
                    {{ form_row(form.medical_center) }}
                    {{ form_row(form.zip_code) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.number) }}
                    {{ form_row(form.neighborhood) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.complement) }}
                    {{ form_row(form.uf) }}
                    
                    {{ form_row(form.password) }}
                    <br>
                    {{ form_row(form.is_resident) }}                    
                    {{ form_row(form.is_active) }}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Salvar</button>
                  <a href="{{ path('admin_users') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
             
              {{ form_end(form) }}
            </div>
            <!-- /.card -->
    
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    
    {% endblock %}
      
  {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
        //customizando formulario
        $('.p').prop("required", false);
        $('.file').prop("required", false);
        $('.file').parents('.form-group').hide();

        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(".specialty").select2();

        $('.zip-code').on("keyup", function() {
            var cep     = $(this).val()
            var address = $('.address'), neighborhood =  $('.neighborhood'), city = $('.city'), state = $('.uf'), zip_code = $('.zip_code')
            
            //console.log(cep, 'length -> ', cep.length)
            if (cep.length < 9) {
                $('.zip-code-error').text('CEP INVÁLIDO');
                return false;
            }
            
            $.ajax({
                url: "{{ path('api-correios') }}",
                type: "POST",
                dataType: "json",
                data: {
                    'cep': cep, 
                },
                beforeSend: function(){
                    address.val('');  
                    neighborhood.val('');  
                    city.val('');  
                    state.val('');
                },
                success: function (response) {
                    
                    $('.address-error').text('') 
                    $('.neighborhood-error').text('')  
                    $('.city-error').text('') 
                    $('uf-error').text('') 

                    if (!response.status) {
                        $('.zip-code-error').text(response.message);
                        return false;
                    }

                   
                    $('.zip-code-error').text('')
                    address.val(response.endereco)
                    neighborhood.val(response.bairro + ' ' + response.complemento2);  
                    city.val(response.cidade)   
                    //console.log('uf', response.uf);         
                    state.val(response.uf).change()
                   
                }
            });

            
        })

        //mask 
        $('.zip-code').mask("99999-999")
        $('.cellphone').mask("(99) 99999-9999")

        //end

        var ufPessoal = ["", "AL", "AP", "AM", "BA", "CE", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "DF"];

        $(".uf").select2({
            data: ufPessoal
        });
    </script>
    {% endblock %}
