
{% extends 'admin/admin.html.twig' %}

{% block title %}Eventos {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Eventos', 'link': path('admin_event'), 'page':'editar'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-6 offset-3">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Editar</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="box-body">
                    {{ form_widget(form) }}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    <a href="{{ path('admin_menu') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
    <script>
        $(".mult-option").select2();
    </script>
{% endblock %}

