
{% extends 'admin/admin.html.twig' %}

{% block title %}Eventos {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Eventos', 'link': path('admin_event'), 'page':'Eventos'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        <div class="col-2">
                            <a href="{{ path('admin_events_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                        </div>
                    </div>
                </div>
            </div>
    

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>Data/Hora Inicio</th>
                  <th>Local</th>
                  <th>Descrição</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                
                <tr>
                  <td>{{event.name}}</td>
                  <td>{{event.datetimeend|date("d/m/Y")}}</td>
                  <td>{{event.local}}</td>
                  <td>{{event.description|raw}}</td>
                  <td>
                    <div class="row">
                      <!-- /.col -->
                      <div class="col-4 offset-2">
                        <a href="{{ path('admin_event_edit', {'id': event.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                      </div>
                      <div class="col-4 offset-2">
                        <a href="{{ path('admin_event_delete', {'id': event.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                      </div>
                      <!-- /.col -->
                    </div>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Nome</th>
                  <th>Data/Hora Inicio</th>
                  <th>Local</th>
                  <th>Descrição</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

