.page-cadastro
    position relative

    .bg-top-img-main
        img 
            max-width 330px

    .element-5
        // position: absolute;
        // right: -333px;
        // top: 50%;
        // width: 500px;

        position: absolute;
        right -385px;
        bottom 450px
        width 500px;

        // img
        //     transform: rotate(173deg);
        
        img
            transform: rotate(135deg);

    .bg-top
        @media(min-width 961px)
            margin-bottom 50px

        @media(max-width 960px)
            padding-top 40px
            margin-bottom 50px


        .bg-top-img-1
            background url('../image/template/lettering-meu-cadastro.png') no-repeat
            background-size contain
            max-width 534px
            height 150px
            right -30%
            top 5%

            @media(max-width 960px)
                background url('../image/template/lettering-cadastro-mobile.png') no-repeat
                height: 75px;
                right: -56%;
                width: 474px;
            

        .bg-top-img-2
            background url('../image/template/lettering-cadastro.png') no-repeat
            background-size contain
            left: -21%;
            max-width: 468px;
            bottom: 0;
            right: inherit;
            height: 100px;
            width: 100%;
            bottom 5%

            @media(max-width 960px)
                background url('../image/template/lettering-cadastro-mobile.png') no-repeat
                height: 75px;
                left: -80%;
                width: 474px;
                bottom -15%


        @media(max-width 960px)
            height 250px

    

    .profile-pic
        width 150px
        margin 0 auto
        position relative
        
        
        @media(min-width 961px)
            margin-top -150px
            margin-bottom 50px
        .edit-btn
            position absolute
            height 35px
            width 35px
            right 15px
            bottom 15px
            background url('../image/template/edit-pic.svg') no-repeat
            background-size cover
            font-size 0
            cursor pointer
            display block


    .register-form


        fieldset
            border none
        
        legend
            font-size 1.7em
            font-family: Montserrat Light;
            color: colorDefault
            
            @media(max-width 960px)
                padding-top 20px

        label
            font-family: Montserrat Light;
            font-size 13px

        select
            @media(max-width 960px)
                max-width 100%
                width 100%

        .input-number 
          display flex

        .select2-selection--multiple
          width 140px !important
        
        .register-especialidade
          width 140px !important
        
        .select2-selection__arrow b
          border-color #ed7026 transparent transparent transparent !important
          
        #width-register-especialidade
          width 140px !important

        #register-centro-medico
          width 200px !important
        
        #register-uf
          width 60px !important
        
        #numero
          width 60px !important
        
        #register-numero
          display flex
          width 90px

        #endereco
          width 240px

        #register-uf-consultorio
          width 60px !important

        .register-input
            border none
            border-bottom 1px solid colorGray 

            @media(max-width 960px)
                display block
                width 100%


            &:focus
                outline none

        @media(min-width 961px)
            #register-crm
                width calc(100% - 50px)

            #register-name
                width calc(100% - 120px)

            #register-email
                width calc(100% - 60px)

            #register-cel
                width calc(100% - 60px)

            #register-endereco
                width calc(100% - 70px)
            
            // #register-numero
            //     width calc(100% - 60px)

            #register-complemento
                width calc(100% - 70px)

            #register-bairro
                width calc(100% - 50px)

            #register-cidade
                width calc(100% - 56px)
        
        .address-number
          display flex
        
        .address-complement
          display flex

        .register-label-radio
            margin 0 10px
            display inline-block

      .register-title-step2
        padding 40px 0px


    .register-btns
        margin-bottom 180px
        
        @media(max-width 960px)
            margin-bottom 30px

        li 
            margin-bottom 15px
            
        .btn-default
            padding-left 0
            padding-right 0
            text-align center
            font-size 13px
            color colorGray
            border 1px solid #EC8A9F
            font-family: Montserrat Light;
            text-transform inherit

            &:hover
                background colorRed
                color #FFF
  .alignment
    display: flex;
    align-items: center;
    justify-content: center;

    .register-content
        // position absolute
        // top -120px

        .register-form
            .specialty-width
              width 140px !important

            .main-section:before 
                display none
            @media(max-width 960px)
                .home-top.container
                    display none

            .register-permissions
                display flex
                flex-direction column
                align-items center
                

                h2
                    
                    font-size 3.0em
                    font-weight 300
                    text-align center
                    margin-bottom 50px

                .registration-form
                    display: flex
                    flex-direction column
                    justify-content: center
                    padding-bottom 20px

                    a
                        color #00D6Fd

                    .form-check
                        padding 8px
                        

                        label
                            font-family: Montserrat Light;
                            font-weight: 600
                            font-size 14px
                            padding-left 10px 

                            @media(max-width 960px)
                                font-size 18px
                        
                    .input-field
                        width 350px
                        @media(max-width 960px)
                            width 350px
                            
                        input
                        .form-check-input
                            width 100%
                            height 30px 
                            font-family: Montserrat Light;
                            font-weight: 600
                            font-size 14px
                            background rgba(254, 97, 0, 0.383)
                            border none
                            border-radius 5px
                            padding  10px
                                   
            

.register-login
  .left-arrow
      display flex;
      justify-content flex-end
      padding-top 100px

  .right-arrow
      display flex
      justify-content flex-start

.register-login-form-remember
    position absolute
    align-items center
    margin-top 200px
    width 350px
    height 280px
    background #fad8c4
    border-radius 10px
    z-index 10

    display flex
    flex-direction column
    justify-content center
    align-items center

    h1
      font-family: 'Montserrat light';
      color: #D5002f;
      margin-bottom 10px

    p
      font-family: 'Montserrat Regular';
      font-size: 1.3em;
      padding 15px 10px
      color: #ed7026;
      text-align: center
      margin-bottom 0 !important

      b
        font-family: 'Montserrat Bold';

    form
        display flex
        flex-direction column
        justify-content center
        align-items center 

        .text-box
              width 300px
              height 25px 
              font-family 'Montserrat Light'
              font-weight 600
              font-size 14px
              background #fff
              border none
              border-radius 5px
              padding  10px
              margin-bottom 15px 

        a

          font-family: 'Montserrat bold';
          font-size 0.9em  
          color #A53D00;     
          padding 10px
          text-decoration none

        