.bg-cadastre-se
    background url('../image/template/bg-cadastre-se.png') repeat-x center top
    position relative
    overflow hidden

    display flex
    flex-direction row
    justify-content center
    align-items center

    
.register
    position absolute
    align-items center
    width 320px
    height 220px
    background #fff
    border-radius 10px
    z-index 10

    p
      font-family: 'Montserrat Regular';
      font-size: 1.3em;
      padding 15px
      color: #ed7026;
      text-align: center
      margin-bottom 0 !important

