.change-Password

  .bg-top-patient
    position absolute
    min-height 200px
    top 30px

    // .seta
    //   // width 85%

  .home-top
    position relative

    .home-top-text
      padding-top 40px
      position relative

      .lettering-area
        position absolute
        right -93px
        //right -450px
        z-index 98

        @media (max-width: 960px)
            
            position absolute
            right -350px
            z-index 98
        img 
            height 120px

            @media (max-width: 960px)
                height 100px

      .lettering-medica
        position absolute
        left -193px
        bottom -300px
        z-index -10
        
        @media (max-width: 960px)
            left -33px

        img 
            height 150px

            @media (max-width: 960px)
                height 100px

      .img-patient
        max-width 300px
        margin 0 auto

.page-not-banner
  
  .login-forms-box
    
    .change-Password-title
      padding-top 165px

      h2
        font-weight 600
        font-size 3em
        color #d80c3a

    .form-alignment
      display flex
      justify-content center

    .form-change-Password
      
      text-align:  center
      padding-top: 30px
      // margin-top 200px
      width 500px
      height 260px
      background #fad8c4
      border-radius 10px
      z-index 10
      margin-bottom 100px

      .form-alignment
        display flex
        justify-content center
        text-align:  center

      .change-form-control
        display block
        width 80%
        padding 7px 15px
        font-size 1.2em
        color #585858
        background-color #FFF
        background-clip padding-box
        border none
        border-radius 20px
      
      
  .change-Password-arrow
    position relative
    top -400px
    right -1000px
    
   