.bg-cadastre-se
    background url('../image/template/bg-cadastre-se.png') repeat-x center top
    position relative
    overflow hidden

    display flex
    flex-direction row
    justify-content center
    align-items center

    
