.page-contato
    padding-bottom 50px
    position relative
    overflow hidden
    
    .bg-top

        .seta
          position relative
          left 100px
          top 70px
          width 40px

        .bg-top-img-1
            background url('../image/template/lettering-contato.png') no-repeat
            background-size contain
            right -61%
            

        @media(max-width 960px)
            margin-bottom 30px
            
            .seta
                max-width 30px
                left 20px

            .bg-top-img-1
                right: -167%;
                height: 100px;

    .element-1-top-left
      position absolute
      top -500px
      left -200px

      img
        width 90%

    &.page-contato-problemas

        .bg-top-img-1
            background url('../image/template/lettering-probelmas.png') no-repeat
            background-size contain
            right -45%
            top 10px

            @media(max-width 960px)
                right -158%

    .paginacao
        display flex
        justify-content center
        // position relative
        // top 120px

        li
            margin 0 6px
            padding 3px
            border 1px solid colorRed 
            border-radius 50%
            

        span 
            display inline-block
            height 30px
            width 30px
            border-radius 50%
            display flex
            justify-content center
            align-items center
            font-family: 'Montserrat Light';
            font-size 18px
            line-height 30px

            &.ativo
                background colorRed
                color #FFF

    .steps-nav
        position relative

        &:before
            content ''
            clear both

        button
            width: 40px;
            height: 40px;
            background colorDefault url('../image/template/seta-contato.png') no-repeat
            border none
            border-radius 50%
            background-size cover
            font-size 0
            position absolute
           

            &.btn-avancar
                right 0
            &.btn-voltar
                transform rotate(180deg)
                left 0

            &.submit
                background colorDefault 
                color #FFF
                display inline-block
                text-align center
                font-size 1em
                border-radius 20px
                border 1px solid colorDefault
                padding 8px 50px
                cursor pointer
                transition slowTransition
                text-transform uppercase
                width inherit 

                &:hover
                    background #ffffff
                    color colorDefault
            

    .contact-form
        max-width 700px
        margin 0 auto
        padding-bottom 50px
        
        .form-control
            &.invalid
                border 1px solid red

    .link-contato-bottom
        color colorDefault
        padding-top 30px
        max-width 700px
        margin 0 auto

        p
            font-family: 'Quicksand SemiBold';
            font-size 18px
    .form
        .tab
            display: none;

        fieldset
            padding-top 50px
            position relative


            legend
                font-size 25px
                font-family: Montserrat Light;
                margin-bottom 40px

    .element-1
        position absolute
        left -275px
        bottom 0


    .element-2
        position absolute
        right -350px
        bottom 0

    .element-3
        position absolute
        right -350px
        bottom 0