.bg-top-education-medical
  .bg-top
    min-height 0px

    .bg-top-img-1
      background url('../image/template/lettering-educacao-medica.png') no-repeat
      background-size contain
      right -150px

      @media(max-width 960px)
          height  92px
          right -146px
          top 20px
          z-index 99

    
.medical-specialties-education
    padding-top 150px 
    padding-left 50px
    @media(max-width 960px)
      padding-top 50px 

.medical-specialties
    
    .search-medical-education
        display flex
        align-items center
        padding-top 20px
        flex-wrap wrap
        padding 0 !important

        @media(max-width 960px)
            justify-content: space-between;

        li
            padding 0 10px
            font-size 16px
            font-family: 'Roboto Light';
            list-style none

            button 
              display none

            input::placeholder
              color colorDefault

            @media(max-width 960px)
                display block
                width 50%
                padding 0 3px
                margin-bottom 10px

            a, input
                padding 5px 10px
                border 1px solid colorRed
                border-radius 20px
                transition .1s ease background
                display inline-block
                color colorDefault

                i
                  font-size 1.1em

                select 
                  box-shadow: 0 0 0 0;
                  border none
                  outline 0

                  &:hover
                    text-decoration none
                    background colorRed
                    color #FFF
                  
                @media(max-width 960px)
                    font-size 0.8em
                    display block
                    padding 5px
                    text-align center

                &:hover
                    text-decoration none
                    background colorRed
                    color #FFF

.medical-education                        

  .medical-education-courses
      margin-bottom 40px
      margin-top 30px
      padding-bottom 20px
      border-bottom 1px solid #f16e1e

    .favorite
      position absolute
      top 10px
      right 20px
      @media(max-width 960px)
        right 40px

      button
        background #fff
        border none
        border-radius 50%
        width 55px
        height 55px

      i
        color #ed7026
        z-index 10
        font-size 2.5em

    div
        
        &:nth-child(3)
          border-bottom none
        
        
              
      h3
          font-family 'Roboto Light'
          margin-bottom 5px
          font-size 1.3em
          color colorDefault
          font-weight 600

          @media (max-width: 960px)
              font-size 20px
              margin-bottom 10px
      
      .bg-img
        position relative
        overflow hidden
   

    figure 
      overflow hidden
      border-radius 15px
      background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
      transition .3s ease background
      
      
      @media(max-width 960px)
        width 94%

    img
      opacity 0.6

      &:hover
          opacity 0.9

          
          

    .course-details

        h2
          font-family helvetica
          font-weight 500
        a
            display: inline-block;
            text-align: center;
            font-size: 20px;
            color: #FFF;
            font-weight: bold;
            border-radius: 40px;
            padding: 8px 50px;
            background linear-gradient(110deg,#f56527 30%,#d80c3a 60%);
            margin-bottom 40px
            text-decoration none
        
        
        
        .material-details-item

          ul
            padding 0

            li
              color: #ed7026;
              font-family: 'Roboto Light';
              font-weight 300
              font-size: 1.3em;
              padding-bottom 10px
              font-weight: 600

            span
              color: #707070;
              
              font-size: 1em;
              font-weight: 300

            img
              max-width 150px


        .button-learn-more

            @media (max-width: 960px)
              display flex
              justify-content center

    img
        
        border-top-left-radius 15px
        border-top-right-radius 15px
        filter brightness(85%)
        

        &:hover
          filter brightness(100%)
          transition-duration: .3s;
          
.element-bottom-left
  position absolute
  bottom -350px
  left -630px

.element-bottom-right
  position absolute
  bottom -350px
  right -620px
