.bg-top-scientific-studies
  .bg-top
    min-height 0px
    
    .seta
      position relative
      left 40px
      top 70px
      width 40px
      @media(max-width 960px)
        position relative
        top 10px
        width 30px

    .bg-top-img-1
      background url('../image/template/estudos-cientificos.png') no-repeat
      background-size contain
      right -160px
      top 40px
      z-index 89

      @media(max-width 960px)
          height  92px
          right -520px
          top 20px
          z-index 89

    

// div.products-src-alphabet 
//   width 400px

.products-page

  .medical-specialties
    padding 0

  .busca-produtos
    .products-src-row
      .products-src-alphabet-medical-education
        width 600px

        ul
          display flex
          justify-content space-between
          
          
        @media(max-width 960px)
            justify-content center
            width 0px

            li

              a
                font-size 1em
                padding-right 4px

        a
            color colorGray
            display inline-block
            

.scientific-studies-title
  padding-top 125px
  margin-bottom 20px

  @media(max-width 960px)
    padding-top 50px

  h2
    @media(max-width 960px)
      margin-bottom 20px
  
  p
    color #707070
    @media(max-width 960px)
      font-weight 300
      font-size 1.2em


.second-search
  padding-top 50px

  .second-search-title
    h2
      font-size 2.5em 
      font-weight 500
      margin-bottom 10px

  .second-search-btn
    display flex

    .coluna-bula
      display flex
      
      p
        padding-left 10px
        //font-size 1.2em

      img
        width 20px
        height auto
  .btn-orange
    border 1px solid #ED7026 
    border-radius 5px 
    color #6F7170 
    padding 2px 2px
    background none
    margin-bottom 15px
    letter-spacing 1.2px

    .btn-orange:hover 
      background #FFF
      color #ED7026 
      transition 0.4s
      outline none

    button
      border none
      background transparent
      padding-left 5px
      
    input 
      border none

.description
  display flex
  border-bottom 1px solid #6F7170
  padding-top 20px

  .descriptive
    width 70%
    padding-bottom 30px
    
    .descriptive-line
      margin-bottom 30px

      h2
        font-size 3.5em 
        font-weight 500
        margin-bottom 10px

      p
        color #707071
        max-width 80%

  .informacoes
    width 30%
    
    ul
      color #707071
      padding-top 30px

      li 
        display flex
        padding-bottom 15px 

      i
        color #ED7026 
        padding-right 5px
        font-size 1.8em

.post
  padding-top 40px
  margin-bottom 40px
  
  h4 
    color #707071
    font-weight 600

  .post-blog
    display flex

    img
      padding-bottom 10px 

      filter brightness(35%)

      &:hover
        filter brightness(100%)
        transition-duration: .3s;
    
    .post-item
      padding 10px
      
      a
        color #707071
        max-width 80%

.material
    margin-bottom 100px

    .img-material
       
      img
        
        border-radius 15px
      
      .favorite1
        position absolute
        top 35px
        right 25px

        button
          background #fff
          border none
          border-radius 50%
          width 55px
          height 55px

          img
            max-width: 70%

        i
          color #ed7026
          z-index 10
          font-size 2.5em

    .material-details
      padding-top 15px
      
      h3
        color #ed7026;
        font-family Montserrat Semi Bold;
        font-size 1.5em;
        line-height 20px;
        transition color .3s ease;
        padding-bottom 15px

    .material-details-item

      ul  
        padding-left 0 !important

      li
        color #ed7026;
        font-family 'Helvetica'
        font-weight 300
        font-size 1.2em;

      span
        color #707070;
        font-family 'Helvetica'
        font-size 1em;

      img
        max-width 150px

  .material-contents
    
    z-index 0
    padding-top 30px
    
    .nome-do-material 
      position absolute
      

    .hover-material
      display none
      position absolute
      width 260px
      height 215px
      top 100px
      background #fff
      border-radius 10px
      padding 10px
      z-index 99
      box-shadow 0px 2px 8px 3px rgba(148,163,163,0.75);
      -webkit-box-shadow 0px 2px 8px 3px rgba(148,163,163,0.75);
      -moz-box-shadow 0px 2px 8px 3px rgba(148,163,163,0.75);

      h3
        font-family 'Montserrat Regular';
        font-size 1.1em;
        padding 5px 10px
        color #ed7026;
        margin-bottom 10px
        font-weight 900
      
      p
        width 90%
        font-size 1em;
      
      .hover-material-column
        display flex
        flex-direction column

        a
          display flex
          margin-bottom 8px
          text-decoration none

        h4
          font-family 'Roboto Regular';
          color #ed7026;

        .favorite
          display flex

          button
            background #fff
            border none
            width 23px
            height 23px
            border-radius 50%
            border 1px solid colorGray

          i
            color #ed7026;
            font-size 1em
        
.share-rating-info
  display flex
  background #fff;
  padding 6px 25px;
  border 1px solid #d80c3a;
  border-radius 40px;
  display inline-block;
  cursor pointer;
  transition 0.3s ease background;
  
  .star__container
    position relative
    margin auto

    label
      font-size 1.2em
      color #ed7026

.element-bottom-left
  position absolute
  bottom -350px
  left -630px

.element-bottom-right
  position absolute
  bottom -350px
  right -620px

