.events-page

  .bg-top
    position relative
    min-height 200px

    .seta
        position relative
        left 40px
        top 70px
        width 40px
    
    .bg-top-img-1
            background url('../image/template/lettering-events.png') no-repeat
            background-size contain
            right -53%

            @media(max-width 960px)
                height  92px
                right -520px
                top 20px

  .page-events-details
      margin-bottom 40px
      margin-top 30px
      padding-bottom 20px
      @media(max-width 960px)
        margin-bottom 0px

      h3
          font-family 'Roboto Light'
          margin-bottom 5px
          font-size 1em
          color colorDefault
          font-weight 600

          @media (max-width: 960px)
              font-size 20px
              margin-bottom 10px
      
      .bg-img
        position relative
        overflow hidden

      figure 
        overflow hidden
        border-radius 15px
        background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
        transition .3s ease background
        
        @media(max-width 960px)
          width 94%

      img
        opacity 0.6

        &:hover
            opacity 0.9
            
      .events-details

          h2
            font-family: 'Montserrat Semi Bold';
            font-weight: bold;
            margin-bottom 20px
          
          h3
            margin-bottom 10px
            font-family: 'Montserrat Bold';
            font-weight: bold;
          p
            font-family: 'Montserrat Bold';
            font-size: 0.9em;
            font-weight: bold;
            margin-bottom 10px

          a
              font-family: 'Montserrat Regular';
              display: inline-block;
              text-align: center;
              font-size: 20px;
              color: #FFF;
              font-weight: bold;
              border-radius: 40px;
              padding: 3px 50px;
              background linear-gradient(110deg,#f56527 30%,#d80c3a 60%);
              margin-bottom 40px
              text-decoration none
              width 80%
              text-transform uppercase

          .events-details-item

            ul
              padding 0
              

              li
                display flex
                flex-direction column
                color: #ed7026
                font-family: helvetica
                font-weight: bold
                font-size: 16px
                margin-bottom 20px
                font-weight: 600
                @media(max-width 960px)
                  font-family: 'Montserrat Extra Bold';
                  font-weight: bold
                  font-size: 1.4em

              span
                color: #707070
                font-size: 14px
                font-weight: 300
                @media(max-width 960px)
                  font-family: 'Montserrat Regular';
                  

              img
                max-width 60px
                @media(max-width 960px)
                  opacity 1

            .event-speaker-group
              display flex
              @media(max-width 960px)
                display block
                margin-bottom 10px

              .event-speaker
                margin-bottom 10px

                span
                  padding: 0px 10px


          .event-button
            @media (max-width: 960px)
              display flex
              justify-content center

            .event-button-gradient

              @media (max-width: 960px)
                display flex
                justify-content center

.separation-line
  
  hr
    margin 20px 0
    display block
    background linear-gradient(90deg, #d80c3a 0%, #f56527 33%, #f56527 63%, #d80c3a 100%)
    height 6px
    border none
    border-radius 3px
    opacity 1
    @media (max-width: 960px)
      position relative
      top -20px

.events-title
    margin-bottom 20px
    @media (max-width: 960px)
      display flex
      flex-direction column
      justify-content center

.new-events      
  padding-top 20px     
  margin-bottom 30px

  .post-item
    margin-bottom 20px
    
    figure 
        overflow hidden
        border-radius 20px 20px 0 0
        background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
        transition .3s ease background

    img
        &:hover
            opacity 0.7
            
    a
        text-decoration none
        color #FFF
    h3 
        padding 10px
        color #ffffff
        font-family: 'Roboto Light';
        font-size 1.2em
        border-radius 15px
        background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
        border-radius 0 0 10px 10px

    .btn-default
        border 1px solid colorRed
        color colorDefault

        &:hover
            background colorRed
            color #FFF