

.page-body-favorites 
  .element-bottom-right
    bottom 0
  .element-2
    position: absolute
    left: -300px
    top: 50%


.element-1-top-left
  position absolute
  top -500px
  left -200px

  img
    width 90%
.favoritos-page
  .bg-top
    position relative
    min-height 200px

    .seta
      position relative
      left 40px
      top 70px
      width 40px
      @media(max-width 960px)
        position relative
        top 10px
        width 30px

    .bg-top-img-1
        background url('../image/template/lettering-favoritos1.png') no-repeat
        background-size contain
        right -42%

        @media(max-width 960px)
            height  92px
            right -520px
            top 40px

.favorite-title
  padding-top 60px
  @media(max-width 960px)
    display: flex;
    justify-content: center;
    margin-bottom: 30px
    padding-top 0px

.page-favorite     
  padding-top 20px     
  margin-bottom 30px

  .post-item
    margin-bottom 20px
    
    figure 
        overflow hidden
        border-radius 20px 20px 0 0
        background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
        transition .3s ease background

    img
      &:hover
          opacity 0.7
          
    .favorite
      position absolute
      top 5px
      right 5px

      button
        background #fff
        border none
        border-radius 50%
        width 55px
        height 55px

        img
          max-width: 70%
          
      i
        color #ed7026
        z-index 10
        font-size 2.5em
            
    a
        text-decoration none
        color #FFF
    h3 
        padding 10px
        color #ffffff
        font-family: 'Roboto Light';
        font-size 1.2em
        border-radius 15px
        background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
        border-radius 0 0 10px 10px

    .btn-default
        border 1px solid colorRed
        color colorDefault

        &:hover
            background colorRed
            color #FFF

  .favorite-buttons
    display flex
    align-items center
    padding-top 20px
    flex-wrap wrap
    padding 0 !important

    @media(max-width 960px)
        justify-content: space-between;

    li
        padding 0 10px
        font-size 16px
        font-family: 'Roboto Light';

        @media(max-width 960px)
            display block
            width 50%
            padding 0 5px
            margin-bottom 10px

        a
            padding 3px 50px
            border 1px solid colorRed
            border-radius 20px
            transition .1s ease background
            display inline-block
            font-family: 'Montserrat Bold';
            color colorDefault

            i
              font-size 1.1em

            select 
              border none

              &:hover
                text-decoration none
                background colorRed
                color #FFF
              
            @media(max-width 960px)
                //font-size 11px
                display block
                padding 5px
                text-align center

            &:hover
                text-decoration none
                background colorRed
                color #FFF