.page-home

    .bolinha-1
        position absolute
        right -300px
        top 300px

    .bolinha-2
        position absolute
        left -350px
        top 200px
        @media (max-width: 960px)
          left -130px
          top 200px
          width 45%

      

    .home-top
        position relative

        @media (max-width: 960px)
          position absolute

        .lettering-home
            position absolute
            bottom 0
            z-index 1
            max-width 63%

            @media (max-width: 960px)
                bottom inherit
                top 20px
                max-width 100%
                right -15%

        .imgSection
            position relative
            z-index 2

        @media (max-width: 960px)
            margin-bottom 20px
            padding-top 30px
            

        .home-top-text
            padding-top 20px
            position relative

            @media (max-width: 960px)
              top -77px
              right -5px

            // &:before
            //     content ''
            //     position absolute
            //     right 0
            //     bottom 0
            //     height 200px
            //     width 60px
            //     // background url('../image/template/setas.png') no-repeat 
            //     background url('../image/template/ativo1.png') no-repeat 
            //     background-size contain

            //     @media (max-width: 960px)
            //         height 100px
            //         width 30px

            // @media (max-width: 960px)
                //padding-top 100px
                //padding-bottom 100px

            .lettering-area
                position absolute
                right -93px
                //right -450px
                z-index 98

                @media (max-width: 960px)
                    
                    position absolute
                    right -25px
                    z-index 98

                img 
                    height 120px

                    @media (max-width: 960px)
                        height 100px

            .lettering-medica
                position absolute
                left -93px
                //left -300px
                bottom 0
                
                
                @media (max-width: 960px)
                    left -33px

                img 
                    height 150px

                    @media (max-width: 960px)
                        height 100px

            .imgSection
                max-width 600px
                margin 0 auto
                @media (max-width: 960px)
                  top 55px


.home-middle

    .home-middle-text
        padding-top 20px

        @media (min-width: 960px)
            display flex
            flex-wrap wrap
            align-items center

    .imghome-middle
        z-index 2
        position relative

        @media (max-width: 960px)
            max-width 70%
            margin 0 auto
            left: -15px;
        
        @media (min-width: 960px)
            max-width 465px

        
    .home-middle-text-title
        position relative
        z-index 1

        @media (max-width: 960px)
            bottom 20px

        @media (min-width: 960px)
            align-items center
            padding-top 60px
            width calc(100% - 465px)
            left -80px

        .home-middle-text-content
            background colorOrange 
            color #FFF
            padding 50px 100px
            border-radius 40px

            @media (max-width: 960px)
                padding 30px 50px

        a:hover
            text-decoration underline
            color #FFF

        h2
            font-size 2.5em 
            margin-bottom 25px
            color #FFF
            font-family: 'Montserrat Light';


            @media (max-width: 960px)
                margin-bottom 10px

        p
            color #FFF
            font-family: 'Montserrat Light';
            font-size 1.3em
    
        @media (max-width: 960px)
        
            h2
                font-size 1.8em
            
            p
                font-size 1em
                max-width 100%

.section-news
    margin-bottom 30px

    @media (max-width: 960px)
        margin-top 0
        padding 0

        .section-news-title
            text-align center
            margin 30px 15px

        h2
            font-size 1.8em
            margin-bottom 0

        h3
            font-size 1.8em
            font-weight 500
            margin-bottom 25px

    .imagensNews

        img 
            border-radius 8px

        .imgNews1
            margin-bottom 30px

        h2
            font-size 1.5em
            margin-bottom 20px 
            font-family: 'Montserrat Light';
        p
            color #707071
            font-size 1.2em
            font-family: 'Roboto Light';

        @media (max-width: 960px)
            display flex
            flex-direction column
        
    .imagensNews
        img 
            border-radius 0
            width 100%

    .imgNews1
        order 1
        overflow hidden

        @media(min-width 961px)
            border-radius 10px

    .imgNews2
        order 3
        margin-bottom 10px
        background #000
        overflow hidden

        @media(min-width 961px)
            border-radius 10px


        h3
            font-size 18px
            color #FFF
            font-family: 'Montserrat Light';

        figure 
            position relative

            img 
                opacity 0.5

            .imgNews2-text
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                padding 20px 40px 20px  20px

    .textNews
        order 2

        .textNews-btn
            padding 20px 0

        @media(max-width 960px)
            padding 0 15px

            .textNews-btn
                text-align center
                padding 30px 0

            p 
                font-size 1em

    &#section-eventos
        @media(max-width 960px)

            .imagensNewsContent
                padding-left 50px
                padding-right 50px

            .imagensNews
                display block
                margin 0
                padding 0

                h2
                    display none

            .col-12
                    padding 0

            .imgNews1
                border-radius 20px
                overflow hiden


.home-low
    margin 30px 0


    .container
        position relative

        @media(max-width 1400px)
            max-width calc(1024px + 70px)

    .viewMore
        display flex
        position relative

        @media(max-width 960px)
            display block
            padding-top 450px

        .viewMoreImg
            width 40%
            z-index 2
            position relative

            @media(max-width 960px)
                width 80%
                margin 0 auto
                order 2

        .viewMoreText
            width  60%
            margin-top 40px

            @media(max-width 1400px)
                max-width calc(50% + 70px)

            @media(max-width 960px)
                width 100%
                max-width 100%
                padding 0
                order 1

            h2
                color colorDefault
                font-family 'Montserrat Light'
                font-size 3.8rem

                @media(min-width 961px)
                    padding 30px 50px 30px 200px
                    position relative
                    left -170px
                    border 1px solid colorRed
                    z-index 1
                    border-radius 30px
                    width calc(100% + 70px)

                @media(max-width 960px)
                    padding 10px
                    border-radius 10px
                    border 1px solid colorRed
                    font-size 2em
                    text-align center
                    margin-bottom 20px


                a
                    color colorDefault

                    strong 
                        font-family 'Montserrat Bold'
                        display block
                        font-size 3.8rem
                        color colorOrange

        .viewMoreContent
            @media(min-width 961px)
                padding-left 37px
                margin-top 30px

                p
                    max-width 250px

        .viewMoreBtn
            @media(min-width 961px)
                padding 10px 0

            @media(max-width 960px)
                text-align center
                

    .seta-2
        position absolute
        right 0
        top 100px
        
        @media(max-width 1400px)
            right 70px

        @media(max-width 960px)
            top inherit 
            bottom 40px
            max-width 100px
            right 15px
                    
