.news-page
    .news-title
        padding-left 85px
        padding-bottom 20px
        text-transform uppercase
        @media(max-width 960px)
            padding-left 0

    .bg-top
      position relative
      min-height 200px

      .seta
          position relative
          left 40px
          top 70px
          width 40px

    .separate-columns
      flex-wrap nowrap
      @media(max-width 960px)
          flex-wrap wrap

    .element-1-top-left
      position absolute
      top -500px
      left -200px

      img
        width 90%
        
    .element-1
        position absolute
        left -375px
        bottom 0


    .element-2
        position absolute
        right -350px
        bottom 0

    .element-3
        position absolute
        right -350px
        bottom 0

    .element-4
        position absolute
        right -141px
        bottom 250px
        width 200px

    .element-5
        position absolute
        left -325px
        top 100px
        width 400px

    .element-6
        position absolute
        right -500px
        top -160px

    &.new-page-single
        padding-bottom 70px

        
        @media(max-width 960px)
            .news-category-box
                margin-bottom 0

            .news-page-content
                .container
                    padding-left 0
                    padding-right 0

            .news-category-box
                padding-left 15px
                padding-right 15px

            .thumb-news
                border-radius 0
            
            .news-text
                padding-left 15px
                padding-right 15px

        h1
            font-family: 'Montserrat Semi Bold';

            @media(max-width 960px)
                font-size 23px
                padding-left 15px
                padding-right 15px


    .thumb-news
        margin-bottom 40px
        margin-top 20px
        border-radius 15px
        overflow hidden
        display inline-block

    .bg-top
        .bg-top-img-1
            background url('../image/template/lettering-noticias.png') no-repeat
            background-size contain
            right -53%

            @media(max-width 960px)
                height  92px
                right -520px
                top 20px

    .news-left
        @media(max-width 960px)
            order 2
      
      .favorite
        display flex
        

        button
          background #ed7026
          border none
          border-radius 50%
          width 70px
          height 70px

          img
            max-width: 70%

        i
          color #fff
          z-index 10
          font-size 3em

    .news-right
        @media(max-width 960px)
            order 1

    .news-list
        margin-bottom 45px

        figure 
            border-radius 15px
            overflow hidden
            background colorRed
            margin-bottom 20px
            display inline-block

            @media(max-width 960px)
                margin-bottom -6px
                border-radius 15px 15px 0 0


        img 
            transition 0.3s ease opacity 

            &:hover
                opacity 0.7

        a
            text-decoration none

        h2
            margin-bottom 20px
            line-height 1em        

            a
                color colorDefault
                font-family: 'Montserrat Semi Bold';
                font-size 27px
                line-height 20px
                transition 0.3s ease color
                

                @media(max-width 960px)
                    color #FFFF
                    font-size 16px
                    background colorDefault
                    background: linear-gradient(110deg, rgba(181,96,189,1) 30%, rgba(245,101,39,1) 60%);
                    color #FFF
                    border-radius 0 0 15px 15px
                    padding 15px
                    display block

                &:hover
                    color colorGray

                    @media(max-width 960px)
                        color #FFF

        p
            color #707071
            margin-bottom 20px

    .news-right

        h3 
            padding-top 20px
            padding-bottom 10px
            font-size 1.3em
            color colorDefault
            font-family: 'Montserrat Semi Bold';

    .news-category-box
        margin-bottom 30px

        h2
            font-family: 'Montserrat Semi Bold';
            font-size 1.4em
            margin-bottom 20px

            @media(max-width 960px)
                padding-right 30px
                position relative
                display inline-block

                &:before
                    content ''
                    height 10px
                    width 20px
                    background url('../image/template/seta-down.png') no-repeat
                    background-size contain
                    right 0
                    top calc(50% -5px) 
                    position absolute

        ul
            @media(max-width 960px)
                display flex
                flex-wrap wrap

            li
                color #707071
                margin-bottom 10px
                font-family: 'Montserrat Light';
                position relative
                padding-left 20px
                font-size 16px

                a
                    color colorGray
                    transitio 0.3s ease color

                    &:hover
                        color colorDefault
                

                &:before
                    content ''
                    height 10px
                    width 10px
                    border-radius 50%
                    border 1px solid colorRed
                    position absolute
                    left 0
                    top 5px


                @media(max-width 960px)
                    width 50%
                    font-size 13px

    .btn-orange
        border 1px solid colorRed
        border-radius 30px 
        color #6F7170 
        padding 8px 2px
        background #FFF
        margin-bottom 15px
        letter-spacing 1.2px
        display flex

        button
            border none
            background transparent
            padding-left 5px
            width 30px
            outline none

            .fa-search
                color #ED7026 
                padding-left 5px
        
        input 
            border none
            font-family: 'Montserrat Light';
            width calc(90% - 30px)
            outline none
            padding-left 10px
            background #FFF
    

    .post-item
        margin-bottom 20px
        
        figure 
            overflow hidden
            border-radius 10px 10px 0 0
            background #000
            transition .3s ease background

        img
            &:hover
                opacity 0.7
                
        a
            text-decoration none
            color #FFF
        h3 
            padding 20px
            color #ffffff
            font-family: 'Roboto Light';
            font-size 1.2em
            background #ED7026
            border-radius 15px
            background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
            border-radius 0 0 10px 10px

        .btn-default
            border 1px solid colorRed
            color colorDefault

            &:hover
                background colorRed
                color #FFF


    .btn-more
        background url('../image/template/btn-more.png') no-repeat
        height 21px
        width 55px
        margin 0 auto
        display block
        font-size 0


    .news-bottom
        p
            max-width 600px
            margin 0 auto
            color colorDefault
            font-size 16px

            a
                color colorDefault
                font-size 16px

    .social-media
        display inline-block
        margin-bottom 30px

        ul
            display flex
            justify-content center
            align-items center
            background #ED7026
            border-radius 5px
            justify-content center
            padding 10px 5px
        
            li
                margin 0 5px
            
            a
                width 40px
                height 40px
                display flex
                justify-content center
                align-items center
                background #ffffff
                border-radius 50%
                border 1px solid #FFF
                transition 0.3s ease background

                i
                    color #ED7026
                    transition 0.3s ease color

                &:hover
                    text-decoration none
                    oapcity 0.5
                    background colorDefault
                    
                    i 
                        color #FFF

            
.news-text
    font-family: 'Roboto Light';

    h2
        font-size 2em
        margin-bottom 20px

    h3
        font-size 1.8em
        color colorDefault
        font-family: 'Montserrat Light';
        margin-bottom 20px

    h4
        font-size 1.6em
        color colorDefault
        font-family: 'Montserrat Light';
        margin-bottom 20px

    h5
        font-size 1.5em
        color colorDefault
        font-family: 'Montserrat Light';
        margin-bottom 20px

    h6
        font-size 1.4em
        color colorDefault
        font-family: 'Montserrat Light';
        margin-bottom 20px

    a
        color colorDefault

    p
        font-size 1.2em
        color colorGray
        margin-bottom 20px

        strong  
            font-family: 'Roboto Bold';
    strong  
        font-family: 'Roboto Bold';    

    ul, ol
        margin-bottom 20px

        li
            font-family: 'Roboto Light';
            font-size 1.2em
            list-style disc
            list-style-position inside
        