.products-page
    position relative
    z-index 4
    padding-bottom 40px

    @media(max-width 960px)
      display block
      padding-bottom 0px

    .bg-top
      position relative
      min-height 200px

      .seta
          position relative
          left 40px
          top 50px
          width 40px

    .element-1
        position absolute
        left -385px
        top 50%
        width 400px

    .products-more-content
        @media(max-width 960px)
            padding 0 20px

    .news-recent-posts
        border-top 1px solid colorGray
        padding-top 30px
        margin-top 40px

        h2
            color colorGray
            font-family: 'Montserrat Semi Bold';
            font-size 20px
            margin-bottom 20px
            text-transform inherit

        .post-item
            color #FFFF
            font-size 16px
            background colorDefault
            background: linear-gradient(110deg, rgba(181,96,189,1) 30%, rgba(245,101,39,1) 60%);
            color #FFF
            border-radius 15px
            display block
            overflow hidden

            figure 
                border-radius 0 0 15px 15px
                overflow hidden
                background colorRed

                img 
                    opacity 0.7
                    transition 0.3s ease opacity 

                    &:hover
                        opacity 1

            h3
                a
                    padding 17px
                    color #ffffff
                    font-family: 'Roboto Light';
                    font-size 18px
                    display block
                    min-height 210px

    .news-recent-posts-ckeck
      border-top 1px solid colorGray
      padding-top 30px
      margin-top 40px

      h2
          color colorGray
          font-family: 'Montserrat Semi Bold';
          font-size 20px
          margin-bottom 20px
          text-transform inherit

      .post-item
        margin-bottom 20px
  
        figure 
          overflow hidden
          border-radius 20px 20px 0 0
          background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
          transition .3s ease background
          
          @media(max-width 960px)
            width 94%

        img
            &:hover
                opacity 0.7

              img 
                  opacity 0.7
                  transition 0.3s ease opacity 

                  &:hover
                      opacity 1

          h3
            a
              color #ffffff
              font-family: 'Roboto Light';
              font-size 18px
              display block
                
            @media(max-width 960px)
                  width 94%    

      #news-arrow-prev1
        padding-top 200px 
        background-image: url("../image/template/arrow-prev.png");
        z-index 10

        @media (max-width: 960px)
          left 30px

      #news-arrow-next1
        right 40px
        padding-top 200px  
        background-image: url("../image/template/arrow-next.png");
        z-index 10

        @media (max-width: 960px)
          right  30px

      .related-articles
        display flex  
        align-items center
        padding 0px 60px

        @media (max-width: 960px)
          display: flex
          flex-direction: column

        h3
          padding 30px
          width 60%    

          @media (max-width: 960px)
            width 100% 

          a
            font-family: 'Montserrat Semi Bold';
            font-size 20px
            text-decoration none   

            @media (max-width: 960px)
              font-size: 0.8em
          
        img
          max-width 80% !important
          border-radius 10px

        .hover-material
          display none
          position absolute
          width 240px
          height 225px
          top 0px
          background #fff
          border-radius 10px
          padding 10px
          z-index 99
          box-shadow 0px 2px 8px 3px rgba(148,163,163,0.75);
          -webkit-box-shadow 0px 2px 8px 3px rgba(148,163,163,0.75);
          -moz-box-shadow 0px 2px 8px 3px rgba(148,163,163,0.75);

          h3
            font-family 'Montserrat Regular';
            font-size 1.1em;
            padding 5px 10px
            color #ed7026;
            margin-bottom 10px
            font-weight 900
          
          p
            width 90%
            font-size 1em;
          
          .hover-material-column
            display flex
            flex-direction column

            a
              display flex
              margin-bottom 8px
              text-decoration none

            h4
              font-family 'Roboto Regular';
              color #ed7026;

            .favorite
              display flex

              button
                
                background #fff
                border none
                width 23px
                height 23px
                border-radius 50%
                border 1px solid colorGray

                img
                  max-width: 70%

              i
                color #ed7026;
                font-size 1em
                

    .prod-bula-onde-encontrar
        display flex
        margin-bottom 30px

        .btn-default 
            margin-right 20px
            color colorGray
            text-transform inherit
            position relative

            &:hover
                color #FFF

            @media(max-width 960px)
                border-radius 0
                width 100%
                text-align left
                padding-left 0
                padding-right 0
                border-left none
                border-right none
                border-bottom none
                
                &:first-child
                    border-top none
                
                span
                    
                    width 40%
                    display inline-block
                    text-align center 
                    color colorDefault

        .btn-bula
            @media(max-width 960px)
                // border-radius 10px 10px 0 0
                border-bottom none

            &:before
                background url('../image/template/bula.png') no-repeat
                background-size contain
                content ''
                height 15px
                width 25px
                position absolute
                left 35px
                top calc(50% - 7px)

                @media(max-width 960px)
                    left inherit 
                    width 60%
                    border-left 1px solid colorDefault
                    right 0
                    height 100%
                    top 0
                    background-position center
                    background-size 25px

        .btn-onde-encontrar
            @media(max-width 960px)
                // border-radius 0 0 10px 10px

            i 
                position relative
                left -10px

                @media(max-width 960px)
                    left inherit 
                    right 0
                    width 60%
                    position absolute
                    height 100%
                    top 0
                    text-align center
                    border-left 1px solid colorDefault
                    display flex
                    align-items center
                    justify-content: center;

        @media(max-width 960px)
            display block
            border: 1px solid colorDefault
            border-radius 10px
            overflow hidden

    .products-conetnt
        h3
            font-family: 'Montserrat Light';
            color colorDefault
            margin-bottom 10px
            font-size 16px

            @media(max-width 960px)
                font-family: 'Montserrat Semi Bold';
            
        p
            font-size 16px

    .product-right-infos
        h2
            text-align: center;
            font-size: 20px;
            color: colorDefault
            border-radius: 20px;
            border: 1px solid colorRed
            padding: 8px 10px;
            text-transform inherit


        li, p
            position relative
            font-size 16px
            padding-left 45px
            min-height 36px
            margin-bottom 20px
            font-family 'Roboto Light'
            display: flex;
            align-items: center;

            &:before
                content ''
                height 36px
                width 36px
                border 1px solid colorRed
                border-radius 50%
                position absolute
                left 0
                top calc(50% - 18px)

            &.info-praticas-list
                padding-left 50px
                &:before
                    border none 
                    background url('../image/template/icones.svg') no-repeat
                    border-radius 0
                    background-size contain
                    height 37px
                    width 40px
                    background-size: 100px;
                    background-position: -25px -13px;

            &.folhetos-bulas-list
                padding-left 35px
                &:before
                    border none 
                    background url('../image/template/folhetos-bulas.svg') no-repeat
                    border-radius 0
                    background-size contain
                    height 26px
                    width 26px

        // @media(min-width 960px)
        //   padding-bottom 300px
        //   &:before
        //       content ''
        //       height 500px
        //       width  500px
        //       position absolute
        //       bottom -200px
        //       right -300px
        //       background url('../image/template/curva-3.png') no-repeat
        //       background-size contain
        //       z-index -1
        //       transform rotate(190deg)

    .bg-top
        .bg-top-img-1
            background url('../image/template/lettering-produtos.png') no-repeat
            background-size contain
            right -40%

            @media(max-width 960px)
                height 75px
                right -140%
    
    .element-1-top-left
      position absolute
      top -500px
      left -350px

      img
        max-width 97%

    h1
        margin 30px 0


    h2
        font-size 2.3em
        text-transform uppercase
        margin-bottom 40px

    .busca-produtos
        // display flex
        font-family 'Roboto Light'
        position relative
        z-index 2

        .products-src-row
            display flex

            @media(max-width 960px)
                flex-direction column
                flex-wrap wrap
                justify-content center

        .products-src-btn
            @media(max-width 960px)
              align-items center
              
            .btn-default 
                margin-right 20px

                &.active
                    background colorRed
                    color #FFF

                @media(max-width 960px)
                    margin-bottom 20px
                    margin-right 0

                    &:last-child
                        margin-bottom 0

        .products-src-alphabet
            
            ul
                display flex
                flex-wrap wrap
                
                @media(max-width 960px)
                    justify-content center
                    padding-right 30px

                    li
                        font-size 1em

            a
                color colorGray
                display inline-block
                padding 0 5px

                &.active
                    color colorDefault
                    text-decoration underline
                

        .products-src-form
            padding-right 0px

            form
                display flex
                align-items flex-end

                @media(max-width 960px)
                    margin-bottom 30px

                    // input 
                    //     width calc(100% - 40px)

            #btn-src
                border none
                height 20px
                width 20px
                background url('../image/template/lupa-laranja.svg') no-repeat 
                background-size cover
                margin-right 20px

            input
                border none
                border-bottom 1px solid #C0C0C0
                font-family 'Roboto Light'
                outline none

        .products-src-select
            position relative

            .especialidades-itens
                display flex

                .especialidades-selected
                    font-size 14px
                    padding-left 10px
                    color colorDefault
                    display none
                    position relative     

                    &.active
                        display block

                    .especialidades-clear
                        position absolute
                        top -10px
                        right -15px
                        height 15px
                        width 15px
                        display flex 
                        justify-content center 
                        align-items center
                        border 1px solid colorRed
                        border-radius 50%
                        background colorRed
                        font-size 12px
                        color #FFF
                        cursor pointer

                        &:hover
                            color colorRed
                            background #ffffff
                            text-decoration none

            .especialidades-btn
                color colorDefault
                cursor pointer

                @media(min-width 960px)
                    position relative

                .especialidades-action-btn
                    position relative
                    padding-right 20px

                    &:before
                        content ''
                        height 9px
                        width 16px
                        background url('../image/template/arow.svg') no-repeat
                        background-size cover
                        position absolute
                        right 0
                        top 5px
                        transform: rotate(-90deg);

                &.active
                    .especialidades-action-btn

                        &:before
                            transform: rotate(0deg);

            .especialidades-box
                position absolute
                width 200px
                display none
                top 0
                background #FFF
                transition .3s ease opacity
                z-index 1

                &.active
                    display block

                label, a
                    cursor pointer
                    display block
                    margin-bottom 6px
                    color colorGray


                    &:hover
                        color colorDefault
                    
                      @media(max-width 960px)
                        background #f1f1f13d
                        width 50%
                        border-radius 5px

                input 
                    display none


                @media(min-width 961px)
                    right -210px

                @media(max-width 960px)
                    top 30px
                    width 100%
        

            @media(max-width 960px)
                text-align center
                margin-top 20px
            select 
                border none 
                color colorDefault
                background #FFF
                outline none

    .products-table
        display flex
        padding-top 20px
        padding-bottom 20px
        border-bottom 2px solid #C0C0C0
        width 100%

        .lancamentos
            display inline-block
            background: colorRed
            color #ffffff
            text-transform uppercase
            font-family 'Roboto Light'
            font-size 10px
            padding 3px 10px
            border-radius 10px

        a
            color colorGray

        @media (max-width: 960px)
            flex-wrap wrap

        &:last-child
            border-bottom none

        h3
            font-family: 'Montserrat Light';
            color colorDefault
            font-size 18px
            margin-bottom 20px

            @media(max-width 960px)
                font-size 16px

        .icone
            max-width 30px
            margin 0 auto

            &.icone-bula
                a
                    display block
                    width 30px
                    height 30px
                    background url('../image/template/icones.svg') no-repeat
                    background-size: 100px;
                    background-position: -33px -55px;

            &.icone-sem-bula
                color colorDefault
                font-size 25px

            &.icone-kart
                a
                    display block
                    width 30px
                    height 30px
                    background url('../image/template/icones.svg') no-repeat
                    background-size: 100px;
                    background-position: -32px -99px;
                

        .products-table-col
            h2, h3, h4, h5, h6
                font-size 20px
                margin-bottom 10px

            @media (min-width: 961px)
                margin-right 30px

                &.products-table-logo
                    width 150px
                    min-width 150px

                &.products-table-name
                    width 20%

                &.products-table-description
                    width 35%

                &.products-table-bula
                    width 15%
                    text-align center

                &.products-table-onde-encontrar
                    width 15%
                    text-align center

            &:last-child
                margin-right 0

            @media (max-width: 960px)
                width 100%
                display flex

                .products-table-title
                    width 50%
                    padding-bottom 20px

                .products-table-info    
                    width 50%
                    padding-bottom 20px

                    p
                        font-size 14px

    .icone
        display flex
        flex-direction column
        flex-wrap wrap
        justify-content center
        align-content center

        @media (max-width: 960px)
            align-content space-between

.page-body-isentos
    .bg-top

        .sem-prescricao
            .bg-top-img-1
                background url('../image/template/lettering-com-prescricao.png') no-repeat
                background-size contain


.products-src-alphabet, .products-src-alphabet-medical-education
    li
        position relative

        .close-filter
            position absolute
            top -15px
            left 3px
            height 15px
            width 15px
            display flex
            justify-content center 
            align-items center
            border 1px solid colorRed
            border-radius 50%
            background colorRed
            font-size 12px
            color #FFF
            cursor pointer

            &:hover
                color colorRed
                background #ffffff
                text-decoration none