.page-body-quem-somos
    .main-section
        @media(max-width 960px)
            &:before
                content ''
                height 250px
                width  250px
                position absolute
                top -100px
                left -100px
                background url('../image/template/curva-3.png') no-repeat
                background-size contain


.about-us-page
    p
        color #707071

    .bg-top
        @media(min-width 961px)
            &:before
                content ''
                height 500px
                width  500px
                position absolute
                top -100px
                right -100px
                background url('../image/template/curva-3.png') no-repeat
                background-size contain

        .bg-top-img-1
            background url('../image/template/lettering-sobre.png') no-repeat
            background-size contain
            

        .bg-top-img-2
            background url('../image/template/lettering-sobre.png') no-repeat
            background-size contain
            left -55%
            max-width 1280px
            bottom 0
            right inherit
            height 200px
            width 100%

            @media(max-width 960px)
                height 100px
                width 800px
                left -31%


        @media(max-width 960px)
            height 250px

    .title-quem-somos

        h1
            font-size 3.5em
            text-align center

            @media(max-width 960px)
                font-size 30px

    .nav-about
        display flex
        align-items center
        justify-content center
        padding-top 20px
        flex-wrap wrap

        @media(max-width 960px)
            justify-content: space-between;

        li
            padding 0 10px
            font-size 16px
            font-family: 'Roboto Light';

            @media(max-width 960px)
                display block
                width 50%
                padding 0 5px
                margin-bottom 10px

            a
                color colorGray
                padding 5px 15px
                border 1px solid colorRed
                border-radius 20px
                transition .3s ease background
                display inline-block

                @media(max-width 960px)
                    font-size 11px
                    display block
                    padding 5px
                    text-align center
                    

                &:hover
                    text-decoration none
                    background colorRed
                    color #FFF

    .quem-somos
        padding-top 30px

        p
            font-family: 'Roboto Light';
            font-size 16px
            line-height 1.4em

            @media (max-width: 960px)
                font-size 16px

        li
            font-family: 'Roboto Light';

        #quem-somos

            h2 
                font-size 2.5em 
                font-weight 600
                margin-bottom 30px

                @media (max-width: 960px)
                    font-size 30px

            h3
                font-family: 'Montserrat Bold';
                margin-bottom 20px
                font-size 1.6em
                color colorDefault

                @media (max-width: 960px)
                    font-size 20px
                    margin-bottom 10px

        .sobre-hypera-pharma

            h3 
                font-size 1.2em
                font-weight 600

        .definition
            .col-12
                @media (max-width: 960px)
                    padding 0

        #nosso-proposito
            @media (max-width: 960px)
                .container
                    padding 0

                .row
                    margin-left 0
                    margin-right 0
        
    .resp-corporativa-img
        position relative

        img 
            position relative
            z-index 2
            

        @media (min-width: 961px)
            &:before
                content ''
                height 6px
                width 100%
                display block
                position absolute
                background: rgb(245,101,39,1);
                background: linear-gradient(90deg, rgba(216,12,58,1) 0%, rgba(245,101,39,1) 33%, rgba(245,101,39,1) 63%, rgba(216,12,58,1) 100%);
                left 0
                top calc(50% - 3px)
                z-index 1
                border-radius 3px

        @media (max-width: 960px)
            margin-bottom 30px

    .responsibility
        display: flex
        font-size 1.2em
        color #707071
        padding-top 20px

        @media (min-width: 961px)
            padding-top 50px

        p
            font-size 16px
            line-height 1.4em
            color #707071
            margin-bottom 30px

            @media (max-width: 960px)
                margin-bottom 20px

    .responsibility-text

        h3
            margin-bottom 20px
            font-size 1.3em
            color colorDefault
            font-family: 'Montserrat Bold';

        p strong 
            font-size 1.3em
            color colorDefault
            font-family: 'Montserrat Bold';

            @media (max-width: 960px)
                font-size 16px

        ul 
        
            li
                padding-bottom 20px
                font-size 16px
                line-height 1.4em
                list-style disc
                list-style-position inside

        .donation-timeline
            padding-left 30px

            &:before
                left 0

                @media (min-width: 961px)
                    height calc(100% - 10px)

            p
                margin-bottom 0

                @media (max-width: 960px)
                    padding-bottom 20px

                    &:last-child
                        padding-bottom 0


            h4
                font-size 1.6em

                &:before
                    left -34px
                
            &:last-child
                &:before 
                    display block !important

    .donations-text

        ul 
            margin-bottom 0
            padding-left 30px

    .donation-timeline
        position relative
        padding-left 30px

        &:before 
            content ""
            width 1px
            height 100%
            background #707070
            position absolute
            top 10px
            left 0
        
        &:last-child
            &:before 
                display none
        h3
            padding-bottom 20px
            font-size 1.8em
            font-weight 700
            color colorGray

        h4
            position relative
            font-size 1.2em
            font-family: 'Roboto BoldItalic';
            padding-bottom 10px
            color colorGray

            &:before 
                content ""
                width 10px
                height 10px
                background colorDefault
                position absolute
                top 7px
                left -35px
                border-radius 50%
        ul
            padding 0

        li
            font-size 16px
            padding-bottom 20px
            color colorGray
            list-style disc
            list-style-position inside
            font-family: 'Roboto LightItalic';
    
        img
            padding-bottom 20px

    #donations-text-2018 
        display flex
        align-items flex-end
        flex-wrap wrap
        align-content flex-end

        @media (max-width: 960px)
            padding-top 30px

    .certification
        margin-bottom 50px

        h2
            margin-bottom 30px


    .element-1
        position absolute
        left -350px
        top 1200px

    .element-2
        position absolute
        left -325px
        top 1900px
        width 400px

        img
            transform rotate(-30deg)
            display block

    .element-3
        position absolute
        right -141px
        top 1200px
        width 200px

    .element-4
        position absolute
        right -350px
        top 1300px

    .element-5
        position: absolute;
        right: -333px;
        top: 2200px;
        width: 400px;
        
        img
            transform: rotate(173deg);

    .element-6
        position: absolute;
        right: -259px;
        bottom: -152px;

        img
            transform: rotate(173deg);