
.pagina-resitentes
  .bg-top
    .seta
      position relative
      left 40px
      top 70px
      width 40px
      @media(max-width 960px)
        position relative
        top 10px
        width 30px

    .bg-top-img-1
      background url('../image/template/lettering-residentes.png') no-repeat
      background-size contain
      right -150px
      top 40px

      @media(max-width 960px)
          height  92px
          right -520px
          top 20px

  .element-2-midle-right
    position absolute
    right -360px
    bottom 0

    img
      width: 60%

.page-residents
  padding-top 80px
  margin-bottom 20px
  @media (max-width: 960px)
    padding-top 10px

  p
    width 90%
    font-weight 600
    @media (max-width: 960px)
      font-weight 300
      
.page-residents-materials
  padding-top 20px

  #residentes-arrow-prev2
    padding-top 200px 
    background-image: url("../image/template/arrow-prev.png");
    z-index 10

    @media (max-width: 960px)
      bottom: 1px

  #residentes-arrow-next2
    right 150px
    padding-top 200px  
    background-image: url("../image/template/arrow-next.png");
    z-index 10

    @media (max-width: 960px)
      right  30px
      bottom: 1px

  .residents-slide
    .residents-course-details
      padding 10px 50px

      h2
        font-family: 'Montserrat Semi Bold';
        font-weight 900
        font-size 1.2em
      a
          font-family helvetica
          display: inline-block;
          text-align: center;
          font-size: 0.8em
          color: #FFF;
          font-weight: bold;
          border-radius: 40px;
          padding: 8px 50px;
          background linear-gradient(110deg,#f56527 30%,#d80c3a 60%);
          margin-bottom 40px
          text-decoration none
      
      h3 
        color: #ed7026;
        font-family: 'Roboto Light';
        font-size: 1.2em;
        padding-bottom 10px
      
      span
        margin-bottom 10px
      
      .residents-material-details-item

        ul
          padding 0
          
          li
            display flex
            flex-direction column
            color: #ed7026;
            font-family: 'Roboto Light';
            font-size: 1em;
            padding-bottom 10px

          span
            color: #707070;
            
            font-size: 1em;
            font-weight: 300

          img
            max-width 150px

      .button-learn-more
          .btn-without-gradient
              display inline-block
              text-align center
              width 100%
              font-size 1em
              color #FFF
              font-family: 'Montserrat Semi Bold';
              font-size: 0.7em
              border-radius 5px
              padding 8px 40px
              cursor pointer
              text-transform uppercase
              background #FF5500
              transition .3s ease background
                
                &:hover
                  background #FFF
                  color colorDefault

          @media (max-width: 960px)
            display flex
            justify-content center

.element-name
  margin-bottom 50px
  
  h2
    font-family: 'Montserrat Bold';
    font-weight 900
    font-size 1.2em
    padding-bottom 10px

  h3
    color: #ed7026;
    font-family: 'Roboto Light';
    font-size: 1em;
    
.bolinha-2-bottom-left-residents
  position absolute
  bottom -700px
  left -630px
  z-index 2
  

.bolinha-1-bottom-left-residents
  position absolute
  left -350px
  bottom  -250px
  z-index 1
  opacity 0.6