.news
  .news-left
    
    .news-text
      margin-bottom 40px
    
      h3
        font-size 1.2em
        margin-bottom 10px

      p
        color #707071
        font-size 1em

      img
        margin-bottom 20px

    .social-media
      display flex
      justify-content center
      align-items center
      margin 0 auto
      background #ED7026
      width 180px
      height 50px 
      margin-bottom 30px
      border-radius 5px

      ul
        display flex
        margin 8px
        
        li
          display flex
          justify-content center
          align-items center
          background #ffffff
          border-radius 50%
          padding 15px
          width 40px
          height 40px
          margin-left 5px

          i
            color #ED7026


    .referencia
      display flex
      justify-content center
      align-items center

      span 
        text-align center