.register-login
    height: 550px;
    position relative
    overflow hidden
    margin-bottom 30px
    display flex
    flex-direction row
    justify-content center
    align-items center
    
    .imgSection
        img
            opacity 0

    .home-top
        
        .home-top-text
          
            @media (max-width: 960px)
                height 100px
                width 30px
        .lettering-area
            right -263px

    .right-arrow
        margin-top 320px

.register-login-form
    position absolute
    align-items center
    margin-top 200px
    width 350px
    height 60%
    background #fad8c4
    border-radius 10px
    z-index 10

    display flex
    flex-direction column
    justify-content center
    align-items center
    @media (max-width: 960px)
        margin-top 0px

    h1
        font-family: 'Montserrat light';
        color: #D5002f;
        margin-bottom 40px

    p
        font-family: 'Montserrat Regular';
        font-size: 1.3em;
        padding 5px 10px
        color: #ed7026;
        text-align: center
        margin-bottom 0 !important

        b
            font-family: 'Montserrat Bold';

    form
        display flex
        flex-direction column
        justify-content center
        align-items center 

        .text-box
            width 300px
            height 25px 
            font-family 'Montserrat Light'
            font-weight 600
            font-size 14px
            background #fff
            border none
            border-radius 5px
            padding  10px
            margin-bottom 15px

        a

            font-family: 'Montserrat bold';
            font-size 0.9em  
            color #A53D00;     
            padding 10px
            text-decoration none

        
.field-password
    position relative

    .field-password-btn
        content ''
        height 25px
        width 40px
        position absolute
        right 0
        top 0
        background url('../image/template/olho.png') no-repeat center
        background-size contain
        cursor pointer
        opacity .5
        transition 0.3s ease opacity

        &.close
            background url('../image/template/olho-fechado.png') no-repeat center
            background-size contain