.you-and-patient

  .bg-top-patient
    position absolute
    min-height 200px

    .seta
      width 55%

  .home-top
    position relative

    .home-top-text
      padding-top 40px
      position relative

      .lettering-area
        position absolute
        right -93px
        //right -450px
        z-index 98

        @media (max-width: 960px)
            
            position absolute
            right -350px
            z-index 98
        img 
            height 120px

            @media (max-width: 960px)
                height 100px

      .lettering-medica
        position absolute
        left -93px
        //left -300px
        bottom 0
        z-index -10
        
        @media (max-width: 960px)
            left -33px

        img 
            height 150px

            @media (max-width: 960px)
                height 100px

      .img-patient
        max-width 300px
        margin 0 auto

  .your-patient
    padding-top 20px
    position relative

    h1
      font-family 'Montserrat Regular'

      b 
      font-family 'Montserrat Bold'

.your-patient-materials

  hr
    margin 20px 0
    display block
    background linear-gradient(110deg, #f56527 30%, #d80c3a 60%)
    height 6px
    border none
    border-radius 3px
    opacity 1

  .your-patient-img
    padding-top 20px 
    margin-bottom 25px

    img 
      width 50%

  h3
    font-family 'Helvetica'
    margin-bottom 5px
    font-size 1.3em
    color colorDefault
    font-weight 500
  
  .angle-down
    display flex
    justify-content center
    padding-top 60px
    margin-bottom 80px

  .responsive1
    .slide-font-type
        padding-right 10px
        margin-right 10px

        h3 
          padding-top 20px 
          margin-bottom 15px
          font-size 1em
        p 
          margin-bottom 35px
        
        iframe
          max-width 360px !important
        
        @media (max-width: 960px)
          padding-left 15px
  
  .right-flex-end
    display flex
    align-items flex-end        
  
  

.arrow
  position absolute
  display inline-block
  margin 0 10px
  width 20px
  height 20px
  background-repeat no-repeat
  background-size 70% auto
  background-position center
  cursor pointer
  vertical-align middle

#arrow-prev
  left -30px
  top 70px
  background-image: url("../image/template/arrow-prev.png");
  z-index 10
  @media (max-width: 960px)
    left -1px

#arrow-next
  right  -5px
  top 70px
  background-image: url("../image/template/arrow-next.png");
  z-index 10

  @media (max-width: 960px)
    right  30px
    
#arrow-prev1
  left 80px
  top 70px
  background-image: url("../image/template/arrow-prev.png");
  z-index 10
  @media (max-width: 960px)
    left -1px

#arrow-next1
  right  80px
  top 70px
  background-image: url("../image/template/arrow-next.png");
  z-index 10

  @media (max-width: 960px)
    right  30px

.bolinha-2-bottom-left-paciente
  position absolute
  top 35%
  left -630px
  z-index 2
  

.bolinha-1-bottom-left-paciente
  position absolute
  left -350px
  top 30%
  z-index 1

.element-2-midle-right-paciente
  position absolute
  right -360px
  top 20% 