{% extends 'front/base.html.twig' %}

{% block title %}Código de acesso{% endblock %}

{% block body %}
<div class="bg-cadastre-se">
    <div class="home-top container" id="section">
        <div class="home-top-text">
            <div class="lettering-area">
                <img class="" src="{{
                    asset('_dist/image/template/simposio.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="imgSection">
                <img class="" src="{{
                    asset('_dist/image/template/home_01_conheca.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="lettering-medica">
                <img class="" src="{{
                    asset('_dist/image/template/medicina.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
        </div>
    </div>
    <div class="container register-acess-code">
      <p>Por favor <b>verificar código de acesso</b> enviado no <b><br>e-mail cadastro</b></p>
    </div> 
</div>


{% endblock %}

{% block javascripts %}{% endblock %}
