
{% extends 'admin/admin.html.twig' %}

{% block title %} Permissões {% endblock %}

{% block stylesheets %}
    <style>
        .hide{ display: none; }
    </style>
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':null, 'link': path('admin_menu'), 'page':'permissões'} %}
    <!-- /.content-header -->

     <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-6 offset-3">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title"><strong>Permissões:</strong> {{ user.name }}</h3>
                </div>
                <form id="form" action="{{ path('admin_user_acess_save', {'user_id': user.id}) }}" method="POST">
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Menu Categoria</th>
                                    <th>Menu</th>
                                    <th>Criar</th>
                                    <th>Editar</th>
                                    <th>Deletar</th>
                                    <th>Visualizar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for menu in menus %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td> {{ menu.category }}</td>
                                        <td>
                                            {{ menu.name }}
                                            <input type="text" name="permission[{{loop.index}}][user]" value="{{user.id}}" class="hide"/>
                                            <input type="text" name="permission[{{loop.index}}][menu]" value="{{menu.id}}" class="hide"/>
                                        </td>
                                        <td><input type="checkbox" name="permission[{{loop.index}}][create]" {{ menu.is_create == true ? 'checked' : '' }} data-bootstrap-switch data-off-color="danger" data-on-color="success"></td>
                                        <td><input type="checkbox" name="permission[{{loop.index}}][edit]"   {{ menu.is_update  == true ? 'checked' : '' }} data-bootstrap-switch data-off-color="danger" data-on-color="success"></td>
                                        <td><input type="checkbox" name="permission[{{loop.index}}][delete]" {{ menu.is_delete  == true ? 'checked' : '' }} data-bootstrap-switch data-off-color="danger" data-on-color="success"></td>
                                        <td><input type="checkbox" name="permission[{{loop.index}}][view]" {{ menu.is_viewed  == true ? 'checked' : '' }} data-bootstrap-switch data-off-color="danger" data-on-color="success"></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" name="btn" class="btn btn-primary">Salvar</button>
                        <a href="{{ path('admin_users') }}" class="btn btn-danger btn-sm">Voltar</a>
                    </div>
                </form>
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

