{% extends 'admin/admin.html.twig' %}

{% block title %}Educação Médica {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Educação Médica', 'link': path('admin_medical_education'), 'page':'educação médica'} %}
    <!-- /.content-header -->
 
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div clas="row">
                  <div class="col-4">
                    <h3 class="card-title">Listagem</h3>
                  </div>
                  {% if user_acess.isCreate %}
                  <div class="col-2 offset offset-10">
                    <a href="{{ path('admin_notice_new') }}" class="btn btn-success btn-block justify-content-center">Novo</a>
                  </div>
                  {% endif %}
              </div>
            </div>
          </div>
             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Tipo</th>
                    <th>Imagem</th>
                    <th>Ativo</th>
                    <th>Criado Em</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
               {#  {% for notice in notices %}
                <tr>
                    <td class="center">
                        {{ loop.index }}
                    </td>
                    <td>{{ notice.title }}</td>
                    <td>{{ notice.type.name }}</td>
                    <td><img src="{{ asset(notice.image) }}" width="100" /></td>
                    <td>
                        {% if notice.isActive %}
                            <span class="label label-success">Sim</span>
                        {% else %}
                            <span class="label label-danger">Não</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if notice.createdAt %}
                            {{ notice.createdAt|date('d/m/Y H:i:s') }}
                        {% endif %}
                    </td>
                  <td>
                      {% if user_acess.isUpdate %}
                      <!-- /.col -->                     
                        <div class="col-12">
                          <a href="{{ path('admin_notice_edit', {'id': notice.id }) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                        </div>
                      {% endif %}
                  </td>
                  <td>
                       {% if user_acess.isDelete %}
                        <div class="col-12">
                          <a href="{{ path('admin_notice_delete', {'id': notice.id }) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                        </div>
                      {% endif %}
                      <!-- /.col -->
                  </td>
                </tr>
                {% endfor %} #}
                </tbody>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Tipo</th>
                    <th>Imagem</th>
                    <th>Ativo</th>
                    <th>Criado Em</th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

