{% extends 'front/base.html.twig' %}

{% block title %}Vídeo{% endblock %}

{% block body %}
<section class="page-contato" id="contato">
    <div class="container">
        <div>
            <br>
            <p align="center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Jr7u102jvZ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}

{% endblock %}
