
{% extends 'front/base.html.twig' %} {% block title %}Educação Médica{% endblock %} {% block body %}
<div class="bg-top-education-medical container">
  <div class="bg-top sem-prescricao">
    <figure class="seta">
        <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
    </figure>
    <div class="bg-top-img-1 bg-top-img"></div>
  </div>
</div>  
<div class="container medical-specialties-education medical-specialties">
    
    <form id="form-medical-education" action="{{ path('educacao-medica') }}" method="post">
        <input type="hidden" name="e"/>
        <ul class="search-medical-education">
            <li>
                <div class="products-src-form search-field" id="form-src">
                    <div>
                        <button type="button" class="search_name" id="btn-src"></button>
                        <input type="text" name="q" value="{{ app.request.get('q') }}" id="src-top" class="search search-input search_text" placeholder="Busca por nome">
                    </div>
                </div>
            </li>
            <li>
                <a>
                    <select name="s" class="search-field" id="filtro_specialty">
                        <option value="">Filtro por Especialidade</option>
                        {% for specialty in specialties %}
                            <option value="{{ specialty.id }}" {{ app.request.get('s') == specialty.id ? 'selected' : '' }} onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'educacao-medica', 'eventAction': 'click', 'eventLabel': 'filtro-especialidade:{{ specialty.specialty }}'});">{{ specialty.specialty }}</option>
                        {% endfor %}
                    </select>
                </a>
            </li>
            <li>
                <a>
                    <select name="t" class="search-field" name="type" id="type">
                        <option value="">Filtro por tipo</option>
                        {% for education in educations %}
                            <option value="{{ education.id }}" {{ app.request.get('t') == education.id ? 'selected' : '' }} onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'educacao-medica', 'eventAction': 'click', 'eventLabel': 'filtro-tipo:{{ education.name }}'});">{{ education.name }}</option>
                        {% endfor %}
                    </select>
                </a>
            </li>
            {% if filtro %}
                <li id="limpar_filtro"><a href="{{ path('educacao-medica') }}">Limpar filtro  &nbsp;&nbsp;<i class="fas fa-times"></i></a></i>
                </li>
            {% endif %}
        </ul>
    </form>
</div>

<section id="cursos" class="medical-education container">
    {% if courses|length > 0 %}
        {% for course in courses %}

            {% set evaluation = evaluation(app.user, 'cursos', course.id) %}

                <div class="medical-education-courses container">
                    <div class="row">
                        <div class="bg-img col-12 col-sm-6 col-md-6 col-lg-6">
                        <figure>
                            <a class="title-button-gradient btn-know-more" href="{{ path('educacao-medica-eadbox') }}" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'educacao-medica', 'eventAction': 'click', 'eventLabel': 'vitrine:ITEM-CLICADO: {{course.name|raw}}'});">
                                <img src="{{ asset(course.imageweb) }}" alt="Post" title="Post">
                            </a>
                        </figure>
                        <div class="favorite">
                            <button data-url="{{ path('add-favorite', {'id': course.id, 'type': 'cursos'}) }}" class="like-button-post add-favorite">
                                {% if evaluation.id is defined and evaluation.isActive %}
                                    <img class="com-favorito " src="{{ asset('_dist/image/template/with-heart.png') }}" alt="" title="">
                                {% else %}
                                    <img class="sem-favorito" src="{{ asset('_dist/image/template/empty-heart.png') }}" alt="" title="">
                                {% endif %}
                            </button>
                        </div>  
                        </div>
                        <div class="course-details col-12 col-sm-6 col-md-6 col-lg-6">
                            {% set url = path('educacao-medica-eadbox') %}
                            <h2 onclick="window.open('{{ url }}', '_blank');" style="cursor: pointer;">
                                {{course.name|raw}}
                            </h2>
                            <h3>Resumo</h3>
                            <p>
                                {{course.resume|raw}}
                            </p>

                            <div class="material-details-item">
                                <ul class="">
                                    <li class="">
                                        Especialidade: {% if course.specialty %}
                                        <span class="">{{course.specialty.specialty|raw}}</span> {% endif %}
                                    </li>
                                    <li class="">
                                        Tipo:
                                        <span class="">{{course.type.name|raw}}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="button-learn-more">
                                <a class="title-button-gradient btn-know-more" href="{{ path('educacao-medica-eadbox') }}" target="_blank"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'educacao-medica', 'eventAction': 'click', 'eventLabel': 'vitrine:ITEM-CLICADO: {{course.name|raw}}'});">SAIBA MAIS</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% else %}
         <h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado.</h2>
    {% endif %}
    
</section>

<div class="element-bottom-left paralax hidden-xs">
  <img src="{{ asset('_dist/image/template/curva-bottom.png') }}" alt="Bolinha" title="Bolinha">
</div>
<div class="element-bottom-right paralax hidden-xs">
  <img src="{{ asset('_dist/image/template/curva-bottom-right.png') }}" alt="Bolinha" title="Bolinha">
</div>

{% endblock %} {% block javascripts %}

<script>
    $(document).ready(function() {
        //filter select
        $('#form-medical-education select').on('change', function(e) { 
            $('#form-medical-education').submit()
        })

        //enter search
        $("#form-medical-education .search_text").keyup(function(event){
            if(event.keyCode == 13){
                event.preventDefault();
                 $('#form-medical-education').submit()
            }
        })
    })
</script>
{% endblock %}