
{% extends 'admin/admin.html.twig' %}

{% block title %}Categoria de Curso {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Categoria de Curso', 'link': path('admin_education_type'), 'page':'Categoria'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-6 offset-3">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Cadastro</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="box-body">
                    {{ form_widget(form) }}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    <a href="{{ path('admin_menu') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script>
     
        document.getElementById('events_Link').closest('div').style.display = 'none';
     $("#events_registration_type").on("change", function(){
    if($(this).val() == 0 ){
      //interno
      
        document.getElementById('events_Link').closest('div').style.display = 'none';
      
    }else{
      //externo
      
        document.getElementById('events_Link').closest('div').style.display = 'block';
      
    }

     })

     </script>
{% endblock %}

