
{% extends 'admin/admin.html.twig' %}

{% block title %}Usuários pendente{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Usuários pendente', 'link': path('admin_users_temporary'), 'page':'usuários pendente'} %}
    <!-- /.content-header -->
 
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div clas="row">
                  <div class="col-4">
                    <h3 class="card-title">Listagem</h3>
                  </div>
              </div>
            </div>
          </div>

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>O que está pendente?</th>
                  <th>Usuário da base antiga?</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    {% if user.isUserOld %}
                        Atualização de cadastro
                    {% else %}
                      {% if user.isFinished %}
                          Confirmação de cadastro
                      {% else %}
                        {# {{ user.step }} #}
                      {% endif %}
                        
                    {% endif %}
                  </td>
                  <td>{{ user.isUserOld ? 'SIM' : 'NÃO' }}</td>
                  <td>
                    <div class="row">
                      <!-- /.col -->
                      {% if user.isFinished %}
                        <div class="col-6">
                          <a href="{{ path('admin_user_send_email_confirm_register', {'id': user.id}) }}" class="btn btn-success btn-block btn-user-send-email-confirm justify-content-center">Enviar e-mail de confirmação de cadastro</a>
                        </div>

                        <div class="col-6">
                          <a href="{{ path('admin_user_generate_url_confirm_register', {'id': user.id}) }}" class="btn btn-warning btn-block btn-user-generate-link-email-confirm justify-content-center">Gerar link de confirmação de cadastro</a>
                        </div>
                      {% endif %}
                      <!-- /.col -->
                    </div>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>O que está pendente?</th>
                  <th>Usuário da base antiga?</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

