
{% extends 'admin/admin.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block stylesheets %}
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Produtos', 'link': path('admin_products'), 'page':'editar'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
       
        <div class="col-6 offset-2">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Editar</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="box-body">
                    {{ form_widget(form) }}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <p id="alerta" style="font-size: 20px;
    color: red;
    font-weight: 800;
    display: none;">Existem Campos não preenchidos</p>
                    <button type="submit" id='salvar' class="btn btn-info">Salvar</button>
                    <a href="{{ path('admin_products') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        
        {% if products.bula or products.image %}
            <div class="col-3">
                <div class="card-header">
                    <h3 class="card-title">Arquivos</h3>
                </div>
                {% if products.image %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <img src="{{ asset(products.image) }}" style="margin: auto; width: 100%;"/>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if products.bula %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ asset(products.bula) }}">
                                    <i class="fas fa-file-pdf" aria-hidden="true" style="font-size: 42px; margin: 0 40%; color: #444"></i>
                                </a>
                            </div>
                        </div>
                        {# <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn-danger file-delete" data-url="{{ path('admin_products_delete', {'id': products.id}) }}" style="width: 100%;"> Deletar Bula</button>
                            </div>
                        </div> #}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script>
        
        $('.custom-file-input').prop("required", false);
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $('.file-delete').on('click', function(e) {
            var url = $(this).data('url')
            var btn = $(this)

            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: {'f': true},
                beforeSend: function(){
                    btn.text('Carregando...')
                },
                success: function(data) {  
                        btn.text('Deletar Bula') 
                  
                        if (data.status) {
                            alert(data.message)
                        } else {
                            alert(data.message)
                        }

                    },
                error: function(data) {
                    console.log(data);
                }
            })
        })
</script>
{% endblock %}

