{% extends 'admin/admin.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Produtos', 'link': path('admin_products'), 'page':'produtos'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        {% if user_acess.isCreate %}
                        <div class="col-2">
                            <a href="{{ path('admin_products_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                        </div>
                          {% endif %}
                    </div>
                </div>
            </div>
    

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Produto Ativo</th>
                  <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                  <td>{{ product.id }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.descriptive|raw }}</td>
                  <td>{{ product.isActive ? 'SIM' : 'NÃO'}}</td>

                  {% if user_acess.isUpdate %}
                  <td class="center">
                      <div class="col-12">
                          <a href="{{ path('admin_products_edit', {'id': product.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                      </div>
                  </td>
                  {% endif %}
                  {% if user_acess.isDelete %}
                  <td class="center">
                      <div class="col-12">
                          <a href="{{ path('admin_products_delete', {'id': product.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                      </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Descrição</th>                 
                  <th>Produto Ativo</th>
                  <th colspan="2"></th>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}