
{% extends 'admin/admin.html.twig' %}

{% block title %}Cadastro de Lojas{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Você e seu paciênte', 'link': path('admin_lojas'), 'page':'Cadastro de Lojas'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        {% if user_acess.isCreate %}
                        <div class="col-2">
                            <a href="{{ path('admin_lojas_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Link</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for store in stores %}
                <tr>
                  <td>{{ store.id }}</td>
                  <td>{{ store.name }}</td>
                  <td>{{ store.link }}</td>> 
                    {% if user_acess.isUpdate %}
                  <td class="center">
                      <div class="col-12">
                          <a href="{{ path('admin_lojas_edit', {'id': store.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                      </div>
                  </td>
                  {% endif %}       
                   {% if user_acess.isDelete %}
                  <td class="center">
                      <div class="col-12">
                          <a href="{{ path('admin_lojas_delete', {'id': store.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                      </div>
                  </td>
                  {% endif %}    
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Link</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

