
{% extends 'admin/admin.html.twig' %}

{% block title %}Cadastro de Lojas{% endblock %}

{% block stylesheets %}
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Cadastro de Lojas', 'link': path('admin_lojas'), 'page':'Cadastro de Lojas'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-6 offset-3">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Cadastro</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="box-body">
                    {{ form_widget(form) }}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    <a href="{{ path('admin_products') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
      
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script>
        $('.custom-file-input').prop("required", false);
        //id dos campos video
        document.getElementById('your_patient_title_v').closest('div').style.display = 'none';
        document.getElementById('your_patient_resume_v').closest('div').style.display = 'none';
        document.getElementById('your_patient_video').closest('div').style.display = 'none';
        //id dos campos material
        document.getElementById('your_patient_title_m').closest('div').style.display = 'none';
        document.getElementById('your_patient_resume_m').closest('div').style.display = 'none';
        document.getElementById('your_patient_file').closest('div').style.display = 'none';
        

        $("#your_patient_materialType").on('change', function(){
        if($(this).val() == 0){
            
        //id dos campos video
        document.getElementById('your_patient_title_v').closest('div').style.display = 'none';
        document.getElementById('your_patient_resume_v').closest('div').style.display = 'none';
        document.getElementById('your_patient_video').closest('div').style.display = 'none';
        //id dos campos material
        document.getElementById('your_patient_title_m').closest('div').style.display = 'none';
        document.getElementById('your_patient_resume_m').closest('div').style.display = 'none';
        document.getElementById('your_patient_file').closest('div').style.display = 'none';
        } else if($(this).val() == 2){
              
        //id dos campos video
        document.getElementById('your_patient_title_v').closest('div').style.display = 'none';
        document.getElementById('your_patient_resume_v').closest('div').style.display = 'none';
        document.getElementById('your_patient_video').closest('div').style.display = 'none';
        //id dos campos material
        document.getElementById('your_patient_title_m').closest('div').style.display = 'block';
        document.getElementById('your_patient_resume_m').closest('div').style.display = 'block';
        document.getElementById('your_patient_file').closest('div').style.display = 'block';
          } else if($(this).val() == 1) {
              //mostra o video esconde o file
              
        //id dos campos video
        document.getElementById('your_patient_title_v').closest('div').style.display = 'block';
        document.getElementById('your_patient_resume_v').closest('div').style.display = 'block';
        document.getElementById('your_patient_video').closest('div').style.display = 'block';
        //id dos campos material
        document.getElementById('your_patient_title_m').closest('div').style.display = 'none';
        document.getElementById('your_patient_resume_m').closest('div').style.display = 'none';
        document.getElementById('your_patient_file').closest('div').style.display = 'none';
          }
          
        });

        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
</script>
{% endblock %}


