{% extends 'front/base.html.twig' %}

{% block title %}Quem Somos{% endblock %}

{% block body %}

<div class="about-us-page">
    <section class="bg-top animation-element">
        <div class="bg-top-img-1 bg-top-img"></div>
        <div class="container text-center bg-top-img-main">
            <img class="" src="{{ asset('_dist/image/template/about-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
        </div>
        <div class="bg-top-img-2 bg-top-img"></div>
    </section>

    <section class="title-quem-somos">
        <div class="container animation-element">
            <h1>A Mantecorp Farmasa</h1>
    
            <ul class="nav-about">
                <li><a href="#quem-somos">Quem somos</a></li>
                <li><a href="#nosso-proposito">Nosso propósito</a></li>
                <li><a href="#resp-corporativa">Responsabilidade Corporativa</a></li>
                <li><a href="#premios-certificacoes">Prêmios e certificações</a></li>
            </ul>
        </div>

        <div class="paralax element-1 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
        </div>

        <div class="paralax element-2 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-3.png') }}" alt="Bolinha" title="Bolinha">
        </div>

        <div class="paralax element-3 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
        </div>

        <div class="paralax element-4 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
        </div>

        <div class="paralax element-5 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-3.png') }}" alt="Bolinha" title="Bolinha">
        </div>

        <div class="paralax element-6 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-1.png') }}" alt="Bolinha" title="Bolinha">
        </div>

        <div class="quem-somos">
            <div id="quem-somos">
                <div class="container  animation-element">
                    <h2>Quem Somos</h2>
                    
                    <div class="quem-somos-text row">
                        <div class="sobre-mantecorp-farmasa col-12 col-sm-6 col-md-6 col-lg-6">
                            <h3>Sobre a Mantecorp Farmasa</h3>
                            <p>
                                A Mantecorp Farmasa se consolidou entre as marcas líderes do mercado farmacêutico brasileiro, com um portfólio diversificado de produtos e apresentações no segmento de Primary Care. Possui um portfólio de medicamentos altamente reconhecidos e recomendados pela comunidade médica, com marcas ícones como Addera D3, Predsim, Maxsulid, Celestamine, Alivium, Rinosoro, Ofolato. Combina o foco na comunidade médica em diversas especialidades terapêuticas à inovação, para garantir aos brasileiros novas opções de tratamento para que vivam mais e melhor.
                            </p>
                            <p>
                                A Mantecorp Farmasa é reconhecida pelo seu relacionamento com a comunidade médica, por meio uma rede de mais de mil representantes médicos em todo o Brasil, e faz parte do Grupo Hypera Pharma, que possui o maior complexo operacional farmacêutico da América Latina, localizado em Anápolis (GO).
                            </p>
                        </div> 
                        
                        <div class="sobre-hypera-pharma col-12 col-sm-6 col-md-6 col-lg-6">
                            <h3>Sobre a Hypera Pharma</h3>
                            <p>
                                A Hypera Pharma é uma das maiores e mais diversificadas empresas farmacêuticas do Brasil e está presente em todos os segmentos relevantes do setor. Com posição de liderança em diversas categorias, oferece produtos de alta qualidade e segurança, investindo continuamente em inovação e crescendo de forma sustentável, para que as pessoas vivam mais e melhor.
                            </p>
                            <p>
                                Com visão de futuro e inovação, a Hypera Pharma conta com um dos maiores e mais modernos centros de pesquisa farmacêutica do Brasil, na estrutura de sua subsidiária Brainfarma. O centro abriga uma equipe de profissionais altamente qualificados, incluindo mestres e doutores, para o desenvolvimento de medicamentos, dermocosméticos e produtos para a saúde, utilizando tecnologia de ponta para ser pioneira no lançamento de novos tratamentos no Brasil.
                            </p>
                        </div> 
                    </div>
                </div>
            </div>

            <div id="nosso-proposito">
                <div class="container">
                    <div class="nosso-proposito row">
                        <div class="nosso-proposito-header animation-element">
                            <h2>NOSSO PROPÓSITO</h2>
                        </div>

                        <div class="nosso-proposito-body">
                            <h3 class="animation-element">
                                A Mantecorp Farmasa orienta sua atuação corporativa segundo o <span>HyperaWay, que consolida missão, visão e valores do Grupo Hypera Pharma.</span>
                            </h3> 
                            <div class="definition animation-element">
                                <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="missao mission-vision-value">
                                            <h4>Missão</h4>
                                            <p>
                                                Dar acesso a saúde para população brasileira, oferecendo produtos de alta qualidade e segurança, investindo continuamente em inovação, crescendo de forma sustentável com responsabilidade social.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="visao mission-vision-value">
                                            <h4>Visão</h4>
                                            <p>
                                                Ser a melhor e mais completa empresa farmacêutica brasileira, participando da vida das pessoas para que elas vivam mais e melhor.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="valores mission-vision-value">
                                            <h4>Valores</h4>
                                            <ul>
                                                <li>Respeito/Integridade</li>
                                                <li>Excelência</li>
                                                <li>Humildade</li>
                                                <li>Inovação</li>
                                                <li>Meritocracia</li>
                                                <li>Responsabilidade Social</li>
                                            </ul>
                                        </div> 
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="resp-corporativa">
                <div class="container">
                    <div class="resp-corporativa-img text-center animation-element">
                        <img src="{{ asset('_dist/image/template/responsabilidade-pic.png') }}" alt="Responsabilidade Corporativa " title="Responsabilidade Corporativa ">
                    </div>

                    <h2 id="resp-corporativa" class="animation-element">Responsabilidade Corporativa</h2>

                    <div>
                        <div class="responsibility row">
                            <div class="responsibility-text col-12 col-sm-6 animation-element">
                                <div class="sobre-mantecorp-farmasa">
                                    <p>
                                        <strong>Horas da Vida</strong> | Organização que reúne médicos voluntários, que realizam atendimentos gratuitos em clínicas ou mutirões à população carente.
                                        

                                    </p>
                                    <p>
                                        Apoio anual (Mantecorp Farmasa e Mantecorp Skincare) 2018, 2019, 2020 e 2021
                                    </p>
                                   
                                    
                                </div> 
                            </div>
                            <div class="responsibility-text col-12 col-sm-6 animation-element">
                                <ul>
                                    <li>Mutirão da Saúde | Ação que envolve voluntariado corporativo e atenção de saúde básica para primeira infância. A instituição escolhida a cada ano recebe atendimento médico geral, pediátrico e dermatológico, com medicamentos da linha Mantecorp Farmasa doados pela companhia.</li>
                                </ul>
                                {# <div class="">
                                    <img src="{{ asset('_dist/image/template/Grupo144.png') }}" alt="Responsabilidade Corporativa ">
                                </div> #}
                            </div>    
                        </div>

                        <div class="responsibility row">
                            <div class="responsibility-text col-12 col-sm-12 animation-element">
                                <h3>Doações de medicamentos</h3>
                            </div>

                            <div class="responsibility-text col-12 col-sm-6 animation-element">
                                <ul>
                                    <li>
                                        Doutores das Águas – Instituição que atua em comunidades ribeirinhas do Amazonas, levando atendimento médico, odontológico e remédios para áreas em que o Estado é pouco atuante. Em 2019 foram doados 2500 unidades de Trinida, para auxiliar no controle da incidência de vermes. No ano de 2020, além de Trinida foram doados também Alivium e Predsim.
                                    </li>
                                    <li>
                                        Barco-Hospital – expedição médica voluntária na bacia do Amazonas. Em 2019 a Mantecorp Farmasa doou medicamentos essenciais para atendimento da população ribeirinha, eles Addera, Rinosoro, Ofolato, Predsim, Alivium e Trinida.
                                    </li>
                                </ul>
                            </div>

                            <div class="responsibility-text col-12 col-sm-6 animation-element">
                                <ul>
                                    <li>
                                        FBG – Federação Brasileira de Gastroenterologia – Doação de mais de 300 mil unidades de medicamentos da linha de prescrição Mantecorp Farmasa. Os tratamentos são distribuídos em diversos Estados em todo Brasil, especialmente na região Norte do país, como Amazonas e Tocantins, onde o acesso a tratamentos é historicamente insuficiente.
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="responsibility row">
                            <div class="responsibility-text col-12 col-sm-6 animation-element">
                                <h3>AHPAS</h3>
                                <p>
                                    O Apoio da Linha Pediátrica Mantecorp Farmasa à AHPAS – Associação Helena Piccardi Andrade Silva – que oferece transporte gratuito para crianças e adolescentes em tratamento contra o câncer.
                                </p>
                                
                                
                            </div> 
                            <div class="responsibility-text col-12 col-sm-6 animation-element">
                                <figure>
                                    <img src="{{ asset('_dist/image/template/ImgAHPAS.png') }}" alt="AHPAS" title="AHPAS">
                                </figure>
                                
                            </div> 
                        </div>

                        <div class="responsibility row">
                            <div class="responsibility-text col-12 col-sm-6 animation-element">
                                <h3>Receita do Bem</h3>
                                <p>
                                    Programa de voluntariado institucional da Hypera Pharma que promove saúde, convívio sociocultural e educativo para comunidades em situação de vulnerabilidade. Os colaboradores voluntários podem atuar em ações de Mutirão da Saúde ou recreação em brinquedotecas hospitalares.
                                </p>
                            </div>
                            <div class="responsibility-text col-12 col-sm-6 animation-element">
                                <figure>
                                    <img src="{{ asset('_dist/image/template/ImgAHPAS2.png') }}" alt="Receita do Bem" title="Receita do Bem">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container animation-element">
        <hr>
    </div>
    <section class="certification" id="premios-certificacoes">
        <div class="container animation-element">
            <h2>Prêmios e certificações</h2>
            <div class="donations-text">
                <div class="donation-timeline">
                    <h4>2010</h4>
                    <ul>
                        <li>Prêmio Lupa de Ouro - Alivium</li>
                    </ul>
                </div>
                
                <div class="donation-timeline">
                    <h4>2011</h4>
                    <ul>
                        <li>Prêmio Lupa de Ouro - Alivium</li>
                    </ul>
                </div>

                <div class="donation-timeline">
                    <h4>2015</h4>
                    <ul>
                        <li>Prêmio Lupa de Ouro - Alivium</li>
                    </ul>
                </div>

                <div class="donation-timeline">
                    <h4>2016</h4>
                    <ul>
                        <li>Valor 1000 - Vencedora na categoria Farmacêutica e Cosméticos (Hypera Pharma)</li>
                        <li>LinkedIn Top Attractors – Uma das empresas mais atrativas para se trabalhar (Hypera Pharma)</li>
                        <li>Prêmio Lupa de Ouro - Tamarine Fibras</li>
                    </ul>
                </div>

                <div class="donation-timeline">
                    <h4>2019</h4>
                    <ul>
                        <li>Valor 1000 - Vencedora na categoria Farmacêutica e Cosméticos (Hypera Pharma)</li>
                        <li>Prêmio Lupa de Ouro - Macrodantina</li>
                        <li>Prêmio Lupa de Ouro - Ofolato</li>
                        <li>Great Place to Work – Certificada pelo Great Place to Work (GPTW) como um excelente lugar para trabalhar (Hypera Pharma)</li>
                        <li>Melhores e Maiores – Maior empresa farmacêutica (por vendas líquidas) e líder de mercado (Hypera Pharma)</li>
                    </ul>
                </div>
                <div class="donation-timeline">
                    <h4>2020</h4>
                    <ul>
                        <li>Valor Inovação</li>
                        <li>Época Negócios 360°</li>
                        <li>Valor 1000</li>
                        <li>Melhores e Maiores</li>
                        <li>Lupa de Ouro: Lubrinat e Colflex</li>
                    </ul>
                </div>

                <div class="donation-timeline">
                    <h4>2021</h4>
                    <ul>
                        <li>Lupa de Outro: Addera Mais, Gestamax Plus e Colflex</li>
                    </ul>
                </div>

            </div> 
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(window).scroll(function () {
        movedToDownbyScroll('.element-1', -10);         
        movedToDownbyScroll('.element-2', -30);         
        movedToDownbyScroll('.element-3', -30);         
        movedToDownbyScroll('.element-4', -10);         
        movedToDownbyScroll('.element-5', -20);         
        movedToDownbyScroll('.element-6', -30);         
    });
    $(document).ready(function(){
        $(".nav-about a").click(function( event ) {
            event.preventDefault();
            $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 120 }, 500);
        });
    });
</script>
{% endblock %}