{% extends 'base.html.twig' %}

{% block title %}Hello AreaAtuacaoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/luca.phelipe/Documents/Sites/mantecorp-area-medica-2021/src/Controller/AreaAtuacaoController.php'|file_link(0) }}">src/Controller/AreaAtuacaoController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/luca.phelipe/Documents/Sites/mantecorp-area-medica-2021/templates/area_atuacao/index.html.twig'|file_link(0) }}">templates/area_atuacao/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
