{% set controller = '' %}
{% set module = '' %}
{% set root = app.request.get('_route') %}
{% set body_classes = app.request.get('_route') | replace({'_': ' '}) %}

{% if app.request.attributes.get('_template').get('controller')is defined %}
    {% set controller = app.request.attributes.get('_template').get('controller') | lower %}
    {% set module = app.request.attributes.get('_template').get('controller') | lower %}
    {% set body_classes = app.request.get('_route') | replace({'_': ' '}) %}
{% else %}
    {% set controller = app.request.get('_controller') | lower | split(':') %}
    {% set module = controller[2] %}
    {% set root = controller[2] ~ '_' ~ controller[1] %}
    {% set body_classes = controller[2] ~ ' ' ~ controller[1] %}
{% endif %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>

        <!--- init lib css from templates -->
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('admin/fontawesome-free/css/all.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="{{ asset('admin/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('admin/icheck-bootstrap/icheck-bootstrap.min.css')}}">

        <link rel="stylesheet" href="{{ asset('admin/datatables-bs4/css/dataTables.bootstrap4.css') }}">
        <!-- DataTables -->
        <link rel="stylesheet" href="{{ asset('admin/datatables-bs4/css/dataTables.bootstrap4.css') }}">

        <!-- JQVMap -->
        <link rel="stylesheet" href="{{ asset('admin/jqvmap/jqvmap.min.css')}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('admin/dist/css/adminlte.min.css')}}">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="{{ asset('admin/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{{ asset('admin/daterangepicker/daterangepicker.css')}}">
        <!-- summernote -->
        <link rel="stylesheet" href="{{ asset('admin/summernote/summernote-bs4.css')}}">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('_dist/admin/image/icon.png')}}" />
        <!--- end template -->

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="hold-transition sidebar-mini layout-fixed ">
        <div class="wrapper">
            <!--- init html template -->
            {% include 'admin/component/navbar-menu-top.html.twig' %}
            {% include 'admin/component/slide-bar-menu.html.twig' %}
            <!--- end html template -->

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {# {{ dump(app.flashes)}} #}

                 <!-- Content Wrapper. Contains page content -->
        
                {# {{ dump(app.flashes)}} #}

                {% set itens = {} %}

                {% for label in app.flashes %}
                    {% set itens = label %}  
                {% endfor %}
               
                {% for item in itens %}
                    <div class="alert alert-{{item.type}} alert-dismissible fade show" role="alert">
                        <strong>{{item.title}}</strong> {{ item.message|raw }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}


                {# {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
             #}

                {% block body %}
                {% endblock %}


            </div>
            
            <!-- footer -->

            <!-- end footer -->
            <script type="text/javascript">
                var module = "{{ module }}";
                var root = "{{ app.request.get('_route') }}";
                var url = {
                    base: window.location.protocol + "//" + window.location.host + "{{ app.request.baseUrl }}",
                    assets: window.location.protocol + "//" + window.location.host + "{{ app.request.basepath }}",
                    relative: "{{ app.request.pathInfo }}"
                };
            </script>

            {# <script type="text/javascript" src="{{asset('ckeditor/ckeditor.js')}}" charset="utf-8"></script>
            <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js" type="text/javascript"></script>
            <script src="https://d3js.org/d3.v5.min.js"></script>
           #}
            <script src="{{ asset('admin/jquery/jquery.min.js')}}"></script>
            <script src="{{ asset('admin/jquery-ui/jquery-ui.min.js')}}"></script>
            {% block javascripts %}{% endblock %}
           

            <!-- init template javascript -->
                        <!-- jQuery -->
            {# <script src="{{ asset('admin/jquery/jquery.min.js')}}"></script> #}
            <!-- jQuery UI 1.11.4 -->
            {# <script src="{{ asset('admin/jquery-ui/jquery-ui.min.js')}}"></script> #}
            <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
            {# <script>
                {# $.widget.bridge('uibutton', $.ui.button); 
            </script> #}
            <!-- Bootstrap 4 -->
            <script src="{{ asset('admin/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

             <!-- jQuery -->
            <script src="{{ asset('admin/datatables/jquery.dataTables.js') }}"></script>
            <script src="{{ asset('admin/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
            
            <!-- Bootstrap Switch -->
            <script src="{{ asset('admin/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
           
            <!-- ChartJS -->
            <script src="{{ asset('admin/chart.js/Chart.min.js')}}"></script>
            <!-- Sparkline -->
            <script src="{{ asset('admin/sparklines/sparkline.js')}}"></script>
            <!-- JQVMap -->
            <script src="{{ asset('admin/jqvmap/jquery.vmap.min.js')}}"></script>
            <script src="{{ asset('admin/jqvmap/maps/jquery.vmap.usa.js')}}"></script>
            <!-- jQuery Knob Chart -->
            <script src="{{ asset('admin/jquery-knob/jquery.knob.min.js')}}"></script>
            <!-- daterangepicker -->
            <script src="{{ asset('admin/moment/moment.min.js')}}"></script>
            <script src="{{ asset('admin/daterangepicker/daterangepicker.js')}}"></script>
            <!-- Tempusdominus Bootstrap 4 -->
            <script src="{{ asset('admin/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>
            <!-- Summernote -->
            <script src="{{ asset('admin/summernote/summernote-bs4.min.js')}}"></script>
            <!-- overlayScrollbars -->
            <script src="{{ asset('admin/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('admin/dist/js/adminlte.js')}}"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="{{ asset('admin/dist/js/pages/dashboard.js')}}"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="{{ asset('admin/dist/js/demo.js')}}"></script>
            <!-- end template javascript --> 

            <!-- CKEDITOR --> 
            {# <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script> #}
            <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}" charset="utf-8"></script>
            {# <script type="text/javascript" src="{{ asset('_dist/admin/jsadmin.js')}}"></script> #}
            <!-- Script para tabelas dinâmicas -->
            <script>
            $(document).ready(function(e) {
                $('.table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                    }
                });

                $("input[data-bootstrap-switch]").each(function(){
                    $(this).bootstrapSwitch('state', $(this).prop('checked'));
                });  

                var editor = CKEDITOR.replace( 'editor1', {
                    language: 'en',
                    extraPlugins: 'notification'
                });

                editor.on( 'required', function( evt ) {
                    editor.showNotification( 'This field is required.', 'warning' );
                    evt.cancel();
                } );
            });
            </script>
            
        </body>
    </html>
