{% extends 'front/base.html.twig' %}

{% block title %}Busca{% endblock %}

{% block body %}
<section class="page-busca">
    <div class="container">
        <div class="bg-top sem-prescricao">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img">
                <img class="" src="{{ asset('_dist/image/template/lettering-mantecorp.png') }}" alt="Conheça a Mantecorp " title="Conheça a Mantecorp">
            </div>
        </div>

        <div class="space-h-30 text-center">
            <h1 class="title-button">Busca</h1>
        </div>

        <div class="news-text">
            {% if searchs|length > 0 %}
                {% for search in searchs %}
                    <div class="busca-content animation-element">
                        <!--- gerando o link conforme cada conteúdo -->
                        {% set link = '#' %}
                        {% set slug = search.slug is defined and search.slug is not null ? search.slug : '#'  %}
                        
                        {% if search.is_type == 'notice' %}
                            {% set link = path('blog_detail',{'slug': slug }) %}
                        {% elseif search.is_type == 'product' %}
                            {% set link =  path('produto', {'slug': slug} ) %}
                        {% endif %}

                        <h2>
                            <a href=" {{link}} ">
                                {{ search.title|raw }}
                            </a>
                        </h2>
                        <p>
                            <a href="{{ link }}">
                                {{ search.description|raw   }}[…]
                            </a>
                        </p>
                    </div>
                {% endfor %}


                <div class="space-h-40 text-center">
                    {{ knp_pagination_render(searchs) }}
                </div>
            {% else %}
                <div class="space-h-40 text-center">
                    <h2 class="text-center space-h-40">Desculpe, não encontramos nenhum resultado para "{{ app.request.get('s') }}"</h2>
                </div>
            {% endif %}

    
        </div>

        
    </div>
</section>

{% endblock %}