{% extends 'front/base.html.twig' %} {% block title %}Meu Cadastro{% endblock %} {% block body %}
<section class="page-cadastro">
    <div class="container">
        <div class="bg-top animation-element">
            <div class="bg-top-img-1 bg-top-img"></div>
            <div class="container text-center bg-top-img-main">
                <img class="" src="{{
                    asset('_dist/image/template/cadastro-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
            </div>
            <div class="bg-top-img-2 bg-top-img"></div>
        </div>
        <div class="paralax element-5 hidden-xs">
            <img src="/_dist/image/template/curva-3.png" alt="Bolinha" title="Bolinha">
        </div>
        <div class="space-h-30">
            <h1>Meu cadastro</h1>
        </div>
        <div class="register-box">
            <div class="row">
                <div class="col-12 col-sm-2 col-md-2">
                    <div class="register-btns">
                        <ul>
                            <li><button href="" id="button_step1" class="btn-default
                                    btn-full">Editar
                                    Perfil</button></li>
                            <li><button href="" id="button_step2" class="btn-default
                                    btn-full">Permissões</button></li>
                            <li><button href="" id="button_step3" class="btn-default
                                    btn-full">Senha</button></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-10 col-md-10">
                    <div class="register-content">
                        <form class="register-form" name="formRegister" method="post" id="formRegister">
                            <div class="profile-pic">
                                <figure>
                                    <a href="#">
                                        <img src="{{
                                            asset('_dist/image/template/profile.png')
                                            }}">
                                    </a>
                                </figure>
                                <span class="edit-btn">editar</span>
                            </div>

                            <div id="step1" class="step1 show">

                                <fieldset>
                                    <legend>Meus dados</legend>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-crm">CRM*:</label>
                                                <input type="text" name="register[crm]" id="register-crm" class="register-input" required />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3">
                                            <div class="space-h-10">
                                                <label for="register-uf">UF*:</label>
                                                <select name="register[crm_state]" id="register-uf" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="space-h-10">
                                                <label for="register-name">Nome
                                                    completo*:</label>
                                                <input type="text" name="register[name]" id="register-name" class="register-input" required />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="space-h-10">
                                                <h5 id="warning_email" style="display:
                                                    none;">Já Existe um cadastro com esse email!
                                                </h5>
                                                <label for="register-email">E-mail*:</label>
                                                <input type="email" name="register[email]" id="register-email" class="register-input" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-3 col-md-3">
                                            <div class="space-h-10">
                                                <label for="register-cel">Celular*:</label>
                                                <input type="text" name="register[cellphone]" id="register-cel" class="register-input" required />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-5 col-md-5">
                                            <div class="space-h-10">
                                                <label for="register-especialidade">Especialidade*:</label>
                                                <select name="register[specialty]" id="register-especialidade" required>
                                                    {% if specialties%}
                                                    {% for specialty in
                                                    specialties %}
                                                    <option value="{{
                                                        specialty.id }}"
                                                        id="{{ specialty.id }}">{{
                                                        specialty.specialty }}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-residente-sim" required>Residente?*:</label>
                                                <label for="register-residente-sim" class="register-label-radio"><input
                                                        type="radio"
                                                        name="register[resident_doctor]"
                                                        value="true"
                                                        id="register-residente-sim"
                                                        /> Sim</label>

                                                <label for="register-residente-nao" class="register-label-radio"><input
                                                        type="radio"
                                                        name="register[resident_doctor]"
                                                        value="false"
                                                        id="register-residente-nao"
                                                        /> Não</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-12 col-sm-12 col-md-12">
                                            <div class="space-h-10">
                                                <label for="register-centro-medico">Centro
                                                    médico:*:</label>
                                                <select name="register[medical_center]" id="register-centro-medico" required></select>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Endereço do consultório:</legend>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-cep">CEP:</label>
                                                <input type="text" name="register[cep]" id="register-cep" class="register-input" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="space-h-10">
                                                <label for="register-endereco">Endereço:</label>
                                                <input type="text" name="register[street]" id="register-endereco" class="register-input" required />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-2 col-md-2">
                                            <div class="space-h-10">
                                                <label for="register-numero">numero:</label>
                                                <input type="text" name="register[number]" id="register-numero" class="register-input" required />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-complemento">Complemento:</label>
                                                <input type="text" name="register[complement]" id="register-complemento" class="register-input" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-bairro">Bairro:</label>
                                                <input type="text" name="register[district]" id="register-bairro" class="register-input" required />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-cidade">Cidade:</label>
                                                <input type="text" name="register[city]" id="register-cidade" class="register-input" required />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-uf-consultorio">UF*:</label>
                                                <select name="register[uf]" id="register-uf-consultorio" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <fieldset id="step2" class="hide" >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-sm-10 col-md-10 col-lg-10">
                                            <div class="register-permissions">
                                                <div>
                                                    <h2>Permissões</h2>
                                                </div>
                                                <div class="registration-form">
                                                    <div class="form-check">
                                                        <input class="form-check-input
                                                            receive_news" name="register[receive_news]" type="checkbox" value="" id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            Aceito receber notícias e
                                                            informações por e-mail e
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input
                                                            terms_of_use" name="register[terms_of_use]" type="checkbox" value="" id="flexCheckChecked" required>
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            Li e estou de acordo com os
                                                            termos de uso*
                                                        </label>
                                                    </div>
                                                    <a href="{{ path('home_termos') }}" target="_blank">Ler os termos de uso</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="step3" class="hide">
                                <div class="container register-permissions">
                                    <div>
                                        <h2>Senha</h2>
                                        <h5 id="warning_senha" style="display:
                                            none;">As Senhas digitadas não correspondem
                                        </h5>
                                    </div>

                                    <div class="registration-form">
                                        <div class="input-field">
                                            <input type="password" id="password" name="register[password]" class="" aria-describedby="password" placeholder="Senha" required>
                                        </div>
                                        <div class="input-field">
                                            <input type="password" id="password_confirm" class="" aria-describedby="password" placeholder="Confirme a sua senha" required>
                                        </div>

                                    </div>

                                    <div class="g-recaptcha registration-form" data-sitekey="INSIRA-AQUI-A-CHAVE-DO-SITE"></div>
                            </fieldset>

                            <div class="text-center space-h-30">
                                <button id="submit_form" type="submit" class="btn-default
                                        btn-gradient" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'cadastro', 'eventAction': 'click', 'eventLabel': 'perfil:salvar'});">Salvar</button>


                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>



{% endblock %} {% block javascripts %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).scroll(function() {
        movedToDownbyScroll('.element-5', -20);
    });
    $(document).ready(function() {

        var ufPessoal = ["", "AL", "AP", "AM", "BA", "CE", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "DF"];

        $("#register-uf").select2({
            data: ufPessoal
        });

        var ufconsultorio = ["", "AL", "AP", "AM", "BA", "CE", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "DF"];

        $("#register-uf-consultorio").select2({
            data: ufconsultorio
        });

        var areaAtuacao = ["", "Ginecologista e Obstetra", "Gastroentrologista", "Clínico Geral", "Pediatra", "Oftalmo", "Reumatologista", "Ortopedista", "Endocrinologista", "Cardiologista", "Vascular", "Psiquiatra", "Neurologista", "Alergologista", "Pneumologista", "Otorrinolaringologista", "Geriatra", "Outras"];

        $("#register-especialidade").select2({
            data: areaAtuacao
        });


        var centroMedico = [
            "",
            "CEMA HOSPITAL ESPECIALIZADO LTDA",
            "CEMIL",
            "CLINICA OTORRINUS",
            "CLÍNICA PEDRO CAVALCANTI",
            "CLINIVAN CLÍNICA DE OTORRINOLARINGOLOGIA BP",
            "CONJUNTO HOSPITALAR (LEONOR, PUC E REGIONAL)",
            "CONJUNTO HOSPITALAR DO MANDAQUI",
            "ESCOLA PAULISTA DE MEDICINA",
            "FACULDADE DE MEDICINA DE PETROPOLIS",
            "GAFREE - UNIRIO",
            "GAFREE - UNIRIO",
            "HC - HOSPITAL DAS CLÍNICAS",
            "HC - HOSPITAL DAS CLÍNICAS-GO.",
            "HCFMUSP- HOSPITAL DAS CLÍNICAS DE SÃO PAULO",
            "HCFMUSP- HOSPITAL DAS CLÍNICAS DE SÃO PAULO",
            "HCRP - HOSPITAL DAS CLINICAS DE RIBEIRÃO PRETO",
            "HGV - AMBULATÓRIO ZAUM",
            "HOSP. INFTANTIL ALBERT SABIN",
            "HOSP. UNIV. ONOFRE LOPES (HOSPEP - RES. PED)",
            "HOSP. VARELA SANTIAGO",
            "HOSPITA PAULISTA DE OTORRINO",
            "HOSPITAL AGAMENOM MAGALHAES",
            "HOSPITAL ARLINDA MARQUES",
            "HOSPITAL BARAO DE LUCENA",
            "HOSPITAL BELO HORIZONTE",
            "HOSPITAL BETTINA FERRO",
            "HOSPITAL BOS SOROCABA",
            "HOSPITAL CELSO RAMOS",
            "HOSPITAL DA CRIANÇA",
            "HOSPITAL DA CRUZ VERMELHA BRASILEIRA",
            "HOSPITAL DA LAGOA",
            "HOSPITAL DARCY VARGAS",
            "HOSPITAL DAS CLINICAS",
            "HOSPITAL DAS CLINICAS DE MARILIA",
            "HOSPITAL DAS CLINICAS DE SÃO PAULO - HCFMUSP",
            "HOSPITAL DAS FORÇAS ARMADAS - HFA",
            "HOSPITAL DE BASE",
            "HOSPITAL DE BASE",
            "HOSPITAL DE CLÍNICAS",
            "HOSPITAL DO SERVIDOR - IAMSPE",
            "HOSPITAL E MATERNIDADE SANTA CASA DE MISERICÓRDIA",
            "HOSPITAL ESAU MATOS",
            "HOSPITAL ESTADUAL DE FEIRA DE SANTANA",
            "HOSPITAL FEDERAL DA LAGOA",
            "HOSPITAL FELÍCIO ROCHO",
            "HOSPITAL GERAL DE CUIBA",
            "HOSPITAL GERAL DE FORTALEZA",
            "HOSPITAL GERAL DE FORTALIZA",
            "HOSPITAL GUILHERME ALVARO",
            "HOSPITAL HAOC",
            "HOSPITAL INFANTIL DE CACHOEIRO DE ITAPEMIRIM",
            "HOSPITAL INFANTIL DE JOINVILLE",
            "HOSPITAL INFANTIL DE PALMAS",
            "HOSPITAL INFANTIL JOANA DE GUSMÃO",
            "HOSPITAL INFANTIL LUCILIO PORTELA",
            "HOSPITAL INFANTIL SEARA DO BEM",
            "HOSPITAL IRMÃ DULCE",
            "HOSPITAL JUVENCIO MATOS",
            "HOSPITAL MARCILIO DIAS",
            "HOSPITAL MATERNO INFANTIL",
            "HOSPITAL MATERNO INFANTIL (PED)",
            "HOSPITAL MATERNO INFANTIL PRESIDENTE VARGAS",
            "HOSPITAL MUNICIPAL DE FOZ",
            "HOSPITAL MUNICIPAL INFANTIL MENINO JESUS",
            "HOSPITAL MUNICIPAL TATUAPÉ",
            "HOSPITAL OTORRINO DE MATO GROSSO",
            "HOSPITAL PEQUENO ANJO",
            "HOSPITAL PEQUENO PRINCIPE",
            "HOSPITAL PROF EDMUNDO VASCONCELOS",
            "HOSPITAL PUC",
            "HOSPITAL PUCC",
            "HOSPITAL REGIONAL",
            "HOSPITAL REGIONAL DE PONTA GROSSA",
            "HOSPITAL REGIONAL DO PARANOÁ",
            "HOSPITAL SAMUEL LIBÂNIO",
            "HOSPITAL SANTA CASA",
            "HOSPITAL SANTA CASA",
            "HOSPITAL SANTA CASA DE CURITIBA/ HOSPITAL CAJURU",
            "HOSPITAL SANTA ISABEL",
            "HOSPITAL SANTA MARCELINA",
            "HOSPITAL SANTA MARCELINA ITAQUERA",
            "HOSPITAL SANTO ANTONIO",
            "HOSPITAL SÃO CAMILO",
            "HOSPITAL SÃO LUCAS DE CASCAVEL",
            "HOSPITAL SÃO VICENTE DE PAULO",
            "HOSPITAL SERVIDOR PUBLICO MUNICIPAL",
            "HOSPITAL UNESP BOTUCATU",
            "HOSPITAL UNESP DE BOTUCATU",
            "HOSPITAL UNIVERSITÁRIO",
            "HOSPITAL UNIVERSITÁRIO - C. GRANDE",
            "HOSPITAL UNIVERSITARIO ADRIANO JORGE",
            "HOSPITAL UNIVERSITÁRIO DA ULBRA",
            "HOSPITAL UNIVERSITÁRIO DE BRASÍLIA",
            "HOSPITAL UNIVERSITÁRIO DE LONDRINA PR",
            "HOSPITAL UNIVERSITÁRIO DE SANTA MARIA - HUSM",
            "HOSPITAL UNIVERSITARIO JULIO MULLER",
            "HOSPITAl UNIVERSITÁRIO(HU)",
            "HOSPITAL VEREDAS",
            "HOSPTAL DA CRIANÇA",
            "HOSPTAL DE OTORRINOS DE SJRP (HIORP)",
            "HRC - HOSPITAL REGIONAL DE CEILÂNDIA",
            "HRT - HOSPITAL REGIONAL DE TAGUATINGA",
            "HSVP",
            "HU - UNIVERSIDADE FEDERAL DE JUIZ DE FORA",
            "HUAP",
            "HUPE - HOSPITAL UNIVERSITARIO PEDRO ERNESTO",
            "IAMSP",
            "IMIP",
            "INOOA",
            "INSTITUTO DE OTORRINO DR.AUREO COLOMBI",
            "INSTITUTO DE OTORRINOLARINGOLOGIA DE BELO HORIZONTE",
            "INSTITUTO HOSPITAL DE BASE DO DISTRITO FEDERAL",
            "INSTITUTO PENIDO BURNIER",
            "IPO",
            "NOROSPAR",
            "POLICLINICA DE BOTAFOGO",
            "POLICLINICA PATO BRANCO",
            "PPRONTO SOCORRO TRAUMATOLOGICO MARCILIO DIAS LTDA",
            "PRONTO BABY",
            "RES. OTO HOSPITAL ONOFRE LOPES - HUOL",
            "SANTA CASA",
            "SANTA CASA DE BELÉM",
            "SANTA CASA DE MISERICÓRDIA",
            "SANTA CASA DE MISERICÓRDIA DE SÃO PAULO",
            "SANTA CASA DE MISERICORDIA DE SÃO PAULO",
            "SANTA CASA DE PORTO ALEGRE",
            "SANTA ISABEL - HSI",
            "SENSORIUM",
            "SEPTO SERVIÇOS ESPECIALIZADOS DE TRATAMENTO OTORRINOLARINGOL",
            "SOS OTORRINO",
            "STA CASA DE MISERICORDIA DE JUIZ DE FORA",
            "UFTM - UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO / PEDIATRIA",
            "UFU - UNIVERDADE FEDERAL DE UBERLÂNDIA",
            "UNICAMP",
            "UNISC",
            "USF/HOSPITAL UNIVERSITÁRIO SÃO FRANCISCO DE ASSIS",
            "USP - UNIVERSIDADE DE SÃO PAULO - CAMPUS BAURU",
            "OUTROS"
        ];
        $("#register-centro-medico").select2({
            data: centroMedico
        });

        $("#button_step1").on('click', function() {
            if ($('#step1').hasClass('hide')) {
                $('.show').addClass('hide').removeClass('show');
                $('#step1').addClass('show').removeClass('hide');
            }
        });
        $("#button_step2").on('click', function() {
            if ($('#step2').hasClass('hide')) {
                $('.show').addClass('hide').removeClass('show');
                $('#step2').addClass('show').removeClass('hide');
            }
        });

        $("#button_step3").on('click', function() {
            if ($('#step3').hasClass('hide')) {
                $('.show').addClass('hide').removeClass('show');
                $('#step3').addClass('show').removeClass('hide');
            }
        });

        $("#next_step").on("click", function() {

            $('.show').addClass('hide').removeClass('show');
            $('#step3').addClass('show').removeClass('hide');
        });

        $("#register-email").on("change", () => {

            if ($('#register-email').val() != '') {
                $.get("/verifica/" + $('#register-email').val(), function(resultado) {

                    if (resultado["hasEmail"] == true) {
                        document.getElementById('warning_email').style.cssText = 'display: inline-block; color: red; font-size: 15px; font-weight: 800;  width: 100%; text-align: center; margin-bottom: 1em;';
                        setTimeout(function() {
                            document.getElementById('warning_email').style.cssText = 'display: none';
                        }, 3000);
                    }
                })
            }
        });
        $("#submit_form").on('click', function() {
            if ($('.receive_news').is(':checked')) {
                $('.receive_news').val(true)
            } else {
                $('.receive_news').val(false)
            }

            if ($('.terms_of_use').is(':checked')) {
                $('.terms_of_use').val(true)
            }

            if ($('#password').val() != $('#password_confirm').val()) {
                event.preventDefault();
                document.getElementById('warning_senha').style.cssText = 'display: inline-block; color: red; font-size: 25px; font-weight: 800;  width: 100%; text-align: center; margin-bottom: 1em;';
                setTimeout(function() {
                    document.getElementById('warning_senha').style.cssText = 'display: none';
                }, 3000);
            }
        });

    });
</script>
{% endblock %}