{% extends 'front/base.html.twig' %} {% block title %}Home{% endblock %} {% block body %}
<div class="page-home">
    <section class="home-top container" id="section">
        <div class="home-top-text">
            <div class="lettering-area">
                <img class="" src="{{
                    asset('_dist/image/template/lettering-area.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="imgSection">
                <img class="" src="{{
                    asset('_dist/image/template/home_01_conheca.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="lettering-medica">
                <img class="" src="{{
                    asset('_dist/image/template/lettering-medica.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
        </div>
    </section>
    <div class="paralax bolinha-1 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax bolinha-2">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    {{ include('front/component/sessao-educacao-medica.html.twig') }}
    {{ include('front/component/sessao-artigos-cientificos.html.twig') }} 
    {# {{ include('front/component/sessao-eventos.html.twig') }}  #}
    {{ include('front/component/sessao-noticias.html.twig') }}


</div>
{% endblock %} {% block javascripts %}
<script>
    $(window).scroll(function() {
        movedToDownbyScroll('.bolinha-1', -10);
        movedToDownbyScroll('.bolinha-2', -10);
        movedToDownbyScroll('.lettering-home', -30);
        movedToDownbyScroll('.home-top .imgSection img', 30);
    });

    $(document).ready(function() {

        if ($(window).width() < 960) {

            if ($(".nosso-proposito-body .slides").length) {

                $('.nosso-proposito-body .slides').addClass('owl-carousel');
                $(".nosso-proposito-body .slides").owlCarousel({
                    nav: true,
                    items: 1
                });
            }

            if ($("#section-eventos .slides").length) {

                $('#section-eventos .slides').addClass('owl-carousel');
                $("#section-eventos .slides").owlCarousel({
                    nav: true,
                    items: 1
                });
            }

        }

    });
</script>
{% endblock %}