{% extends 'front/base.html.twig' %} {% block title %}Login{% endblock %} {% block body %}
<section class="page-cadastro">
    <div class="container">
        <div class="bg-top animation-element">
            <div class="bg-top-img-1 bg-top-img"></div>
            <div class="container text-center bg-top-img-main">
                <img class="" src="{{
                    asset('_dist/image/template/cadastro-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
            </div>
            <div class="bg-top-img-2 bg-top-img"></div>
        </div>
        <div class="paralax element-5 hidden-xs">
            <img src="/_dist/image/template/curva-3.png" alt="Bolinha" title="Bolinha">
        </div>
        <div class="register-box">
            <div class="row">

                <div class="col-12 col-sm-10 col-md-10">
                    <div class="register-content">
                        <form class="register-form" name="login" method="post" id="login">

                            <fieldset id="">
                                <div class="container register-permissions">
                                    <div>
                                        <h2>Login</h2>
                                        {% if error != " " %}
                                        <h4 style="text-align: center;
                                            margin-bottom: 2em;
                                            color: red;">{{error}}</h4>
                                        {% endif %}
                                    </div>

                                    <div class="registration-form">
                                        <div class="input-field">
                                            <input type="email" id="email" name="login[email]" class="" aria-describedby="email" placeholder="Digite seu Email" required>
                                        </div>
                                        <div class="input-field">
                                            <input type="password" id="password" name="login[password]" class="" aria-describedby="password" placeholder="Digite a sua
                                                senha" required>
                                        </div>

                                    </div>
                            </fieldset>

                            <div class="text-center space-h-30">
                                <button id="submit_form" type="submit" class="btn-default
                                        btn-gradient">Salvar</button>


                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>



{% endblock %} {% block javascripts %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).scroll(function() {
        movedToDownbyScroll('.element-5', -20);
    });
    $(document).ready(function() {

        $("#submit_form").on('click', function() {
            if ($("#email").val() == "" || $("#password").val() == "") {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}