<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title>
        Mantecorp Farmasa
    </title>	
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="background:#ffffff; width: 600px; font-family: 'Georgia', 'Times News Roman', serif;" align="center">
        <tr>
            <td>
                <a href="https://areamedica.mantecorpfarmasa.com.br" target="_blank"><img src="https://areamedica.novo.mantecorp.webcenter.net.br/_dist/image/template/logo.png" alt="" style="display: block;">
            </td>
        </tr>

        <tr>
            <td>
              <img src="https://areamedica.novo.mantecorp.webcenter.net.br/_dist/image/template/verifica-email.png" alt="" style="display: block;">
          </td>
        </tr>  
        <tr>
            <td>
              <img src="https://areamedica.novo.mantecorp.webcenter.net.br/_dist/image/template/carta1.png" alt="" style="display: block;">
          </td>
        </tr>  
        <tr>
            <td>
                <img src="https://areamedica.novo.mantecorp.webcenter.net.br/_dist/image/template/finalizar1.png" alt="" style="display: block;">
          </td>
        </tr>  
        <tr>
          <td>
                <a href="{{ url }}" target="_blank">
                    <img src="https://areamedica.novo.mantecorp.webcenter.net.br/_dist/image/template/botao1.png" alt="" style="display: block;">
                </a>
          </td>
        </tr>    
        
        <tr>
            <td>
                <a href="https://areamedica.mantecorpfarmasa.com.br/" target="_blank"><img src="https://areamedica.novo.mantecorp.webcenter.net.br/_dist/image/template/rodape.png" alt="" style="display: block;"></a>
            </td>
        </tr>
        
        
    </table>
</body>

</html>