{% extends 'front/base.html.twig' %}

{% block title %}Política de Privacidade{% endblock %}

{% block body %}
<section class="page-busca">
    <div class="container">
        <div class="bg-top sem-prescricao">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img">
                <img class="" src="{{ asset('_dist/image/template/lettering-mantecorp.png') }}" alt="Conheça a Mantecorp " title="Conheça a Mantecorp ">
            </div>
        </div>
        <div class="space-h-30 text-center">
            <h1 class="title-button">Aviso de Privacidade Mantecorp Farmasa – Área Médicos</h1>
        </div>


        <div class="news-text">

            <h2>1. Objetivo</h2>
            <p>
                O objetivo deste aviso de privacidade é apresentar como tratamos os dados pessoais dos usuários do site Mantecorp Farmasa – Área Médicos, bem como os direitos relacionados ao uso dessas informações. 
            </p>
            <p>
                Este aviso foi desenvolvido em atenção às leis aplicáveis sobre privacidade e proteção de dados pessoais, em especial a Lei Geral de Proteção de Dados (“Lei Federal nº 13.709/2018” ou “LGPD”).
            </p>

            <h2>2. Identificação do responsável e dados de contato</h2>

            <p>
                O Site Mantecorp Farmasa – Área Médicos é de responsabilidade da Hypera S.A., empresa inscrita no CNPJ/MF sob o nº 02.932.074/006-04, com sede na Avenida Magalhães de Castro, nº 4.800, 24º andar, cj. 241, Ed. Continental Tower, Cidade Jardim, São Paulo/SP, CEP 05502-001 (“Hypera Pharma”). 
            </p>
            <p>
                Em caso de dúvidas e/ou solicitações relacionadas às informações apresentadas nesse aviso de privacidade, envie uma mensagem para o nosso encarregado pelo tratamento de dados: 
            </p>
            <p>
                <strong>Nome:</strong> João Paulo Mello de Macedo Costa <br>
                <strong>Canal de contato:<strong> dpo@hypera.com.br
            </p>
            <h2>3.	Finalidades e dados pessoais tratados no site Mantecorp Farmasa – Área Médicos</h2>

            <p>
                Descrevemos abaixo os dados pessoais coletados/fornecidos através do site Mantecorp Farmasa - Área Médicos e as respectivas finalidades para utilização dessas informações:  
            </p>
            <div class="hold-table">
                <table width="100%">
                    <tbody>
                        <tr>
                            <th>Dados pessoais tratados</th>
                            <th>Finalidades</th>
                        </tr>
                        <tr>
                            <td>
                                <ul class="text-left">
                                    <li>Nome completo</li>
                                    <li>CRM</li>
                                    <li>Estado de registro do CRM</li>
                                    <li>Número de documento oficial</li>
                                    <li>Endereço de e-mail</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="text-left">
                                    <li>Nome completo</li>
                                    <li>CRM</li>
                                    <li>Estado de registro do CRM</li>
                                    <li>Número de documento oficial</li>
                                    <li>Endereço de e-mail	<li>Permitir cadastro no site Mantecorp Farmasa;</li>
                                    <li>Permitir o envio de notícias e novidades relacionadas à área da saúde; e</li>
                                    <li>Permitir o atendimento de dúvidas e/ou solicitações gerais dos titulares de dados.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="text-left">
                                    <li>Cookies</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="text-left">
                                    <li>Permitir a disponibilização de conteúdo customizado e exclusivo de acordo com as preferências de navegação do usuário.</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <h2>4. Tempo de armazenamento e medidas de segurança</h2>

            <p>
               Os dados pessoais coletados e/ou fornecidos através do site Mantecorp Farmasa – Área Médicos são mantidos de forma segura e confidencial pela Hypera Pharma e terceiros apenas durante o período necessário para alcance dos objetivos apresentados nesse aviso e, em alguns casos, por período complementar, desde que tais informações se mostrem relevantes para o cumprimento de obrigações legais e regulatórias, exercício regular de direitos ou outras atividades que, justificadamente, sejam do interesse da Hypera Pharma e/ou de outras empresas com quem tais dados foram compartilhados.
            </p>

            <h2>5.	Compartilhamento de dados pessoais</h2>
            <p>
                Limitamos o compartilhamento dos dados pessoais coletados e/ou fornecidos através do site Mantecorp Farmasa – Área Médicos. Apresentamos a seguir as situações e os terceiros que podem acessar essas informações:
            </p>
            <div class="hold-table">
                <table width="100%">
                    <tbody>
                        <tr>
                            <th>Destinatário</th>
                            <th>Finalidades</th>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <strong>1.</strong> Autoridades competentes
                            </td>
                            <td class="text-left">
                                Atendar obrigações legais, regulatórias e assegurar o atendimento de requisições oficiais.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <strong>2.</strong> Fornecedores/prestadores de serviço
                            </td>
                            <td class="text-left">
                                Permitir a gestão e funcionamento dos serviços disponíveis no site Mantecorp Farmasa – Área Médicos.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <strong>3.</strong> Empresas afiliadas à Hypera Pharma	
                            </td>
                            <td class="text-left">
                                Permitir gestão centralizada dos negócios da Hypera Pharma, respeitados os objetivos descritos no presente aviso.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <h2>6. Direitos assegurados pela Lei Geral de Proteção de Dados </h2>
            <p>
                Os usuários do site Mantecorp Farmasa – Área Médicos possuem direitos assegurados pela LGPD, os quais podem ser exercidos mediante solicitação enviada ao canal de contato disponível nesse aviso. 
            </p>
            <p>
                As solicitações podem ser feitas pelo próprio usuário ou por representante devidamente habilitado.
            </p>
            <p>
                O exercício desses direitos depende do preenchimento dos critérios compatíveis com a legislação vigente, como a validação da identidade do solicitante e a inexistência de restrições técnicas e/ou jurídicas.
            </p>
            <p>
            
                A seguir, apresentamos os direitos garantidos pela LGPD: 
            </p>
            <p>
                De acordo com a LGPD, é possível:
            </p>
            <ul>
                <li>Solicitar confirmação acerca do tratamento dos seus dados pessoais;</li>

                <li>Solicitar acesso aos seus dados pessoais;</li>

                <li>Solicitar a correção dos dados pessoais, desde que incorretos, inexatos ou desatualizados;</li>

                <li>Solicitar a anonimização, bloqueio ou eliminação dos dados pessoais, desde que desnecessários, excessivos ou tratados em desacordo com a LGPD;</li>

                <li>Solicitar a portabilidade dos dados pessoais, de acordo com a regulamentação da Autoridade Nacional de Proteção de Dados;</li>

                <li>Solicitar a eliminação dos dados pessoais tratados mediante sua autorização;</li>

                <li>Solicitar a revogação de eventual autorização para tratamento dos seus dados pessoais;</li>

                <li>Solicitar informações sobre possíveis consequências em caso de não fornecimento de autorização para tratamento de dados;</li>

                <li>Solicitar informações sobre compartilhamento de dados pessoais com terceiros; </li>

                <li>Solicitar oposição ao tratamento dos dados pessoais realizado em desacordo com a LGPD; </li>

                <li>Solicitar a revisão de decisões tomadas exclusivamente de forma automática (sem participação humana) e/ou o fornecimento dos critérios considerados para a tomada dessa decisão; e</li>

                <li>Peticionar à Autoridade Nacional de Proteção de Dados em relação ao tratamento de seus dados pessoais.</li>

            </ul>

            <h2>7. Atualizações deste aviso de privacidade </h2>
            <p>Este aviso de privacidade foi atualizado pela última vez em 05 de maio de 2022.</p>
        </div>

        
    </div>
</section>

{% endblock %}