{% extends 'front/base.html.twig' %}

{% block title %}Termos de Uso{% endblock %}

{% block body %}
<section class="page-busca">
    <div class="container">
        <div class="bg-top sem-prescricao">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img">
                <img class="" src="{{ asset('_dist/image/template/lettering-mantecorp.png') }}" alt="Conheça a Mantecorp " title="Conheça a Mantecorp ">
            </div>
        </div>
        <div class="space-h-30 text-center">
            <h1 class="title-button">Termos de Uso</h1>
        </div>
        <div class="news-text">
            <h2>1.	Apresentação</h2>
            <p>
                O site Mantecorp Área Médica (o “Site”), os serviços oferecidos (os “Serviços”) são de responsabilidade da Hypera S.A., inscrita no CNPJ/MF sob o nº 02.932.074/0001-91, localizada na Avenida Magalhães de Castro, nº 4800, CEP: 05676-120 (“Hypera Pharma”). 
            </p>
            <p>
               O Site proporciona aos Usuários acesso a conteúdo educacional diverso, como pílulas de conhecimento, webinars e cursos de ensino à distância sobre doenças, formas de diagnóstico e possíveis tratamentos. Além disso, o Site proporciona acesso às últimas notícias relacionadas à área da saúde. 
            </p>
            <h2>2. Privacidade</h2>
            <p>
                As informações pessoais fornecidas e/ou coletadas em razão do acesso ao Site, as finalidades para utilização desses dados e os direitos relacionados a essas informações podem ser encontrados no aviso de privacidade do Site, disponível em: <a href="https://areamedica.mantecorpfarmasa.com.br/politica-de-privacidade" target="_blank">https://areamedica.mantecorpfarmasa.com.br/politica-de-privacidade</a>
            </p>
            <h2>3.	Custos de Conectividade e Equipamentos</h2>
            <p>
                O Usuário é o único responsável por todos os serviços de telefonia, conexão à internet, e/ou outras taxas e custos associados ao seu acesso e uso dos Serviços disponíveis no Site, além dos custos de manutenção de conexão, computadores e outros equipamentos necessários para o acesso a esses Serviços. 
            </p>

            <h2>4.	Custos e Taxas</h2>
            <p>
                Cadastrar-se no Site, escolher e assistir cursos gratuitos, são caracterizados como serviços gratuitos, isto é, sem custos.
            </p>
            <p>
                Em caso de cursos comercializados pelo site, será necessário o pagamento de acordo com os valores e a forma prevista para cada curso.
            </p>
            <p>
                É possível que os valores previstos para os cursos pagos sejam temporariamente alterados, quando, por exemplo, realizados  eventos promocionais, ou quando do lançamento de novos Serviços. 
            </p>
            <p>
                Todas as taxas são cobradas em Reais (BRL). O Usuário é responsável por pagar todas as taxas e impostos associados aos produtos/serviços adquiridos através do Site, em tempo hábil, através de método de pagamento válido.
            </p>


            <h2>5.	Conteúdo</h2>
            <p>
                Todo conteúdo disponível no Site é de propriedade da Hypera Pharma, incluindo, mas não se limitando ao nome empresarial, a marca, o domínio, o código-fonte, bem como as informações disponíveis nos Serviços desse portal e estão protegidos nos termos da legislação aplicável, sendo que o acesso ao Site configura mera licença de uso. Assim, não é permitida, exceto quando expressamente e formalmente autorizado pela Hypera Pharma, o emprego desses elementos para propósitos diversos à utilização do Site. 
            </p>
            <p>
                Ainda, ao adquirir ou acessar um curso e/ou demais Serviços disponíveis no Site, o Usuário não poderá revender ou distribuir esse conteúdo. 
            </p>
            <p>
                Eventuais violações a direitos autorais da Hypera Pharma e/ou terceiros devem ser comunicadas ao canal: contato@mantecorpfarmasa.com.br.
            </p>
            <h2>6.	Obrigações dos Usuários</h2>
            <p>
                Como alguém que busca conteúdo educacional, o Usuário possui as seguintes responsabilidades: 
            </p>

            <ul>
                <li>Fornecer informações exatas, precisas e verdadeiras no processo de cadastro no Site;</li>
                <li>Possuir mais de 12 (doze) anos de idade; </li>
                <li>Abster-se de praticar qualquer conduta ilícita e/ou não permitida;</li>
                <li>Comunicar à Hypera Pharma qualquer vulnerabilidade relacionada ao login/senha cadastrados no Site; </li>
                <li>Comunicar à Hypera qualquer conduta ilícita e/ou em desacordo com o presente termo de uso;</li>
                <li>Ler e respeitar as informações de preços (ver seção “Serviço”) antes de usar o Site; e</li>
                <li>Abster-se de manipular ou interferir no Site.</li>
            </ul>

            <p>
                A Hypera Pharma se isenta de qualquer responsabilidade em razão de eventual conteúdo gerado pelos Usuários cadastrados no Site, assim como por eventuais danos (diretos ou indiretos) provocados em razão de tal conteúdo. 
            </p>
            <p>
                A Hypera Pharma não possui responsabilidade relacionada à perda da qualidade de conexão dos Usuários cadastrados, tampouco quanto à incompatibilidade técnica do Site com os dispositivos das pessoas cadastradas. 
            </p>

            <h2>7.	Registro e Proteção de Identidade</h2>
            <p>
                Para utilizar os Serviços, o Usuário precisará se cadastrar no Site e definir uma conta de usuário (“login”) e senha de acesso. 
             </p>
            <p>
                O login/senha de acesso, definidos pelo Usuário cadastrado, são de uso pessoal, intransferível e não compartilhável, devendo ser armazenados de forma segura e sigilosa. 
             </p>
            <p>
                O Usuário é o único responsável por manter a confidencialidade da sua conta(s) nome(s) e senha(s) (a “Conta”) e para todas as atividades e responsabilidades associadas com ou que ocorram em sua conta. 
             </p>
            <p>
                O Usuário deve notificar à Hypera Pharma imediatamente sobre qualquer uso não autorizado de sua Conta e qualquer outra violação de segurança e assegurar-se que saia de sua Conta ao final de cada sessão. 
             </p>
            <p>
                O Usuário não pode transferir sua Conta e não pode usar a Conta de qualquer outro Usuário sem a expressa autorização deste.
            </p>

            <h2>8.	Veracidade de Informações</h2>

            <p>Em relação ao uso dos Serviços disponíveis no Site, o Usuário concorda em: </p>

            <p>
                (a) fornecer informações verdadeiras, exatas, atuais e completas sobre si;<br> 
                (b) manter e atualizar prontamente seus dados para mantê-los verdadeiros, exatos, atuais e completos; e<br>
                (c) cumprir os presentes Termos. 
            </p>

            <p>
                Caso o Usuário forneça qualquer informação falsa, inexata e/ou desatualizada, a Hypera Pharma se reserva ao direito de suspender ou encerrar a conta(s) do Usuário(s) e recusar ou restringir qualquer uso futuro dos Serviços.
            </p>

            <h2>9.	Uso Permitido do Conteúdo disponível no Site</h2>
            <p>
                O Usuário pode baixar e imprimir um número razoável de cópias da documentação fornecida ou disponível no Site, desde que para uso pessoal ou educacional e não comercial. 
            </p>
            <p>
                Nesse sentido, a Hypera Pharma concede ao Usuário do Site uma licença limitada, não-perpétua, revogável, intransferível, não atribuível e não exclusiva e livre de royalties para acessar e utilizar os Serviços do Site.
            </p>

            <h2>10.	Links</h2>
            <p>
                O Site ou os Serviços podem fornecer links para outros sites de terceiros (os “Sites de Terceiros”). Como a Hypera Pharma não possui controle sobre Sites de Terceiros, esta não é responsável pela disponibilidade desses portais, bem como sobre o conteúdo, publicidade, produtos, serviços ou outros materiais disponíveis nesses sites.
            </p>
            <h2>11.	Condutas não permitidas</h2>
            <p>São condutas proibidas ao acessar e/ou utilizar os serviços disponíveis no Site:</p>
            <ul>
                <li>Produzir e/ou transmitir informações e materiais em desconformidade com a legislação brasileira, inclusive quanto a direitos autorais;</li>
                <li>Realizar atitudes discriminatórias, ilícitas, antiéticas e/ou imorais; </li>
                <li>Utilizar dispositivo, software ou qualquer recurso que venha a interferir no bom funcionamento e/ou na segurança do Site;</li>
                <li>Copiar, replicar, reproduzir ou comercializar qualquer conteúdo contido no Site, inclusive códigos-fonte, sem prévia autorização da Hypera Pharma;</li>
            </ul>
            <p>
                O acesso ao Site e/ou aos serviços disponíveis nesse portal podem ser interrompidos, suspensos ou cancelados, a qualquer momento, a critério da Hypera Pharma, caso constatada a prática de quaisquer das condutas acima e/ou atos em desconformidade com a legislação aplicável. 
            </p>
            <h2>12.	Modificação dos Serviços</h2>
            <p>
                A Hypera Pharma poderá adicionar, alterar ou eliminar características, nomenclaturas, preços e outros aspectos dos serviços e fazer outras alterações a qualquer momento e estes Termos continuarão a aplicar-se aos Serviços modificados. 
            </p>
            <p>
                A Hypera Pharma se reserva ao direito de (a qualquer momento) e de tempos em tempos, modificar ou descontinuar, temporariamente ou permanentemente, o Site ou os Serviços (ou qualquer parte deles) com ou sem aviso prévio. 
            </p>

            <h2>13.	Mudanças nos Termos de Serviço</h2>
            <p>
                A Hypera Pharma se reserva ao direito, quando necessário, com ou sem aviso prévio, de alterar estes Termos a seu critério exclusivo e absoluto. A versão mais recente destes Termos pode ser revista, clicando em “Termos de Serviço”, localizado na parte inferior das páginas do site. A versão mais atual dos Termos substituirá todas as versões anteriores. 
            </p>
            <h2>14.	Paralisação dos Serviços</h2>
            <p>
                A Hypera Pharma pode encerrar a sua utilização no Site ou nos Serviços, a qualquer tempo,  sem aviso prévio, em caso de violação desses termos ou da legislação aplicável. 
            </p>
            <h2>15.	Condições gerais e canal de contato</h2>
            <p>
                A concordância com os termos de uso do Site é requisito essencial para sua utilização. Assim, a Hypera Pharma e o Usuário reconhecem a validade da anuência, manifestada por meio eletrônico, durante o processo de cadastro, nos termos da Medida Provisória nº. 2.200-2/2001. 
            </p>
            <p>
                Em caso de dúvidas/sugestões, acesse o canal “contato” no site <a href="https://mantecorpfarmasa.com.br/" target="_blank">https://mantecorpfarmasa.com.br/</a>
            </p>
        </div>
    </div>
</section>

{% endblock %}