
{% extends 'admin/admin.html.twig' %}

{% block title %}Usuários Médicos{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Usuários Médicos', 'link': path('admin_medical_user'), 'page':'Usuários Médicos'} %}
    <!-- /.content-header -->
<!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-6 offset-3">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Cadastro</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="box-body">
                    {{ form_widget(form) }}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    <a href="{{ path('admin_medical_user') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    // A $( document ).ready() block.
    console.log(document.getElementById("medical_user_cep"));
     let cep;
     let urlCorrerios = 'https://viacep.com.br/ws/';
      $("#medical_user_cep").on("change", function() {
         cep = $(this).val();
           
              let adress = $.get( urlCorrerios+cep+'/json',function(result){
               console.log(result.logradouro);
               $("#medical_user_street").val(result.logradouro); 
               $("#medical_user_district").val(result.bairro) ;
               $("#medical_user_city").val(result.localidade);
               $("#medical_user_state").val(result.uf);
              });
            });
     </script>
{% endblock %}

