{% extends 'front/base.html.twig' %}

{% block title %}Página não encontrada{% endblock %}

{% block body %}
<section class="page-busca">
    <div class="container">
        <div class="bg-top sem-prescricao">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img">
                <img class="" src="{{ asset('_dist/image/template/lettering-mantecorp.png') }}" alt="Conheça a Mantecorp " title="Conheça a Mantecorp ">
            </div>
        </div>
        <div class="space-h-30 text-center">
          <h1 class="title-button">Página não encontrada</h1>
          <div class="space-h-30 text-center">
            <a href="{{ path('home') }}" class="btn-default">Voltar à página inicial</a>
          </div>
        </div>
    </div>
</section>

{% endblock %}