
{% extends 'admin/admin.html.twig' %}

{% block title %}Folhetos{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Folhetos', 'link': path('admin_flyer'), 'page':'editar'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-6 offset-3">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Editar</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="box-body">
                    {{ form_widget(form) }}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    <a href="{{ path('admin_flyer') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
{% endblock %}

