
{% extends 'admin/admin.html.twig' %}

{% block title %}Folhetos{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Folhetos', 'link': path('admin_flyer'), 'page':'folhetos'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        
                        {% if user_acess.isCreate %}
                        <div class="col-2">
                            <a href="{{ path('admin_flyer_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>Produto</th>
                  <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                {% for flyer in flyers %}
                <tr>
                  <td>{{ flyer.name }}</td>   
                              
                  <td>
                        {{ flyer.product}}
                  </td>
                   
                  {# <td>{{ categories.isActive ? 'SIM' : 'NÃO'}}</td> #}
                  <td>
                    <div class="row">
                      {% if user_acess.isUpdate %}
                      <!-- /.col -->
                      <div class="col-4 offset-2">
                        <a href="{{ path('admin_flyer_edit', {'id': flyer.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                      </div>
                      {% endif %}
                      {% if user_acess.isDelete %}
                      <div class="col-4 offset-2">
                        <a href="{{ path('admin_flyer_delete', {'id': flyer.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                      </div>
                      {% endif %}
                      <!-- /.col -->
                    </div>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Produto</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

