
{% extends 'admin/admin.html.twig' %}

{% block title %}Categoria de Notícias{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Categoria de Notícias', 'link': path('admin_news_categories'), 'page':'categoria de notícias'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        {% if user_acess.isCreate %}
                        <div class="col-2">
                            <a href="{{ path('admin_news_categories_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Slug</th>
                  {# <th>Ativo</th> #}
                  <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                {% for categories in news_categories %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ categories.name }}</td>
                  <td>{{ categories.slug }}</td>
                  {# <td>{{ categories.isActive ? 'SIM' : 'NÃO'}}</td> #}
                  {% if user_acess.isUpdate %}
                  <td class="center">
                      <div class="col-12">
                          <a href="{{ path('admin_news_categories_edit', {'id': categories.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                      </div>
                  </td>
                  {% endif %}
                  {% if user_acess.isDelete %}
                  <td class="center">
                      <div class="col-12">
                          <a href="{{ path('admin_news_categories_delete', {'id': categories.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                      </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Slug</th>
                  {# <th>Ativo</th> #}
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

