{% extends 'front/base.html.twig' %} {% block title %}Produtos{% endblock %} {% block body %}

{% set letter = letra ? letra : '' %}

<style>
@media (min-width: 961px) {
.products-page .busca-produtos .products-src-select .especialidades-box {
        right: -197px;
    }
}
</style>
<section class="products-page container" id="produtos">
    <!-- Mudar a classe sem prescricao -->
    <div class="bg-top sem-prescricao">
        <figure class="seta hidden-xs">
            <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
        </figure>
        <div class="bg-top-img-1 bg-top-img"></div>
    </div>
    <div class="paralax element-1-top-left hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-1.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax element-1 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="d-none">
        <h1>Produtos</h1>
    </div>


    <div class="busca-produtos animation-element">
        <div class="products-src-row">
            <div class="products-src-form" id="form-src">
                <form action="" method="get">
                    <button type="submit" id="btn-src"></button>
                    <input type="text" placeholder="Busca por nome" name="q" id="src-top" class="search search-input" required onclick="dataLayer.push({ 'event':'GAEvent',
                        'eventCategory': 'produtos', 'eventAction': 'click',
                        'eventLabel': 'busca-produto'});">
                </form>
            </div>

            <div class="products-src-alphabet">
                <ul>
                    <li><a href="{{ path('letra' ,{'letra' :'A'})}}" data-letter="A" class="search {{ letter == "A" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-A'});">A</a>{{ letter == "A" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'B' })}}" data-letter="B" class="search {{ letter == "B" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-B'});">B</a>{{ letter == "B" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'C' })}}" data-letter="C" class="search {{ letter == "C" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-C'});">C</a>{{ letter == "C" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'D' })}}" data-letter="D" class="search {{ letter == "D" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-D'});">D</a>{{ letter == "D" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'E' })}}" data-letter="E" class="search {{ letter == "E" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-E'});">E</a>{{ letter == "E" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'F' })}}" data-letter="F" class="search {{ letter == "F" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-F'});">F</a>{{ letter == "F" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'G' })}}" data-letter="G" class="search {{ letter == "G" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-G'});">G</a>{{ letter == "G" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'H' })}}" data-letter="H" class="search {{ letter == "H" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-H'});">H</a>{{ letter == "H" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'I' })}}" data-letter="I" class="search {{ letter == "I" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-I'});">I</a>{{ letter == "I" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'J' })}}" data-letter="J" class="search {{ letter == "J" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-J'});">J</a>{{ letter == "J" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'K' })}}" data-letter="K" class="search {{ letter == "K" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-K'});">K</a>{{ letter == "K" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'L' })}}" data-letter="L" class="search {{ letter == "L" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-L'});">L</a>{{ letter == "L" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'M' })}}" data-letter="M" class="search {{ letter == "M" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-M'});">M</a>{{ letter == "M" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'N' })}}" data-letter="N" class="search {{ letter == "N" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-N'});">N</a>{{ letter == "N" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'O' })}}" data-letter="O" class="search {{ letter == "O" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-O'});">O</a>{{ letter == "O" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'P' })}}" data-letter="P" class="search {{ letter == "P" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-P'});">P</a>{{ letter == "P" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'Q' })}}" data-letter="Q" class="search {{ letter == "Q" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-Q'});">Q</a>{{ letter == "Q" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'R' })}}" data-letter="R" class="search {{ letter == "R" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-R'});">R</a>{{ letter == "R" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'S' })}}" data-letter="S" class="search {{ letter == "S" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-S'});">S</a>{{ letter == "S" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'T' })}}" data-letter="T" class="search {{ letter == "T" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-T'});">T</a>{{ letter == "T" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'U' })}}" data-letter="W" class="search {{ letter == "U" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-U'});">U</a>{{ letter == "U" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'V' })}}" data-letter="W" class="search {{ letter == "V" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-V'});">V</a>{{ letter == "V" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'W' })}}" data-letter="X" class="search {{ letter == "W" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-W'});">W</a>{{ letter == "W" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'X' })}}" data-letter="X" class="search {{ letter == "X" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-X'});">X</a>{{ letter == "X" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'Y' })}}" data-letter="Y" class="search {{ letter == "Y" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-Y'});">Y</a>{{ letter == "Y" ? '<span class="close-filter">X</span>' : '' }}</li>
                    <li><a href="{{ path('letra',{'letra': 'Z' })}}" data-letter="Z" class="search {{ letter == "Z" ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-Z'});">Z</a>{{ letter == "Z" ? '<span class="close-filter">X</span>' : '' }}</li>
                </ul>
            </div>
            
            <div class="products-src-select">
                <div class="especialidades-itens">
                    <div class="especialidades-btn">
                        <p class="especialidades-action-btn">Especialidades</p>
                        <div class="git especialidades-box">
                            {# <span class="close-filter-specialties" style="float: right; cursor: pointer; font-size: 18px;">X</span> #}
                            <form>
                                <ul class="specialties" id="busca_category">

                                    {% if specialties is not null and specialties|length > 0 %} {% for specialty in specialties %}
                                    <li><label onclick='searchValue({{specialty.id}})' for="{{ specialty.id }}"><input
                                                type="radio" name="{{
                                                specialty.id }}" value="{{
                                                specialty.specialty }}" id="{{
                                                specialty.id }}">{{
                                            specialty.specialty }}</label></li>
                                    {% endfor %} {% endif %}

                                </ul>
                            </form>
                        </div>
                    </div>
                    <p class="especialidades-selected"><span></span><a class="especialidades-clear">x</a></p>
                </div>
            </div>
        </div>
        <div class="space-h-40">
            <div class="products-src-row products-src-btn">
                <a href="{{ path('lancamentos')}}" data-type="lancamento" class="btn-default btn-purple product-type {{ type ==
                    'lancamento' ? 'active' : '' }}" onclick="dataLayer.push({
                    'event':'GAEvent', 'eventCategory': 'produtos',
                    'eventAction': 'click', 'eventLabel': 'Lançamentos'});">Lançamentos</a>
                <a href="{{ path('todos')}}" data-type="todos" class="btn-default btn-purple product-type {{ type ==
                    'todos' ? 'active' : '' }}" onclick="dataLayer.push({
                    'event':'GAEvent', 'eventCategory': 'produtos',
                    'eventAction': 'click', 'eventLabel': 'Todos'});">Todos</a>
                <a href="{{ path('prescritos')}}" data-type="com-prescricao" class="btn-default btn-purple product-type {{ type ==
                    'com-prescricao' ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent',
                    'eventCategory': 'produtos', 'eventAction': 'click',
                    'eventLabel': 'Com Prescrição'});">Com Prescrição</a>
                <a href="{{ path('isentos')}}" data-type="isento" class="btn-default btn-purple product-type {{ type ==
                    'isento' ? 'active' : '' }}" onclick="dataLayer.push({
                    'event':'GAEvent', 'eventCategory': 'produtos',
                    'eventAction': 'click', 'eventLabel': 'Sem Prescrição'});">Sem
                    Prescrição</a>
            </div>
        </div>
    </div>

    
    <div id="products">
    {% if products is not null and products|length > 0 %}
        {% for product in products %}
        <div class="products-table animation-element">
            <div class="products-table-col products-table-logo">
                <div class="products-table-title">
                    <h3>Logo</h3>
                </div>
                <div class="products-table-info">
                    <figure>
                        <a href="{{ path('produto',{'slug': product.slug} )}}" onclick="dataLayer.push({ 'event':'GAEvent',
                            'eventCategory': 'produtos', 'eventAction': 'click',
                            'eventLabel': '{{product.name}}'});">
                            {% if product.image %}
                                <img src="{{ asset( product.image ) }}" style="background-image:url({{ asset(
                                    product.image ) }}); background-size:contain;
                                    background-repeat: no-repeat;
                                    background-position: center;" alt="{{product.name}}" title="{{product.name}}" width="200px">
                            {% else %}
                                <div class="icone">
                                    <img src="{{ asset('_dist/image/template/icone-sem-bula.png') }}" alt="Bula" title="bula">
                                </div>
                            {% endif %}
                        </a>
                    </figure>
                </div>
            </div>
           
            <div class="products-table-col products-table-name">
                <div class="products-table-title">
                    <h3>Nome</h3>
                </div>
                <div class="products-table-info">
                    <p><a href="{{ path('produto',{'slug': product.slug} )}}" onclick="dataLayer.push({ 'event':'GAEvent',
                            'eventCategory': 'produtos', 'eventAction': 'click',
                            'eventLabel': '{{product.name}}'});">{{product.name}}</a></p>
                    {% if type == "todos" %} {% if product.isLancamento == true %}
                    <span class="lancamentos">Lançamento</span> {% endif %} {% else %} {% if product.isLancamento == true %}
                    <span class="lancamentos">Lançamento</span> {% endif %} {% endif %}
                </div>
            </div>
            {% if product.descriptive %}
            <div class="products-table-col products-table-description">
                <div class="products-table-title">
                    <h3>Administração</h3>
                </div>
                <div class="products-table-info">
                    <a href="{{ path('produto',{'slug': product.slug} )}}" onclick="dataLayer.push({ 'event':'GAEvent',
                        'eventCategory': 'produtos', 'eventAction': 'click',
                        'eventLabel': '{{product.name}}'});">{{product.descriptive|raw}}</a>
                </div>
            </div>
            {% endif %}

            <div class="products-table-col products-table-bula">
                <div class="products-table-title">
                    <h3>Bula</h3>
                </div>
                <div class="products-table-info">
                    {% if product.bula %}
                        <div class="icone icone-bula"><a href=" {{product.bula}}" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'bula:{{product.name}}'});"></a></div>
                    {% else %}
                        <div class="icone icone-sem-bula">X</div>
                    {% endif %}  
                </div>
            </div>


            <div class="products-table-col products-table-onde-encontrar">
                <div class="products-table-title">
                    <h3>Onde&nbsp;encontrar</h3>
                </div>
                <div class="products-table-info">
                    {% if product.find %}
                    <div class="icone icone-kart">
                        <a href="{{product.find}}" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent',
                            'eventCategory': 'produtos', 'eventAction': 'click',
                            'eventLabel': 'onde-encontrar:{{product.name}}'});"></a>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endfor %}

    {% else %}
        <h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado</h2>
    {% endif %}
    </div>
   
   

</section>
<div class="element-bottom-right paralax hidden-xs">
  <img src="{{ asset('_dist/image/template/curva-bottom-right.png') }}" alt="Bolinha" title="Bolinha">
</div>


{% endblock %} {% block javascripts %}
<script>
    $(window).scroll(function() {
        movedToDownbyScroll('.element-1', -10);
    });

    function searchValue(value) {
        search({
            's': $(`#${value}`).val(),
            'e': value
        })
    }

    function search(values) {
        var content = $('#products')

        $.ajax({
            url: "{{ path('produtos') }}",
            type: 'POST',
            dataType: 'json',
            data: values,
            beforeSend: function() {
                content.html('<h2 class="text-center space-h-40" style="margin: auto;">Carregando...</h2>')
            },
            success: function(data) {
                content.html('');

                if (data.response.length > 0) {
                    for (var i = 0; i < data.response.length; i++) {

                        host = '/'
                        var template_lacamento = '';
                        var template_bula = '';
                        var template_find = '';

                        if (data.response[i].bula) {
                            template_bula = '<div class="products-table-col products-table-bula">' +
                                                '<div class="products-table-title">' +
                                                    '<h3>Bula</h3>' +
                                                '</div>' +
                                                '<div class="products-table-info">' +
                                                    '<div class="icone icone-bula"><a href="' + data.response[i].bula + '" target="_blank" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'bula:' + data.response[i].name + '\'});"></a></div>' +
                                                '</div>' +
                                            '</div>'                
                        } else {
                                template_bula = '<div class="products-table-col products-table-bula">' +
                                                '<div class="products-table-title">' +
                                                    '<h3>Bula</h3>' +
                                                '</div>' +
                                                '<div class="products-table-info">' +
                                                    '<div class="icone icone-sem-bula">X</div>' +
                                                '</div>' +
                                                '</div>' ;
                        }

                        template_find = ''
                        if (data.response[i].find) {
                            template_find =  '<div class="products-table-info">' +
                                                '<div class="icone icone-kart"><a href="' + data.response[i].find + '" target="_blank" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'onde-encontrar:' + data.response[i].name + '\'});"></a></div>' +
                                            '</div>'             
                        }
                        
                        let image;
                        if (data.response[i].image) {
                            image = '<img src="' + data.response[i].image +'" style="background-image:url(' + data.response[i].image +'); background-size:contain; background-repeat: no-repeat; background-position: center;" alt="'+ data.response[i].name +'" title="'+ data.response[i].name +'" width="200px">';
                        } else {
                            image = '<div class="icone">' +
                                        '<img src="/_dist/image/template/icone-sem-bula.png" alt="Bula" title="bula">' +
                                    '</div>';                                
                        }
                        
                        content.append('' +

                            '<div class="products-table">' +
                            '<div class="products-table-col products-table-logo">' +
                            '<div class="products-table-title">' +
                            '<h3>Logo</h3>' +
                            '</div>' +
                            '<div class="products-table-info">' +
                            '<figure>' +
                            '<a href="/produto/' + data.response[i].slug + '"  onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'' + data.response[i].name + '\'});">' +
                                image +
                            '</a>' +
                            '</figure>' +
                            '</div>' +
                            '</div>' +
                            '<div class="products-table-col products-table-name">' +
                            '<div class="products-table-title">' +
                            '<h3>Nome</h3>' +
                            '</div>' +
                            '<div class="products-table-info">' +
                            '<p><a href="/produto/' + data.response[i].slug + '" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'' + data.response[i].name + '\'});">' + data.response[i].name + '</a></p>' +
                            template_lacamento +
                            '</div>' +
                            '</div>' +
                            '<div class="products-table-col products-table-description">' +
                            '<div class="products-table-title">' +
                            '<h3>Administração</h3>' +
                            '</div>' +
                            '<div class="products-table-info">' +
                            '<a href="/produto/' + data.response[i].slug + '" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'' + data.response[i].name + '\'});">' + data.response[i].descriptive + '</a>' +
                            '</div>' +
                            '</div>' +
                            template_bula +
                                '<div class="products-table-col products-table-onde-encontrar">' +
                                    '<div class="products-table-title">' +
                                        '<h3>Onde&nbsp;encontrar</h3>' +
                                    '</div>' +
                                    template_find +
                                '</div>' +
                            '</div>' +
                            '');

                    }
                } else {
                    var string = ''
                    if (values.hasOwnProperty('l')) {
                        string = ' letra "' + values.l + '"'
                    } else {
                        string = ' "' + values.s + '"'
                    }

                    content.html('<h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado para ' + string + '</h2>')
                }
            },
            error: function(data) {
                console.log(data);
            }
        });
    }

    $(document).ready(function() {
        var host = '{{ app.request.getSchemeAndHttpHost() }}'

        var url = $(location).attr('href'),
            url = decodeURIComponent(url),
            parts = url.split("/"),
            last_part = parts[parts.length - 2];

        if (parts[4] == 'especialidade') {
            console.log("teste" + parts[5]);

            $('.especialidades-btn').removeClass('active especialidades-action-btn');
            $('.especialidades-selected').addClass('active');
            $('.especialidades-selected span').text(parts[5]);
        }


        $('.products-src-select .especialidades-action-btn').unbind('click').on('click', function() {
            $(this).toggleClass('active');
            $('.especialidades-box').toggleClass('active');

            if ($('.especialidades-selected').hasClass('active')) {
                $('.especialidades-selected').removeClass('active');
            }
        });

        $('.products-src-select .especialidades-btn').hover(function() {
            $('.especialidades-box').show()
        }, function() {
            $('.especialidades-box').hide()  
        });

        /*
        $('.close-filter-specialties').unbind('click').on('click', function(){
            if($('.especialidades-box').hasClass('active')){
                $('.especialidades-box').removeClass('active');
                $('.especialidades-selected').removeClass('active');
            }
        });
        */

        $('.specialties li').unbind('click').on('click', function() {
            var str = $(this).find('input').val();
            console.log(str);
            $('.especialidades-box').removeClass('active');
            $('.especialidades-btn').removeClass('active especialidades-action-btn');
            $('.especialidades-selected').addClass('active');
            $('.especialidades-selected span').text(str);
        });

        $('.especialidades-selected').on('click', function() {
            window.location.href = "{{path('todos')}}"
        });

        $('.product-type').on('click', function(e) {
            var value = $('.search-input').val()
            var product_type = $(this).data('type')

            $('.products-src-btn a').removeClass('active')
            $(this).addClass('active')

            search({
                's': value,
                't': product_type
            })
        })

        $('.search').on('keyup', function(e) {
            var value = $('.search-input').val()
            var product_type = $('.products-src-btn a.active').data('type')
            search({
                's': value,
                't': product_type
            })
        })

        $('.search').on('click', function(e) {
            var value = $('.search-input').val()
            var letter = $(this).data('letter')
            var product_type = $('.products-src-btn a.active').data('type')

            if ((!value) || (value.trim() == "")) {
                if (letter) {
                    
                } else {
                    return false;
                }
            }

            search({
                's': value,
                'l': letter,
                't': product_type
            })
        })

        $('.close-filter').on('click', function(){
            window.location.href = "{{path('todos')}}"
        });



        //   $('.specialties>li>label>input').on('click', function(e) {

        //var especialidades = $('.specialties>li>label>input').val()
        //var value = document.getElementsByClassName(this).id;          
        // alert(especialidades);
        //   
        // })



    })

    /*
        $("#busca_category").on('change', function(){
           let categoria = document.getElementById("busca_category");
           let value = categoria.options[categoria.selectedIndex].value;
         
           let url = "{{path('produto_categoria',{ 'categoria': 'value' })}}"; 
           url = url.replace("value",value);
           console.log(url)
           location.href = url;

        })
        */
</script>
{% endblock %}