{% extends 'front/base.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block body %}
<section class="products-page container" id="produtos">
    <!-- Mudar a classe sem prescricao -->
    <div class="bg-top sem-prescricao">
        <figure class="seta hidden-xs">
            <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
        </figure>
        <div class="bg-top-img-1 bg-top-img"></div>
    </div> 
    <div class="">
        <h1>Medicamentos com Prescrição</h1>
    </div>

    <div class="busca-produtos animation-element">
        <div class="products-src-row">           
            <div class="products-src-form" id="form-src">
                <form action="" method="get">
                    <button type="submit" id="btn-src"></button>
                    <input type="text" placeholder="Busca por nome" name="q" id="src-top" required>
                </form>
            </div>

            <div class="products-src-alphabet">
                <ul>
                    <li><a href="#">A</a></li>
                    
                </ul>
            </div>
            
            <div class="products-src-select">
                <form>
                    <select>
                     {% if specialties is not null and specialties|length > 0 %}
                        {% for specialty in specialties %}
                            <option value="{{specialty.id}} ">{{specialty.specialty}}</option>
                        {% endfor %}
                    {% endif %}
                    </select>
                </form>
            </div>
        </div>
    </div>
    
    {% if products is not null and products|length > 0 %}
        {% for product in products %}
            <div class="products-table animation-element">
                <div class="products-table-col products-table-logo">
                    <div class="products-table-title">
                        <h3>Logo</h3>
                    </div>
                    <div class="products-table-info">
                        <figure>
                            <img src="{{ asset( product.image ) }}" style="background-image:url({{ asset( product.image ) }}); background-size:contain; background-repeat: no-repeat; background-position: center;" alt="" width="200px">
                        </figure>
                    </div>
                </div>
                <div class="products-table-col products-table-name">
                    <div class="products-table-title">
                        <h3>Nome</h3>
                    </div>
                    <div class="products-table-info">
                        <p> {{product.name}} </p>
                    </div>
                </div>
                <div class="products-table-col products-table-description">
                    <div class="products-table-title">
                        <h3>Administração</h3>
                    </div>
                    <div class="products-table-info">
                        <p> {{product.descriptive}} </p>
                    </div>
                </div>
                <div class="products-table-col products-table-bula">
                    <div class="products-table-title">
                        <h3>Bula</h3>
                    </div>
                    <div class="products-table-info">
                        <div class="icone"><a href=" {{product.bula}}" download><img src="{{ asset('_dist/image/template/bula-ico.svg') }}" alt="Bula"></a></div>
                    </div>
                </div>
                <div class="products-table-col products-table-onde-encontrar">
                    <div class="products-table-title">
                        <h3>Onde&nbsp;encontrar</h3>
                    </div>
                    <div class="products-table-info">
                        <div class="icone"><a href=" {{product.find}}" target="_blank"><img src="{{ asset('_dist/image/template/card-ico.svg') }}" alt="Card"></a></div>
                    </div>
                </div> 
            </div>
        {% endfor %}
    {% endif %}

  </section>

{% endblock %}
