{% extends 'front/base.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block body %}
<section class="products-page container" id="produto">
    <!-- Mudar a classe sem prescricao -->
    <div class="bg-top sem-prescricao">
        <figure class="seta hidden-xs">
            <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
        </figure>
        <div class="bg-top-img-1 bg-top-img"></div>
    </div> 
    <div class="paralax element-1-top-left hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-1.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax element-1 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="space-h-30">
        <div class="busca-produtos animation-element">
            <div class="products-src-row">           
                <div class="products-src-form" id="form-src">
                   <form action="" method="get">
                        <button type="submit" id="btn-src"></button>
                        <input type="text" placeholder="Busca por nome" name="q" id="src-top" class="search search-input" required  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto'});">
                    </form>
                </div>

                <div class="products-src-alphabet">
                    <ul>
                       <li><a href="{{ path('letra' ,{'letra' :'A'})}}" data-letter="A" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-A'});">A</a></li>
                    <li><a href="{{ path('letra',{'letra': 'B' })}}" data-letter="B" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-B'});">B</a></li>
                    <li><a href="{{ path('letra',{'letra': 'C' })}}" data-letter="C" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-C'});">C</a></li>
                    <li><a href="{{ path('letra',{'letra': 'D' })}}" data-letter="D" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-D'});">D</a></li>
                    <li><a href="{{ path('letra',{'letra': 'E' })}}" data-letter="E" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-E'});">E</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'F' })}}" data-letter="F" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-F'});">F</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'G' })}}" data-letter="G" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-G'});">G</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'H' })}}" data-letter="H" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-H'});">H</a></li>
                    <li><a href="{{ path('letra',{'letra': 'I' })}}" data-letter="I" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-I'});">I</a></li>
                    <li><a href="{{ path('letra',{'letra': 'J' })}}" data-letter="J" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-J'});">J</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'K' })}}" data-letter="K" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-K'});">K</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'L' })}}" data-letter="L" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-L'});">L</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'M' })}}" data-letter="M" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-M'});">M</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'N' })}}" data-letter="N" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-N'});">N</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'O' })}}" data-letter="O" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-O'});">O</a></li>
                    <li><a href="{{ path('letra',{'letra': 'P' })}}" data-letter="P" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-P'});">P</a></li>
                    <li><a href="{{ path('letra',{'letra': 'Q' })}}" data-letter="Q" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-Q'});">Q</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'R' })}}" data-letter="R" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-R'});">R</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'S' })}}" data-letter="S" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-S'});">S</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'T' })}}" data-letter="T" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-T'});">T</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'U' })}}" data-letter="W" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-U'});">U</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'V' })}}" data-letter="W" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-V'});">V</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'W' })}}" data-letter="X" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-W'});">W</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'X' })}}" data-letter="X" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-X'});">X</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'Y' })}}" data-letter="Y" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-Y'});">Y</a></li> 
                    <li><a href="{{ path('letra',{'letra': 'Z' })}}" data-letter="Z" class="search" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'busca-produto-letra-Z'});">Z</a></li>
                    </ul>
                </div>

                <div class="products-src-select">
                    <div class="especialidades-btn">
                        <p class="especialidades-action-btn">Especialidades</p>
                        <div class="especialidades-box">
                            <form>
                                <ul class="specialties" id="busca_category">
                                    
                                    {% if specialties is not null and specialties|length > 0 %}
                                        {% for specialty in specialties %}
                                        <li><a href="{{ path('produto_especialidade', {'especialidade': specialty.specialty} )}}" for="{{ specialty.id }}"><input  type="radio" name="{{ specialty.id }}" value="{{ specialty.specialty }}" id="{{ specialty.id }}" >{{ specialty.specialty }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                    
                                </ul>
                                {# <select class="specialties" id="busca_category">
                                {% if specialties is not null and specialties|length > 0 %}
                                    {% for specialty in specialties %}
                                        <option value="{{ specialty.id }} ">{{ specialty.specialty }}</option>
                                    {% endfor %}
                                {% endif %}
                                </select> #}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-h-20">
                <div class="space-h-40">
            <div class="products-src-row products-src-btn">
                <a href="{{ path('lancamentos')}} " data-type="lancamento" class="btn-default btn-purple product-type {{ type == 'lancamento' ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'Lançamentos'});">Lançamentos</a>
                <a href="{{ path('todos')}}" data-type="todos" class="btn-default btn-purple product-type {{ type == 'todos' ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'Todos'});">Todos</a>
                <a href="{{ path('prescritos')}}" data-type="com-prescricao" class="btn-default btn-purple product-type {{ type == 'com-prescricao' ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'Com Prescrição'});">Com Prescrição</a>
                <a href="{{ path('isentos')}}" data-type="isento" class="btn-default btn-purple product-type {{ type == 'isento' ? 'active' : '' }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'Sem Prescrição'});">Sem Prescrição</a>
            </div>
        </div>
            </div>
        </div>
    </div>
    <h1> {{product.name}} </h1>
    <div class="prod-bula-onde-encontrar">

        {% if product.bula %}
            <a href="{{product.bula}}" class="btn-default btn-bula" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'bula:{{product.name}}'});"><span>Bula</span></a>
        {% endif %}

        {% if product.find %}
            <a href="{{product.find}}" target="_blank" class="btn-default btn-onde-encontrar" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'onde-encontrar:{{product.name}}'});"><i class="fas fa-search"></i><span>Onde Encontrar</span></a>
        {% endif %}

        {% if product.knowmore %}
            <a href="{{product.knowmore}}" target="_blank" class="btn-default btn-onde-encontrar" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'saiba-mais:{{product.name}}'});"><i class="fas fa-link"></i><span>Saiba mais</span></a>
        {% endif %}
    </div>

    <div class="products-conetnt animation-element" id="products">
        <div class="row">
            <div class="col-12 col-sm-7 col-md-7 col-lg-7">
                 {% if product.descriptive %}
                    <h3>Administração</h2>
                        <p>
                             {{product.descriptive|raw}}
                         </p>
                {% endif %}
                  {% if type == "busca" and product.active_ingredient %}
                    <h3>Princípio ativo</h2>
                        <p>   
                            {{product.active_ingredient|raw}}
                        </p>
                  {% elseif product.activeIngredient %}   
                     <h3>Princípio ativo</h2>
                        <p>   
                            {{product.activeIngredient|raw}}
                        </p>                        
                  {% endif %}
                  {% if product.recommendation %}
                        <h3>Indicação</h2>
                            <p>                    
                                 {{product.recommendation|raw}}
                            </p>
                  {% endif %}
                  
                  {% if product.presentation %}
                    <h3>Apresentação</h2>
                        <p>                    
                            {{product.presentation|raw}}
                        </p>
                  {% endif %}
                  
            </div>
            
            
            <div class="col-12 col-sm-4 col-md-4 col-lg-4  col-md-offset-1">
                {% if categorias %}
                <div class="product-right-infos">
                    <h2>Informações práticas</h2>
                    <ul>
                      {% for categoria in categorias %}
                        <li class="info-praticas-list"> {{categoria.name}} </li>
                  {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if flyers %}
                    <div class="space-h-20">
                        <div class="product-right-infos">
                            <h2>Folhetos e Bulas</h2>
                            <ul>
                            {% for flyer in flyers %}
                                <li class="folhetos-bulas-list"><a href="{{flyer.file}}" target="_blank"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos', 'eventAction': 'click', 'eventLabel': 'folheto:{{product.name}}'});">{{flyer.name}}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>    
        </div>
    </div>

    {% if scientific_studies|length > 0 %}
        <div class="news-recent-posts-ckeck">
            <h2>Artigos científicos relacionados:</h2>

            <div id="news-arrow-prev1" class="arrow"></div>
            <div id="news-arrow-next1" class="arrow"></div>
            <div class="news-articles-slide">
                {% for scientific in scientific_studies %}

                    {% set evaluation = evaluation(app.user, 'estudos-cientificos', scientific.id) %}

                    <article class="related-articles">
                        <figure>
                            <a><img class="img-articles" src="{{ asset('_dist/image/template/noticia-small-pic.gif') }}" alt="{{ scientific.name }}" title="{{ scientific.name }}" style="background-image:url({{ asset(scientific.imageweb) }}); background-size:cover; background-position:center;" ></a>
                            <!-- Div hover material -->
                            <div class="hover-material">
                                <h3>{{ scientific.name }}</h3>
                                <p>{{ scientific.resume|raw }}</p>
                                <div class="hover-material-column">
                                    {% if scientific.file %}
                                        <a href="{{ scientific.file }}" data="teste" download><img src="{{ asset('_dist/image/template/circle-down.png') }}">&nbsp;&nbsp;&nbsp;Baixar</a>
                                    {% endif %}
                                    <div class="favorite">
                                        <button data-url="{{ path('add-favorite', {'id': scientific.id, 'type': 'estudos-cientificos'}) }}" class="like-button-post add-favorite">
                                            {% if evaluation.id is defined and evaluation.isActive %}
                                                <img class="com-favorito " src="{{ asset('_dist/image/template/with-heart.png') }}" alt="" title="">
                                            {% else %}
                                                <img class="sem-favorito" src="{{ asset('_dist/image/template/empty-heart.png') }}" alt="" title="">
                                            {% endif %}
                                        </button>
                                        
                                        <h4>&nbsp;&nbsp;&nbsp;Favoritar</h4>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a>{{ scientific.name }}</a></h3>
                    </article>
                {% endfor %}
            </div>
        </div> 
    {% endif %}
    
    {% if notices|length > 0 %}
        <div class="news-recent-posts-ckeck">
            <h2>Confira também:</h2>

            <div class="container new-events">
                <div class="row">
                    {% for news in notices %}
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                            <article class="post-item animation-element">
                                <figure>
                                    <a href="{{ path('blog_detail', {'slug': news.slug}) }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos:{{product.name}}', 'eventAction': 'click', 'eventLabel': 'confira-tambem:{{ news.title }}'});"><img src="{{ asset('_dist/image/template/noticia-small-pic.gif') }}" alt="{{ news.imageAlt }}" title="{{ news.imageTitle }}" style="background-image:url({{ asset(news.image) }}); background-size:cover; background-position:center;" ></a>
                                </figure>
                                <h3><a href="{{ path('blog_detail', {'slug': news.slug}) }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'produtos:{{product.name}}', 'eventAction': 'click', 'eventLabel': 'confira-tambem:{{ news.title }}'});">{{ news.title }}</a></h3>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
  </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $(".related-articles").hover(function() {
                $(this).find(".hover-material").show(); //hover in
            }, function() {
                $(this).find(".hover-material").hide(); //hover out
            });
        });
 
        function searchValue(value){ 
           search({'s':  $(`#${value}`).val() , 'e':value})
        }

        function search(values) {
            var content = $('#products')
           
            $.ajax({
                url: "{{ path('produtos') }}",
                type: 'POST',
                dataType: 'json',
                data: values,
                beforeSend: function(){
                    content.html('<h2 class="text-center space-h-40" style="margin: auto;">Carregando...</h2>')
                },
                success: function(data) {  
                    content.html('');  
                  
                    if (data.response.length > 0) {
                        for (var i = 0; i < data.response.length; i++) {

                            host = '/' 
                            var template_lacamento = ''; 
                            var template_bula = ''; 
                            var template_find = ''; 

                            /**
                            if (data.response[i].lacamento) {
                                template_lacamento = '<span class="lancamentos">Lançamentos</span>'               
                            }
                            */

                            if (data.response[i].bula) {
                                template_bula = '<div class="products-table-col products-table-bula">' +
                                                    '<div class="products-table-title">' +
                                                        '<h3>Bula</h3>' +
                                                    '</div>' +
                                                    '<div class="products-table-info">' +
                                                        '<div class="icone"><a href="' + data.response[i].bula + '" target="_blank" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'bula:' + data.response[i].name + '\'});"><img src="' + host + '_dist/image/template/bula-ico.svg" alt="Bula" title="Bula"></a></div>' +
                                                    '</div>' +
                                                '</div>'                
                            } else {
                                    template_bula = '<div class="products-table-col products-table-bula">' +
                                                    '<div class="products-table-title">' +
                                                        '<h3>Bula</h3>' +
                                                    '</div>' +
                                                    '<div class="products-table-info">' +
                                                        '<div class="icone"><img src="/_dist/image/template/icone-sem-bula.png" alt="Sem Bula" title="bula"></div>' +
                                                    '</div>' +
                                                    '</div>' ;
                            }

                            template_find = ''
                            if (data.response[i].find) {
                                template_find =  '<div class="products-table-info">' +
                                                    '<div class="icone"><a href="' + data.response[i].find + '" target="_blank" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'onde-encontrar:' + data.response[i].name + '\'});"><img src="' + host + '_dist/image/template/card-ico.svg" alt="Card" title="Onde Encontrar"></a></div>' +
                                                '</div>'             
                            }
                        
                            let image;
                            if (data.response[i].image) {
                                image = '<img src="' + data.response[i].image +'" style="background-image:url(' + data.response[i].image +'); background-size:contain; background-repeat: no-repeat; background-position: center;" alt="' + data.response[i].name + '"  title="' + data.response[i].name + '" width="200px">' 
                              
                            } else {  
                                image = '<div class="icone">' +
                                            '<img src="/_dist/image/template/icone-sem-bula.png" alt="Bula" title="bula">' +
                                        '</div>';                              
                            }

                            
                            content.append('' +

                                '<div class="products-table">' +
                                    '<div class="products-table-col products-table-logo">' +
                                        '<div class="products-table-title">' +
                                            '<h3>Logo</h3>' +
                                        '</div>' +
                                        '<div class="products-table-info">' +
                                        '<figure>' +
                                                '<a href="/produto/'+ data.response[i].slug +'" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'' + data.response[i].name + '\'});">' +
                                                    image +
                                                '</a>' +
                                            '</figure>' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="products-table-col products-table-name">' +
                                        '<div class="products-table-title">' +
                                            '<h3>Nome</h3>' +
                                        '</div>' +
                                        '<div class="products-table-info">' +
                                            '<p><a href="/produto/'+ data.response[i].slug +'" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'' + data.response[i].name + '\'});">' + data.response[i].name + '</a></p>' +
                                             template_lacamento +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="products-table-col products-table-description">' +
                                        '<div class="products-table-title">' +
                                            '<h3>Administração</h3>' +
                                        '</div>' +
                                        '<div class="products-table-info">' +
                                            '<a href="/produto/'+ data.response[i].slug +'"onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'produtos\', \'eventAction\': \'click\', \'eventLabel\': \'' + data.response[i].name + '\'});">' + data.response[i].descriptive + '</a>' +
                                        '</div>' +
                                    '</div>' +
                                    template_bula +
                                        '<div class="products-table-col products-table-onde-encontrar">' +
                                            '<div class="products-table-title">' +
                                                '<h3>Onde&nbsp;encontrar</h3>' +
                                            '</div>' +
                                            template_find +
                                        '</div>' +
                                    '</div>' +
                            '');
                                                        
                        }
                    } else {
                        var string = ''
                        if (values.hasOwnProperty('l') ) {
                            string = ' letra "' + values.l + '"'
                        } else {
                            string = ' "' + values.s + '"'
                        }
                        
                        content.html('<h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado para ' + string +'</h2>')
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });
        }

        $(document).ready(function(){
            $('.products-src-select .especialidades-btn').on('click', function(){
                $(this).toggleClass('active');
                $('.especialidades-box').toggleClass('active');
            });
        
            if($(".products-more-content .slides").length) {
				$(".products-more-content .slides").owlCarousel({
					margin: 20,
                    responsiveClass: true,
                    nav: true,
                    items: 4,
                    responsive:{
                        0:{
                            items: 1,
                        },
                        960:{
                            items: 4,
                        }
                    }
					
				});
			}
        


            var host = '{{ app.request.getSchemeAndHttpHost() }}'
        
            $('.product-type').on('click', function(e) {
                var value = $('.search-input').val()
                var product_type = $(this).data('type')

                $('.products-src-btn a').removeClass('active')
                $(this).addClass('active')

                search({'s': value, 't': product_type})
            })

            $('.search').on('keyup', function(e) {
                var value = $('.search-input').val()
                var product_type = $('.products-src-btn a.active').data('type')
                search({'s': value, 't': product_type})
            })

            $('.search').on('click', function(e) {
                var value = $('.search-input').val()
                var letter = $(this).data('letter')
                var product_type = $('.products-src-btn a.active').data('type')
                search({'s': value, 'l': letter, 't': product_type})
            })

        })

</script>
{% endblock %}
