dirImg = '_dist/image'
fastTransition = .1s all ease-in-out
normalTransition = .15s all ease-in-out
slowTransition = .3s all ease-in-out
colorDefault = #ED7026
colorGray = #707070
colorRed = #D80C3A

@font-face {
    font-family: 'Quicksand regular';
    src: url('../fonts/QuickSand/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/QuickSand/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand light';
    src: url('../fonts/QuickSand/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/QuickSand/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand medium';
    src: url('../fonts/QuickSand/Quicksand-Medium.woff2') format('woff2'),
        url('../fonts/QuickSand/Quicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand bold';
    src: url('../fonts/QuickSand/Quicksand-Bold.woff2') format('woff2'),
        url('../fonts/QuickSand/Quicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand SemiBold';
    src: url('../fonts/QuickSand/Quicksand-SemiBold.woff2') format('woff2'),
        url('../fonts/QuickSand/Quicksand-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Extra Light';
    src: url('../fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('../fonts/montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Thin';
    src: url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Semi Bold';
    src: url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto MediumItalic';
    src: url('Roboto-MediumItalic.woff2') format('woff2'),
        url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto LightItalic';
    src: url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto BoldItalic';
    src: url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto ThinItalic';
    src: url('../fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


*
    list-style none
    padding 0
    margin 0
    box-sizing border-box
    text-decoration none
    
body
    color colorGray
    overflow-x hidden
    font-family 'Arial', 'Helvetica', 'sans-serif'
    font-family: 'Roboto Regular';

    &.open-modal, &.open
        overflow: hidden

    @media(max-width 960px)
        padding-top 120px

hr
    margin 50px 0
    display block
    background: linear-gradient(90deg, rgba(216,12,58,1) 0%, rgba(245,101,39,1) 33%, rgba(245,101,39,1) 63%, rgba(216,12,58,1) 100%);
    height 6px
    border none
    border-radius 3px


h1
    margin-bottom 15px
    line-height 1.2em
    font-family: 'Montserrat Light';
    color colorDefault

h2
    font-family: 'Montserrat Light';
    font-size: 2.5em;
    color colorDefault

    @media(max-width: 960px)
        font-size 30px

p
    font-size 16px
    font-family: 'Roboto Light';
    //margin-bottom 20px


small
    font-size 0.8em

big
    font-size 1.3em


.container, .container--narrow
    max-width 1280px
    margin 0 auto

    @media(max-width 1400px)
        max-width 1024px

.container-small
    max-width 700px

.btn-
    &default
        display inline-block
        text-align center
        width 200px
        font-size 1em
        color colorDefault
        border-radius 20px
        border 1px solid colorRed
        padding 3px 40px
        cursor pointer
        transition .3s ease background
        text-transform uppercase

        &:hover
            background colorDefault
            color #FFF
            text-decoration none

    &border-purple
        border 1px solid colorRed
        background #FFF
        color colorDefault

        &:hover
            background colorRed

    &border-purple-gray
        border 1px solid colorRed
        background #FFF
        color #707070

        &:hover
            background colorRed

    &orange
        border 1px solid colorDefault
        background colorDefault
        color #FFF

        &:hover
            background #FFF
            color colorDefault

    &purple
        border 1px solid colorRed
        background #FFF
        color colorRed

        &:hover
            background colorRed
            color #FFF

    &full
        width 100%

    &gradient
        background: linear-gradient(110deg, rgba(245,101,39,1) 30%, rgba(216,12,58,1) 60%);
        font-family: 'Montserrat Semi Bold';
        font-size: 16px
        color #FFF

        &:hover
            background #FFF
            color colorDefault


.events-button
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    border-radius: 40px;
    padding: 4px 30px;
    background colorRed
    margin-bottom 10px
    margin-top 20px
    font-family: 'Montserrat Light';

.title-button
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    border-radius: 40px;
    padding: 8px 50px;
    background colorRed
    margin-bottom 40px
    font-family: 'Montserrat Light';

    a
        color #FFF

.title-button-orange
    background colorDefault

.title-button-small
    font-size 20px

.title-button-full
    width 100%


.text-
	// Text aligment
	&center
		text-align center
	&right
		text-align right
	&left
		text-align left
	// Text coloring
	&blue
        color colorDarkBlue
	&white
		color #FFF

	@media(min-width 960px)
		&large
			font-size 22px
	// Text styling
	&upper
		text-transform uppercase
	&bold
		font-weight bolder
	&normal
		font-weight normal


.align-
	&center
		display table
		margin auto
	&left
		float left
	&right
		float right
	&vertical-
		&top
			align-items flex-start
		&center
			align-items center
		&bottom
			align-items flex-end
.space-
	&h-
		&10
			padding 10px 0
		&20
			padding 20px 0
		&30
			padding 30px 0
		&40
			padding 40px 0
		&50
			padding 50px 0
	&v-
		&10
			padding 0 10px
		&20
			padding 0 20px
		&30
			padding 0 30px
		&40
			padding 0 40px
		&50
			padding 0 50px
.space-h-5
    padding 5px 0


img 
    max-width 100%

.hidden
    display none
    &-on-mobile
        display block
    &-on-desktop
        display none


.main-section
    //background url('../image/template/bg.png') repeat-x center top
    background url('../image/template/bg.png') repeat-x center top
    position relative
    overflow hidden

    // &:before
    //     content ''
    //     height 400px
    //     width  400px
    //     position absolute
    //     top -200px
    //     left -100px
    //     background url('../image/template/curva-1.png') no-repeat
    //     background-size contain

    //     @media(max-width 960px)
    //         height 300px
    //         width  400px

    &.main-section-compact
        @media(min-width 961px)
            padding-top 100px


.animation-element
    position relative
    opacity 0
    transition all 500ms linear
    transform translate3d(0px, 100px, 0px)


.animation-element.in-view
    opacity 1
    transform: translate3d(0px, 0px, 0px)


.bg-top
    position relative
    min-height 200px

    .seta
        position relative
        left 0
        top 10px
        width 40px

    @media(max-width 960px)
        min-height 100px

    .bg-top-img
        position absolute
        right -5%
        z-index 1

    .bg-top-img-1
        right -50%
        max-width 1280px
        height 200px
        width 100%
        top 0

        @media(max-width 960px)
            height: 150px;
            width: 800px;
            right: -128%;

    .bg-top-img-main
        position relative
        z-index 2

        @media(max-width 960px)
            max-width 300px
            margin 0 auto
     

.page-busca
    @media (max-width: 960px)

        h1
            margin-bottom 0

        .bg-top 
            .bg-top-img-1
                height: 81px;
                width: 523px;
                right: -69%;
        

    h2
        font-size 25px
        margin-bottom 20px

    p
        a
            color colorGray


    .busca-box
        max-width 700px
        margin 0 auto

    
    .busca-content
        position relative
        padding-bottom 20px
        margin-bottom 30px

        &:before
            content ''
            display block
            background: linear-gradient(90deg, rgba(181,96,189,1) 0%, rgba(245,101,39,1) 33%, rgba(245,101,39,1) 63%, rgba(181,96,189,1) 100%);
            height 6px
            border none
            position absolute
            bottom 0
            width 100%
            border-radius 3px



table
    margin-bottom 30px

    td, th
        font-family: 'Roboto Light';
        text-align center
        border 1px solid colorGray
        padding 10px
        width 200px
        color #5f5f5f
        font-size 16px

        p, li
            font-size 16px

        &.id
            width 10%

        &.text
            width 60%
            text-align left

    th
        font-family: 'Roboto bold';

.owl-nav
    position absolute
    top 30%
    width 100%
    display flex
    justify-content space-between
    height 0

    div
        position relative
        height 53px
        width 25px
        font-size 0

    .owl-prev
        left: -40px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 20px solid colorDefault;
        border-bottom: 10px solid transparent;

    .owl-next
        right: -40px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid colorDefault;
        border-bottom: 10px solid transparent;


.nosso-proposito
    padding-top 60px

    .link-title
        color #FFF

        &:hover
            color #FFF

    @media (max-width: 960px)
        padding-top 10px

        .row
            margin 0

    .nosso-proposito-header
        @media (min-width: 961px)
            background url('../image/template/bg-proposito.png') no-repeat
            background-size cover
            height 100px
            display block
            width 90%
            margin 0 auto
            padding-top 30px
            padding-left 30px
        
        @media (max-width: 960px)
            background: rgb(181,96,189);
            background: linear-gradient(90deg, rgba(237,112,38,1) 0%, rgba(216,12,58,1) 100%);
            padding 15px
            width 100%
            
    
    .nosso-proposito-body
        background: rgb(240,240,240);
        background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
        padding 20px 15px

        @media (min-width: 961px)
            border-radius 30px
            padding 30px 30px 70px 30px
            

    h2
        color #FFF

        @media (max-width: 960px)
            font-size 30px
            

    h3, h3 *
        font-family: 'Montserrat Semi Bold';
        color colorGray

    h3
    
        font-size 18px
        line-height 25px
        margin 30px 0

        @media (max-width: 960px)
            margin 0 0 20px 0


        span 
            display block

            @media (max-width: 960px)
                display inline
        
    p
        color #707071

    .mission-vision-value
        background #FFFFFF
        border-radius 10px
        padding 20px

        @media (max-width: 960px)
            margin-bottom 20px

            &:last-child
                margin-bottom 0


        p
            margin-bottom 0

        h4
            padding-bottom 20px
            font-size 1.1em
            text-transform uppercase
            font-family: 'Montserrat Bold';
            color colorDefault

        ul 
            color #707071

            li
                font-size 1.1em
                list-style disc
                list-style-position inside

.section-articles
    
    @media(max-width 960px)
        .container
            padding-left 0
            padding-right 0

        .row
            display block

    h2
        @media(max-width 960px)
            padding-left 15px
            padding-right 15px
            text-align center


    .nosso-proposito-body
        padding-top 50px

        @media(max-width 960px)
            padding-left 60px
            padding-right 60px
            padding-top 30px
            

            .col-12
                padding 0
    
    .nosso-proposito
        .mission-vision-value
            padding 0
            background none

            figure
                border-radius 15px
                overflow hidden
                margin-bottom 20px

.modal-backdrop
    background: linear-gradient(110deg, rgba(245,101,39,.85) 30%, rgba(216,12,58,.85) 60%);
.modal
  .modal-dialog

    ul
        margin 0
        padding 0

    .register-modal
        position absolute
        top 230px
        left 50px
        align-items center
        width 300px
        height 265px
        background #fff
        border-radius 10px
        z-index 10

        p
            font-family: 'Montserrat Regular';
            font-size: 1.3em;
            padding 15px
            color: #ed7026;
            text-align: center
            // margin-bottom 0 !important
        
        a
            margin-bottom  15px
            text-decoration none
            font-family "Montserrat Semi Bold"
    
    .register-modal-loading
      margin-left -600px !important
      position relative
      align-items center
      width 2500px
      height 800px
      
      top -20px
      background url('../image/template/bg-cadastre-se.png') repeat-x 
      display flex
      flex-direction row
      align-items center
      opacity 0.9

      img 
        opacity 0.4
        padding-left 35%
        width 42%
        margin-left 210px

        @media(max-width 960px)
          padding-left 20%
          width 27%

    .register-acess-code
        position absolute
        align-items center
        top 230px
        left 50px
        width 300px
        height 190px
        background #fff
        border-radius 10px
        z-index 10
        display flex
        justify-content center
        align-items center

        p
          font-family: 'Montserrat Regular';
          font-size: 1.2em;
          padding 5px 10px
          color: #ed7026;
          text-align: center
          margin-bottom 0 !important

          b
            font-family: 'Montserrat Bold';
    
    .modal-favorite
        position absolute
        align-items center
        top 230px
        left 50px
        width 290px
        height 200px
        background #fff
        border-radius 10px
        z-index 10
        display flex
        justify-content center
        align-items center

        p, li
          font-family: 'Montserrat Regular';
          font-size: 1.2em;
          padding 5px 10px
          color: #ed7026 !important
          text-align: center
          margin-bottom 0 !important

          span
            font-family: 'Montserrat Bold';