//Footer
.footer 
    background: #ED7026
    padding 30px 0
    color #fff
    position relative
    z-index 3
    font-size 16px

    .containerFooter
        max-width 950px
        margin 0 auto

    .logo-footer
        max-width 200px
        margin -5px auto 0 auto
        overflow hidden

    .menu-footer, .menu-footer-top
        text-align center
        margin 25px 0
        padding 15px 0

        &.menu-footer-top
            text-transform uppercase

            @media(max-width 960px)
                padding 15px 0

        &.menu-footer
            border none

            @media(max-width 960px)
                padding 0

        @media(min-width 960px)
            display flex
            justify-content center

        li
            font-size 16px

            @media(max-width 960px)
                padding 5px 0

            @media(min-width 961px)
                padding 0 15px  

            &:last-child
                margin-bottom 0

            a
                color #686868
                text-decoration none
                

                &:hover
                    text-decoration underline

        p
            color #fff
            text-align center
            font-family: 'Roboto Light';

            span 
                display block
                
                @media(max-width 960px)
                    margin-top 15px

    .middleFooter
        margin-top 30px
        display flex
        justify-content: space-between;

        li
            position relative

            @media(min-width 961px)
                &:after
                    content '|'
                    right 8px
                    top 0
                    position absolute
                    color #FFFFFF
                    font-weight 600

            &:last-child
                &:after
                    display none
    
        .capsuleNav
            display flex
            flex-direction column
            align-items center
            justify-content center

        ul.nav
            display flex

            @media(max-width 960px)
                flex-wrap wrap
                margin-bottom 30px
        
            li 
                padding-right 15px

                @media(max-width 960px)
                    padding-right 0
                    margin 2px
                    width 100%
                    text-align center
            a
                color #fff
                text-decoration none
                padding-right 5px

                &:hover
                    text-decoration underline

                @media(max-width 960px)
                    font-size 1em
                    

                @media(max-width 960px)
                    flex-direction: column;
                    align-items: center; 
                    margin-bottom 20px

    .footer-phone-sac
        display flex
        justify-content center
        align-items center
        
        .sac
            span 
                font-weight 600

        p 
            font-weight 600

        @media(max-width 960px)
            display flex
            p 
                font-size 1em
                font-weight 800
          
            span 
                font-weight 800

    .header-social-media
        ul 
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding 10px
            list-style none
        li 
            margin: 0 0.4rem;
            color: #fff;
            font-size 1.5em
        
            a 
                display flex
                align-items center
                justify-content center
                color #ED7026;
                line-height: 50px;
                height: 50px;
            
                &:hover 
                    opacity 0.8
                    text-decoration none

        .bgSocial
            background #fff
            border-radius 50%
            width 50px
            height 50px
      
.copy
    margin-top 20px
    font-size 14px
    text-align center

@media(max-width 960px)
    .footer-phone-sac
        margin-bottom 20px