
.header
    position relative
    background #fff
    font-family: 'Roboto Light';

    .logo
        margin-right: 40px
        max-width 148px
        float left
        left 0
        overflow hidden

        @media(max-width 1280px)
            max-width 150px

        .logo1
            display block

        .logo2
            display none

    .alignBtnForm
        margin-left 15px
        padding-left 15px
                
    .alignBtnForm
        border-color #FFFFFF 
    

    &:hover
        background #FFF 
        color colorDefault

    div.alignBtnForm
        margin-left 30px
        @media(max-width 960px)
          margin-left 5px

        input::placeholder
            color #6F7170 

        .busca
            margin-bottom 10px  

        .search-btn
            background none
            color #ED7026
            border none
            font-size 0.8em

        .search-field
            background none
            border none
            color #6F7170
            width 180px
            height 20px
            font-size 12px
            margin-bottom 3px
            outline none

        // botão home
        .btn-orange
            border 1px solid #ED7026 
            border-radius 5px 
            color #6F7170 
            padding 8px
            background none
            margin-bottom 15px
            display inline-block
            transition 0.3s ease background

            &:hover 
                background colorDefault
                color #FFF
                
                outline none
                text-decoration none
     
//Only Mobile
@media(max-width 960px)

    //Botão do menu mobile
    button#menu-mobile
        background transparent
        width 48px
        height 48px
        padding 8px
        cursor pointer
        transition ease-in-out .3s
        border none
        text-align center
        position absolute
        right 10px
        top 20px

        &:focus
            outline none

        div
            background colorDefault
            width 100%
            height 4px
            margin 5px auto 0 auto
            border-radius 9px
            transition ease-in-out .12s
            &:nth-child(3)
                margin-top -4px
            &:first-child
                margin 0
        
        &.navOpen
            transition ease-in-out .3s
            z-index 100

            div
                background colorDefault
                width 100%
                margin 0
                transition ease-in-out .3s
                &:nth-child(1),
                &:nth-child(4)
                    background transparent
                &:nth-child(2)
                    transform rotate(45deg)
                &:nth-child(3)
                    margin-top -4px
                    transform rotate(-45deg)
    .header
        position fixed
        color #FFF
        z-index 99
        top 0
        width 100%
        left 0
        // padding 20px 0
        height 50px 
      
        &.compact
          height 70px
            
        a
            color #ffffff

            &:hover
                text-decoration none

        .content-header
          background colorDefault
          position absolute
          top 100px
          right -100%
          width 100%
          padding 20px 0 25px 0
          transition ease-in-out .3s
          text-align left 
          height 100vh
          overflow auto

          &.open-menu
            right 0
            display block  

        .logo
            max-width 120px
            z-index 102
            margin-top 10px

        .container
            width 100%

        .alignBtnForm
          display none
          
         
          &.open
            display block
            z-index 114
            font-weight bold
            text-align: right
            padding-right: 18px

          .items-menu-my-profile
            p
              color #fff
              position relative
              padding-right 25px

              &:before
                content ""
                width 0
                height 0
                border-left 6px solid transparent
                border-right 6px solid transparent
                border-top 6px solid #fff
                right 5px
                top calc(50% - 3px)
                position absolute


            ul
              display none

              &.open
                display block

          
          
    //Menu mobile

    .menu
        background colorDefault
        
        .container-menu
            background colorDefault
            top 10px
            z-index 103

        &.white-menu
            background #f0f0f0

        &.open-menu
            right 0

        .form-src
            border-radius 20px
            border 2px solid #FFF
            overflow hidden
            position relative
            height 40px
            max-width calc(100% - 30px)
            margin 0 auto 20px auto
            
            input
                background colorDefault
                border none
                height 40px
                line-height 40px
                position absolute
                top 0
                left 0
                width 100%
                color #FFF
                padding-left 50px

                &::-webkit-input-placeholder
                    color #FFF
                    font-size 13px
                
                &:-ms-input-placeholder
                    color #FFF
                    font-size 13px
                
                &::placeholder
                    color #FFF
                    font-size 13px
                

            button
                background none
                background-size cover
                border none
                cursor pointer
                left 10px
                top 3px
                position absolute
                height 30px
                width: 30px

                i 
                    color #FFF
                    font-size 16px
        
        li
            line-height 2em
            font-size 1.3em
        
        span
            background colorDefault
            padding-right 10px
            position relative
            z-index 1

        .title-line
            color colorLightBlue
            position relative
            line-height 2.5em

            &:after
                background colorLightBlue
                content ''
                position absolute
                right 0
                bottom 16px
                height 1px
                width 100%

        a
            display block
            color #FFF
            font-weight bold
            padding 0 15px
            font-size 18px

            &:hover
                text-decoration none


        .nav
            text-align right
            z-index 103
            position relative
            display block
            @media (max-width: 960px)
              color #fff
              
            li
                font-size 14px
                margin-bottom 10px

                &.btn-area-medica 
                    a
                        background #ffffff
                        color colorDefault
                        padding 8px 15px

                &.dropdown
                    >a
                        position relative
                        padding-right 40px

                        &:before
                            content ''
                            width: 0; 
                            height: 0; 
                            border-left 6px solid transparent
                            border-right 6px solid transparent
                            border-top 6px solid #fff
                            right 20px
                            top calc(50% - 3px)
                            position absolute

                .submenu
                    background colorRed
                    padding 10px
                    display none
                    margin-top 10px

                    &.open
                        display block

                    li
                        &:last-child
                            margin-bottom 0

                        

@media (min-width 960px)
    .header
        padding 30px 0
        width 100%
        z-index 99
        

        .container
            display flex
            justify-content center
            align-items center
            max-width 1280px

        .content-header
            display flex
            justify-content space-between
            align-items center

        .menu-mobile
            display none

        .form-src, .close-menu
            display none

        .avatar-menu
            display none
        
        .form-src-desk
            height 40px
            width 40px
            background colorDefault
            border-radius 50%
            text-align center
            display flex
            align-items center
            justify-content center
            display none

            .button-form-src-desk
                color #FFF
                font-size 18px
                cursor pointer

            form
                display flex
                position absolute
                right -5px
                border-radius 20px
                top 0
                background: #FFF
                width 100%
                overflow hidden
                height 30px

            input
                background: #FFF
                border none
                width calc(100% -30px)
                padding 0 20px

            button
                border none
                width 30px
                background #FFF

        .alignBtnForm
            border-left 1px solid colorGray

            .login-btn
                color colorGray

        .items-menu-my-profile
            position relative

            p
                margin-bottom 0
                font-size 14px
                cursor pointer
                padding-right 15px
                color colorDefault

            ul
                position absolute
                background #FFF
                padding 15px
                text-align right
                width 120px
                right 0
                display none

                &.open
                    display block

                li
                    border-bottom 1px solid #CCC
                    padding-bottom 5px
                    margin-bottom 5px

                    &:last-child
                        border none
                        margin 0
                        padding 0

                    a
                        font-size 12px
                        display block

        //Menu desktop
        .menu
            display flex
            align-items center
            
            ul.nav
                display flex
                justify-content space-between

                .title-line
                    display none

                a
                    color #6F7170
                    padding 0 10px
                    transition 0.2s ease
                    text-decoration none
                    font-size 14px
                    cursor pointer
                    transition 0.3s ease colors

                    &:hover
                        color colorDefault

                li
                    

                    //Submenu
                    .dropdown-menu
                        background-color #DCDCDC !important
                        border-radius 0 0 10px 10px 
                        border none
                        display none

                        .dropdown-item
                            color #ED7026 !important
                        
                    &.dropdown
                        >a
                            position relative
                            padding-right 25px

                            &:before
                                content ''
                                width: 0; 
                                height: 0; 
                                border-left 6px solid transparent
                                border-right 6px solid transparent
                                border-top 6px solid colorGray
                                right 5px
                                top calc(50% - 3px)
                                position absolute

                            &:hover:before
                                border-left 6px solid transparent
                                border-right 6px solid transparent
                                border-top 6px solid colorGray

                        ul.submenu
                            position absolute
                            //background #FFF url('../image/template/bg.jpg') repeat-x top left
                            background #edeaea
                            padding 10px
                            border-radius 1px
                            top 85px
                            display none
                            max-width 200px
                            border-radius 0 0 10px 10px

                            &.open
                                display block

                                >a
                                    background #FFF
                                    color colorGray

                            li
                                margin 0 0 5px 0
                                border-bottom 1px solid #FFF
                                text-align center
                                font-size 16px

                                &:last-child
                                    margin 0
                                    border-bottom none

                            a
                                background none 
                                color colorDefault
                                padding 2px 5px
                                display block

                                &:hover
                                    color colorDefault
         

//Dispositivos menores
@media(max-width 320px)
    .header
        .logo
            max-width 100px


.header
    .menu ul.nav a
        @media(max-width 1280px)
            font-size 16px

    &.compact
        // background colorDefault
        height inherit
        position fixed
        top 0
        padding 10px 0
        border-bottom 4px solid colorRed
        
        .menu ul.nav li.dropdown>a:before
            border-top 6px solid #FFF

        @media(max-width 960px)
            padding 20px 0

        .logo
            max-width 150px

            @media(max-width 960px)
                max-width 120px

        .logo2
            display block

        .logo1
            display none

        .alignBtnForm 

            .search-btn
                i
                    font-size 0.8em

        @media (max-width: 960px)

            button#menu-mobile

                div
                    background colorDefault

                &.navOpen
                    div
                        &:nth-child(1), 
                        &:nth-child(4)
                            background transparent

    .logo-open
        .logo1
            display none
        
        .logo2
            display block
        