.modal-default
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    position fixed
    z-index 100
    width 100%
    background: linear-gradient(110deg, rgba(245,101,39,.85) 30%, rgba(216,12,58,.85) 60%);
    border-radius: 0 0 10px 10px;
    overflow-y auto
    padding-bottom 20px
    display none

    h2
        font-size 20px

    .height-auto
        display flex
        align-items center
        height 100%
        position relative

    &.open-modal
        display flex
        align-items center
        justify-content center

        .modal-content 
            right 0

    .modal-content    
        padding 20px
        background #FFF
        width 90%
        margin 0 auto
        max-width 960px
        z-index 101
        border-radius 10px
        margin-bottom 20px

        @media(min-width 960px)
            max-width 700px
        

    .close-modal
        position absolute
        right 0
        top 0
        height 50px
        width 50px
        background #FFF
        color colorDefault
        display flex
        align-items center
        justify-content center
        font-size 20px
        cursor pointer

        &:hover
            background colorRed
            color #FFF
            text-decoration none

    &.modal-small
        .modal-content
            @media(min-width 960px)
                max-width 400px

    &.modal-image

        .confirm-modal-image
            position relative
            display flex
            flex-direction column
            align-items center
            height 100%
            justify-content center

        .modal-content
            padding 0
            background none

        a
            &:hover
                img 
                    opacity 1

        .confirm-modal-image-content
            margin 0 auto
            background colorDefault
            text-align center
            color #FFF
            display flex
            flex-direction column
            align-items center
            justify-content center
            border-radius 30px
            position relative


        .close-modal
            position: absolute;
            right: 20px;
            top: 20px;
            height: 40px;
            width: 40px;
            background: none;
            padding: 0;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            color: #FFF;
            font-size: 20px;
            border: 1px solid #FFF;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover
                background #ffffff
                color colorDefault
                
        