 {% extends 'front/base.html.twig' %} {% block title %}Eventos{% endblock %} {% block body %}



<section id="" class="events-page container">
    <div class="bg-top sem-prescricao">
        <figure class="seta hidden-xs">
            <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
        </figure>
        <div class="bg-top-img-1 bg-top-img"></div>
    </div>

  {% if event %}
    <div id="box-events">
      <div class="page-events-details container">
          <div class="row">
              <div class="bg-img col-12 col-sm-5 col-md-5 col-lg-5">
                  <img src="{{ event.imageWeb }}" alt="{{ event.name }}" title="{{ event.name }}">
                  <div class="img-mascara"></div>
              </div>
              <div class="events-details col-12 col-sm-7 col-md-7 col-lg-7">
                  <h2>{{ event.name }}</h2>
                  <div class="events-details-item">
                      <ul class="">
                          <li class="">
                              Sobre: <span>{{ event.description|raw }}</span>
                          </li>
                          <li class="">
                              Quando: <span>{{ event.datetimeend|date('d/m/Y H:i') }}</span>
                          </li>
                          {% if event.speakers|length > 0 %}
                            <li class="">
                                Palestrantes:
                                <div class="event-speaker-group">
                                    {% for speakers in event.speakers %}
                                      <div class="event-speaker">
                                        <img src="{{ asset(speakers.photo) }}" alt="{{ speakers.speakers }}" title="{{ speakers.speakers }}">
                                        <span>{{ speakers.speakers }}</span>
                                      </div>
                                    {% endfor %}
                                </div>
                            </li>
                          {% endif %}
                      </ul>
                  </div>

                  {% if event.registrationType == 'email' %}
                    <div class="event-button">
                        <a class="event-button-gradient event-subscription" data-event="{{ event.id }}" style="cursor: pointer;" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'eventos', 'eventAction': 'click', 'eventLabel': '{{ speakers.speakers }}:se-inscreva'});">Se inscreva</a>
                    </div>
                  {% elseif event.registrationType == 'link' %}
                    <div class="event-button">
                        <a class="event-button-gradient" href="{{ event.link }}" target="_blank" style="cursor: pointer;" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'eventos', 'eventAction': 'click', 'eventLabel': '{{ speakers.speakers }}:se-inscreva'});">Se inscreva</a>
                    </div>
                  {% endif %}

              </div>
          </div>
      </div>
    </div><!--- /box-events-->
  {% endif %}

</section>

<div class="container separation-line">
  <hr>
</div>
<div class="container events-title">
  <h2 class="events-button">Próximos Eventos</h2>
  <p class="space-h-30">Em breve divulgaremos novos eventos, fique atento :)</p>
</div>

<div class="container medical-specialties">
    <form id="form-events" action="{{ path('eventos') }}" method="post">
        <input type="hidden" name="e"/>
        <ul class="search-medical-education">
            <li>
                <a>
                    <select name="s" class="search-field" id="filtro_specialty">
                        <option value="">Filtro por Especialidade</option>
                        {% for specialty in specialties %}
                            <option value="{{ specialty.id }}" {{ app.request.get('s') == specialty.id ? 'selected' : '' }} onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'eventos', 'eventAction': 'click', 'eventLabel': 'filtro-especialidade:{{ specialty.specialty }}'});">{{ specialty.specialty }}</option>
                        {% endfor %}
                    </select>
                </a>
            </li>
            {% if filtro %}
              <li id="limpar_filtro"><a href="{{ path('eventos') }}">Limpar filtro  &nbsp;&nbsp;<i class="fas fa-times"></i></a></i>
            {% endif %}
            </li>
        </ul>
    </form>
</div>

{% if events|length > 0 %}
  <div class="container new-events">
    <div class="row">
      {% for event in events %}
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <article class="post-item animation-element">
            <figure>
                <a href="{{ path('eventos', {'slug': event.slug}) }}"><img src="{{ asset(event.imageWeb) }}" alt="" title="" style="background-image:url(); background-size:cover; background-position:center;" ></a>
            </figure>
            <h3><a href="{{ path('eventos', {'slug': event.slug}) }}">{{ event.name }}</a></h3>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  {% if filtro %}
    <h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado.</h2>
  {% endif %}
{% endif %}
<!-- Modal inscrição evento -->
<div class="modal register-modal" id="event-subscription">
    <div class="modal-dialog">
        <div class="modal-content modal-favorite" id="event-subscription-message">
            <p></p>
            <div class="space-h-10">
                <button type="button" class="btn-default" onclick="window.location.reload()">Ok</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block javascripts %}

<script>
    $(document).ready(function() {

        $('.event-subscription').on('click', function(e) {
            var ev = $(this).data('event')

            $.ajax({
                url: "{{ path('event-subscription')}}",
                type: 'POST',
                dataType: 'json',
                data: {
                    'ev': ev
                },
                beforeSend: function() {
                  $('#loading').modal('show')
                },
                success: function(response) {
                   
                    if (response.status) {
                        $('#loading').modal('hide')
                        $('#event-subscription-message p').html(response.message)
                        $('#event-subscription').modal('show')
                    } 
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });

        $('#form-events select').on('change', function(e) { 
            $('#form-events').submit()
        })
    })
</script>
{% endblock %}