{% extends 'front/base.html.twig' %} {% block title %}Residentes{% endblock %} {% block body %}

<div class="pagina-resitentes">
    <div class="container">
        <div class="bg-top sem-prescricao">
            <figure class="seta">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
    </div>
<div class="paralax element-2-midle-right hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-4.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <section class="page-residents container">
        <h1><b>Área Para Residentes</b></h1>
        <p>Área destinada a divulgação de informações voltadas para médicos residentes.</p>

    </section>

    <div class="container  medical-specialties">
        <form id="form-medical-education" action="{{ path('residentes') }}" method="post">
            <input type="hidden" name="e"/>
            <ul class="search-medical-education">
                <li>
                    <a>
                        <select name="s" class="search-field" id="filtro_specialty">
                            <option value="">Filtro por Especialidade</option>
                            {% for specialty in specialties %}
                                <option value="{{ specialty.id }}" {{ app.request.get('s') == specialty.id ? 'selected' : '' }} onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'residentes', 'eventAction': 'click', 'eventLabel': 'filtro-especialidades:{{ specialty.specialty }}'});">{{ specialty.specialty }}</option>
                            {% endfor %}
                        </select>
                    </a>
                </li>
                <li id="limpar_filtro"><a href="{{ path('residentes') }}">Limpar filtro  &nbsp;&nbsp;<i class="fas fa-times"></i></a></i>
                </li>
            </ul>
        </form>
    </div>
    <div class="page-residents-materials container">
        <h1>Materiais disponíveis</h1>

        <div id="residentes-arrow-prev2" class="arrow"></div>
        <div id="residentes-arrow-next2" class="arrow"></div>

        <div class="residents-slide">

            {% if courses|length > 0 %}
                {% for course in courses %}
                    <div class="residents-course-details slide">

                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <h2>{{ course.name }}</h2>
                                <div class="residents-material-details-item">
                                    <ul class="">
                                        {% if course.specialty.id is defined %}
                                            <li class="">
                                                Especialidade:
                                                <span class="">{{ course.specialty.specialty|raw }}</span>
                                            </li>
                                        {% endif %}
                                        {% if course.type.id is defined %}
                                            <li class="">
                                                Tipo:
                                                <span class="">{{course.type.name|raw}}</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                                <div class="">
                                    <img src="{{ asset(course.imageWeb) }}" alt="{{ course.name }}" title="{{ course.name }}">
                                </div>
                            </div>
                        </div>
                        {% if course.resume %}
                            <div class="row">
                                <h3>Resumo</h3>
                                {{ course.resume|raw }}
                                <div class="button-learn-more">
                                    <a class="btn-without-gradient" href="{{ path('educacao-medica-eadbox') }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'residentes', 'eventAction': 'click', 'eventLabel': '{{ course.name }}:saiba-mais '});">SAIBA MAIS</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum curso.</h2>
            {% endif %}

        </div>

    </div>
    <div class="container">
        <hr>
    </div>
    {% for memento in mementos %}
    <div class="container element-name">
        <h2> {{memento.name|raw}} </h2>
        <div class="row">
            <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                <h3>Descrição:</h3>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                {{memento.description|raw}}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <a href=" {{memento.file}} " download onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'residentes', 'eventAction': 'click', 'eventLabel': '{{memento.name|raw}}:baixar'});"><img src="{{ asset('_dist/image/template/circle-down.png') }}">Baixar</a>
            </div>
        </div>
    </div>

    <div class="bolinha-2-bottom-left-residents paralax hidden-xs">
    <img src="{{ asset('_dist/image/template/curva-bottom.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax bolinha-1-bottom-left-residents hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    
</div>
{% endfor %} {% endblock %} 

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#form-medical-education select').on('change', function(e) { 
            $('#form-medical-education').submit()
        })

    })
</script>
{% endblock %}