{% extends 'front/base.html.twig' %} {% block title %}Você e seu Paciente{% endblock %} {% block body %}
<style>
    .pagination {
        justify-content: center;
    }
</style>
<div class="you-and-patient">
    <div class="container">
        <div class="bg-top-patient sem-prescricao">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/ativo1.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
    </div>
    <section class="home-top container" id="section">
        <div class="home-top-text">
            <div class="lettering-area">
                <img class="" src="{{
                  asset('_dist/image/template/lettering-voce.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="img-patient">
                <img class="" src="{{
                  asset('_dist/image/template/your-patient1.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="lettering-medica">
                <img class="" src="{{
                  asset('_dist/image/template/lettering-patient.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
        </div>
    </section>
    <section class="your-patient container">
        <h1>VOCÊ e <br> <b>SEU PACIENTE</b></h1>
        <p>Você e Seu Paciente é uma área dedicada a médicos com o intuito de oferecer conteúdo de qualidade sobre saúde, facilitando o entendimento dos mais variados assuntos relacionados ao tema por parte de seus pacientes.</p>
        <p>São vídeos, artigos e apresentações que podem ser compartilhados com o intuito de espalhar conhecimento e responder dúvidas comuns. Estamos produzindo novos conteúdos e, em breve, teremos uma página repleta de informações, divididas por especialidades.</p>
        <p>Aproveite!</p>
    </section>
</div>
<div class="container  medical-specialties">
    <form id="form-your-patients" action="{{ path('voce-e-o-seu-paciente') }}" method="post">
        <input type="hidden" name="e"/>
        <ul class="search-medical-education">
            <li>
                <a>
                    <select name="s" class="search-field" id="filtro_specialty">
                        <option value="">Filtro por Especialidade</option>
                        {% for specialty in specialties %}
                            <option value="{{ specialty.id }}" {{ app.request.get('s') == specialty.id ? 'selected' : '' }}>{{ specialty.specialty }}</option>
                        {% endfor %}
                    </select>
                </a>
            </li>
            <li id="limpar_filtro"><a href="{{ path('voce-e-o-seu-paciente') }}">Limpar filtro  &nbsp;&nbsp;<i class="fas fa-times"></i></a></i>
            </li>
        </ul>
    </form>
</div>

<div id="seu_paciente">
    {% if products|length > 0 %}
        {% for product in products %}
            <div class="your-patient-materials container">
                <div class="row right-flex-end">
                    <div class="col-12 col-sm-5 col-md-5 col-lg-5">
                        <div class="your-patient-img">
                            <img src="{{ asset(product.image) }}" alt="{{ product.imageTitle }}" title="{{ product.imageTitle }}">
                        </div>

                        {% set files = yourPatient(product, 'File') %}

                        {% if files|length > 0 %}
                            {% for file in files %}
                                <div class="your-patient-font-type">
                                    <h3>{{ file.titleM|raw }}</h3>
                                    {{ file.resumeM|raw }}
                                    {% if file.file %}
                                        <a href="{{ file.file }}" download> <img src="{{ asset('_dist/image/template/circle-down.png') }}"></i>&nbsp;&nbsp; Baixar</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        
                        {% endif %}

                        <div class="angle-down">
                            <img src="{{ asset('_dist/image/template/angle-down.png') }}">
                        </div>
                    </div>

                    {% set videos = yourPatient(product, 'Video') %}
                    
                    <div class="col-12 col-sm-7 col-md-7 col-lg-7 ">
                        {% if videos|length > 0 %}
                            <div id="arrow-prev1" class="arrow"></div>
                        {% endif %}
                        <div class="responsive1">
                            {% if videos|length > 0 %}
                                {% for video in videos %}
                                    <div class="slide-font-type">
                                        {{ video.video|raw }}
                                        <h3>{{ video.titleV|raw }}</h3>
                                        {{ video.resumeV|raw }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {# 
                             <div class="slide-font-type">
                                <img src="https://areamedica.novo.mantecorp.webcenter.net.br/_dist/image/template/thumb-video.png">

                                    <h3> Título do vídeo disponíveis </h3>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem minima quae cum non odit tempore? Quae unde et quos vitae?
                                    </p>
                                </div>
                            <div class="slide-font-type">
                                 <img src="{{ asset('_dist/image/template/thumb-video.png') }}">

                                <h3> Título do vídeo disponíveis </h3>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem minima quae cum non odit tempore? Quae unde et quos vitae?
                                </p>
                            </div> #}

                        </div>
                        {% if videos|length > 0 %}
                            <div id="arrow-next1" class="arrow"></div>
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
    {% endif %}
   
</div>

<div class="bolinha-2-bottom-left-paciente paralax hidden-xs">
  <img src="{{ asset('_dist/image/template/curva-bottom.png') }}" alt="Bolinha" title="Bolinha">
</div>
<div class="paralax bolinha-1-bottom-left-paciente hidden-xs">
    <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
</div>
<div class="paralax element-2-midle-right-paciente hidden-xs">
    <img src="{{ asset('_dist/image/template/curva-4.png') }}" alt="Bolinha" title="Bolinha">
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#form-your-patients select').on('change', function(e) { 
            $('#form-your-patients').submit()
        })
    })
</script>
{% endblock %}
