 {% extends 'admin/admin.html.twig' %} {% block title %}Cursos{% endblock %} {% block body %}
<!-- Content Header (Page header) -->
{% include 'admin/component/content-header.html.twig' with {'title':'Cursos', 'link': path('admin_course'), 'page':'curso'} %}
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12 card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h3 class="card-title">Listagem</h3>
                    </div>
                    {% if user_acess.isCreate %}
                    <div class="col-2">
                        <a href="{{ path('admin_course_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <!-- /.card-header -->
        <div class="card-body">
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Resumo</th>
                        <th>Especialidade</th>
                        <th>Tipo</th>
                        <th>Link</th>
                        <th>image</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.resume|raw}}</td>
                        {% if course.specialty %}

                        <td>{{ course.specialty.specialty }}</td>
                        {% else %}
                        <td>Sem especialidade cadastrada </td>
                        {% endif %} {% if course.type != null %}
                        <td>{{ course.type.name }}</td>
                        {% else %}
                        <td>Sem categoria</td>
                        {% endif %}
                        <td>{{ course.link }}</td>
                        <td>{{ course.imageweb }}</td>
                        {% if user_acess.isUpdate %}
                        <td class="center">
                            <div class="col-12">
                                <a href="{{ path('admin_course_edit', {'id': course.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                            </div>
                        </td>
                        {% endif %} {% if user_acess.isDelete %}
                        <td class="center">
                            <div class="col-12">
                                <a href="{{ path('admin_course_delete', {'id': course.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Resumo</th>
                        <th>Especialidade</th>
                        <th>Tipo</th>
                        <th>Link</th>
                        <th>image</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->

        <!-- /.card -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %} {% block javascripts %} {% endblock %}