{% extends 'front/base.html.twig' %}

{% block title %}Contato SAC{% endblock %}

{% block body %}
<section class="page-contato" id="contato">
    <div class="container">
        <div class="bg-top sem-prescricao">
            <figure class="seta">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
        <div class="paralax element-1-top-left hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-1.png') }}" alt="Bolinha" title="Bolinha">
        </div>
        <div class="paralax element-1 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
        </div>
        <div class="contact-form">
            <div class="news-title text-center">
                <h1 class="title-button">Contato</h1>
            </div>

            <ul class="paginacao">
                <li><span class="btn-redondo ativo">1</span></li>
                <li><span class="btn-redondo">2</span></li>
                <li><span class="btn-redondo">3</span></li>
                <li><span class="btn-redondo">4</span></li>
                <li><span class="btn-redondo">5</span></li>
            </ul>

            <form id="frmContato" action="https://www.hyperapharma.com.br/api/sendmail.php" method="post" enctype="multipart/form-data" class="form form-wizard">
                <div class="box ativo">
                    <div class="space-h-10">
                        <label for="nome">Qual o seu nome?</label>
                        <input type="text" name="nome" id="nome" class="form-control" maxlength="100" value="">
                    </div>
                
                    <div class="space-h-10">
                        <label for="nome">Em qual perfil você se encaixa?</label>
                        <select name="perfil" id="perfil" class="form-control" onchange="atualizaMotivoContato(this.value)">
                            <option value="" selected="" disabled="">Selecione uma opção</option>
                            <option value="Consumidor">Consumidor</option>
                            <option value="Distribuidor">Distribuidor</option>
                            <option value="Drogaria">Drogaria</option>
                            <option value="Fornecedor">Fornecedor</option>
                            <option value="Hospital">Hospital</option>
                        </select>
                    </div>
                
                    <div class="space-h-10 steps-nav">    
                        <button type="button" onclick="validaBox1()" class="btn btn-avancar">&gt;</button>
                    </div>
                </div>

                <div class="box">
                    <div class="space-h-10">
                        <label for="motivo_contato">Qual o motivo do seu contato?</label>
                        <select name="motivo_contato" id="motivo_contato" class="form-control">
                            <option value="" selected="" disabled="">Selecione uma opção</option>
                            <option value="Reação Adversa">Reação Adversa</option>
                            <option value="Sugestão/Elogio">Sugestão/Elogio</option>
                            <option value="Crítica/Reclamação de produto">Crítica/Reclamação de produto</option>
                            <option value="Informações de produtos/medicamentos">Informações de produtos/medicamentos</option>
                            <option value="Oferecimento de serviço">Oferecimento de serviço</option>
                            <option value="Solicitação de visita (Representante)">Solicitação de visita (Representante)</option>
                            <option value="Solicitação de visita (Vendedor)">Solicitação de visita (Vendedor)</option>
                        </select>
                    </div>
                
                    <div class="space-h-10 steps-nav">
                        <button type="button" onclick="alteraBox(-1)" class="btn btn-voltar">
                            &lt; Voltar
                        </button>

                        <button type="button" onclick="validaBox2()" class="btn btn-avancar">
                            &gt;
                        </button>
                    </div>
                </div>

                <div class="box">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <div class="space-h-10">
                                <label for="email">Qual o seu e-mail?</label>
                                <input type="email" name="email" id="email" class="form-control" value="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="space-h-10">
                                <label for="email">DDD:</label>
                                <input type="text" name="ddd" id="ddd" class="form-control" value="" maxlength="2" onkeypress="return SomenteNumero(event);">
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8">
                            <div class="space-h-10">
                                <label for="telefone">telefone:</label>
                                <input type="text" name="telefone" id="telefone" class="form-control" value="" maxlength="9" onkeypress="return SomenteNumero(event);">
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12">
                            <label>Você autoriza o contato telefônico?</label>
                            <div class="space-h-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="contato_telefonico" type="radio" id="sim" value="Sim">
                                    <label class="form-check-label" for="sim">SIM</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" checked="" name="contato_telefonico" type="radio" id="nao" value="Não">
                                    <label class="form-check-label" for="nao">NÃO</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-h-10 steps-nav">
                        <button type="button" onclick="alteraBox(-1)" class="btn btn-voltar">
                            &lt; Voltar
                        </button>

                        <button type="button" onclick="validaBox3()" class="btn btn-avancar">
                            &gt;
                        </button>
                    </div>
                </div>

                <div class="box">
                    <div class="row">
                        
                        <div class="col-3 col-sm-3 col-md-3">
                            <div class="space-h-10">
                                <label for="cep">Qual o seu CEP?</label>
                                <input type="text" name="cep" id="cep" class="form-control" value="" maxlength="8" onkeypress="return SomenteNumero(event);">
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12">
                            <div class="space-h-10">
                                <label for="endereco">Endereço:</label>
                                <input type="text" name="endereco" id="endereco" class="form-control" value="" maxlength="100">
                            </div>
                        </div>

                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="space-h-10">
                                <label for="numero">Número:</label>
                                <input type="text" name="numero" id="numero" class="form-control" value="" maxlength="10">
                            </div>
                        </div>

                        <div class="col-8 col-sm-8 col-md-8">
                            <div class="space-h-10">
                                <label for="complemento">Complemento:</label>
                                <input type="text" name="complemento" id="complemento" class="form-control" value="" maxlength="80">
                            </div>
                        </div>

                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="space-h-10">
                                <label for="uf">UF:</label>
                                <input type="text" name="uf" id="uf" class="form-control" value="" maxlength="2">
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8">
                            <div class="space-h-10">
                                <label for="cidade">Cidade:</label>
                                <input type="text" name="cidade" id="cidade" class="form-control" value="" maxlength="100">
                            </div>
                        </div>
                    </div>

                    <div class="steps-nav ">
                        <button type="button" onclick="alteraBox(-1)" class="btn btn-voltar">
                            &lt; Voltar
                        </button>

                        <button type="button" onclick="validaBox4()" class="btn btn-avancar">
                            &gt;
                        </button>
                    </div>
                </div>

                <div class="box">
                    <div class="space-h-10">
                        <label for="comentarios">Comentários:</label>
                        <textarea name="comentarios" id="comentarios" class="form-control" row="5"></textarea>
                    </div>

                    <div class="form-group col-3 col-xs-3 group-lote" style="display: none;">
                        <label for="lote">Lote:</label>
                        <input type="text" name="lote" id="lote" class="form-control" value="" data-toggle="tooltip" data-placement="right" title="" data-original-title="Codificação numérica ou alfanumérica localizada na embalagem do produto, próxima a data de validade.">
                    </div> 

                    <div class="space-h-10">
                        <label for="anexo">Anexar arquivo:</label>
                        <input type="file" name="anexo" id="anexo" class="form-control" value="">
                    </div>

                    <div class="space-h-10">
                        <small>
                            Caso você insira dado pessoal adicional, de forma voluntária e facultativa, a exemplo de dados de saúde (envolvendo, ou não, medicamentos da Hypera Pharma), o tratamento das novas informações trazidas por você será feito exclusivamente para atender a presente demanda e dependerá do seu consentimento. Sendo assim, você está de acordo com esta atividade de tratamento de dados pessoais? Caso você não forneça seu consentimento e identifiquemos o envio de dados sensíveis, não poderemos atender sua solicitação.
                        </small>
                    </div>

                    <div class="space-h-10">
                        <div class="form-check form-check-inline option">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="sim">
                            <label class="form-check-label" for="inlineRadio1">Sim</label>
                        </div>
                        <div class="form-check form-check-inline option">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="não">
                            <label class="form-check-label" for="inlineRadio2">Não</label>           
                        </div>
                    </div>
                    {# <div class="space-h-10">
                        <small>
                            Gostaria de saber como tratamos os seus dados pessoais? 
                            Convidamos você a consultar a nossa <a href="politica-de-privacidade.php"> Política de Privacidade</a>
                        </small>
                    </div> #}
                    {# <div class="space-h-10" method="POST">
                        <div class="g-recaptcha" data-sitekey="6LdTvSkTAAAAAKyNtSnBlKHZhrQ486z4XSn13a2m"></div>
                    </div> #}

                    <div class="steps-nav">
                        <button type="button" onclick="alteraBox(-1)" class="btn btn-voltar">&lt; Voltar</button>
                        <button type="submit" class="btn btn-avancar submit">Enviar</button>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="link-contato-bottom">
            <div class="col-md-6 col-xs-12 text-center">
                <p>Entre em contato pelo telefone:</p>
                <p>SAC 0800 97 99 900</p>
            </div>
            <div class="col-md-6 col-xs-12 text-center">
                <p><a href="http://ri.hypera.com.br/" target="_blank">Site para investidores:</a></p>
                <p><a href="http://ri.hypera.com.br/" target="_blank">Relações com investidores</a></p>
            </div>
        </div>
    </div>
</section>
  

{% endblock %}
{% block javascripts %}
<style>

 #contato .box {
	display: none;
}
 #contato .box.ativo {
	display: block;
}
 
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script> 
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
 
    window.addEventListener('load', function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#cep').blur(function () {
            var cep = $(this).val();
            if (cep && cep.length == 8) {
                buscaCEP(cep);
            }
        });

        $("#motivo_contato").on('change', function () {
            var motivo = $(this).val();
            $('.group-lote').hide();

            if (motivo === 'Reação Adversa' || motivo === 'Crítica/Reclamação de produto') {
                $('.group-lote').show();
            }
        });

        $('#frmContato').on('submit', function (e) {
            e.preventDefault();
            if(!validaBox5())
                return false;

            var form = this;
            var htmlAguarde = '<p>Aguarde...</p>';
            var boxContainer = $('.box button[type=submit]').parent();
            var buttonsContainer = boxContainer.find('button');

            // ESCONDE OS BOTOES E MOSTRA O TEXTO "AGUARDE..."
            buttonsContainer.hide();
            boxContainer.append(htmlAguarde);

            if ($('.group-lote').css('display') != 'none' && (!form.lote.value)) {
                mensagemErro($("#lote"), "Informe qual o lote.");

                boxContainer.find('p').remove();
                buttonsContainer.show();

                return false;
            }

            $(this).ajaxSubmit({
                dataType: "json",
                
                success: function (resp) {
                    alert(resp.mensagem);
                    boxContainer.find('p').remove();

                    if (resp.tipo == 'sucesso') {
                        window.location.reload();
                    }
                    else {
                        buttonsContainer.show();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Ocorreu um erro inesperado, tente novamente mais tarde.");
                }
            });

            return false;
        });
    });

    function validaBox1() {
        if (!$("#nome").val()) {
            mensagemErro($("#nome"), "Informe qual o seu nome.");
            return false;
        }

        if (!$("#perfil").val()) {
            mensagemErro($("#perfil"), "Informe em qual perfil vocÃª se encaixa.");
            return false;
        }

        $('h1').text('COMO PODEMOS TE AJUDAR?');

        alteraBox(1);
    }

    function validaBox2() {

        if (!$("#motivo_contato").val()) {
            mensagemErro($("#motivo_contato"), "Informe qual o motivo do seu contato.");
            return false;
        }

        $('h1').text('DADOS DE CONTATO');

        alteraBox(1);
    }

    function validaBox3() {

        if (!$("#email").val()) {
            mensagemErro($("#email"), "Informe qual o seu e-mail.");
            return false;
        }

        if (!validaEmail($("#email").val())) {
            mensagemErro($("#email"), "E-mail Inválido.");
            return false;
        }

        if (!$("#ddd").val()) {
            mensagemErro($("#ddd"), "Informe o seu DDD.");
            return false;
        }

        if ($("#ddd").val().length < 2) {
            mensagemErro($("#ddd"), "DDD Inválido");
            return false;
        }

        if (!$("#telefone").val()) {
            mensagemErro($("#telefone"), "Informe o seu telefone.");
            return false;
        }

        if ($("#telefone").val().length < 8) {
            mensagemErro($("#telefone"), "Telefone Inválido");
            return false;
        }

        $('h1').text('DADOS DE CONTATO');

        alteraBox(1);
    }

    function validaBox4() {

        if (!$("#cep").val()) {
            mensagemErro($("#cep"), "Informe o seu CEP.");
            return false;
        }

        if (!$("#endereco").val()) {
            mensagemErro($("#endereco"), "Informe o seu endereço.");
            return false;
        }


        if (!$("#numero").val()) {
            mensagemErro($("#numero"), "Informe o seu número.");
            return false;
        }

        $('h1').text('DADOS DE CONTATO');

        alteraBox(1);
    }

    function validaBox5() {

        if ($("input[name='inlineRadioOptions']:checked").length == 0) {
            alert("Responda o aceite dos termos.");
            return false;
        } else if ($("input[name='inlineRadioOptions']:checked")[0].value == "não") {
            alert("É necessário aceitar as condições para enviar seu contato.");
            return false;
        } else {
            return true;
        }
    }

    function atualizaMotivoContato(perfil) {
        var opcoes = ["Reação Adversa", "Segestão/Elogio", "Crítica/Reclamação de produto", "Informações de produtos/medicamentos", "Oferecimento de serviço", "Solicitação de visita (Representante)", "Solicitação de visita (Vendedor)"];
        var html = '<option value="" selected disabled>Selecione uma opção</option>';

        if (perfil === 'Consumidor') {
            opcoes.splice(4);
        }

        opcoes.forEach(function (opcao) {
            html += '<option value="' + opcao + '">' + opcao + '</option>';
        });

        $("#motivo_contato").html(html);
    }

    function alteraBox(cont) {
        var index = $('.box.ativo').index();

        $('.error').remove();
        $('.erro').removeClass('erro');

        $('.box')
            .removeClass('ativo')
            .eq(index + cont)
            .addClass('ativo');

        $('.paginacao span')
            .removeClass('ativo')
            .eq(index + cont)
            .addClass('ativo');
    }

    function SomenteNumero(e) {
        var tecla = (window.event) ? event.keyCode : e.which;
        if ((tecla > 47 && tecla < 58)) return true;
        else {
            if (tecla == 8 || tecla == 0) return true;
            else return false;
        }
    }

    function buscaCEP(cep) {

        var endereco = jQuery("input[name=endereco]");
        var uf = jQuery("input[name=uf]");
        var cidade = jQuery("input[name=cidade]");
        var numero = jQuery("input[name=numero]");

        endereco.val('');
        uf.val('');
        cidade.val('');

        $.getJSON("https://viacep.com.br/ws/" + cep + "/json", function (dados) {

            if (dados.erro) {
                return false;
            }

            endereco.val(dados.logradouro);
            uf.val(dados.uf);
            cidade.val(dados.localidade);
            numero.focus();
        });
    }

    function mensagemErro(objeto, mensagem) {
        var tagErro = '<span class="error">' + mensagem + '</span>';
        $('.error').remove();
        $('.erro').removeClass('erro');

        $(objeto).parent().append(tagErro);
        $(objeto).addClass('erro');
        $(objeto).focus();
        //setTimeout("$(function(){$('.error').fadeOut(1500);})", 1000);
    }

    function validaEmail(email) {
        var reg = /^([0-9a-zA-Z]+([_.-]?[0-9a-zA-Z]+)*@[0-9a-zA-Z]+[0-9,a-z,A-Z,.,-]*(.){1}[a-zA-Z]{2,4})+$/;
        if (reg.test(email) == false)
            return false;
        return true;
    }

    function isArquivoValido(arquivo) {
        var reg = /^(.*)\.(jpg|jpeg|png|gif|JPG|JPEG|PNG|GIF)$/;
        return reg.test(arquivo);
    }
   
</script>
{% endblock %}
