{% extends 'front/base.html.twig' %}

{% block title %}Contato{% endblock %}

{% block body %}
<section class="page-contato page-contato-problemas">
    <div class="container">
        <div class="bg-top sem-prescricao">

            <figure class="seta">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
        <div class="paralax element-1-top-left hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-1.png') }}" alt="Bolinha" title="Bolinha">
        </div>
        <div class="paralax element-1 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
        </div>
        <div class="paralax element-2 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
        </div>
        <div class="paralax element-3 hidden-xs">
            <img src="{{ asset('_dist/image/template/curva-3.png') }}" alt="Bolinha" title="Bolinha">
        </div>
        <div class="news-title text-center">
            <h1 class="title-button">Problema com Navegação</h1>
            {% if message != null %}
            <p> {{message}} </p>
            {% endif %}
        </div>
        <div class="contact-form">
            <form action="" name="formContato" method="post" class="form" id="formContato">
                <!-- One "tab" for each step in the form: -->
                <fieldset>
                    <div class="space-h-10">
                        <label for="nome">Nome? </label>
                        <input type="text" id="nome" class="form-control name"  name="contact[name]" required>
                    </div>
                    <div class="space-h-10">
                        <label for="email">Qual o seu e-mail?</label>
                        <input type="email" id="email" class="form-control email" value=""  name="contact[email]" required maxlength="100">
                    </div>

                    <div class="row">
                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="space-h-10">
                                <label for="email">DDD:</label>
                                <input type="text"  id="ddd" class="form-control ddd" value="" maxlength="2" onkeypress="return SomenteNumero(event);"  name="contact[ddd]" required>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8">
                            <div class="space-h-10">
                                <label for="telefone">telefone:</label>
                                <input type="text"  name="contact[phone]" required id="telefone" class="form-control phone" value="" maxlength="9" onkeypress="return SomenteNumero(event);">
                            </div>
                        </div>
                    </div>
                    <div class="space-h-10">
                        <label for="comentarios">Comentario</label>
                        <textarea  name="contact[message]" required id="comentarios" class="form-control message" row="5"></textarea>
                    </div>

                    <div class="row">
                        <div class="space-h-10">
                            <span id="recaptcha" class="error"></span>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="g-recaptcha" data-sitekey="6LcgV24eAAAAAGxn2Ao3vtC2oi_0waNtSfiMogUW"></div>
                        </div>
                    </div>

                    <div class="text-center space-h-10">
                        <button type="submit" id="enviarForm" class="btn btn-default btn-orange btn-save">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="link-contato-bottom">
            <div class="col-md-6 col-xs-12 text-center">
                <p>Entre em contato pelo telefone:</p>
                <p>SAC 0800 97 99 900</p>
            </div>
            <div class="col-md-6 col-xs-12 text-center">
                <p><a href="http://ri.hypera.com.br/" target="_blank">Site para investidores:</a></p>
                <p><a href="http://ri.hypera.com.br/" target="_blank">Relações com investidores</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
<script>
    $(window).scroll(function () {
        movedToDownbyScroll('.element-1', -10);         
        movedToDownbyScroll('.element-2', -30);         
        movedToDownbyScroll('.element-3', -30);
    })

    $(document).ready(function() {
        $('.btn-save').on('click', function(e) {
            var name = $('.name').val().trim()
            var email = $('.email').val().trim()
            var ddd = $('.ddd').val().trim()
            var phone = $('.phone').val().trim()
            var message = $('.message').val().trim()
          
            if ((name != '') && (email != '') && (phone != '') && (phone != '') && (message != '')) {
                $('#loading').modal('show')
            }
        })
    })
</script>
{% endblock %}
