<style>
    .btn-action {
        background-color: #d80c3a;
        color: #fff !important;
    }
</style>

<div class="col-12 col-sm-2 col-md-2">
    <div class="register-btns">
        <ul>
            <li>
                <a href="{{ path('register-doctor-consultation') }}" class="btn-default btn-full {{ step == 'cadastro-consulta-crm' ? 'btn-action' : '' }}">Consultar CRM</a>
            </li>
            <li>
                <a href="{{ path('register-profile') }}" class="btn-default btn-full {{ step == 'cadastro-perfil' ? 'btn-action' : '' }}">Perfil</a>
            </li>
            <li>
                <a href="{{ path('register-password') }}" class="btn-default btn-full {{ step == 'cadastro-senhas' ? 'btn-action' : '' }} ">Senha</a>
            </li>
        </ul>
    </div>
</div>