<p>Novo contato pelo site</p>

<ul>
    <li><strong>Nome:</strong>  {{ contact.name }}</li>
    <li><strong>DDD:</strong>  {{ contact.ddd }}</li>
    <li><strong>Telefone:</strong>  {{ contact.phone }}</li>
    <li><strong>E-mail:</strong>  {{ contact.email }}</li>
    <li><strong>Enviado em:</strong>  {{ contact.createdAt|date('d/m/Y H:i:s') }}</li>
</ul>

<p><strong>Mensagem:</strong></p>

<p>{{ contact.message|nl2br }}</p>