{% if studies|length > 0 %}
<section class="section-articles container animation-element" id="section-articles">
    <div class="container">
        <div class="nosso-proposito row">
            <a href="{{ path('estudos-cientificos') }}" class="link-title">
                <div class="nosso-proposito-header animation-element in-view">
                    <h2>Estudos científicos</h2>
                </div>
            </a>

            <div class="nosso-proposito-body">
                <h3 class="animation-element in-view">
                  Área destinada à requisição de Estudos Científicos e informações de <span>produtos Mantecorp voltados exclusivamente à classe médica.</span>
                </h3> 
                <div class="definition animation-element in-view">
                    <div class="row">
                        
                        {% for study in studies %}
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="mission-vision-value">
                                    <figure>
                                        <a style="cursor: pointer;"
                                            {% if app.user.id is defined %}
                                                href="{{ study.file }}" target="_blank"
                                            {% else %} 
                                                data-bs-toggle="modal" data-bs-target="#login-ou-cadastre"
                                            {% endif %}
                                             onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:aberta', 'eventAction': 'click', 'eventLabel': 'estudos-cientificos:{{ study.name }}'});">

                                            <img src="{{ asset('_dist/image/template/noticia-small-pic.gif') }}" alt="" title="" style="background:url({{ study.imageWeb }}) no-repeat center; background-size:cover;" />
                                        </a>
                                    </figure>
                                    <p>{{ study.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                       
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
 {% endif %}