
<section class="section-news container animation-element" id="section-eventos">
    <div class="section-news-title">
        <h2 class="title-button">Eventos</h2>
    </div>
    <div class="imagensNewsContent">
        <div class="imagensNews row slides">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="imgNews1">
                    <a href="#"><img src="{{ asset('_dist/image/template/noticia-small-pic.gif') }}"  style="background:url('_dist/image/template/news-img4.png') center center; background-size:cover;"  alt="" title=""/></a> 
                </div>
                <div class="textNews">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy standard dummy.
                    </p>
                </div>
            </div>
            
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                <div class="imgNews1">
                    <a href="#">
                        <img src="/_dist/image/template/noticia-big-pic.gif" style="background:url('_dist/image/template/Imagem3.png') center center; background-size:cover;" alt="" title="" class="hidden-xs">

                        <img src="/_dist/image/template/noticia-small-pic.gif" style="background:url('_dist/image/template/Imagem3.png'); background-size:cover; center center" alt="" title="" class="visible-xs">
                    </a>
                </div> 
                <div class="textNews">
                    <h2>Simpósio “O Futuro da Medicina”</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy standard dummy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>