<section class="section-news container animation-element" id="section-news">
    <div class="section-news-title">
        <h2 class="title-button"><a href="{{ path('noticias') }}">Notícias</a></h2>
    </div>
    {% if lastOnes is not null and lastOnes|length > 0 %}
    <div class="imagensNews row">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8">
            <div class="imgNews1">
                <a href="{{ path('blog_detail',{'slug': lastOnes[0].slug })}}" onclick="dataLayer.push({ 'event':'GAEvent',
                    'eventCategory': 'home', 'eventAction': 'click',
                    'eventLabel': 'noticias:{{lastOnes[1].title}}'});">
                    <img src="{{
                        asset('_dist/image/template/noticia-big-pic.gif') }}" style="background:url('{{ asset(lastOnes[0].image) }}')
                        center center; background-size:cover;" alt="{{lastOnes[0].title}}" title="{{lastOnes[0].title}}" class="hidden-xs">

                    <img src="{{
                        asset('_dist/image/template/noticia-small-pic.gif') }}" style="background:url('{{ asset(lastOnes[0].image) }}');
                        background-size:cover; center center" alt="{{lastOnes[0].title}}" title="{{lastOnes[0].title}}" class="visible-xs">
                </a>
            </div>
            <div class="textNews">
                <h2> {{lastOnes[0].title}} </h2>
                <p>
                    {{lastOnes[0].description|raw}}[...]
                </p>
                <div class="textNews-btn">
                    <a href="{{ path('blog_detail',{'slug': lastOnes[0].slug
                        })}}" class="btn-default btn-border-purple" onclick="dataLayer.push({ 'event':'GAEvent',
                        'eventCategory': 'home', 'eventAction': 'click',
                        'eventLabel': 'noticias:{{lastOnes[0].title}}'});">Ver
                        mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <div class="imgNews2">
                <figure>
                    <a href="{{ path('blog_detail',{'slug': lastOnes[1].slug
                        })}}" onclick="dataLayer.push({ 'event':'GAEvent',
                        'eventCategory': 'home', 'eventAction': 'click',
                        'eventLabel': 'noticias:{{lastOnes[1].title}}'});">
                        <img src="{{
                            asset('_dist/image/template/noticia-small-pic.gif')
                            }}" style="background:url('{{
                            asset(lastOnes[1].image) }}') center center;
                            background-size:cover;" alt="{{lastOnes[1].title}}" title="{{lastOnes[1].title}}">
                        <div class="imgNews2-text">
                            <h3> {{lastOnes[1].title}}</h3>
                        </div>
                    </a>
                </figure>
            </div>
            <div class="imgNews2">
                <figure>
                    <a href="{{ path('blog_detail',{'slug': lastOnes[2].slug
                        })}}" onclick="dataLayer.push({ 'event':'GAEvent',
                        'eventCategory': 'home', 'eventAction': 'click',
                        'eventLabel': 'noticias:{{lastOnes[2].title}}'});">
                        <img src="{{
                            asset('_dist/image/template/noticia-small-pic.gif')
                            }}" style="background:url('{{
                            asset(lastOnes[2].image) }}') center center;
                            background-size:cover;" alt="{{lastOnes[2].title}}" title="{{lastOnes[2].title}}">
                        <div class="imgNews2-text">
                            <h3> {{lastOnes[2].title}}</h3>
                        </div>
                    </a>
                </figure>
            </div>
        </div>
    </div>
    {% endif %}
</section>