

<section class="home-low animation-element" id="home-low">
    <div class="container">
        <div class="viewMore">
            <div class="viewMoreImg">
                <a href="{{ path('educacao-medica') }}"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:aberta', 'eventAction': 'click', 'eventLabel': 'educacao-medica:imagem'});"><img src="{{ asset('_dist/image/template/home_03_paciente.png') }}" alt="Programa Paciente"></a>
            </div> 
            <div class="viewMoreText">
                <h2><a href="{{ path('educacao-medica') }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:aberta', 'eventAction': 'click', 'eventLabel': 'educacao-medica:titulo'});">Educação médica</a></h2>
                <div class="viewMoreContent">
                    <p>
                        Pílulas do conhecimento, Webinar e Ensino a distância. Conteúdos voltados para médicos que buscam atualização e informações especializadas.
                    </p>
                    <div class="viewMoreBtn">
                        <a href="{{ path('educacao-medica') }}" class="btn-default" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:aberta', 'eventAction': 'click', 'eventLabel': 'educacao-medica:saiba-mais'});">Saiba mais</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>