<div class="page-home">
    <section class="home-top container" id="section">
        <div class="home-top-text">
            <div class="lettering-area">
                <img class="" src="{{ asset('_dist/image/template/permissoes.png') }}" alt="Cadastro" title="Cadastro">
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="left-arrow">
        <figure class="seta hidden-xs">
            <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
        </figure>
        <div class="bg-top-img-1 bg-top-img"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-10">
            <div class="container register-permissions">
                <div>
                    <h2>Permissões</h2>
                </div>
            
                <div class="registration-form">
                    <form action="" method="">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Aceito receber notícias e informações por e-mail e
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Li e estou de acordo com os termos de uso*
                            </label>
                          </div>
                          <a href="#">Ler os termos de uso</a>
                    </form>
                </div>
                <div class="text-center space-h-30">
                    <button class="btn-default btn-gradient">Salvar</button>
                </div>
                
            </div>
        </div>
        
        <div class="col-12 col-sm-2 col-md-2 col-lg-2">
            <div class="container">
                <div class="right-arrow">
                    <figure class="seta hidden-xs">
                        <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
                    </figure>
                    <div class="bg-top-img-1 bg-top-img"></div>
                </div>
            </div>    
        </div>
    </div>
</div>