{% extends 'front/base.html.twig' %}

{% block title %}Notícias{% endblock %}

{% block body %}
    <style>
        .active-category { color: #ed7026 !important } 
        .close-filter-category {
            color: #fff;
            font-size: 13px;
            font-weight: bold;
            position: absolute;
            top: -13px;
            border-radius: 50%;
            background: red;
            padding: 2px 5px;
            cursor: pointer;
        }
    </style>
    <section class="news-page">
        <div class="container">
            <div class="bg-top sem-prescricao">
                <figure class="seta hidden-xs">
                    <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
                </figure>
                <div class="bg-top-img-1 bg-top-img"></div>
            </div>
            <div class="paralax element-1-top-left hidden-xs">
                <img src="{{ asset('_dist/image/template/curva-1.png') }}" alt="Bolinha" title="Bolinha">
            </div>
            <div class="paralax element-1 hidden-xs">
                <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
            </div>
            <div class="paralax element-2 hidden-xs">
                <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
            </div>
            <div class="paralax element-3 hidden-xs">
                <img src="{{ asset('_dist/image/template/curva-3.png') }}" alt="Bolinha" title="Bolinha">
            </div>
            <div class="paralax element-4 hidden-xs">
                <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
            </div>
            <div class="paralax element-5 hidden-xs">
                <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
            </div>
            <div class="paralax element-6 hidden-xs">
                <img src="{{ asset('_dist/image/template/curva-3.png') }}" alt="Bolinha" title="Bolinha">
            </div>
            <div class="news-title">
                <h1 class="title-button">Notícias</h1>
            </div>
            <div class="row separate-columns">

                <div class="col-12 col-sm-7 col-md-8 col-lg-8 news-left" id="news">
                    {% if notices is not null and notices|length > 0 %}
                        {% for notice in notices %}
                            <article class="news-list animation-element">
                                <figure>
                                    <a href="{{ path('blog_detail',{'slug': notice.slug })}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'noticia:{{notice.title}}'});">
                                        <img src="{{ asset('_dist/image/template/noticia-big-pic.gif') }}" alt="{{notice.title}}" title="{{notice.title}}" style="background-image:url({{ asset(notice.image) }}); background-size:cover; background-position:center;">
                                    </a>
                                </figure>
                                <div class="news-list-content">
                                    <h2>
                                        <a href="{{ path('blog_detail',{'slug': notice.slug })}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'noticia:{{notice.title}}'});"> {{notice.title}} </a>
                                    </h2>
                                    
                                    {{notice.description|raw}}[...]
                                </div>
                            </article> 
                        {% endfor %}
                    {% endif %}
                    <div class="space-h-40">
                        <a href="" class="btn-more">more...</a>
                    </div>

                </div>
                
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 news-right">
                    <div>
                        <div id="search" class="btn-orange search-box-inner hidden-xs">
                            <button class="search-btn"><i class="fas fa-search"></i></button>
                            <input type="search" class="search-field" placeholder="Pesquisar" value="" name="s" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'pesquisa'});">
                        </div>
                        <div class="news-category-box animation-element">
                            <h2>Categorias</h2>
                            {% set category_active = '' %}
                            {% set close_filter = '' %}

                            <ul>
                                {% for category in categories %}

                                    {% if slug %}
                                        {% if category.slug == slug %}
                                            {% set category_active = 'active-category' %}
                                            {% set close_filter    = '<span class="close-filter-category"> X</span>' %}
                                        {% endif %}
                                    {% endif %}

                                    <li>
                                        <a href="{{ path('category',{'slug': category.slug })}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'categoria:{{category.name}}'});" class="{{ category_active }}"> {{category.name}} </a> 
                                        {{ close_filter|raw }}
                                    </li>
                                    
                                    {% set category_active = '' %}
                                    {% set close_filter    = '' %}
                                {% endfor %}
                                <li><a href="{{ path('noticias') }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'categoria:Ver todas'});">Ver todas</a></li>
                            </ul>
                        </div>
                        
                        <div class="news-recent-posts hidden-xs">
                            <h2 class="title-button title-button-orange title-button-small title-button-full">Posts recentes</h2>
                            {% if lastOnes is not null and lastOnes|length > 0 %}
                                {% for lastOne in lastOnes %}
                                    <article class="post-item animation-element">
                                        <figure>
                                            <a href="{{ path('blog_detail',{'slug': lastOne.slug })}}"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'posts-recentes:{{lastOne.title}}'});"><img src="{{ asset('_dist/image/template/noticia-small-pic.gif') }}" alt="{{lastOne.title}}" title="{{lastOne.title}}" style="background-image:url({{ asset(lastOne.image) }}); background-size:cover; background-position:center;" ></a>
                                        </figure>
                                        <h3><a href="{{ path('blog_detail',{'slug': lastOne.slug })}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'posts-recentes:{{lastOne.title}}'});"> {{lastOne.title}} </a></h3>
                                        <div class="text-center space-h-20">
                                            <a href="{{ path('blog_detail',{'slug': lastOne.slug })}}" class="btn-default" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'posts-recentes:{{lastOne.title}}'});">Ver mais</a>
                                        </div>
                                    </article>
                            
                                {% endfor %}
                            {% endif %}
                            
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
<script>
    var home_notice = "{{ path('noticias') }}"
    $(window).scroll(function () {
        movedToDownbyScroll('.element-1', -10);         
        movedToDownbyScroll('.element-2', -30);         
        movedToDownbyScroll('.element-3', -30);
        movedToDownbyScroll('.element-4', -10);
        movedToDownbyScroll('.element-5', -30);
    });

    $(document).ready(function() {
       $('.close-filter-category').on('click', function(e) {
            window.location.href = home_notice
        });

        $('.search-field').on('keyup', function(e) {
            var content = $('#news')
            var value   = $(this).val()
     
            $.ajax({
                url: "{{ path('noticias') }}",
                type: 'POST',
                dataType: 'json',
                data: {
                    's': value 
                },
                beforeSend: function(){
                    content.html('<h2 class="text-center space-h-40" style="margin: auto;">Carregando...</h2>');
                    //content.parent('div').hide();
                },
                success: function(data) {  
                    content.html('');  
                    
                    if (data.response.length > 0) {
                        for (var i = 0; i < data.response.length; i++) {
                        
                            content.append('' +
                                '<article class="news-list ">' + 
                                    '<figure>' +
                                        '<a href="/noticias/'+ data.response[i].slug +'"  onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'noticias\', \'eventAction\': \'click\', \'eventLabel\': \'noticia:' + data.response[i].title + '\'});">' +
                                            '<img src="'+ data.response[i].image +'" alt="' + data.response[i].title +'" title="' + data.response[i].title +'">' +
                                        '</a>' +
                                    '</figure>' +
                                    '<div class="news-list-content">' +
                                        '<h2>' +
                                            '<a href="/noticias/'+ data.response[i].slug +'"onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'noticias\', \'eventAction\': \'click\', \'eventLabel\': \'noticia:' + data.response[i].title + '\'});"> ' + data.response[i].title +' </a>' +
                                        '</h2>' +
                                        data.response[i].description + '[...]' +
                                '</div>' +
                                '</article>' +
                            '');
                            
                        }
                    } else {
                        content.html('<h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado para "'+ value +'"</h2>')
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });

        

    })
</script>
{% endblock %}
