{% extends 'front/base.html.twig' %}

{% block title %}Notícias - {{notice.title}}{% endblock %}

{% block body %}
<section class="news-page new-page-single">
    <div class="container">
        <div class="bg-top sem-prescricao">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
    </div>
    <div class="paralax element-1-top-left hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-1.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax element-1 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax element-2 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax element-3 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-3.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax element-4 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax element-5 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="paralax element-6 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-3.png') }}" alt="Bolinha" title="Bolinha">
    </div>
    <div class="news-page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-8 col-lg-8 news-left " id="news">
                    <h1 href="{{ path('category',{'slug': notice.slug })}}" class="animation-element"> {{notice.title}} </h1>
                    <figure class="thumb-news animation-element">
                        <img href="{{ path('category',{'slug': notice.slug })}}" src="{{ asset(notice.image) }}" alt="{{notice.title}}" title="{{notice.title}}">
                    </figure>

                    <div class="news-text animation-element">    
                        {{notice.description|raw}}
                    </div> 

                    {% set evaluation = evaluation(app.user, 'noticias', notice.id) %}

                    <div class="favorite">
                        <button data-url="{{ path('add-favorite', {'id': notice.id, 'type': 'noticias'}) }}" class="like-button-post add-favorite">
                            {% if evaluation.id is defined and evaluation.isActive %}
                                <img class="com-favorito " src="{{ asset('_dist/image/template/with-heart.png') }}" alt="" title="">
                            {% else %}
                                <img class="sem-favorito" src="{{ asset('_dist/image/template/empty-heart.png') }}" alt="" title="">
                            {% endif %}
                        </button>
                    </div>
                </div>
                
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 news-right">
                    <div>
                        <div id="search" class="btn-orange search-box-inner hidden-xs">
                            <button class="search-btn"><i class="fas fa-search"></i></button>
                            <input type="search" class="search-field" placeholder="Pesquisar" value="" name="s" >
                        </div>
                        <div class="news-category-box animation-element">
                            <h2>Categorias</h2>
                            {% set category_active = '' %}
                            {% set close_filter = '' %}
                            <ul>  
                                {% for category in categories %}
                                    {% if slug %}
                                        {% if category.slug == slug %}
                                            {% set category_active = 'active-category' %}
                                            {% set close_filter    = '<span class="close-filter-category"> X</span>' %}
                                        {% endif %}
                                    {% endif %}

                                    <li>
                                        <a href="{{ path('category', {'slug': category.slug })}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'categoria:{{category.name}}'});" class="{{ category_active }}"> {{category.name}} </a>
                                        {{ close_filter|raw }}
                                    </li>
                                
                                    {% set category_active = '' %}
                                    {% set close_filter    = '' %}
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="news-recent-posts hidden-xs">
                            <h2 class="title-button title-button-orange title-button-small title-button-full">Posts recentes</h2>
                            {% if lastOnes is not null and lastOnes|length > 0 %}
                                {% for lastOne in lastOnes %}
                                    <article class="post-item animation-element">
                                        <figure>
                                            <a href="{{ path('blog_detail',{'slug': lastOne.slug })}}"  alt="{{lastOne.title}}" title="{{lastOne.title}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'posts-recentes:{{lastOne.title}}'});"><img src="{{ asset('_dist/image/template/noticia-small-pic.gif') }}" style="background:url({{ asset(lastOne.image) }}) no-repeat center; background-size:cover;" alt="{{lastOne.title}}" title="{{lastOne.title}}"></a>
                                        </figure>
                                        <h3><a href="{{ path('blog_detail',{'slug': lastOne.slug })}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'noticias', 'eventAction': 'click', 'eventLabel': 'posts-recentes:{{lastOne.title}}'});"> {{lastOne.title}} </a></h3>
                                    </article>
                            
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="news-bottom text-center">
            <div class="social-media">
                <ul class="d-flex justify-content-center animation-element">
                    
                    <li>
                        <a href="#" onclick="javascript: window.open('https://twitter.com/intent/tweet?text=' + window.location, 'Compartilhar', 'width=640,height=320'); void(0);"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=" class="share-facebook" id="share-facebook-top">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#" class="share-youtube" id="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <p class="animation-element">
                Esse registro foi postado em {% for category in categories %} <a href="{{ path('category',{'slug': category.slug })}}">{{category.name}} </a> {% endfor %} .
            </p>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
<script>
    $(window).scroll(function () {
        movedToDownbyScroll('.element-1', -10);         
        movedToDownbyScroll('.element-2', -30);         
        movedToDownbyScroll('.element-3', -30);
        movedToDownbyScroll('.element-4', -10);
        movedToDownbyScroll('.element-5', -30);
    });

    $(document).ready(function() {

        $('.search-field').on('keyup', function(e) {
            var content = $('#news')
            var value   = $(this).val()
     
            $.ajax({
                url: "{{ path('noticias') }}",
                type: 'POST',
                dataType: 'json',
                data: {
                    's': value 
                },
                beforeSend: function(){
                    content.html('<h2 class="text-center space-h-40" style="margin: auto;">Carregando...</h2>');
                },
                success: function(data) {  
                    content.html('');  
                    
                    if (data.response.length > 0) {
                        for (var i = 0; i < data.response.length; i++) {
                        
                            content.append('' +
                                '<article class="news-list ">' + 
                                    '<figure>' +
                                        '<a href="/noticias/'+ data.response[i].slug +'" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'noticias\', \'eventAction\': \'click\', \'eventLabel\': \'noticia:' + data.response[i].title + '\'});">' +
                                            '<img src="'+ data.response[i].image +'" alt="' + data.response[i].title +'" title="' + data.response[i].title +'">' +
                                        '</a>' +
                                    '</figure>' +
                                    '<div class="news-list-content">' +
                                        '<h2>' +
                                            '<a href="/noticias/'+ data.response[i].slug +'" onclick="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'noticias\', \'eventAction\': \'click\', \'eventLabel\': \'noticia:' + data.response[i].title + '\'});"> ' + data.response[i].title +' </a>' +
                                        '</h2>' +
                                        data.response[i].description + '[...]' +
                                '</div>' +
                                '</article>' +
                            '');
                            
                        }
                    } else {
                        content.html('<h2 class="text-center space-h-40" style="margin: auto;">Desculpe, não encontramos nenhum resultado para "'+ value +'"</h2>')
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });

    })
</script>
{% endblock %}
