{% extends 'admin/admin.html.twig' %} {% block title %}Mementos{% endblock %} {% block body %}
<!-- Content Header (Page header) -->
{% include 'admin/component/content-header.html.twig' with {'title':'Mementos ', 'link': path('admin_mementos'), 'page':'Mementos'} %}
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div clas="row">
                        <div class="col-4">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        {% if user_acess.isCreate %}
                        <div class="col-2 offset offset-10">
                            <a href="{{ path('admin_mementos_new') }}" class="btn btn-success
                btn-block justify-content-center">Novo</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for memento in mementos %}
                        <tr>
                            <td class="center">
                                {{ memento.id }}
                            </td>
                            <td>{{ memento.name|raw }}</td>
                            <td>{{ memento.description|raw }}</td>

                            <td>
                                {% if user_acess.isUpdate %}
                                <!-- /.col -->
                                <div class="col-12">
                                    <a href="{{ path('admin_mementos_edit', {'id': memento.id })
                    }}" class="btn btn-primary btn-block
                    justify-content-center">Editar</a>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if user_acess.isDelete %}
                                <div class="col-12">
                                    <a href="{{ path('admin_mementos_delete', {'id': memento.id })
                    }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                                </div>
                                {% endif %}
                                <!-- /.col -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->

            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %} {% block javascripts %} {% endblock %}