{% extends 'front/base.html.twig' %} {% block title %}Favoritos{% endblock %} {% block body %}
 <div class="favoritos-page"> 
    <div class="container">
        <div class="bg-top sem-prescricao">
          <figure class="seta">
              <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
          </figure>
          <div class="bg-top-img-1 bg-top-img"></div>
        </div>
    </div>
    <div class="paralax element-1-top-left hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-1.png') }}" alt="Bolinha" title="Bolinha">
    </div>
  </div>
  <div class="paralax element-2 hidden-xs">
        <img src="{{ asset('_dist/image/template/curva-2.png') }}" alt="Bolinha" title="Bolinha">
    </div>
  
  
  <div class="container favorite-title">
    <h1 class="events-button">Favoritos</h1>
  </div>
 {% if favorites|length > 0 %}
  <div class="container page-favorite">
    <div class="row">
      {% for favority in favorites %}
          {% set object = favority.object %}
          {% set contents = favority.contents %}
          {% set contents_type = favority.contents_type %}

          {% if object|length > 0 %}
            {% if contents_type == 'produtos' %}
                {% set title = object.name %}
                {% set url = path('produto',{'slug': object.slug}) %}
                {% set url_page = path('todos') %}
                {% set image = object.image %}
                {% set id = object.id %}

            {% elseif contents_type == 'estudos-cientificos' %}
                {% set title = object.name %}
                {% set url = path('estudos-cientificos') %}
                {% set url_page = path('estudos-cientificos') %}
                {% set image = object.imageWeb %}
                {% set id = object.id %}

            {% elseif contents_type == 'cursos' %}
                {% set title = object.name %}
                {% set url = path('educacao-medica-eadbox') %}
                {% set url_page = path('educacao-medica') %}
                {% set image = object.imageWeb %}
                {% set id = object.id %}

            {% elseif contents_type == 'noticias' %}
                {% set title = object.title %}
                {% set url = path('blog_detail', {'slug': object.slug }) %}
                {% set url_page = path('noticias') %}
                {% set image = object.image %}
                {% set id = object.id %}

            {% endif %}

            {% set evaluation = evaluation(app.user, contents_type, id) %} 
            

            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="favorites">
                  <ul class="favorite-buttons">
                      <li id="limpar_filtro">
                        <a href="{{ url_page }}" >{{ contents }}</a>
                      </li>
                  </ul>
              </div>

              <article class="post-item animation-element">
                <figure>
                    <a href="{{ url }}"><img src="{{ asset('_dist/image/template/noticia-small-pic.gif') }}" alt="{{ title }}" title="{{ title }}" style="background-image:url({{ image }}); background-size:cover; background-position:center;" ></a>
                </figure>
                <div class="favorite">
                    <button data-url="{{ path('add-favorite', {'id': id, 'type': contents_type}) }}" data-i="id" class="like-button-post add-favorite">
                        {% if evaluation.id is defined and evaluation.isActive %}
                            <img class="com-favorito " src="{{ asset('_dist/image/template/with-heart.png') }}" alt="" title="">
                        {% else %}
                            <img class="sem-favorito" src="{{ asset('_dist/image/template/empty-heart.png') }}" alt="" title="">
                        {% endif %}
                    </button>
                </div>
                <h3><a href="{{ url }}">{{ title }}</a></h3>
              </article>
            </div>
          {% endif %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="container page-favorite">
      <div class="row">
          <h1 class="text-center">Você não possui nenhum conteúdo como favorito</h1>
      </div>
  </div>
{% endif %}
<div class="element-bottom-right paralax hidden-xs">
  <img src="{{ asset('_dist/image/template/curva-bottom-right.png') }}" alt="Bolinha" title="Bolinha">
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}