{% extends 'front/base.html.twig' %}

{% block title %}Cadastre-se{% endblock %}

{% block body %}
<div class="bg-cadastre-se">
    <div class="home-top container" id="section">
        <div class="home-top-text">
            <div class="lettering-area">
                <img class="" src="{{
                    asset('_dist/image/template/simposio.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="imgSection">
                <img class="" src="{{
                    asset('_dist/image/template/home_01_conheca.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="lettering-medica">
                <img class="" src="{{
                    asset('_dist/image/template/medicina.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
        </div>
    </div>
    <section class="container register">
      <p>Faça login ou <br>cadastre-se para ter acesso aos conteúdos exclusivos</p>
      <div class="text-center space-h-10">
        <button id="submit_form" type="submit" class="btn-default btn-gradient">cadastrar</button>
      </div>
      <div class="text-center space-h-10">
        <button id="submit_form" type="submit" class="btn-default btn-border-purple-gray">login</button>
      </div>
    </section> 
    
</div>


{% endblock %}

{% block javascripts %}{% endblock %}
