
{% extends 'admin/admin.html.twig' %}

{% block title %}Links de Produtos{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Link para Produtos', 'link': path('admin_products_links'), 'page':'link para produtos'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        
                        {% if user_acess.isCreate %}
                        <div class="col-2">
                            <a href="{{ path('admin_products_links_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Slug</th>
                  {# <th>Ativo</th> #}
                  <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                  {% for link in links %}
                
                <tr>
                  <td>{{link.store}}</td>
                  <td>{{link.product}}</td>                  
                  <td>{{link.link}}</td>
                  <td style="min-width: 400px;">
                    <div class="row" >
                      <!-- /.col -->
                      <div class="col-4 offset-2">
                        <a href="{{ path('admin_products_links_edit', {'id': link.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                      </div>
                      <div class="col-4 offset-2">
                        <a href="{{ path('admin_products_links_delete', {'id': link.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                      </div>
                      <!-- /.col -->
                    </div>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Slug</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

