 {% set controller = '' %} {% set module = '' %} {% set root = app.request.get('_route') %} {% set body_classes = app.request.get('_route') | replace({'_': ' '}) %} {% if app.request.attributes.get('_template').get('controller') is defined %} {% set controller
= app.request.attributes.get('_template').get('controller') | lower %} {% set module = app.request.attributes.get('_template').get('controller') | lower %} {% set body_classes = app.request.get('_route') | replace({'_': ' '}) %} {% else %} {% set controller
= app.request.get('_controller') | lower | split(':') %} {% set module = controller[2] %} {% set root = controller[2] ~ '_' ~ controller[1] %} {% set body_classes = controller[2] ~ ' ' ~ controller[1] %} {% endif %}

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <title>{% block title %}{% endblock %} - Mantecorp Farmasa</title>
        <link rel="profile" href="https://gmpg.org/xfn/11">
        <link rel="pingback" href="https://www.mantecorpfarmasa.com.br/xmlrpc.php">
        <meta name="title" content="Mantecorp | O maior complexo operacional farmacêutico da América Latina" />
        <meta name="description" content="A Mantecorp Farmasa, é parte do Grupo Hypera Pharma, que é uma das maiores e mais diversificadas empresas farmacêuticas do Brasil. "/>
        <meta name="author" content="Mantecorp Farmasa">
        <meta name="referrer" content="origin">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        <!-- CSS slick slide -->
        <link rel="stylesheet" type="text/css" href="{{ asset('_dist/slick-1.8.1/slick/slick.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('_dist/slick-1.8.1/slick/slick-theme.css') }}"/>

        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
        

    <meta name="robots" content="index, follow, max-snippet:-1,
            max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="https://www.mantecorpfarmasa.com.br/">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="A Mantecorp Farmasa, é parte do Grupo
            Hypera Pharma, que é uma das maiores e mais diversificadas empresas
            farmacêuticas do Brasil.">
    <meta property="og:url" content="https://www.mantecorpfarmasa.com.br/">
    <meta property="og:site_name" content="Mantecorp Farmasa">
    <meta property="article:modified_time" content="2020-10-01T15:50:46+00:00">
    <meta property="og:image" content="{{
            asset('_dist/image/template/thumb-default.jpg') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="2 minutos">
    <script type="application/ld+json" class="yoast-schema-graph">
        {
            "@context": "https://schema.org",
            "@graph": [{
                "@type": "WebSite",
                "@id": "https://www.mantecorpfarmasa.com.br/#website",
                "url": "https://www.mantecorpfarmasa.com.br/",
                "name": "Mantecorp Farmasa",
                "description": "",
                "potentialAction": [{
                    "@type": "SearchAction",
                    "target": "https://www.mantecorpfarmasa.com.br/?s={search_term_string}",
                    "query-input": "required name=search_term_string"
                }],
                "inLanguage": "pt-BR"
            }, {
                "@type": "ImageObject",
                "@id": "https://www.mantecorpfarmasa.com.br/#primaryimage",
                "inLanguage": "pt-BR",
                "url": "/wp-content/uploads/2020/04/portal-do-medico.jpg"
            }, {
                "@type": "WebPage",
                "@id": "https://www.mantecorpfarmasa.com.br/#webpage",
                "url": "https://www.mantecorpfarmasa.com.br/",
                "name": "Home - Mantecorp Farmasa",
                "isPartOf": {
                    "@id": "https://www.mantecorpfarmasa.com.br/#website"
                },
                "primaryImageOfPage": {
                    "@id": "https://www.mantecorpfarmasa.com.br/#primaryimage"
                },
                "datePublished": "2020-04-21T18:14:15+00:00",
                "dateModified": "2020-10-01T15:50:46+00:00",
                "inLanguage": "pt-BR",
                "potentialAction": [{
                    "@type": "ReadAction",
                    "target": ["https://www.mantecorpfarmasa.com.br/"]
                }]
            }]
        }
    </script>
    <!-- / Yoast SEO plugin. -->

    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-5QBHK6S"></script>
    <script>
        (function(html) {
            html.className = html.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement);
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5QBHK6S');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager for WordPress by gtm4wp.com -->
    <script data-cfasync="false" data-pagespeed-no-defer="" type="text/javascript">
        //<![CDATA[
        var gtm4wp_datalayer_name = "dataLayer";
        var dataLayer = dataLayer || [];
        //]]>
    </script>
    <!-- End Google Tag Manager for WordPress by gtm4wp.com -->
    <!-- This site is optimized with the Yoast SEO plugin v15.7 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta http-equiv="Pragma" content="no-cache">

    <script type="text/javascript">
        var cookieDesc = Object.getOwnPropertyDescriptor(Document.prototype, 'cookie') ||
            Object.getOwnPropertyDescriptor(HTMLDocument.prototype, 'cookie');
        if (cookieDesc && cookieDesc.configurable) {
            Object.defineProperty(document, 'cookie', {
                get: function() {
                    return cookieDesc.get.call(document);
                },
                set: function(val) {
                    cookieDesc.set.call(document, val + ";secure");
                }
            });
        }
    </script>
    <link rel="icon" type="image/png" href="{{asset('_dist/image/template/mantecorp-favicon.png')}}" />
    <link rel="stylesheet" href="{{asset('vendor/select/select2.min.css')
            }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" integrity="sha384-tdg34jSbH8ohY76kZBTLOTf+YjdokUkiuqsrTIqPDDMmRWRyizPFmubeabSKEFzZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    /> {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('_dist/css/main.min.css') }}" />
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
</head>

<body class="page-body-{{ app.request.get('_route') ~ ' ' ~ body_classes
        }}">
    <section class="container-total">

        <header class="header headerWhite" id="header">
            <div class="container">
              <div class="btn-menu visible-xs">
                  <button id="menu-mobile" class="menu-mobile" data-menu="menu">
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                  </button>
              </div>
              <div class="logo">
                <a href="{{ path('home') }}"
                        onclick="dataLayer.push({ 'event':'GAEvent',
                            'eventCategory': 'menu', 
                            'eventAction': 'click',
                            'eventLabel': 'Logo'});">
                    <img src="{{
                            asset('_dist/image/template/logo_mantecorp.png')
                            }}" alt="Logo Mantecorp" title="Logo
                            Mantecorp" class="" /> 
                </a>
              </div>

                <div class="content-header">
                    
                    
                    <div class="menu nav-menu" id="menu">
                        <div class="container-menu">
                            <!-- <div class="form-src visible-xs" id="form-src">
                                <form action="{{ path('home_search') }}" method="get">
                                    <input type="text" placeholder="O que
                                            está buscando?" name="q" id="src-top" required onclick="dataLayer.push({
                                            'event':'GAEvent', 'eventCategory':
                                            'menu', 'eventAction': 'click',
                                            'eventLabel': 'Busca'});">
                                    <button type="submit" id="btn-src"><i
                                                class="fa fa-search"></i></button>
                                </form>
                            </div> -->
                            <ul class="nav">
                                <li>
                                    <a  {% if app.user.id is defined %}
                                            href="{{ path('eventos') }}" 
                                        {% else %} 
                                            data-bs-toggle="modal" data-bs-target="#login-ou-cadastre"
                                        {% endif %}
                                            onclick="dataLayer.push({ 'event':'GAEvent', 
                                            'eventCategory': 'menu', 
                                            'eventAction': 'click', 
                                            'eventLabel': 'Eventos'});">Eventos</a>
                                </li>
                                <li>
                                    <a  {% if app.user.id is defined %}
                                            href="{{ path('estudos-cientificos') }}"
                                        {% else %} 
                                            data-bs-toggle="modal" data-bs-target="#login-ou-cadastre"
                                        {% endif %} 
                                            id="inicio" 
                                            onclick="dataLayer.push({ 'event':'GAEvent', 
                                            'eventCategory': 'menu', 
                                            'eventAction': 'click', 
                                            'eventLabel': 'Estudos Científicos'});">Estudos Científicos</a>
                                </li>
                                <li>
                                    <a  {% if app.user.id is defined %}
                                            href="{{ path('educacao-medica') }}"
                                        {% else %} 
                                            data-bs-toggle="modal" data-bs-target="#login-ou-cadastre"
                                        {% endif %} 
                                            id="inicio" 
                                            onclick="dataLayer.push({ 'event':'GAEvent', 
                                            'eventCategory': 'menu', 
                                            'eventAction': 'click', 
                                            'eventLabel': 'Educação Médica'});">Educação Médica</a>
                                </li>
                                <li>
                                    <a  {% if app.user.id is defined %}
                                            href="{{ path('residentes') }}" 
                                        {% else %} 
                                            data-bs-toggle="modal" data-bs-target="#login-ou-cadastre"
                                        {% endif %}
                                            id="inicio" 
                                            onclick="dataLayer.push({ 
                                            'event':'GAEvent', 
                                            'eventCategory': 'menu', 
                                            'eventAction': 'click', 
                                            'eventLabel': 'Residentes'});">Residentes</a>
                                </li>
                                <li>
                                    <a  {% if app.user.id is defined %}
                                            href="{{ path('voce-e-o-seu-paciente') }}"
                                        {% else %} 
                                            data-bs-toggle="modal" data-bs-target="#login-ou-cadastre"
                                        {% endif %}
                                            id="inicio" 
                                            onclick="dataLayer.push({ 
                                            'event':'GAEvent', 'eventCategory': 'menu', 
                                            'eventAction': 'click', 
                                            'eventLabel': 'Você e seu paciente'});">Você e seu paciente</a>
                                </li>
                                <li>
                                    <a  {% if app.user.id is defined %}
                                            href="{{ path('noticias') }}"
                                        {% else %}
                                            data-bs-toggle="modal" data-bs-target="#login-ou-cadastre"
                                        {% endif %}
                                            role="button"
                                            onclick="dataLayer.push({
                                            'event':'GAEvent', 
                                            'eventCategory': 'menu', 
                                            'eventAction': 'click',
                                            'eventLabel': 'Notícias'});">Notícias</a>
                                </li> 
                                <li>
                                    <a  {% if app.user.id is defined %}
                                            href="{{ path('todos') }}" 
                                        {% else %}
                                            data-bs-toggle="modal" data-bs-target="#login-ou-cadastre"
                                        {% endif %}
                                            onclick="dataLayer.push({
                                            'event':'GAEvent', 'eventCategory':
                                            'menu', 'eventAction': 'click',
                                            'eventLabel': 'Produtos'});">Produtos</a>
                                </li> 
                                   
                            </ul>
                        </div>

                    </div>
                    <div class="alignBtnForm">
                        <!-- Exibir se estiver deslogado -->
                        {% if app.user.id is defined %}
                                {% set name = app.user.name %}
                                
                                {% if ' ' in app.user.name %}
                                    {% set name = app.user.name|split(' ')[0] %}
                                {% endif %}

                                <div class="items-menu-on">
                                    <div class="items-menu-my-profile">
                                        <p>Meu perfil</p>
                                        
                                        <ul>
                                            <li><a href="{{ path('user-profile') }}">Meu cadastro</a></li>
                                            <li><a href="{{ path('favorites') }}">Favoritos</a></li>
                                            <li><a href="https://www.mantecorpfarmasa.com.br/contato">Fale com o SAC</a></li>
                                            <li><a href="{{ path('contato_problemas') }}">Problema com Navegação</a></li>
                                            <li><a href="{{ path('logout')}}">Sair</a></li>
                                        </ul>
                                    </div>
                                </div>
                       
                        {% else %}
                            <div class="items-menu-off">
                                <div>
                                    <a href="{{ path('login')}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'menu', 'eventAction': 'click', 'eventLabel': 'login'});" class="login-btn">Login</a>
                                </div>
                                <div>
                                    <a href="{{ path('register-doctor-consultation')}}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'menu', 'eventAction': 'click', 'eventLabel': 'cadastrar-se'});">Cadastre-se</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </header>
        <div class="main-section">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer" id="footer">
            <div class="container containerFooter">
                <div class="row">
                    <div class="logo-footer">
                        <a href="{{ path('home') }}" id="">
                            <img src="{{
                                    asset('_dist/image/template/logo_mantecorp_white.svg')
                                    }}" alt="Logo Mantecorp" title="Logo
                                    Mantecorp">
                        </a>
                    </div>
                </div>
                <div class="middleFooter row">
                    <div class="capsuleNav col-12 col-sm-8 col-md-8
                            col-lg-8">
                        <ul class="nav">
                            <li>
                                <a href="https://www.mantecorpfarmasa.com.br/" id="portal-mantecorp" target="_blank">Home</a>
                            </li>
                            
                            <li>
                                <a href="{{ path('quem-somos') }}" id="quem-somos">Quem Somos </a>
                            </li>
                            <li>
                                <a href="{{ path('home_privacidade') }}" id="quem-somos">Privacidade </a>
                            </li>
                            <li>
                                <a href="{{ path('home_termos') }}" id="quem-somos">Termos de Uso </a>
                            </li>
                            <li>
                                <a href="https://www.mantecorpfarmasa.com.br/contato" id="contato-nav">Contato</a>
                            </li>
                        </ul>
                        <div class="footer-copyright">
                            <span>2021 © Copyright Mantecorp Farmasa</span>
                        </div>
                    </div>
                    <div class="footer-phone-sac col-12 col-sm-2 col-md-2
                            col-lg-2">
                        <ul class="sac text-center">
                            <span>SAC &nbsp;</span>
                            <p>0800 9799 900</p>
                        </ul>
                    </div>
                    <div class="header-social-media col-12 col-sm-2 col-md-2
                            col-lg-2">
                        <ul>
                            {#
                            <li class="bgSocial"><a href="" target="_blank"><i
                                            class="fab
                                            fa-twitter"></i></a></li> #}
                            <li class="bgSocial"><a href="https://www.linkedin.com/company/mantecorp/"><i
                                            class="fab fa-linkedin"
                                            target="_blank"></i></a></li>
                            <li class="bgSocial"><a href="https://youtube.com/channel/UCypIIpURD4lHoqYWewIGCBw" target="_blank"><i class="fab
                                            fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <p class="copy">
                        A Mantecorp Farmasa se consolidou entre as marcas líderes do mercado farmacêutico brasileiro, com um portfólio de medicamentos altamente reconhecidos e recomendados pela comunidade médica, com marcas ícones como Addera D3, Predsim, Maxsulid, Celestamine,
                        em sua linha RX, e Alivium, Rinosoro, Ofolato, na linha OTX.
                    </p>
                </div>

            </div>
        </footer>
    </section>


    <!-- Button de texte do modal -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fovorite">
      Launch demo modal
    </button> -->

    <!-- Modal Login-ou-cadastre -->
    <div class="modal register-modal" tabindex="-1" id="login-ou-cadastre">
      <div class="modal-dialog">
        <div class="modal-content register-modal">
            <p>Faça login ou <br>cadastre-se para ter acesso aos conteúdos exclusivos</p>
            <a href="{{ path('register-doctor-consultation') }}" class="btn-default btn-gradient" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'menu', 'eventAction': 'click', 'eventLabel': 'lightbox:cadastrar'});">Cadastrar</a>
            <a href="{{ path('login') }}" class="btn-default btn-border-purple-gray" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'menu', 'eventAction': 'click', 'eventLabel': 'lightbox:login'});">login</a>
        </div>
      </div>
    </div>
    
    {% if app.request.get('p') == 'cf' %}
        <!-- Modal codigo-de-acesso -->
        <div class="modal register-modal" tabindex="-1" id="codigo-de-acesso">
            <div class="modal-dialog">
                <div class="modal-content register-acess-code">
                    <p>Por favor <b>verificar o código de acesso</b> enviado no <b><br>e-mail cadastrado</b></p>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Modal favoritar conteúdo -->
    <div class="modal register-modal" id="fovorite" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="fovorite" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content modal-favorite" id="fovorite-message">
                <p></p>
                <div class="space-h-10">
                    <button type="button" class="btn-default" onclick="window.location.reload()">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Avaliação de conteúdo -->
    <div class="modal register-modal" id="scientific-studies" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="scientific-studies" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content modal-favorite" id="scientific-studies-message">
                <p></p>
                <div class="space-h-10">
                    <button type="button" class="btn-default" onclick="window.location.reload()">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Loading -->
    <div class="modal register-modal" tabindex="-1" id="loading">
      <div class="modal-dialog modal-xl">
        <div class="modal-content register-modal-loading">
          <img src="{{asset('_dist/image/template/Loading-PNG.gif')}}" alt="Loading" title="Loading" /> 
        </div>
      </div>
    </div>

    <!-- Modal cadastro -->
    <div class="modal register-modal" tabindex="-1" id="form-notification">
        <div class="modal-dialog">
            <div class="modal-content modal-favorite" id="form-notification-message">
                <p></p>
            </div>
        </div>
    </div>
        
    <script src="{{ asset('_dist/js/jquery.min.js') }}"></script>
    <script src="{{ asset('_dist/js/plugins.js') }}"></script>
    <script src="{{ asset('_dist/js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('_dist/slick-1.8.1/slick/slick.min.js') }}"></script>
    <script src="{{ asset('_dist/js/slick.js') }}"></script>
    {% block javascripts %}
    {% endblock javascripts %}

    <script>
        $(document).ready(function() {
            $('#codigo-de-acesso').modal('show');

            //favoritar conteúdo
            $('.add-favorite').on('click', function(e) {
                e.preventDefault()
                var url = $(this).data('url')

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "json",
                    //async: false,
                    //data: data,
                    beforeSend: (jqXHR, settings) => {
                        $('#loading').modal('show')
                    },
                    success: function (response) {

                        $('#loading').modal('hide')
                        $('#fovorite').modal('show')

                        if (response.status) {
                            if (response.isActive) {
                                $('#fovorite-message p').html('<p style="color: green;">' + response.message + '</p>')
                            } else {
                                $('#fovorite-message p').html('<p style="color: red;">' + response.message + '</p>')
                            }     
                        } else {
                            $('#fovorite-message p').html(response.message)
                        }             
                        
                    }
                })
            })

            
        });
        
    </script>
</body>
</html>