{% extends 'admin/admin.html.twig' %}

{% block title %} Categoria de Produtos {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Categoria de Produtos', 'link': path('admin_product_category'), 'page':'Categoria de Produtos'} %}  
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        {% if user_acess.isCreate %}
                        <div class="col-2">
                            <a href="{{ path('admin_product_category_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    
             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                 <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Criado Em</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                {% if product_categorys|length > 0 %}
                    {% for category in product_categorys %}
                        <tr>
                            <td class="center">
                                {{ loop.index }}
                            </td>
                            <td class="center">{{ category.name }}</td>
                            <td class="center">
                                {% if category.isActive %}
                                    <span class="label label-success">Sim</span>
                                {% else %}
                                    <span class="label label-danger">Não</span>
                                {% endif %}
                            </td>
                            <td class="center">
                                {% if category.createdAt %}
                                    {{ category.createdAt|date('d/m/Y H:i:s') }}
                                {% endif %}
                            </td>

                            {% if user_acess.isUpdate %}
                            <td class="center">
                                <div class="col-12">
                                    <a href="{{ path('admin_product_category_edit', {'id': category.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                                </div>
                            </td>
                            {% endif %}

                            {% if user_acess.isDelete %}
                            <td class="center">
                                <div class="col-12">
                                    <a href="{{ path('admin_product_category_delete', {'id': category.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8">Nenhum registro foi encontrado.</td>
                        </tr>
                    {% endif %}                    
                    </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Ativo</th>
                        <th>Criado Em</th>
                        <th colspan="2"></th>
                    </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

