gutter = 20px

.grid
	display flex
	flex-wrap wrap
	&-sys
		box-sizing border-box
		margin 0 gutter 20px 0
		&:first-child
			margin-left 0
		&:last-child
			margin-right 0
	.one-
		&full
			width 100% // 100%
			margin-left 0
			margin-right 0
		&half
			width "calc((100% / 2) - %s)" % gutter // 50%
		&third
			width "calc((100% / 3) - %s)" % gutter // 33%
		&fourth
			width "calc((100% / 4) - %s)" % gutter // 25%
		&fifth
			width "calc((100% / 5) - %s)" % gutter // 20%
		&sixth
			width "calc((100% / 6) - %s)" % gutter // 16.66667%
		&seventh
			width "calc((100% / 7) - %s)" % gutter // 14.24%
		&eighth
			width "calc((100% / 8) - %s)" % gutter // 12.50%
		&ninth
			width "calc((100% / 9) - %s)" % gutter // 11.11%
		&tenth
			width "calc((100% / 10) - %s)" % gutter // 10%
		&eleventh
			width "calc((100% / 11) - %s)" % gutter // 9.09%
		&twelfth
			width "calc((100% / 12) - %s)" % gutter // 8.33333%
	.two-
		&fifth
			width "calc(((100% / 5) * 2) - %s)" % gutter // 40%
	.three-
		&fourth
			width "calc(100% - (100% / 4) - %s)" % gutter // 75%
	.four-
		&fifth
			width "calc(100% - (100% / 5) - %s)" % gutter // 80%

@media screen and (max-width 960px)
	.grid
		.one-
			&half,
			&third,
			&fourth,
			&fifth,
			&sixth,
			&seventh,
			&eighth,
			&ninth,
			&tenth,
			&eleventh,
			&twelfth
				width 100% !important
				margin-left 0
				margin-right 0
		.two-
			&fifth
				width 100% !important
				margin-left 0
				margin-right 0
		.three-
			&fourth
				width 100% !important
				margin-left 0
				margin-right 0
		.four-
			&fifth
				width 100% !important
				margin-left 0
				margin-right 0