<?xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"> {% set domain = app.request.getSchemeAndHttpHost() %}
    <url>
        <loc> {{ domain }}</loc>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>
    {% if routes |length > 0 %} {% for route in routes %} {% if route != null %}
    <url>
        <loc>{{ domain ~ route.router }}</loc>
        <changefreq>{{route.changefreq}}</changefreq>
    </url>{% endif %} {% endfor %} {% endif %}
</urlset>