{% extends 'admin/admin.html.twig' %}

{% block title %}Dashboard {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {# {% include 'admin/component/content-header.html.twig' with {'title':'null', 'link': path('admin_dashboard'), 'page':'null'} %} #}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"></h3>
              {# <h3 class="card-title">Informações</h3> #}
            </div>
          </div>

            <div class="card-body">
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}
