 {% extends 'admin/admin.html.twig' %} {% block title %}Tipos de Estudos {% endblock %} {% block body %}
<!-- Content Header (Page header) -->
{% include 'admin/component/content-header.html.twig' with {'title':'Tipos de Estudos', 'link': path('admin_cadastro_estudos'), 'page':'Tipos de Estudos'} %}
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12 card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h3 class="card-title">Listagem</h3>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('admin_cadastro_estudos_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.card-header -->
        <div class="card-body">
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in types %}

                    <tr>
                        <td>{{type.name}}</td>
                        <td>
                            <div class="row">
                                <!-- /.col -->
                                <div class="col-4 offset-2">
                                    <a href="{{ path('admin_cadastro_estudos_edit', {'id': type.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                                </div>
                                <div class="col-4 offset-2">
                                    <a href="{{ path('admin_cadastro_estudos_delete', {'id': type.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                                </div>
                                <!-- /.col -->
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->

        <!-- /.card -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %} {% block javascripts %} {% endblock %}