{% extends 'front/base.html.twig' %}

{% block title %}Área de Atuação{% endblock %}

{% block body %}
<div class="about-us-page">
    <section class="bg-top animation-element">
        <div class="bg-top-img-1 bg-top-img"></div>
        <div class="container text-center bg-top-img-main">
            <img class="" src="{{ asset('_dist/image/template/area-atuacao-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
        </div>
        <div class="bg-top-img-2 bg-top-img"></div>
    </section>
    <div class="container">
        {{ include('front/component/sessao-educacao-medica.html.twig') }}
        {{ include('front/component/sessao-artigos-cientificos.html.twig') }}
        {{ include('front/component/sessao-eventos.html.twig') }}
       
    </div>
</div>
{% endblock %}