@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
body ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body ::-webkit-scrollbar-track {
  background: transparent;
}
body ::-webkit-scrollbar-thumb {
  background: #5660e2;
}
body ::-webkit-scrollbar-thumb:hover {
  background: #5660e2;
}
header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0;
  background-color: #3d3d3d;
}
header a {
  color: #000;
  text-decoration: none;
}
header a:hover {
  color: #000;
  text-decoration: none;
}
header .logo {
  height: 100%;
  width: 250px;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
}
header .logo .hold-logo {
  width: calc(100% - 52px);
  text-align: center;
  display: block;
  color: #000;
  text-decoration: none;
}
header .logo .hold-logo:hover {
  color: #000;
  text-decoration: none;
}
header .logo .hold-logo .logo-mini img {
  width: 30px;
  height: 30px;
}
header .logo .hold-logo .logo-lg {
  font-weight: bold;
}
header .logo .hold-menu {
  width: 50px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  cursor: pointer;
}
header .navbar .dropdown a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
  text-decoration: none;
}
header .navbar .dropdown a:hover {
  color: #fff;
  text-decoration: none;
}
header .navbar .dropdown a i {
  margin-right: 10px;
}
.content {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.content .sidebar {
  width: 250px;
  background-color: #3d3d3d;
}
.content .sidebar .user-panel a {
  width: 100%;
  height: 40px;
  -ms-flex-align: center;
      align-items: center;
  text-align: left;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  text-decoration: none;
  outline: none;
}
.content .sidebar .user-panel a i {
  margin: 0 0px 0 10px;
}
.content .sidebar .user-panel a img {
  display: inline-block;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 50%;
}
.content .sidebar .sidebar-form {
  margin-top: 10px;
  padding: 0 10px;
  color: #fff;
}
.content .sidebar .sidebar-form button {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.content .sidebar .sidebar-form button i {
  color: #fff;
}
.content .sidebar .sidebar-menu {
  background-color: #4d4d4d;
  margin: 20px 0;
}
.content .sidebar .sidebar-menu .treeview .menu-father {
  width: 100%;
  height: 40px;
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.content .sidebar .sidebar-menu .treeview .menu-father i {
  margin: 0 10px 0 10px;
  font-size: 10px;
}
.content .sidebar .sidebar-menu .treeview .menu-father:hover {
  background-color: #000;
}
.content .sidebar .sidebar-menu .treeview .treeview-menu {
  display: none;
  -ms-flex-direction: column;
      flex-direction: column;
}
.content .sidebar .sidebar-menu .treeview .treeview-menu.opened {
  display: -ms-flexbox;
  display: flex;
}
.content .sidebar .sidebar-menu .treeview .treeview-menu li {
  display: block;
  width: calc(100% - 10px);
  margin-left: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.content .sidebar .sidebar-menu .treeview .treeview-menu li:hover {
  background-color: #000;
}
.content .sidebar .sidebar-menu .treeview .treeview-menu li a {
  width: 100%;
  height: 40px;
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.content .sidebar .sidebar-menu .treeview .treeview-menu li a i {
  margin: 0 10px 0 10px;
  font-size: 10px;
}
.content .admin-content {
  padding: 20px;
  width: calc(100% - 250px);
  height: calc(100vh - 50px);
  overflow-y: auto;
}
.content .admin-content h1.title {
  text-align: center;
  background-color: #d3d3d3;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  margin-top: 20px;
}
.content .admin-content h1.title.first {
  margin-top: 0px;
}
.content .admin-content .hold-quiz-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}
.content .admin-content .hold-quiz-content .hold-quiz-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 5px;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto 30px;
  font-style: initial;
  font-weight: bold;
  max-width: 500px;
  overflow-y: auto;
}
.content .admin-content .hold-quiz-content .hold-quiz-info .hold-image {
  width: 100%;
  height: 300px;
  margin: 10px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  padding-bottom: 10px;
  padding-left: 10px;
}
.content .admin-content .hold-quiz-content .hold-quiz-info .hold-image p.quiz-title,
.content .admin-content .hold-quiz-content .hold-quiz-info .hold-image p.quiz-shortdescription {
  width: -webkit-fit-content;
  width: fit-content;
  background: #5660e2;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}
.content .admin-content .hold-quiz-content .hold-quiz-info .hold-image p.quiz-title {
  font-size: 20px;
}
.content .admin-content .hold-quiz-content .hold-quiz-info .hold-description p {
  font-size: 15px;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.content .admin-content .hold-quiz-content .quiz-test {
  width: 387px;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-image: url("../image/admin/cellphone-cover.png");
  padding: 43px 17px 0 17px;
  margin: 10px auto;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px;
  border-radius: 5px;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
  font-style: initial;
  font-weight: bold;
  max-width: 500px;
  height: 705px;
  overflow-y: auto;
  overflow-x: hidden;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz p {
  display: none;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers {
  width: 100%;
  height: -webkit-max-content;
  height: max-content;
  margin-top: 10px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .owl-stage {
  display: -ms-flexbox;
  display: flex;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .answer-hold {
  border: 2px solid #2e94bd;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  padding: 5px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .answer-hold img {
  display: block;
  margin: 0 auto;
  width: 98%;
  border-radius: 3px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .answer-hold p {
  display: block;
  text-align: center;
  font-size: 12px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .answer-hold button {
  font-size: 10px;
  margin-bottom: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #5660e2;
  outline: none;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .answer-hold button.correct {
  background-color: #48c97e;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .answer-hold button.wrong {
  background-color: #ce5656;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .answer-hold button.selected,
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-answers .answer-hold button.selected-aswer {
  background-color: #d17bbc;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .typing img {
  width: 50px;
  margin-top: 5px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #2e94bd;
  width: 80%;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: left;
      justify-content: left;
  margin-top: 10px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-bot img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
  border-radius: 50%;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-bot .bot.feedback {
  width: calc(100% - 35px);
  max-width: 100%;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  background: #2e94bd;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .bot {
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: calc(80% - 35px);
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .bot.typing {
  margin-top: 10px;
  margin-left: 35px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .bot.question {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 10px;
  margin-left: 35px;
  background: #2e94bd;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .bot.feedback {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 10px;
  margin-left: 35px;
  background: #2e94bd;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .bot.result {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 10px;
  margin-left: 35px;
  background: #2e94bd;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-user {
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  align-items: center;
  -ms-flex-pack: right;
      justify-content: right;
  margin-top: 10px;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-user img {
  width: 30px;
  height: 30px;
  margin: 0 0 0 5px;
  border-radius: 50%;
}
.content .admin-content .hold-quiz-content .quiz-test .hold-quiz .hold-user p.user {
  width: calc(100% - 35px);
  max-width: 100%;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: left;
  color: #fff;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  background: #a5a498;
  padding: 5px;
  border-radius: 5px;
}
.content .admin-content .hold-graphic {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
}
.content .admin-content .hold-graphic h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  text-align: left;
}
.content .admin-content .hold-graphic .graph {
  width: 100%;
  overflow-y: auto;
}
.content .admin-content .hold-graphic .graph svg {
  height: 300px;
  width: 100%;
}
.content .admin-content .hold-graphic .graph table {
  width: 99%;
  margin-bottom: 20px;
  height: 400px;
  overflow-y: auto;
}
.content .admin-content .double-field {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.content .admin-content .double-field .hold-graphic {
  width: 50%;
}
.content .admin-content .double-field .hold-graphic h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  text-align: left;
}
.content .admin-content .double-field .hold-graphic .graph {
  width: 100%;
  overflow-y: auto;
}
.content .admin-content .double-field .hold-graphic .graph svg {
  width: 100%;
  height: 400px;
}
.content .admin-content .double-field .hold-graphic .graph table {
  width: 99%;
  height: -webkit-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
.content .admin-content .btn-default {
  background-color: #3d3d3d;
  color: #fff;
}
.content .admin-content .btn-default:hover {
  color: #fff;
  background-color: #5d5d5d;
}
.content .admin-content table {
  width: -webkit-fit-content;
  width: fit-content;
  margin: 10px auto;
}
.content .admin-content table th {
  text-align: center;
}
.content .admin-content table td {
  text-align: left;
  vertical-align: middle;
}
.content .admin-content table td.center {
  text-align: center;
}
.content .admin-content table td img {
  display: block;
  margin: 0 auto;
  max-width: 50px;
}
.content .admin-content table td .barcode {
  max-width: 300px;
  width: 200px;
}
.content .admin-content .box-body .form-group-double {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.content .admin-content .box-body .form-group-double .form-group {
  width: 45%;
}
.content .admin-content .box-body .form-group-double .form-group.hold-image {
  width: 40%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  margin: 2%;
}
.content .admin-content .box-body .form-group-double .form-group label {
  display: block;
}
.content .admin-content .box-body .form-group-double .form-group img,
.content .admin-content .box-body .form-group-double .form-group video {
  max-width: 200px;
  display: block;
  margin: 5px auto;
}
.content .admin-content .box-body .form-group-double .form-group input[type='text'] {
  width: 100%;
}
.content .admin-content .box-body .form-group-double .form-group select {
  width: 100%;
}
.content .admin-content .box-body .form-group label {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.content .admin-content .box-body .form-group img,
.content .admin-content .box-body .form-group video {
  max-width: 100px;
}
.content .admin-content .box-body .form-group input[type='text'] {
  width: 100%;
}
.content .admin-content .box-body .form-group select {
  width: 100%;
}
.content .admin-content .box-body #hold-assets {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .admin-content .box-body #hold-assets .hold-product-asset {
  width: 40%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  margin: 2%;
}
.content .admin-content .box-body #hold-assets .hold-product-asset .form-group label {
  display: inline-block;
}
.content .admin-content .box-body #hold-assets .hold-product-asset .form-group img,
.content .admin-content .box-body #hold-assets .hold-product-asset .form-group video {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}
.content .admin-content .box-header {
  background: #5d5d5d;
  color: #fff;
  margin: 10px 0 0;
}
.content .admin-content .box-header .box-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0;
}
.content .admin-content .box-header .box-title i {
  font-size: 20px;
}
.content .admin-content .hold-questions,
.content .admin-content .hold-results,
.content .admin-content .hold-quiz {
  padding: 20px;
  border: 1px solid #d3d3d3;
  margin-bottom: 10px;
}
.content .admin-content .hold-questions .question,
.content .admin-content .hold-results .question,
.content .admin-content .hold-quiz .question,
.content .admin-content .hold-questions .result,
.content .admin-content .hold-results .result,
.content .admin-content .hold-quiz .result {
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.content .admin-content .hold-questions .question .box-title i,
.content .admin-content .hold-results .question .box-title i,
.content .admin-content .hold-quiz .question .box-title i,
.content .admin-content .hold-questions .result .box-title i,
.content .admin-content .hold-results .result .box-title i,
.content .admin-content .hold-quiz .result .box-title i {
  float: right;
}
.content .admin-content .hold-questions .question .hold-answers .question-answer,
.content .admin-content .hold-results .question .hold-answers .question-answer,
.content .admin-content .hold-quiz .question .hold-answers .question-answer,
.content .admin-content .hold-questions .result .hold-answers .question-answer,
.content .admin-content .hold-results .result .hold-answers .question-answer,
.content .admin-content .hold-quiz .result .hold-answers .question-answer {
  padding: 20px;
  border: 1px solid #d3d3d3;
  margin-bottom: 20px;
}
.content .admin-content .hold-questions .question .hold-answers .question-answer .box-title i,
.content .admin-content .hold-results .question .hold-answers .question-answer .box-title i,
.content .admin-content .hold-quiz .question .hold-answers .question-answer .box-title i,
.content .admin-content .hold-questions .result .hold-answers .question-answer .box-title i,
.content .admin-content .hold-results .result .hold-answers .question-answer .box-title i,
.content .admin-content .hold-quiz .result .hold-answers .question-answer .box-title i {
  float: right;
}
.content .admin-content .hold-referrer-content {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
}
.content .admin-content .hold-referrer-content i {
  font-size: 30px;
}
.content .admin-content form h1 {
  background: #4d4d4d;
  padding: 0 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}
.content .admin-content form h1 li {
  cursor: pointer;
  font-size: 12px;
}
.content .admin-content form .box-body .form-group-double {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.content .admin-content form .box-body .form-group-double .form-group {
  width: 45%;
}
.content .admin-content form .box-body .form-group-double .form-group.border {
  padding: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.content .admin-content form .box-body .form-group-double .form-group.hold-image {
  width: 40%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  margin: 2%;
}
.content .admin-content form .box-body .form-group-double .form-group label {
  display: block;
}
.content .admin-content form .box-body .form-group-double .form-group img,
.content .admin-content form .box-body .form-group-double .form-group video {
  max-width: 200px;
  display: block;
  margin: 5px auto;
}
.content .admin-content form .box-body .form-group-double .form-group input[type='text'],
.content .admin-content form .box-body .form-group-double .form-group input[type='file'] {
  width: 100%;
}
.content .admin-content form .box-body .form-group-double .form-group select {
  width: 100%;
}
.content .admin-content form .box-body .form-group.border {
  padding: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}
.content .admin-content form .box-body .form-group label {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.content .admin-content form .box-body .form-group img,
.content .admin-content form .box-body .form-group video {
  max-width: 100px;
}
.content .admin-content form .box-body .form-group input[type='text'] {
  width: 100%;
}
.content .admin-content form .box-body .form-group select {
  width: 100%;
}
.content .admin-content form .box-body #hold-assets {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .admin-content form .box-body #hold-assets .hold-product-asset {
  width: 40%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  margin: 2%;
}
.content .admin-content form .box-body #hold-assets .hold-product-asset .form-group label {
  display: inline-block;
}
.content .admin-content form .box-body #hold-assets .hold-product-asset .form-group img,
.content .admin-content form .box-body #hold-assets .hold-product-asset .form-group video {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}
.content .admin-content form #hold-assets {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .admin-content form #hold-assets .hold-product-asset {
  width: 40%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  margin: 2%;
}
.content .admin-content form #hold-assets .hold-product-asset .form-group label {
  display: inline-block;
}
.content .admin-content form #hold-assets .hold-product-asset .form-group select {
  margin-bottom: 10px;
}
.content .admin-content form #hold-assets .hold-product-asset .form-group .preview img,
.content .admin-content form #hold-assets .hold-product-asset .form-group .preview video {
  display: block;
  margin: 0 auto 10px;
  width: 90%;
  max-width: 300px;
}
.content .admin-content form #hold-assets .hold-product-asset .form-group button {
  display: block;
  margin-top: 20px;
}
.content .admin-content form .box-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  height: 60px;
  background: #d3d3d3;
  padding: 10px;
  border-radius: 5px;
}
.content .admin-content form .box-footer button,
.content .admin-content form .box-footer a {
  display: block;
  margin-left: 10px;
}
.content .admin-content .box-paginator {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 20px;
}
.content .admin-content .box-paginator .pagination {
  width: -webkit-fit-content;
  width: fit-content;
}
.content .admin-content .box-paginator .pagination span {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin: 2px;
}
.content .admin-content .box-paginator .pagination span a {
  text-decoration: none;
  outline: none;
}
.content .admin-content .box-footer.view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  height: 60px;
  background: #d3d3d3;
  padding: 10px;
  border-radius: 5px;
}
.content .admin-content .box-footer.view button,
.content .admin-content .box-footer.view a {
  display: block;
  margin-left: 10px;
}
.content .admin-content .box .owl-carousel .owl-item .hold-asset .asset-image {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
.content .admin-content .box .owl-carousel .owl-item .hold-asset .asset-video {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
.content .admin-content .hold-badge {
  padding: 10px;
  border: 1px solid #5d5d5d;
}
.content .admin-content .hold-levels {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #5d5d5d;
  margin-bottom: 20px;
}
.content .admin-content .hold-levels .hold-level {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 1%;
  width: 48%;
  padding: 5px 10px 0;
  border: 1px solid #5d5d5d;
  border-radius: 5px;
}
.content .admin-content .hold-levels .hold-level i {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 5px;
  font-size: 25px;
  cursor: pointer;
}
.lightbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
}
.lightbox #lightbox-text {
  color: #fff;
  font-size: 20px;
}
.lightbox #lightbox-loading {
  display: block;
  margin: 10px;
  width: 150px;
  height: 150px;
}
