{% extends 'admin/admin.html.twig' %}

{% block title %}Especialidades{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Especialidades', 'link': path('admin_cadastro_especialidades'), 'page':'especialidades'} %}
    <!-- /.content-header -->
 
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div clas="row">
                  <div class="col-4">
                    <h3 class="card-title">Listagem</h3>
                  </div>
                  {% if user_acess.isCreate %}
                  <div class="col-2 offset offset-10">
                    <a href="{{ path('admin_cadastro_especialidades') }}" class="btn btn-success btn-block justify-content-center">Novo</a>
                  </div>
                  {% endif %}
              </div>
            </div>
          </div>
             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Icone</th>
                </tr>
                </thead>
                <tbody>
               {% for specialty in specialtys %}
                 <tr>
                    <td>{{ specialty.id }}</td>
                    <td>{{ specialty.specialty }}</td>
                    <td><img src="{{ asset(specialty.icon) }}" width="100" /></td>
                  
                      {% if user_acess.isUpdate %}
                       <td>
                      <!-- /.col -->                     
                        <div class="col-12">
                          <a href="{{ path('admin_edit_especialidades', {'id': specialty.id }) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                        </div>
                      {% endif %}
                  </td>
                  <td>
                       {% if user_acess.isDelete %}
                        <div class="col-12">
                          <a href="{{ path('admin_delete_especialidades', {'id': specialty.id }) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                        </div>
                      {% endif %}
                      <!-- /.col -->
                  </td>
                </tr> 
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Icone</th>
                    <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

