{% extends 'admin/admin.html.twig' %}

{% block title %} Adicionar Especialidades  {% endblock %}

 {% block stylesheets %}
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Adicionar Especialidade', 'link': path('admin_users'), 'page':'usuário'} %}
    <!-- /.content-header -->
    
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6 offset-3">
            <!-- general form elements -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Novo</h3>
              </div>

              <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               {{ form_start(form) }}
                <div class="card-body">
                {# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} #}
                    {{ form_widget(form) }}
                    {{ form_row(form.specialty) }}
                    {{ form_row(form.icon) }}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Salvar</button>
                  <a href="{{ path('admin_users') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
             
              {{ form_end(form) }}
            </div>
            <!-- /.card -->
    
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    
    {% endblock %}
      
  {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        //customizando formulario
        $('.p').prop("required", false);
        $('.file').prop("required", false);
        $('.file').parents('.form-group').hide();

        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    {% endblock %}
