 <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('admin_dashboard') }}" class="brand-link">
      <img src="{{ asset('_dist/images/template/logo.jpg') }}" alt="Mantecorp" class="brand-image elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Mantecorp</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
     {% if app.user.id is defined %}
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% if app.user.avatar %}
            <img src="{{ asset(app.user.avatar) }}" class="img-circle elevation-2" style="width: 4.1rem !important;" alt="{{ app.user.name }}">
          {% else %}
            <i class="fas fa-user" style="font-size: 35px; color: #fff;"></i>
          {% endif %}
        </div>

        {% set name = app.user.name ? app.user.name|split(' ')[0] : null %}

        <div class="info">
          <a href="{{ path('admin_user_edit', {'id': app.user.id}) }}" class="d-block">Olá, {{ name }}</a>
          <a href="{{ path('admin_user_edit', {'id': app.user.id}) }}" class="d-block">Meu dados</a>
        </div>
      </div>
      {% endif %}
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          {% if is_granted('ROLE_ADMIN') %}            
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="fas fa-users"></i>
                <p>
                  Usuários
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{{ path('admin_users') }}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Usuários ativos</p>
                    </a>
                  </li> 
                  <li class="nav-item">
                    <a href="{{ path('admin_users_temporary') }}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Usuários pendente</p>
                    </a>
                  </li>             
              </ul>
            </li>
            <li class="nav-item">
              <a href="{{ path('admin_profile') }}" class="nav-link">
                <i class="fas fa-address-card"></i>
                <p>Perfis</p>
              </a>
            </li>
          {% endif %}

          {% if is_granted('ROLE_DEV') %}
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="fas fa-bars"></i>
                <p>
                  Menu
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{{ path('admin_menu') }}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Menu</p>
                    </a>
                  </li> 
                  <li class="nav-item">
                    <a href="{{ path('admin_menu_category') }}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Categoria</p>
                    </a>
                  </li>             
              </ul>
            </li>
          {% endif %}

          {% if app.user %} <!-- usuário logado -->
              {% set menu_category = permission(app.user) %} <!-- acessos dos menu, se estiver liberado -->

                {% for key, menus in menu_category %}
                      {% if key %}        
                      <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                          <i class="{{menus[0].iconCategory }}"></i>
                          <p>
                            {{ key }}
                            <i class="fas fa-angle-left right"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          {% for menu in menus %}
                          <li class="nav-item">
                            <a href="{{ path(menu.url) }}" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>{{ menu.name}}</p>
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      {% endif %} 
                {% endfor %}
          {% endif %}

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>