{% extends 'front/base.html.twig' %} {% block title %}Meu Cadastro{% endblock %} {% block body %}


<section class="page-cadastro">
    <div class="container">
        <div class="bg-top animation-element">
            <div class="bg-top-img-1 bg-top-img"></div>
            <div class="container text-center bg-top-img-main">
                <img class="" src="{{
                    asset('_dist/image/template/cadastro-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
            </div>
            <div class="bg-top-img-2 bg-top-img"></div>
        </div>
        <div class="paralax element-5 hidden-xs">
            <img src="/_dist/image/template/curva-3.png" alt="Bolinha" title="Bolinha">
        </div>
        <div class="space-h-30">
            <h1>Meu cadastro</h1>
        </div>
        <div class="register-box">
            <div class="row">
                
                <!--- cadastro etapas -->
                {{ include('front/component/cadastro-etapas.html.twig', {'step': 'cadastro-perfil'}) }}

                <div class="col-12 col-sm-10 col-md-10">
                    <div class="register-content">
                        <form class="register-form" id="form">
                            <div class="profile-pic">
                                <figure>
                                    <a href="#">
                                        <img src="{{
                                            asset('_dist/image/template/profile.png')
                                            }}">
                                    </a>
                                </figure>  
                            </div>

                            <div id="step1" class="step1 show">

                                <fieldset>
                                    <H2>Meus dados</H2>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <input type="hidden" name="r" />
                                            <div class="space-h-10">
                                                <label for="register-crm">CRM*: <span class="error crm-error"></span></label>
                                                <p>{{ user_temporary.id is defined and user_temporary.crm ? user_temporary.crm : '' }} </p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-uf" style="width: 56px">UF*: <span class="error uf-crm-error" style="width: 56px"></span></label>
                                                <p>{{ user_temporary.id is defined and user_temporary.ufCrm ? user_temporary.ufCrm : ''}}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="space-h-10">
                                                <label for="register-name">Nome completo*: <span class="error name-error"></span></label>
                                                <p>{{ user_temporary.id is defined and user_temporary.name ? user_temporary.name : '' }}</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="space-h-10">
                                                <label for="register-email">E-mail*: <span class="error email-error"></span></label>
                                                {% if user_temporary.id is defined and user_temporary.isUserOld %}
                                                    <p>{{ user_temporary.id is defined and user_temporary.email ? user_temporary.email : '' }}</p>
                                                    <input type="hidden" name="email" class="register-input" value="{{ user_temporary.id is defined and user_temporary.email ? user_temporary.email : '' }}"/>
                                                {% else %}
                                                    <input type="email" name="email" class="register-input" value="{{ user_temporary.id is defined and user_temporary.email ? user_temporary.email : '' }}"/>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-3 col-md-3">
                                            <div class="space-h-10">
                                                <label for="register-cel">Celular*: <span class="error cellphone-error"></span></label>
                                                <input type="text" name="cellphone" class="register-input cellphone" value="{{ user_temporary.id is defined and user_temporary.cellphone ? user_temporary.cellphone : '' }}"/>
                                            </div>
                                        </div>
                                        
                                        
                                         
                                        <div class="col-12 col-sm-5 col-md-5">
                                            <div class="space-h-10">
                                                <label for="register-especialidade">Especialidade*: <span  class="error specialty-error specialty-width"></span></label>
                                                <select name="specialty[]" id="width-register-especialidade" class="specialty" multiple> 
                                                    {% if specialties %}
                                                        {% set specialties_selected = '' %}
                                                        
                                                        {% for specialty in specialties %}
                                                            {% if user_temporary.id is defined and user_temporary.specialty %} 
                                                                {% for user_specialties in user_temporary.specialty %}
                                                                    {% if user_specialties.id == specialty.id %}

                                                                        <option class="specialty-width" value="{{ specialty.id }}" {{ 'selected' }} id="{{ specialty.id }}">{{ specialty.specialty }}</option>
                                                                    
                                                                    {% endif %}
                                                                   
                                                                {% endfor %}
                                                                <option value="{{ specialty.id }}" id="{{ specialty.id }}">{{ specialty.specialty }}</option>
                                                            {% else %}
                                                             
                                                                <option value="{{ specialty.id }}" id="{{ specialty.id }}">{{ specialty.specialty }}</option>
                                                            {% endif %}

                                                            
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="residente-sim" required>Residente?*: <span class="error is-resident-error"></span></label>
                                                <label for="residente-sim" class="register-label-radio"><input
                                                        type="radio"
                                                        name="is_resident"
                                                        value="true"
                                                        id="register-residente-sim"
                                                        {{ user_temporary.id is defined and user_temporary.isResident ? "checked" : "" }}
                                                        /> Sim</label>

                                                <label for="residente-nao" class="register-label-radio"><input
                                                        type="radio"
                                                        name="is_resident"
                                                        value="false"
                                                        id="register-residente-nao"
                                                        {{ user_temporary.id is defined and user_temporary.isResident ? "" : "checked" }}
                                                        /> Não</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-12 col-sm-12 col-md-12">
                                            <div class="space-h-10">
                                                <label for="register-centro-medico">Centro médico: <span class="error medical-center-error"></span></label>
                                                <select name="medical_center" id="register-centro-medico">
                                                    {% if user_temporary.id is defined and user_temporary.medicalCenter %}
                                                        <option value="{{ user_temporary.medicalCenter }}" selected>{{ user_temporary.medicalCenter }}</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>

                                <fieldset id="step2">
                                  <div class="register-title-step2">
                                    <h2>Permissões</h2>
                                  

                                    <div class="registration-form">
                                        <div class="form-check">
                                            <input class="form-check-input news-checked receive_news" 
                                                    name="is_newsletter" 
                                                    type="checkbox" 
                                                    id="flexCheckDefault" 
                                                    value="true"
                                                    {% if user_temporary.id is defined %}
                                                        {{ user_temporary.isNewsletter is null ? "checked" : user_temporary.isNewsletter ? "checked" : "" }}
                                                    {% else %}
                                                        {{ "checked" }}
                                                    {% endif %}
                                                />
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Aceito receber notícias e
                                                informações por e-mail
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input  class="form-check-input term-checked terms_of_use" 
                                                    name="is_term" 
                                                    type="checkbox" 
                                                    id="flexCheckChecked" 
                                                    value="true" 
                                                    {% if user_temporary.id is defined %}
                                                        {{ user_temporary.isTerm is null ? "checked" : user_temporary.isTerm ? "checked" : "" }}
                                                    {% else %}
                                                        {{ "checked" }}
                                                    {% endif %}
                                            />
                                            
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Li e estou de acordo com os
                                                termos de uso*
                                            </label>
                                        </div>
                                        <a href="{{ path('home_termos') }}" target="_blank">Ler os termos de uso </a><span class="error is-term-error"></span>

                                    </div>
                                  </div>
                                </fieldset>
                            </div>
                            
                            <div class="text-center space-h-30">
                                <button type="button" class="btn-default btn-gradient btn-action" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'cadastro', 'eventAction': 'click', 'eventLabel': 'perfil:salvar'});">Salvar</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>



{% endblock %} 

{% block javascripts %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script src="{{ asset('vendor/jquery.mask.js') }}"></script>
<script type="text/javascript">
    $(window).scroll(function() {
        movedToDownbyScroll('.element-5', -20);
    });
    $(document).ready(function() {
        //gravar dados


        $('.btn-action').on('click', function(e) {
            var form = $('#form')
            
            $.ajax({
                url: "{{ path('register-profile') }}",
                type: "POST",
                dataType: "json",
                //async: false,
                data: form.serialize(),
                beforeSend: (jqXHR, settings) => {
                    $('#loading').modal('show')
                },
                success: function (data) {
                    response = data
                    //console.log('save ', response)

                    if (response.status) {
                        window.location.href = response.url
                    } else {
                        
                        var message = '<ul>';

                        if (response.error.hasOwnProperty('crm')) {
                            $('.crm-error').text(response.error.crm);
                            message +=  '<li>' + response.error.crm + '</li>'
                        }

                        if (response.error.hasOwnProperty('uf_crm')) {
                            $('.uf-crm-error').text(response.error.uf_crm);
                            message +=  '<li>' + response.error.uf_crm + '</li>'
                        }

                        if (response.error.hasOwnProperty('name')) {
                            $('.name-error').text(response.error.name);
                            message +=  '<li>' + response.error.name + '</li>'
                        }

                        if (response.error.hasOwnProperty('email')) {
                            $('.email-error').text(response.error.email);
                            message +=  '<li>' + response.error.email + '</li>'
                        }

                        if (response.error.hasOwnProperty('cellphone')) {
                            $('.cellphone-error').text(response.error.cellphone);
                            message +=  '<li>' + response.error.cellphone + '</li>'
                        }

                        if (response.error.hasOwnProperty('specialty')) {
                            $('.specialty-error').text(response.error.specialty);
                            message +=  '<li>' + response.error.specialty + '</li>'
                        }

                        if (response.error.hasOwnProperty('is_resident')) {
                            $('.is-resident-error').text(response.error.is_resident);
                            message +=  '<li>' + response.error.is_resident + '</li>'
                        }

                        if (response.error.hasOwnProperty('medical_center')) {
                            $('.medical-center-error').text(response.error.medical_center);
                            message +=  '<li>' + response.error.medical_center + '</li>'
                        }

                        if (response.error.hasOwnProperty('is_term')) {
                            $('.is-term-error').text(response.error.is_term);
                            message +=  '<li>' + response.error.is_term + '</li>'
                        }

                        message += '</ul>'; //end message

                        $('#loading').modal('hide');

                        $('#form-notification-message').html(message);
                        $('#form-notification').modal('show');
                       
                    } 
                }
            });

        })

        $('[name="crm"]').on("keyup", function() {
            $('.crm-error').text('');
        })

        $('[name="uf_crm"]').on("change", function() {
            $('.uf-crm-error').text('');
        });

        $('[name="name"]').on("keyup", function() {
            $('.name-error').text('');
        })

        $('[name="email"]').on("keyup", function() {
            $('.email-error').text('');
        })

        $('[name="cellphone"]').on("keyup", function() {
            $('.cellphone-error').text('');
        })

        $('.specialty').on("change", function() {
            $('.specialty-error').text('');
        })

        $('[name="is_resident"]').on("click", function() {
            $('.is-resident-error').text('');
        })

        $('[name="medical_center"]').on("change", function() {
            $('.medical-center-error').text('');
        })

        $('.term-checked').on("click", function(){
            if ($(this).is(':checked')) {
                $('.is-term-error').text('');
            }
        });

        //mask 
        $('.cellphone').mask("(99) 99999-9999")
        //end

        var ufPessoal = ["", "AL", "AP", "AM", "BA", "CE", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "DF"];

        $("#register-uf").select2({
            data: ufPessoal
        });

        var ufconsultorio = ["", "AL", "AP", "AM", "BA", "CE", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "DF"];

        $("#register-uf-consultorio").select2({
            data: ufconsultorio
        });

        $(".specialty").select2();

    /*
        var areaAtuacao = ["", "Ginecologista e Obstetra", "Gastroentrologista", "Clínico Geral", "Pediatra", "Oftalmo", "Reumatologista", "Ortopedista", "Endocrinologista", "Cardiologista", "Vascular", "Psiquiatra", "Neurologista", "Alergologista", "Pneumologista", "Otorrinolaringologista", "Geriatra", "Outras"];

        $("#register-especialidade").select2({
            data: areaAtuacao
        });
*/
        var centroMedico = [
            "",
            "CEMA HOSPITAL ESPECIALIZADO LTDA",
            "CEMIL",
            "CLINICA OTORRINUS",
            "CLÍNICA PEDRO CAVALCANTI",
            "CLINIVAN CLÍNICA DE OTORRINOLARINGOLOGIA BP",
            "CONJUNTO HOSPITALAR (LEONOR, PUC E REGIONAL)",
            "CONJUNTO HOSPITALAR DO MANDAQUI",
            "ESCOLA PAULISTA DE MEDICINA",
            "FACULDADE DE MEDICINA DE PETROPOLIS",
            "GAFREE - UNIRIO",
            "GAFREE - UNIRIO",
            "HC - HOSPITAL DAS CLÍNICAS",
            "HC - HOSPITAL DAS CLÍNICAS-GO.",
            "HCFMUSP- HOSPITAL DAS CLÍNICAS DE SÃO PAULO",
            "HCFMUSP- HOSPITAL DAS CLÍNICAS DE SÃO PAULO",
            "HCRP - HOSPITAL DAS CLINICAS DE RIBEIRÃO PRETO",
            "HGV - AMBULATÓRIO ZAUM",
            "HOSP. INFTANTIL ALBERT SABIN",
            "HOSP. UNIV. ONOFRE LOPES (HOSPEP - RES. PED)",
            "HOSP. VARELA SANTIAGO",
            "HOSPITA PAULISTA DE OTORRINO",
            "HOSPITAL AGAMENOM MAGALHAES",
            "HOSPITAL ARLINDA MARQUES",
            "HOSPITAL BARAO DE LUCENA",
            "HOSPITAL BELO HORIZONTE",
            "HOSPITAL BETTINA FERRO",
            "HOSPITAL BOS SOROCABA",
            "HOSPITAL CELSO RAMOS",
            "HOSPITAL DA CRIANÇA",
            "HOSPITAL DA CRUZ VERMELHA BRASILEIRA",
            "HOSPITAL DA LAGOA",
            "HOSPITAL DARCY VARGAS",
            "HOSPITAL DAS CLINICAS",
            "HOSPITAL DAS CLINICAS DE MARILIA",
            "HOSPITAL DAS CLINICAS DE SÃO PAULO - HCFMUSP",
            "HOSPITAL DAS FORÇAS ARMADAS - HFA",
            "HOSPITAL DE BASE",
            "HOSPITAL DE BASE",
            "HOSPITAL DE CLÍNICAS",
            "HOSPITAL DO SERVIDOR - IAMSPE",
            "HOSPITAL E MATERNIDADE SANTA CASA DE MISERICÓRDIA",
            "HOSPITAL ESAU MATOS",
            "HOSPITAL ESTADUAL DE FEIRA DE SANTANA",
            "HOSPITAL FEDERAL DA LAGOA",
            "HOSPITAL FELÍCIO ROCHO",
            "HOSPITAL GERAL DE CUIBA",
            "HOSPITAL GERAL DE FORTALEZA",
            "HOSPITAL GERAL DE FORTALIZA",
            "HOSPITAL GUILHERME ALVARO",
            "HOSPITAL HAOC",
            "HOSPITAL INFANTIL DE CACHOEIRO DE ITAPEMIRIM",
            "HOSPITAL INFANTIL DE JOINVILLE",
            "HOSPITAL INFANTIL DE PALMAS",
            "HOSPITAL INFANTIL JOANA DE GUSMÃO",
            "HOSPITAL INFANTIL LUCILIO PORTELA",
            "HOSPITAL INFANTIL SEARA DO BEM",
            "HOSPITAL IRMÃ DULCE",
            "HOSPITAL JUVENCIO MATOS",
            "HOSPITAL MARCILIO DIAS",
            "HOSPITAL MATERNO INFANTIL",
            "HOSPITAL MATERNO INFANTIL (PED)",
            "HOSPITAL MATERNO INFANTIL PRESIDENTE VARGAS",
            "HOSPITAL MUNICIPAL DE FOZ",
            "HOSPITAL MUNICIPAL INFANTIL MENINO JESUS",
            "HOSPITAL MUNICIPAL TATUAPÉ",
            "HOSPITAL OTORRINO DE MATO GROSSO",
            "HOSPITAL PEQUENO ANJO",
            "HOSPITAL PEQUENO PRINCIPE",
            "HOSPITAL PROF EDMUNDO VASCONCELOS",
            "HOSPITAL PUC",
            "HOSPITAL PUCC",
            "HOSPITAL REGIONAL",
            "HOSPITAL REGIONAL DE PONTA GROSSA",
            "HOSPITAL REGIONAL DO PARANOÁ",
            "HOSPITAL SAMUEL LIBÂNIO",
            "HOSPITAL SANTA CASA",
            "HOSPITAL SANTA CASA",
            "HOSPITAL SANTA CASA DE CURITIBA/ HOSPITAL CAJURU",
            "HOSPITAL SANTA ISABEL",
            "HOSPITAL SANTA MARCELINA",
            "HOSPITAL SANTA MARCELINA ITAQUERA",
            "HOSPITAL SANTO ANTONIO",
            "HOSPITAL SÃO CAMILO",
            "HOSPITAL SÃO LUCAS DE CASCAVEL",
            "HOSPITAL SÃO VICENTE DE PAULO",
            "HOSPITAL SERVIDOR PUBLICO MUNICIPAL",
            "HOSPITAL UNESP BOTUCATU",
            "HOSPITAL UNESP DE BOTUCATU",
            "HOSPITAL UNIVERSITÁRIO",
            "HOSPITAL UNIVERSITÁRIO - C. GRANDE",
            "HOSPITAL UNIVERSITARIO ADRIANO JORGE",
            "HOSPITAL UNIVERSITÁRIO DA ULBRA",
            "HOSPITAL UNIVERSITÁRIO DE BRASÍLIA",
            "HOSPITAL UNIVERSITÁRIO DE LONDRINA PR",
            "HOSPITAL UNIVERSITÁRIO DE SANTA MARIA - HUSM",
            "HOSPITAL UNIVERSITARIO JULIO MULLER",
            "HOSPITAl UNIVERSITÁRIO(HU)",
            "HOSPITAL VEREDAS",
            "HOSPTAL DA CRIANÇA",
            "HOSPTAL DE OTORRINOS DE SJRP (HIORP)",
            "HRC - HOSPITAL REGIONAL DE CEILÂNDIA",
            "HRT - HOSPITAL REGIONAL DE TAGUATINGA",
            "HSVP",
            "HU - UNIVERSIDADE FEDERAL DE JUIZ DE FORA",
            "HUAP",
            "HUPE - HOSPITAL UNIVERSITARIO PEDRO ERNESTO",
            "IAMSP",
            "IMIP",
            "INOOA",
            "INSTITUTO DE OTORRINO DR.AUREO COLOMBI",
            "INSTITUTO DE OTORRINOLARINGOLOGIA DE BELO HORIZONTE",
            "INSTITUTO HOSPITAL DE BASE DO DISTRITO FEDERAL",
            "INSTITUTO PENIDO BURNIER",
            "IPO",
            "NOROSPAR",
            "POLICLINICA DE BOTAFOGO",
            "POLICLINICA PATO BRANCO",
            "PPRONTO SOCORRO TRAUMATOLOGICO MARCILIO DIAS LTDA",
            "PRONTO BABY",
            "RES. OTO HOSPITAL ONOFRE LOPES - HUOL",
            "SANTA CASA",
            "SANTA CASA DE BELÉM",
            "SANTA CASA DE MISERICÓRDIA",
            "SANTA CASA DE MISERICÓRDIA DE SÃO PAULO",
            "SANTA CASA DE MISERICORDIA DE SÃO PAULO",
            "SANTA CASA DE PORTO ALEGRE",
            "SANTA ISABEL - HSI",
            "SENSORIUM",
            "SEPTO SERVIÇOS ESPECIALIZADOS DE TRATAMENTO OTORRINOLARINGOL",
            "SOS OTORRINO",
            "STA CASA DE MISERICORDIA DE JUIZ DE FORA",
            "UFTM - UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO / PEDIATRIA",
            "UFU - UNIVERDADE FEDERAL DE UBERLÂNDIA",
            "UNICAMP",
            "UNISC",
            "USF/HOSPITAL UNIVERSITÁRIO SÃO FRANCISCO DE ASSIS",
            "USP - UNIVERSIDADE DE SÃO PAULO - CAMPUS BAURU",
            "OUTROS"
        ];

        $("#register-centro-medico").select2({
            data: centroMedico
        })

    });
</script>
{% endblock %}