{% extends 'front/base.html.twig' %} {% block title %}Cadastro{% endblock %} {% block body %}
<section class="page-cadastro">
    <div class="container">
        <div class="bg-top animation-element">
            <div class="bg-top-img-1 bg-top-img"></div>
            <div class="container text-center bg-top-img-main">
                <img class="" src="{{
                    asset('_dist/image/template/cadastro-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
            </div>
            <div class="bg-top-img-2 bg-top-img"></div>
        </div>
        <div class="paralax element-5 hidden-xs">
            <img src="/_dist/image/template/curva-3.png" alt="Bolinha" title="Bolinha">
        </div>
        <div class="space-h-30">
            <h1>Meu cadastro</h1>
        </div>
        <div class="register-box">
            <div class="row">
                
                <!--- cadastro etapas -->
                {{ include('front/component/cadastro-etapas.html.twig', {'step': 'cadastro-consulta-crm'}) }}

                <div class="col-12 col-sm-10 col-md-10">
                    <div class="register-content">
                        <form class="register-form" id="form">
                            
                            <div id="step1" class="step1 show">

                                <fieldset>
                                    <legend>Consultar CRM</legend>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <input type="hidden" name="r" />
                                            <div class="space-h-10">
                                                <label for="register-crm">CRM*: <span class="error crm-error"></span></label>
                                                <input type="text" name="crm" id="register-crm" class="register-input crm" value="{{ user_temporary.id is defined and user_temporary.crm ? user_temporary.crm : '' }}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-2 offset-md-2">
                                            <div class="space-h-10">
                                                <label for="register-uf">UF*: <span class="error uf-crm-error"></span></label>
                                                <select name="uf_crm" id="register-uf" class="uf-crm">
                                                    {% if user_temporary.id is defined and user_temporary.ufCrm %}
                                                        <option value="{{ user_temporary.ufCrm|upper }}" selected>{{ user_temporary.ufCrm|upper }}</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <button type="button" class="btn-default btn-doctor-consultation" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'cadastro', 'eventAction': 'click', 'eventLabel': 'conultar-crm'});">Consultar CRM</button>
                                            </div>
                                        </div>
                                    </div>
                               
                                </fieldset>

                            </div>
                        
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
<div class="modal register-modal" tabindex="-1" id="loading2">
    <div class="modal-dialog modal-xl">
    <div class="modal-content register-modal-loading">
        <img src="{{asset('_dist/image/template/Loading-PNG.gif')}}" alt="Loading" title="Loading" /> 
    </div>
    </div>
</div>

{% endblock %} 

{% block javascripts %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script src="{{ asset('vendor/jquery.mask.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //gravar dados
        $('.btn-doctor-consultation').on('click', function(e) {
            var form = $('#form')
            var crm  = $('.crm').val(), uf = $('.uf-crm').val()
            var data = {'r': true, 'crm': crm, 'uf': uf}
            
            $.ajax({
                url: "{{ path('register-doctor-consultation') }}",
                type: "POST",
                dataType: "json",
                //async: false,
                data: data,
                beforeSend: (jqXHR, settings) => {
                    $('#loading').modal('show')
                },
                success: function (data) {
                    response = data
                                        
                    if (response.status) {
                        window.location.href = response.url
                    } else {
                        
                        var message = '<ul>';

                        if (response.error.hasOwnProperty('crm')) {
                            $('.crm-error').text(response.error.crm);
                            message +=  '<li>' + response.error.crm + '</li>'
                        }

                        if (response.error.hasOwnProperty('uf_crm')) {
                            $('.uf-crm-error').text(response.error.uf_crm);
                            message +=  '<li>' + response.error.uf_crm + '</li>'
                        }

                        if (response.error.hasOwnProperty('name')) {
                            $('.name-error').text(response.error.name);
                            message +=  '<li>' + response.error.name + '</li>'
                        }
                        
                        message += '</ul>'; //end message
                        
                        $('#loading').modal('hide');

                        $('#form-notification-message').html(message);
                        $('#form-notification').modal('show');
                        
                    } 
                }
            })
        })

        $('[name="crm"]').on("keyup", function() {
            $('.crm-error').text('');
        })

        $('[name="uf_crm"]').on("change", function() {
            $('.uf-crm-error').text('');
        });
        //end

        var ufPessoal = ["", "AC", "AL", "AP", "AM", "BA", "CE", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "DF"];

        $("#register-uf").select2({
            data: ufPessoal
        });

        {% if user_temporary.id is defined and user_temporary.isUserOld %}
            var message = '<p>A Área Médica foi reestruturada para trazer ainda mais conteúdos para você. Para continuar navegando faça a validação do seu CRM e atualize seu cadastro.</p>'
            $('#form-notification-message').html(message);
            $('#form-notification').modal('show');
        {% endif %}
    });

    $(window).scroll(function() {
        movedToDownbyScroll('.element-5', -20);
    });
</script>
{% endblock %}