
{% extends 'front/base.html.twig' %} 
{% block title %}Recuperar senha{% endblock %}

{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}

<div class="container change-Password">
  <div class="bg-top-patient sem-prescricao">
      <figure class="seta hidden-xs">
          <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
      </figure>
      <div class="bg-top-img-1 bg-top-img"></div>
  </div>

  <section class="home-top container" id="section">
      <div class="home-top-text">
          <div class="lettering-area">
              <img class="" src="{{
                asset('_dist/image/template/lettering-alteration.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
          </div>
          
          <div class="lettering-medica">
              <img class="" src="{{
                asset('_dist/image/template/lettering-password.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
          </div>
      </div>
  </section>
</div>
    <div class="page-not-banner">
        <div class="container">
            <div class="login-forms-box">
                
                
                {% if status %}
                    <div class="space-h-20 text-center change-Password-title">
                        <h2 class="space-h-10">Alteração de senha</h2>
                    </div>
                    <div>
                        <p>Para que a senha digitada esteja dentro da conformidade com a nossa política de senha é necessário criar uma senha suficientemente forte.</p>
                        <p>A senha deve conter <strong>uma letra minúscula</strong>, <strong>uma letra maiúscula</strong>, <strong>um número</strong> e <strong>no mínimo 6 caracteres</strong>.</p>
                    </div>
                    <div class="form-alignment">
                      <form action="{{ path('change-password', {'token' : token}) }}" method="post" class="form-change-Password" id="form-remember">
                        
                        <div class="space-h-10 form-alignment">
                            <label for="user-password" ></label>
                            <input type="password" id="user-password" name="password" placeholder="Nova Senha*" class="change-form-control " autocomplete="off" required>
                        </div>
                        <div class="space-h-10 form-alignment">
                            <label for="user-passwordRepeat"><span class="error" id="passwordRepeat-error"></span></label>
                            <input type="password" id="user-passwordRepeat" name="passwordRepeat" placeholder="Repetir Senha*" class="change-form-control" autocomplete="off" required>
                        </div>
                        <p>
                            * Preenchimento obrigatório
                        </p>
                        <p id="error" class="error">{{ messagePassword is defined ? messagePassword : '' }}</p>
                        <div class="space-h-20">
                            <button type="submit" class="btn-default btn-gradient">Salvar</button>
                        </div>
                      </form>
                    </div>                 
                     
                {% else %}
                    <div class="space-h-20 text-center">
                        <h2 class="space-h-10">{{ message }}</h2>
                    </div>
                {% endif %}
                
            </div>
            <div class="change-Password-arrow">
              <div class="right-arrow">
                  <figure class="seta hidden-xs">
                      <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
                  </figure>
              </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script>
        $("document").ready(function(){
           
            $("#form-remember").on("submit", function(e){
                $("#error").html("");
                var userPassword = $("#user-password").val();
                var userPasswordRepeat = $("#user-passwordRepeat").val();
                console.log(userPassword, userPasswordRepeat);
                if(userPassword == "" || userPasswordRepeat == ""){
                    e.preventDefault();
                    $("#error").html("Os campos são obrigatórios.");
                    return false;
                } else if(userPasswordRepeat != userPassword){
                    e.preventDefault();
                    $("#error").html("Passwords estão diferentes");
                    return false;
                }
            });

            $('#form-remember input').keyup(function(event){
                $("#error").html("");
            })

            {% if messagePassword is defined %}
                $('#form-notification-message').html('{{messagePassword|raw}}');
                $('#form-notification').modal('show');
            {% endif %}
        });
    </script>
{% endblock %}