<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Mantecorp</title>
    <link rel="icon" type="image/png" href="{{asset('_dist/image/template/icon.png')}}" />
    <link rel="stylesheet" href="{{asset('vendor/select/select2.min.css') }}">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" /> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" integrity="sha384-tdg34jSbH8ohY76kZBTLOTf+YjdokUkiuqsrTIqPDDMmRWRyizPFmubeabSKEFzZ" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('_dist/css/main.min.css') }}" />

</head>
<body class="{{ app.request.get('_route') }}" >
   
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h2 class="box-title text-center" data-path="{{ path('cron-user-pending') }}" data-amount="0"></h2>
                </div>
            
                <div class="box-body">
                    <h1 class="text-center response"></h1>
                   
                </div>

            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        load()

        function load(){
            var url = $('.box-title').data('path')
            var amount = $('.box-title').attr('data-amount')
            
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {'q': true, 'offset': '{{ app.request.get('offset') }}', 'amount': amount},
                beforeSend: function() {
                  
                },
                success: function (response) {
                    if(response.status){
                        var count = parseInt(amount) + 1
                        $('.box-title').attr('data-amount', count)

                        if (amount < response.total)  {
                            if (response.hasOwnProperty('pending') ) {
                                $('.response').append('<p>' + response.pending + ' contato pendente</p>');
                                load();
                            }
                           
                        } else {
                            $('.response').append(response.message); 
                        }     
                       
                    }else{
                        $('.response').append(response.message);  
                    }                
                }
               
            });

            return true;
        }
    </script>
