{% extends 'front/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<style>
    .error { color: rgb(255, 26, 0) !important; font-weight: bold; font-size: 16px !important; }
</style>

<div class="register-login">
    <div class="container">
        <div class="left-arrow">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
    </div>
    <div class="home-top container" id="section">
        <div class="home-top-text">
            <div class="lettering-area">
                <img class="" src="{{asset('_dist/image/template/lettering-Login.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="imgSection">
                <img class="" src="{{
                    asset('_dist/image/template/home_01_conheca.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="lettering-medica">
                <img class="" src="{{
                    asset('_dist/image/template/bula.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
        </div>
    </div>
    <div class="container register-login-form">
      <h1>Login</h1>

       {% if error %}
            <p class="error">{{ error|raw }}</p>
        {% endif %}

      <form class="box" action="{{ path('login') }}" method="post">
        <input type="text" name="_username" class="text-box username" placeholder="Usuário">
        <div class="field-password">
            <input type="password" name="_password" class="text-box password" placeholder="Senha">
            <div class="field-password-btn"></div>
        </div>
        <button type="submit" class="btn-default btn-gradient btn-login" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'login', 'eventAction': 'click', 'eventLabel': 'entrar'});">Entrar</button>
        <a href="{{ path('remember-password') }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'login', 'eventAction': 'click', 'eventLabel': 'esqueci-minha-senha'});">Esqueci minha senha</a>        
      </form>
    </div>
    <div class="container">
        <div class="right-arrow">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
    </div>  
    
</div>

    <div class="">
           
    </div>

{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('.username, .password').on("keyup", function() {
            $('.error').text('');
        });
        //loading
        $('.btn-login').on('click', function(e) {
            $('#loading').modal('show');
        });

        $('.field-password-btn').on('click', function(e) {
           if($('.field-password-btn').hasClass('close')){
                $(this).removeClass('close');
            } else{
                $(this).addClass('close');
            }


            var input = $('input.password');
			var type = input.attr('type');
	
		    $(this).removeClass('fa-eye')
            if (type == 'text') {
                input.attr('type', 'password');
            } else if (type == 'password') {
                input.attr('type', 'text');
            } 
        });
    })

    
</script>
{% endblock %}
