<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title>
        Mantecorp
    </title>	
</head>

<body>
    {% set url = 'https://areamedica.mantecorpfarmasa.com.br/login?&utm_source=bd_geral_medicos&utm_medium=e-mail&utm_campaign=lancamento_portal_validacao_cadastro' %}
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="background:#FFF; width: 600px; font-family: Arial, Helvetica, sans-serif;" align="center">
        <tr>
            <td>
                <a href="{{ url }}" target="_blank"><img src="https://areamedica.novo.mantecorp.webcenter.net.br/images-news/01/img01.jpg" style="display: block;" alt=""></a>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="background:#FFF; width: 600px; font-family: Arial, Helvetica, sans-serif;" align="center">
                    <tbody>
                        <tr>
                            
                            <td width="90"><img src="https://areamedica.novo.mantecorp.webcenter.net.br/images-news/01/space-90.jpg" style="display: block;" alt=""></td>
                            <td align="center">
                                <table border="0" cellpadding="0" cellspacing="0" width="420" style="background:#FFF; width: 420px; font-family: Arial, Helvetica, sans-serif;" align="center">
                                    <tr>
                                        <td align="center">
                                            <font style="font-size:28px; line-height: 33px; color:#fe6000; font-family: Arial, Helvetica, sans-serif;">A sua <b>área médica</b> está<br> de cara nova!</font>
                                            <br>
                                            <br>
                                            <font style="font-size:18px; line-height: 23px; color:#6d6d6d; font-family: Arial, Helvetica, sans-serif;">
                                                Pensando em trazer informação de forma mais ágil e prática, a <b style="color:#fe6000;">Mantecorp reformulou a sua área médica.</b><br>
                                                Para você continuar aproveitando todo
                                                o conteúdo exclusivo, siga o passo
                                                a passo a seguir:
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <a href="{{ url }}" target="_blank">
                                                <img src="https://areamedica.novo.mantecorp.webcenter.net.br/images-news/01/icon-1.jpg" style="display: block;" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <font style="font-size:18px; line-height: 23px; color:#6d6d6d; font-family: Arial, Helvetica, sans-serif;">
                                                Acesse a área médica no portal da Mantecorp com seu login e senha antigos.
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <a href="{{ url }}" target="_blank">
                                                <img src="https://areamedica.novo.mantecorp.webcenter.net.br/images-news/01/icon-2.jpg" style="display: block;" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <font style="font-size:18px; line-height: 23px; color:#6d6d6d; font-family: Arial, Helvetica, sans-serif;">
                                                Valide o seu cadastro inserindo o seu CRM e confirmando as demais informações.
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <a href="{{ url }}" target="_blank">
                                                <img src="https://areamedica.novo.mantecorp.webcenter.net.br/images-news/01/icon-3.jpg" style="display: block;" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <font style="font-size:18px; line-height: 23px; color:#6d6d6d; font-family: Arial, Helvetica, sans-serif;">
                                                Pronto! Agora você terá acesso irrestrito a todo o conteúdo exclusivo!
                                            </font>
                                        </td>
                                    </tr>

                                    
                                </table>
                                
                            </td>
                            <td width="90"><img src="https://areamedica.novo.mantecorp.webcenter.net.br/images-news/01/img02.jpg" style="display: block;" alt=""></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url }}" target="_blank"><img src="https://areamedica.novo.mantecorp.webcenter.net.br/images-news/01/img03.jpg" style="display: block;" alt=""></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url }}" target="_blank"><img src="https://areamedica.novo.mantecorp.webcenter.net.br/images-news/01/footer.jpg" style="display: block;" alt=""></a>
            </td>
        </tr>
        
    </table>
</body>

</html>