{% extends 'front/base.html.twig' %}

{% block title %}Lembrar senha{% endblock %}

{% block body %}
<style>
    .error { color: rgb(255, 26, 0) !important; font-weight: bold; font-size: 16px !important; }
</style>

<div class="register-login">
    <div class="container">
        <div class="left-arrow">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
    </div>
    <div class="home-top container" id="section">
        <div class="home-top-text">
            <div class="lettering-area">
                {# <img class="" src="{{
                    asset('_dist/image/template/lettering-Login.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp"> #}
            </div>
            <div class="imgSection">
                <img class="" src="{{
                    asset('_dist/image/template/home_01_conheca.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
            <div class="lettering-medica">
                <img class="" src="{{
                    asset('_dist/image/template/bula.png') }}" alt="Área Médica Mantecorp" title="Área Médica Mantecorp">
            </div>
        </div>
    </div>
    
    <div class="container register-login-form-remember">
        <div class="container">
            <h1 class="space-h-5">Recupere sua senha</h2>
            <p>Digite o e-mail cadastrado e enviaremos instruções para recuperar a senha.</p>
        </div>
        
        <form class="box" action="{{ path('remember-password') }}" method="post">
            <input type="text" name="email" class="text-box username" placeholder="E-mail">
            <button type="submit" class="btn-default btn-gradient">Enviar</button>       
        </form>
    </div>

    <div class="container">
        <div class="right-arrow">
            <figure class="seta hidden-xs">
                <img class="" src="{{ asset('_dist/image/template/setas.png') }}" alt="Setas" title="Setas">
            </figure>
            <div class="bg-top-img-1 bg-top-img"></div>
        </div>
    </div>  
</div>

{% if status is defined %}
    <div class="modal register-modal" id="remember-password">
        <div class="modal-dialog">
            <div class="modal-content register-acess-code">
                <div class="space-h-10">
                    <p class="text-center">{{ status }}</p>
                </div>
                <div class="space-h-10">
                    <a href="{{ path('remember-password') }}" type="button" class="btn-default">Ok</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('.username, .password').on("keyup", function() {
            $('.error').text('');
        })
        
        $('#remember-password').modal('show');
    })
</script>
{% endblock %}
