<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title>
        Recupere seu acesso
    </title>	
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="background:#ffffff; width: 600px; font-family: Arial, Helvetica, sans-serif;" align="center">
        <tr>
            <td>
                <img src="{{ absolute_url('/imgs-email/pesquisa/01/img01.jpg') }}" style="display: block;" alt="">
            </td>
        </tr>
        <tr>
            <td height="40px">
                <img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="60"><img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt=""></td>
                        <td align="center">
                            <font style="color:#383588; font-size: 40px; font-family: Arial, Helvetica, sans-serif; color: #ed7026;">
                                <b>Recupere seu acesso</b></br>
                            </font>
                            <br>
                            <br>
                            <font style="color: #595959; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
                                <b>Olá, <b>{{user.name}}</b></br> 
                            </font>
                            <br>
                            <br>
                            <font color="#595959" style="color: #595959; font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
                                Você esqueceu ou perdeu a senha de acesso do seu cadastro? Não se preocupe, nós ajudamos você a recuperar.  
                            </font>
                            <br>
                            <br>
                            <font color="#595959" style="color: #595959; font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
                                Para a sua segurança enviamos abaixo um link para
                                a redefinição atrelada ao seu login. 
                            </font>
                        </td>
                        <td width="60"><img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt=""></td>
                    </tr>
                </table>
            </td>            
        </tr>
        <tr>
            <td height="40">
                <img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt="">
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="{{ absolute_url(path('change-password',{'token': newPassword.token} )) }}" target="_blank">
                     Click aqui
                </a>
                <br>
                <font color="#595959" style="color: #595959; font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
                    Se você não deseja redefinir sua senha ou<br> não solicitou estas informações, ignore este e-mail. 
                </font>
            </td>
        </tr>
        <tr>
            <td height="40">
                <img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt="">
            </td>
        </tr>
               
    </table>
</body>

</html>