{% extends 'front/base.html.twig' %} {% block title %}Editar Cadastro{% endblock %} {% block body %}


<section class="page-cadastro">
    <div class="container">
        <div class="bg-top animation-element">
            <div class="bg-top-img-1 bg-top-img"></div>
            <div class="container text-center bg-top-img-main">
                <img class="" src="{{
                    asset('_dist/image/template/cadastro-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
            </div>
            <div class="bg-top-img-2 bg-top-img"></div>
        </div>
        <div class="paralax element-5 hidden-xs">
            <img src="/_dist/image/template/curva-3.png" alt="Bolinha" title="Bolinha">
        </div>
        <div class="space-h-30">
            <h1>Editar cadastro</h1>
        </div>
        <div class="register-box">
            <div class="row">

               <!--- cadastro etapas -->
                {{ include('front/component/usuario-etapas.html.twig', {'step': 'usuario-senhas'}) }}

                <div class="col-12 col-sm-10 col-md-10">
                    <div class="register-content">
                        <form class="register-form" id="form">
            
                            <fieldset id="step3">
                                <div class="container register-permissions">
                                    <div>
                                        <h2>Senha</h2>
                                    </div>
                                    <div>
                                        <p>Para que a senha digitada esteja dentro da conformidade com a nossa política de senha é necessário criar uma senha suficientemente forte.</p>
                                        <p>A senha deve conter <strong>uma letra minúscula</strong>, <strong>uma letra maiúscula</strong>, <strong>um número</strong> e <strong>no mínimo 6 caracteres</strong>.</p>
                                    </div>

                                    <div class="registration-form form" style="max-width:300px;">
                                        <input type="hidden" name="r"/>
                                        <div class="input-field">
                                            <label for="password"><span class="error password-error"></span></label>
                                            <div class="field-password">
                                                <input type="password" id="password" name="password" class="form-control" aria-describedby="password" placeholder="Senha" required>
                                                <div class="field-password-btn"></div>
                                            </div>
                                        </div>
                                        <div class="input-field  field-password">
                                            <label for="password_confirm"><span class="error password-confirm-error"></span></label>
                                            <div class="field-password">
                                                <input type="password" id="password_confirm" name="password_confirm" aria-describedby="password" placeholder="Confirme a sua senha" required class="form-control">
                                                <div class="field-password-btn"></div>
                                            </div>
                                        </div>

                                    </div>

                                    {# <div class="g-recaptcha registration-form" data-sitekey="INSIRA-AQUI-A-CHAVE-DO-SITE"></div> #}
                            </fieldset>

                           <div class="text-center space-h-30">
                                <button type="button" class="btn-default btn-gradient btn-action">Salvar</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>


{% endblock %} {% block javascripts %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).scroll(function() {
        movedToDownbyScroll('.element-5', -20);
    });

    $(document).ready(function() {
         $('.btn-action').on('click', function(e) {
            var form = $('#form')
            
            $.ajax({
                url: "{{ path('user-password') }}",
                type: "POST",
                dataType: "json",
                //async: false,
                data: form.serialize(),
                beforeSend: (jqXHR, settings) => {
                    $('#loading').modal('show')
                },
                success: function (data) {
                    response = data
                                       
                    if (response.status) {
                        window.location.href = response.url
                    } else {

                        var message = '<ul>';
                        
                        if (response.error.hasOwnProperty('password')) {
                            $('.password-error').text(response.error.password);
                            message +=  '<li>' + response.error.password + '</li>'
                        }

                        if (response.error.hasOwnProperty('password_confirm')) {
                            $('.password-confirm-error').text(response.error.password_confirm);
                            message +=  '<li>' + response.error.password_confirm + '</li>'
                        }

                        message += '</ul>'; //end message

                        $('#loading').modal('hide');

                        $('#form-notification-message').html(message);
                        $('#form-notification').modal('show');
                       
                    } 
                }
            });

        })

        $('[name="password"]').on("keyup", function(){
            $('.password-error').text('');
        });

        $('[name="password_confirm"]').on("keyup", function(){
            $('.password-confirm-error').text('');
        });

        $('.field-password-btn').on('click', function(e) {
           if($('.field-password-btn').hasClass('close')){
                $(this).removeClass('close');
            } else{
                $(this).addClass('close');
            }


            var input = $('input.password');
			var type = input.attr('type');
	
		    $(this).removeClass('fa-eye')
            if (type == 'text') {
                input.attr('type', 'password');
            } else if (type == 'password') {
                input.attr('type', 'text');
            } 
        });

    });
</script>
{% endblock %}