{% extends 'front/base.html.twig' %} {% block title %}Editar cadastro{% endblock %} {% block body %}


<section class="page-cadastro">
    <div class="container">
        <div class="bg-top animation-element">
            <div class="bg-top-img-1 bg-top-img"></div>
            <div class="container text-center bg-top-img-main">
                <img class="" src="{{
                    asset('_dist/image/template/cadastro-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
            </div>
            <div class="bg-top-img-2 bg-top-img"></div>
        </div>
        <div class="paralax element-5 hidden-xs">
            <img src="/_dist/image/template/curva-3.png" alt="Bolinha" title="Bolinha">
        </div>
        <div class="space-h-30">
            <h1>Editar cadastro</h1>
        </div>
        <div class="register-box">
            <div class="row">
                
                <!--- cadastro etapas -->
                {{ include('front/component/usuario-etapas.html.twig', {'step': 'usuario-perfil'}) }}

                <div class="col-12 col-sm-10 col-md-10">
                    <div class="register-content">
                        <form class="register-form" id="form">
                            <div class="profile-pic">
                                <figure>
                                    <a href="#">
                                        <img src="{{
                                            asset('_dist/image/template/profile.png')
                                            }}">
                                    </a>
                                </figure>
                            </div>

                            <div id="step1" class="step1 show">

                                <fieldset>
                                    <legend>Meus dados</legend>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <input type="hidden" name="r" />
                                            <div class="space-h-10">
                                                <label for="register-crm">CRM*: <span class="error crm-error"></span></label>
                                                <p>{{ user.id is defined and user.crm ? user.crm : '' }} </p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-uf">UF*: <span class="error uf-crm-error"></span></label>
                                                <p>{{ user.id is defined and user.ufCrm ? user.ufCrm : ''}}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="space-h-10">
                                                <label for="register-name">Nome completo*: <span class="error name-error"></span></label>
                                                <p>{{ user.id is defined and user.name ? user.name : '' }}</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="space-h-10">
                                                
                                                <label for="register-email">E-mail*: <span class="error email-error"></span></label>
                                                <input type="email" name="email" class="register-input" value="{{ user.id is defined and user.email ? user.email : '' }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-cel">Celular*: <span class="error cellphone-error"></span></label>
                                                <input type="text" name="cellphone" class="register-input cellphone" value="{{ user.id is defined and user.cellphone ? user.cellphone : '' }}"/>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="register-especialidade">Especialidade*: <span class="error specialty-error"></span></label>
                                                <select name="specialty[]" class="specialty specialty-width" multiple> 
                                                    {% if specialties %}
                                                        {% set specialties_selected = '' %}
                                                        
                                                        {% for specialty in specialties %}
                                                            {% if user.id is defined and user.specialty %} 
                                                                {% for user_specialties in user.specialty %}
                                                                    {% if user_specialties.id == specialty.id %}

                                                                        <option value="{{ specialty.id }}" {{ 'selected' }} id="{{ specialty.id }}">{{ specialty.specialty }}</option>
                                                                    
                                                                    {% endif %}
                                                                   
                                                                {% endfor %}
                                                                <option value="{{ specialty.id }}" id="{{ specialty.id }}">{{ specialty.specialty }}</option>
                                                            {% else %}
                                                             
                                                                <option value="{{ specialty.id }}" id="{{ specialty.id }}">{{ specialty.specialty }}</option>
                                                            {% endif %}

                                                            
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="residente-sim" required>Residente?*: <span class="error is-resident-error"></span></label>
                                                <label for="residente-sim" class="register-label-radio"><input
                                                        type="radio"
                                                        name="is_resident"
                                                        value="true"
                                                        id="register-residente-sim"
                                                        {{ user.id is defined and user.isResident ? "checked" : "" }}
                                                        /> Sim</label>

                                                <label for="residente-nao" class="register-label-radio"><input
                                                        type="radio"
                                                        name="is_resident"
                                                        value="false"
                                                        id="register-residente-nao"
                                                        {{ user.id is defined and user.isResident ? "" : "checked" }}
                                                        /> Não</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-12 col-sm-12 col-md-12">
                                            <div class="space-h-10">
                                                <label for="register-centro-medico">Centro médico: <span class="error medical-center-error"></span></label>
                                                <select name="medical_center" id="register-centro-medico">
                                                    {% if user.id is defined and user.medicalCenter %}
                                                        <option value="{{ user.medicalCenter }}" selected>{{ user.medicalCenter }}</option>
                                                    {% endif %}
                                                    {% for key, medicalCenter in medicalCenters %}
                                                        <option value="{{ medicalCenter }}" {{ user.medicalCenter == medicalCenter ? 'selected' : ''}} >{{ medicalCenter }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Endereço do consultório:</legend>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="cep">CEP: <span class="error zip-code-error"></span></label>
                                                <input type="text" name="zip_code" id="register-cep" class="register-input zip-code" value="{{ user.id is defined and user.zipCode ? user.zipCode : ''  }}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-5 col-md-5">
                                            <div class="space-h-10">
                                                <label for="endereco">Endereço: <span class="error address-error"></span></label>
                                                <input type="text" name="address" class="register-input address" value="{{ user.id is defined and user.address ? user.address : '' }}"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3">
                                            <div class="space-h-10 address-number">
                                                <label for="numero">numero: <span class="error number-error"></span></label>
                                                <input type="text" name="number" id="register-numero" class="register-input number" value="{{ user.id is defined and user.number ? user.number : '' }}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10 address-complement">
                                                <label for="complemento">Complemento: <span class="error complement-error"></span></label>
                                                <input type="text" name="complement" class="register-input complement" value="{{  user.id is defined and user.complement ? user.complement : '' }}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="bairro">Bairro: <span class="error neighborhood-error"></span></label>
                                                <input type="text" name="neighborhood" class="register-input neighborhood" value="{{  user.id is defined and user.neighborhood ? user.neighborhood : '' }}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="city">Cidade: <span class="error city-error"></span></label>
                                                <input type="text" name="city" class="register-input city" value="{{ user.id is defined and user.city ? user.city : '' }}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-md-4">
                                            <div class="space-h-10">
                                                <label for="uf">UF: <span class="error uf-error"></span></label>
                                                <select name="uf" id="register-uf-consultorio" class="uf">
                                                    {% if user.id is defined and user.uf %}
                                                        <option value="{{ user.uf }}" selected>{{ user.uf }}</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset id="step2">
                                    <legend>Permissões</legend>

                                    <div class="registration-form">
                                        <div class="form-check">
                                            <input class="form-check-input news-checked receive_news" 
                                                    name="is_newsletter" 
                                                    type="checkbox" 
                                                    id="flexCheckDefault" 
                                                    value="true"
                                                    {% if user.id is defined %}
                                                        {{ user.isNewsletter is null ? "checked" : user.isNewsletter ? "checked" : "" }}
                                                    {% else %}
                                                        {{ "checked" }}
                                                    {% endif %}
                                                />
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Aceito receber notícias e
                                                informações por e-mail
                                            </label>
                                        </div>
                                        
                                    </div>
                                </fieldset>
                            </div>
                            
                            <div class="text-center space-h-30">
                                <button type="button" class="btn-default btn-gradient btn-action">Salvar</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>



{% endblock %} 

{% block javascripts %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script src="{{ asset('vendor/jquery.mask.js') }}"></script>
<script type="text/javascript">
    $(window).scroll(function() {
        movedToDownbyScroll('.element-5', -20);
    });
    $(document).ready(function() {
        //gravar dados


        $('.btn-action').on('click', function(e) {
            var form = $('#form')
            
            $.ajax({
                url: "{{ path('user-profile') }}",
                type: "POST",
                dataType: "json",
                //async: false,
                data: form.serialize(),
                beforeSend: (jqXHR, settings) => {
                    $('#loading').modal('show')
                },
                success: function (data) {
                    response = data
                                       
                    if (response.status) {
                        window.location.href = response.url
                    } else {

                        var message = '<ul>';

                        if (response.error.hasOwnProperty('crm')) {
                            $('.crm-error').text(response.error.crm);
                            message +=  '<li>' + response.error.crm + '</li>'
                        }

                        if (response.error.hasOwnProperty('uf_crm')) {
                            $('.uf-crm-error').text(response.error.uf_crm);
                            message +=  '<li>' + response.error.uf_crm + '</li>'
                        }

                        if (response.error.hasOwnProperty('name')) {
                            $('.name-error').text(response.error.name);
                            message +=  '<li>' + response.error.name + '</li>'
                        }

                        if (response.error.hasOwnProperty('email')) {
                            $('.email-error').text(response.error.email);
                            message +=  '<li>' + response.error.email + '</li>'
                        }

                        if (response.error.hasOwnProperty('cellphone')) {
                            $('.cellphone-error').text(response.error.cellphone);
                            message +=  '<li>' + response.error.cellphone + '</li>'
                        }

                        if (response.error.hasOwnProperty('specialty')) {
                            $('.specialty-error').text(response.error.specialty);
                            message +=  '<li>' + response.error.specialty + '</li>'
                        }

                        if (response.error.hasOwnProperty('is_resident')) {
                            $('.is-resident-error').text(response.error.is_resident);
                            message +=  '<li>' + response.error.is_resident + '</li>'
                        }

                        if (response.error.hasOwnProperty('medical_center')) {
                            $('.medical-center-error').text(response.error.medical_center);
                            message +=  '<li>' + response.error.medical_center + '</li>'
                        }

                        if (response.error.hasOwnProperty('is_term')) {
                            $('.is-term-error').text(response.error.is_term);
                            message +=  '<li>' + response.error.is_term + '</li>'
                        }

                        message += '</ul>'; //end message

                        $('#loading').modal('hide');

                        $('#form-notification-message').html(message);
                        $('#form-notification').modal('show');
                       
                    } 
                }
            });

        })

        $('[name="crm"]').on("keyup", function() {
            $('.crm-error').text('');
        })

        $('[name="uf_crm"]').on("change", function() {
            $('.uf-crm-error').text('');
        });

        $('[name="name"]').on("keyup", function() {
            $('.name-error').text('');
        })

        $('[name="email"]').on("keyup", function() {
            $('.email-error').text('');
        })

        $('[name="cellphone"]').on("keyup", function() {
            $('.cellphone-error').text('');
        })

        $('.specialty').on("change", function() {
            $('.specialty-error').text('');
        })

        $('[name="is_resident"]').on("click", function() {
            $('.is-resident-error').text('');
        })

        $('[name="medical_center"]').on("change", function() {
            $('.medical-center-error').text('');
        })


        $('.zip-code').on("keyup", function() {
            var cep     = $(this).val()
            var address = $('.address'), neighborhood =  $('.neighborhood'), city = $('.city'), state = $('.uf'), zip_code = $('.zip_code')
            
            //console.log(cep, 'length -> ', cep.length)
            if (cep.length < 9) {
                $('.zip-code-error').text('CEP INVÁLIDO');
                return false;
            }
            
            $.ajax({
                url: "{{ path('api-correios') }}",
                type: "POST",
                dataType: "json",
                data: {
                    'cep': cep, 
                },
                beforeSend: function(){
                    $('.zip-code-error').text('')
                    address.val('');  
                    neighborhood.val('');  
                    city.val('');  
                    state.val('');
                    $('#loading').modal('show')
                },
                success: function (response) {
                    
                    $('.address-error').text('') 
                    $('.neighborhood-error').text('')  
                    $('.city-error').text('') 
                    $('uf-error').text('') 

                    if (!response.status) {
                        $('.zip-code-error').text(response.message);
                        return false;
                    }
                    
                    $('.zip-code-error').text('')
                    address.val(response.endereco)
                    neighborhood.val(response.bairro + ' ' + response.complemento2);  
                    city.val(response.cidade)   
                    //console.log('uf', response.uf);         
                    state.val(response.uf).change()

                    $('#loading').modal('hide')
                   
                }
            });

            
        })

        //mask 
        $('.zip-code').mask("99999-999")
        $('.cellphone').mask("(99) 99999-9999")

        //end

        var ufPessoal = ["", "AL", "AP", "AM", "BA", "CE", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "DF"];

        $("#register-uf").select2({
            data: ufPessoal
        });

        var ufconsultorio = ["", "AL", "AP", "AM", "BA", "CE", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "DF"];

        $("#register-uf-consultorio").select2({
            data: ufconsultorio
        });

        $(".specialty").select2();
        $("#register-centro-medico").select2();

    });
</script>
{% endblock %}