{% extends 'front/base.html.twig' %} {% block title %}Editar Cadastro{% endblock %} {% block body %}
<section class="page-cadastro">
    <div class="container">
        <div class="bg-top animation-element">
            <div class="bg-top-img-1 bg-top-img"></div>
            <div class="container text-center bg-top-img-main">
                <img class="" src="{{
                    asset('_dist/image/template/cadastro-pic.png') }}" alt="Mantecorp Farmasa" title="Mantecorp Farmasa">
            </div>
            <div class="bg-top-img-2 bg-top-img"></div>
        </div>
        <div class="paralax element-5 hidden-xs">
            <img src="/_dist/image/template/curva-3.png" alt="Bolinha" title="Bolinha">
        </div>
        <div class="space-h-30">
            <h1>Editar cadastro</h1>
        </div>
        <div class="register-box">
            <div class="row">

                <!--- cadastro etapas -->
                {{ include('front/component/usuario-etapas.html.twig', {'step': 'usuario-permissoes'}) }}

                <div class="col-12 col-sm-10 col-md-10">
                    <div class="register-content">
                        <form class="register-form" id="form">
                            <fieldset id="step2">
                                <div>
                                    <h2>Permissões</h2>
                                </div>
                                <div class="registration-form">
                                    <input type="hidden" name="r"/>
                                    <div class="form-check">
                                        <input class="form-check-input news-checked
                                            receive_news" name="is_newsletter" type="checkbox" id="flexCheckDefault" value="true" 
                                            {{ user.id is defined and user.isNewsletter ? "checked" : "" }}
                                            >
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Aceito receber notícias e
                                            informações por e-mail e
                                        </label>
                                    </div>
                                    
                                </div>
                            </fieldset>
                    
                            <div class="text-center space-h-30">
                                <button type="button" class="btn-default btn-gradient btn-action">Salvar</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>



{% endblock %} {% block javascripts %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).scroll(function() {
        movedToDownbyScroll('.element-5', -20);
    });

    $(document).ready(function() {
         $('.btn-action').on('click', function(e) {
            var form = $('#form')
            
            $.ajax({
                url: "{{ path('user-permissions') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: form.serialize(),
                success: function (data) {
                    response = data
                    console.log('save ', response)
                    
                    if (response.status) {
                        window.location.href = response.url
                    } else {

                        if (response.error.hasOwnProperty('is_term')) {
                            $('.is-term-error').text(response.error.is_term);
                        }
                       
                    } 
                }
            });

        })

        $('.term-checked').on("click", function(){
            if ($(this).is(':checked')) {
                $('.is-term-error').text('');
            }
        });

    });
</script>
{% endblock %}