 {% extends 'admin/admin.html.twig' %} {% block title %}Você e seu paciênte{% endblock %} {% block body %}
<!-- Content Header (Page header) -->
{% include 'admin/component/content-header.html.twig' with {'title':'Você e seu paciênte', 'link': path('admin_your_patient'), 'page':'Estudos científicos'} %}
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12 card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h3 class="card-title">Listagem</h3>
                    </div>
                    {% if user_acess.isCreate %}
                    <div class="col-2">
                        <a href="{{ path('admin_your_patient_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <!-- /.card-header -->
        <div class="card-body">
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulo do Vídeo</th>
                        <th>Título do Material</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for yourpatient in yourpatients %}
                    <tr>
                        <td>{{ yourpatient.id }}</td>
                        {% if yourpatient.video %}

                        <td>{{ yourpatient.video }}</td>
                        {% else %}

                        <td>Sem vídeo para esse material</td>
                        {% endif %} {% if yourpatient.material %}

                        <td>{{ yourpatient.material }}</td>> {% else %}

                        <td>Sem arquivo para esse material</td>
                        {% endif %} {% if user_acess.isUpdate %}
                        <td class="center">
                            <div class="col-12">
                                <a href="{{ path('admin_your_patient_edit', {'id': yourpatient.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                            </div>
                        </td>
                        {% endif %} {% if user_acess.isDelete %}
                        <td class="center">
                            <div class="col-12">
                                <a href="{{ path('admin_your_patient_delete', {'id': yourpatient.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Titulo do Vídeo</th>
                        <th>Título do Material</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->

        <!-- /.card -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %} {% block javascripts %} {% endblock %}