
{% extends 'admin/admin.html.twig' %}

{% block title %}Menu {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {% include 'admin/component/content-header.html.twig' with {'title':'Menu', 'link': path('admin_menu'), 'page':'menu'} %}
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title">Listagem</h3>
                        </div>
                        <div class="col-2">
                            <a href="{{ path('admin_menu_new')}}" class="btn btn-success btn-block justify-content-center">Novo</a>
                        </div>
                    </div>
                </div>
            </div>
    

             <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Menu Categoria</th>
                  <th>Menu</th>
                  <th>Ativo</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for menu in menus %}
                
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ menu.menuCategory ? menu.menuCategory.name : '---' }}</td> {#{{ menu.menu_category.name }} #}
                  <td>{{ menu.name }}</td>
                  {# <td><i class="{{ menu.icon}}"></i></td> #}
                  <td>{{ menu.isActive ? 'SIM' : 'NÃO'}}</td>
                  <td>
                    <div class="row">
                      <!-- /.col -->
                      <div class="col-4 offset-2">
                        <a href="{{ path('admin_menu_edit', {'id': menu.id}) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                      </div>
                      <div class="col-4 offset-2">
                        <a href="{{ path('admin_menu_delete', {'id': menu.id}) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                      </div>
                      <!-- /.col -->
                    </div>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Menu Categoria</th>
                  <th>Menu</th>
                  <th>Ativo</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    

{% endblock %}

